Repository ManageIQ/manageiq-ui-classic, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skateman, @epwinchell, @romanblanco, @panspagetka, @martinpovolny

.github/CODEOWNERS:

# trees
app/presenters/tree_node/                         @skateman
app/presenters/tree_builder_*                     @skateman
# styling and images
app/assets/stylesheets/                           @epwinchell
app/assets/images/                                @epwinchell
# dialog editor
app/assets/javascripts/controllers/dialog_editor  @romanblanco
app/views/miq_ae_customization/editor.html.haml   @romanblanco
# toolbar buttons
app/helpers/application_helper/button/            @romanblanco @panspagetka
app/helpers/application_helper/toolbar_builder.rb @romanblanco @panspagetka @martinpovolny
# rbac
app/controllers/mixins/checked_id_mixin.rb        @romanblanco @panspagetka
# charts
lib/charting/                                     @panspagetka
lib/report_formatter/c3.rb                        @panspagetka
lib/report_formatter/c3_series.rb                 @panspagetka
lib/report_formatter/chart_common.rb              @panspagetka
app/assets/javascripts/miq_c3.js                  @panspagetka
# topology services
app/services/*topology_service.rb                 @skateman

app/controllers/mixins/custom_buttons.rb          @martinpovolny
app/controllers/mixins/generic_*.rb               @martinpovolny
app/controllers/mixins/more_show_actions.rb       @martinpovolny
app/assets/javascripts/miq_explorer.js            @martinpovolny
app/presenters/explorer_presenter.rb              @martinpovolny
app/helpers/application_helper/button/basic.rb    @martinpovolny
app/helpers/application_helper/toolbar/basic.rb   @martinpovolny
app/presenters/tree_builder.rb                    @martinpovolny
app/presenters/menu/                              @martinpovolny
app/helpers/textual_*rb                           @martinpovolny

# decorators
app/decorators/                                   @skateman

Show whole header in show page breadcrumbs
  app/controllers/mixins/breadcrumbs_mixin.rb
Owners: none

Use sessionStorage to avoid loss of unsaved dialog
  app/assets/javascripts/controllers/dialog_editor/dialog_editor_controller.js
Owners: @romanblanco

Fixed header alignment in import datastore via git forms.
  app/javascript/components/automate-import-export-form/import-datastore-via-git.jsx
Owners: none

Fix the path to the PF stylesheets as it was renamed in a patch ver
  app/stylesheet/application-webpack.scss
  package.json
Owners: none

Remove @patternfly/patternfly-next references
  app/stylesheet/application-webpack.scss
  package.json
Owners: none

Move CSS from asset pipeline to webpack
  app/assets/stylesheets/application.css
  app/stylesheet/application-webpack.scss
Owners: @epwinchell

[Changelog] Update for Sprint 112
  CHANGELOG.md
Owners: none

Do not rely on the tree name from options in TreeNode subclasses
  app/presenters/tree_node/assigned_server_role.rb
  app/presenters/tree_node/custom_button_set.rb
  app/presenters/tree_node/ems_folder.rb
  app/presenters/tree_node/miq_action.rb
  app/presenters/tree_node/miq_policy.rb
  app/presenters/tree_node/miq_server.rb
  spec/presenters/tree_node/custom_button_set_spec.rb
  spec/presenters/tree_node/ems_folder_spec.rb
  spec/presenters/tree_node/miq_action_spec.rb
Owners: @skateman

Drop the timeline listnav decision logic for dashboard/timelines
  app/helpers/application_helper/listnav.rb
Owners: none

Corrected condition after fix for BZ1356086
  app/controllers/application_controller/miq_request_methods.rb
Owners: none

AC Parameters each_key is deprecated use each
  app/controllers/application_controller/miq_request_methods.rb
  app/controllers/miq_ae_class_controller.rb
  app/controllers/miq_policy_controller.rb
  app/controllers/miq_policy_controller/policies.rb
  app/controllers/mixins/actions/vm_actions/reconfigure.rb
  app/controllers/ops_controller/settings/tags.rb
Owners: none

Use feature detection to determine whether AZ should be selectable
  app/assets/javascripts/controllers/cloud_volume/cloud_volume_form_controller.js
  app/controllers/cloud_volume_controller.rb
  app/views/cloud_volume/_common_new_edit.html.haml
  spec/controllers/cloud_volume_controller_spec.rb
Owners: none

make miq-bot happy
  app/presenters/menu/default_menu.rb
Owners: @martinpovolny

Get rid of the parent_kls/parent_name options in TreeBuilderDiagnostics
  app/presenters/tree_builder_diagnostics.rb
  app/presenters/tree_node/assigned_server_role.rb
  app/presenters/tree_node/server_role.rb
  spec/presenters/tree_node/assigned_server_role_spec.rb
Owners: @skateman

fix failture test
  spec/presenters/menu/default_menu_spec.rb
Owners: none

make rubocop happy
  spec/presenters/menu/default_menu_spec.rb
Owners: none

Fix paths
  app/assets/stylesheets/application.css
Owners: @epwinchell

Remove patternfly 4 support, again
  app/assets/stylesheets/patternfly_overrides.scss
  app/stylesheet/application-webpack.scss
  package.json
Owners: @epwinchell

webpack - add pf4 guards to prevent other plugins from including pf4 prematurely
  config/webpack/shared.js
Owners: none

Replace fa-share with fa-mail-forward alias - adblock fix
  app/views/layouts/_exp_editor.html.haml
Owners: none

Make Service Catalog Item ownership visible on detail screen
  app/views/catalog/_sandt_tree_show.html.haml
Owners: none

Show replication type on login screen
  app/views/dashboard/login.html.haml
Owners: none

Added .form-react class to data driven forms form tag.
  app/javascript/forms/data-driven-form.jsx
Owners: none

Do not set the expand attribute of MiqReportResult, it's redundant
  app/presenters/tree_node/miq_report_result.rb
Owners: @skateman

make react forms responsive
  app/assets/stylesheets/patternfly_overrides.scss
Owners: @epwinchell

Simplify the logic that determines if a node should be expanded
  app/presenters/tree_builder.rb
Owners: @martinpovolny

Do not set the hide_checkbox attribute on TreeNodes from options
  app/presenters/tree_node/node.rb
Owners: @skateman

Fix hardcoded localhost:3000 in api call
  app/javascript/components/vm-server-relationship-form/index.jsx
  app/javascript/spec/vm-server-relationship-form/vm-server-relationship-form.spec.js
Owners: none

Rename breadcrumbs_new to breadcrumbs
  app/controllers/automation_manager_controller.rb
  app/controllers/catalog_controller.rb
  app/controllers/chargeback_controller.rb
  app/controllers/generic_object_definition_controller.rb
  app/controllers/infra_networking_controller.rb
  app/controllers/miq_ae_class_controller.rb
  app/controllers/miq_ae_customization_controller.rb
  app/controllers/miq_policy_controller.rb
  app/controllers/mixins/manager_controller_mixin.rb
  app/controllers/ops_controller.rb
  app/controllers/provider_foreman_controller.rb
  app/controllers/pxe_controller.rb
  app/controllers/report_controller.rb
  app/controllers/service_controller.rb
  app/controllers/storage_controller.rb
  app/controllers/vm_common.rb
  app/views/layouts/_breadcrumbs.html.haml
  app/views/layouts/_center_div_dashboard_no_listnav.html.haml
  app/views/layouts/_center_div_no_listnav.html.haml
  app/views/layouts/_center_div_with_listnav.html.haml
  app/views/layouts/_content.html.haml
  spec/controllers/cloud_network_controller_spec.rb
  spec/controllers/vm_common_spec.rb
Owners: none

Drop useless expand attribute setting from TreeNode::Node
  app/presenters/tree_node/node.rb
  spec/presenters/tree_node/node_spec.rb
Owners: @skateman

set `@root_class` only if it is not already set by subclass
  app/presenters/tree_builder_vms_filter.rb
Owners: @skateman

Adjust TreeNode::EmsFolder to the deleted TreeBuilderVat
  app/presenters/tree_node/ems_folder.rb
  spec/presenters/tree_node/ems_folder_spec.rb
Owners: @skateman

Final clean-up fixes
  app/assets/javascripts/components/generic_object/main-custom-button-form.js
  app/controllers/generic_object_definition_controller.rb
  app/views/static/generic_object/main_custom_button_form.html.haml
Owners: none

Move ui-select from asset pipeline to webpack
  app/assets/javascripts/application.js
  app/javascript/packs/globals.js
Owners: none

Move ui-select CSS from asset pipeline to webpack
  app/assets/stylesheets/application.css
  app/stylesheet/application-webpack.scss
Owners: @epwinchell

Test ui-select is loaded and defined
  spec/javascripts/globals_pack_spec.js
Owners: none

Remove unused ui-select
  app/assets/javascripts/miq_angular_application.js
  app/javascript/packs/globals.js
  app/stylesheet/application-webpack.scss
  spec/javascripts/globals_pack_spec.js
Owners: none

Fix failing cloud_tenant_controller_spec
  spec/controllers/cloud_tenant_controller_spec.rb
Owners: none

Do not reinitalize the @record when building Server/Roles trees
  app/controllers/ops_controller/diagnostics.rb
Owners: none

Drop JS based IE exceptions - unify miqOnLoad, drop X-UA-Comptatible
  app/assets/javascripts/miq_application.js
  app/views/layouts/_footer.html.haml
  app/views/layouts/application.html.haml
Owners: none
