Repository ManageIQ/manageiq-ui-classic, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skateman, @epwinchell, @romanblanco, @panspagetka, @martinpovolny

FormRenderer pass Classname to form wrapper
  app/javascript/components/workers-form/workers-form.jsx
  app/javascript/forms/data-driven-form.jsx
  app/javascript/spec/catalog-form/__snapshots__/catalog-form.spec.js.snap
  app/javascript/spec/cloud-network-form/__snapshots__/cloud-network-form.spec.js.snap
  app/javascript/spec/cloud-tenant-form/__snapshots__/cloud-tenant-form.spec.js.snap
  app/javascript/spec/flavor-form/__snapshots__/flavor-form.spec.js.snap
Owners: none

Fix order of fetchMock in orchestration-template spec
  app/javascript/spec/orchestration-template/orchestration-template-form.spec.js
Owners: none

Policy Sim title fix
  app/views/layouts/_policy_sim.html.haml
Owners: none

Merge pull request #5526 from bmclaughlin/validate-classification
  app/views/miq_request/_request_dialog_details.html.haml
  app/views/miq_request/_st_prov_show.html.haml
  app/views/shared/dialogs/_dialog_field.html.haml
Owners: none

Do not let angular parse the treeview data as it can be :turtle: HUGE :snail:
  app/assets/javascripts/controllers/tree_view_controller.js
  app/assets/javascripts/miq_global.js
  app/views/layouts/listnav/_explorer.html.haml
  app/views/layouts/listnav/_generic_object_definition_show_list_with_treeview.html.haml
Owners: none

Added missing Model name to return that is used to load advanced search
  app/helpers/application_helper.rb
Owners: none

Rebuild list of zones when deleting a resource from Catalog bundle
  app/controllers/catalog_controller.rb
Owners: none

Use a named scope for loading assignable EMSes in BelongsToHac 🌳
  app/presenters/tree_builder_belongs_to_hac.rb
Owners: @skateman

Display Lifecycle State on Service details screen
  app/helpers/service_helper/textual_summary.rb
  spec/helpers/service_helper/textual_summary_spec.rb
Owners: none

Merge pull request #5733 from h-kataria/automation_manager_explorer_fix
  app/helpers/application_helper.rb
Owners: none

Extend toolbar pluggability to all plugins.
  app/helpers/application_helper/toolbar/basic.rb
Owners: @martinpovolny

Fix temporary tree data deletion in angular explorer trees
  app/assets/javascripts/controllers/tree_view_controller.js
Owners: none

Test if the @edit[:key] is set to prevent exceptions in Catalogs
  app/controllers/catalog_controller.rb
Owners: none

This is done by the factory, we don't need it
  spec/controllers/automation_manager_controller_spec.rb
Owners: none

Update react-ui-components to 0.11.25
  package.json
Owners: none

wip: debugging failing spec:javascript
  tools/ci/after_install.sh
Owners: none

Revert "wip: debugging failing spec:javascript"
  tools/ci/after_install.sh
Owners: none

Addressed PR feedback
  app/assets/javascripts/controllers/catalog/catalog_item_form_controller.js
  app/controllers/catalog_controller.rb
  app/views/catalog/_form_basic_info.html.haml
Owners: none

Extend toolbar pluggability: add a test.
  spec/helpers/application_helper/toolbar/basic_spec.rb
Owners: none

We don't need to do this either
  spec/controllers/ops_controller/settings/common_spec.rb
Owners: none

Fixed issue introduced in c7536077b36b56ebbaa9fe9ec6bbcf22aab32248
  app/controllers/miq_policy_controller/alert_profiles.rb
  spec/controllers/miq_policy_controller/alert_profiles_spec.rb
Owners: none

Prefer `find_by` over `where(...).first`
  spec/controllers/automation_manager_controller_spec.rb
Owners: none

EvmSpecHelper.local_miq_server already creates a zone
  spec/controllers/application_controller/ci_processing_spec.rb
  spec/controllers/generic_object_controller_spec.rb
  spec/controllers/generic_object_definition_controller_spec.rb
  spec/controllers/guest_device_controller_spec.rb
  spec/controllers/mixins/actions/vm_actions/rename_spec.rb
  spec/controllers/physical_chassis_controller_spec.rb
  spec/controllers/physical_rack_controller_spec.rb
  spec/controllers/physical_server_controller_spec.rb
  spec/controllers/physical_storage_controller_spec.rb
  spec/controllers/physical_switch_controller_spec.rb
  spec/controllers/pxe_controller_spec.rb
  spec/views/shared/views/ems_common/_show.html.haml_spec.rb
Owners: none

Remove extra call to create_guid_miq_server_zone
  spec/controllers/physical_switch_controller_spec.rb
Owners: none

Do not filter records when loading Pre Provisioning screen.
  app/controllers/application_controller.rb
Owners: none

The factory sets these
  spec/controllers/application_controller/buttons_spec.rb
Owners: none

[Changelog] Update for Sprint 114
  CHANGELOG.md
Owners: none

Changed label `Rate` to `Price`
  app/controllers/catalog_controller.rb
  app/views/catalog/_form_basic_info.html.haml
  app/views/catalog/_sandt_tree_show.html.haml
  app/views/catalog/_st_angular_form.html.haml
  app/views/catalog/_svccat_tree_show.html.haml
Owners: none

Added missing changes to save price for catalog bundle
  app/assets/javascripts/controllers/catalog/catalog_item_form_controller.js
  app/controllers/catalog_controller.rb
  app/views/catalog/_st_angular_form.html.haml
Owners: none

Fix catalog item delete when part of catalog bundle
  app/javascript/components/remove-catalog-item-modal.jsx
Owners: none

Return nil when special breadcrumb title is empty
  app/controllers/mixins/breadcrumbs_mixin.rb
  spec/controllers/mixins/breadcrumbs_mixin_spec.rb
Owners: none

Fixed linting errors in component definitions.
  app/javascript/packs/component-definitions-common.js
Owners: none

The factory sets the name and description
  spec/controllers/application_controller/ci_processing_spec.rb
Owners: none

Changed labels to `Price / Month`
  app/controllers/catalog_controller.rb
  app/views/catalog/_sandt_tree_show.html.haml
  app/views/catalog/_st_angular_form.html.haml
  app/views/catalog/_svccat_tree_show.html.haml
Owners: none

Remove deprecated Networks Load Balancer menu
  app/controllers/load_balancer_controller.rb
  app/presenters/menu/default_menu.rb
  app/views/load_balancer/show.html.haml
  app/views/load_balancer/show_list.html.haml
Owners: @martinpovolny

Add logic for dynamic hiding columns in GTL lists in ApplicationControlloer
  app/controllers/application_controller.rb
  lib/gtl_formatter.rb
Owners: none

Fix failing ext_management_specs
  spec/helpers/ems_cloud_helper/textual_summary_spec.rb
  spec/views/shared/views/ems_common/_show.html.haml_spec.rb
Owners: none

Display tenant name only for super_admins in CatalogController
  app/controllers/catalog_controller.rb
  product/views/ServiceTemplate.yaml
  spec/controllers/catalog_controller_spec.rb
Owners: none

Allow for setting custom worker memory thresholds under advanced settings
  app/controllers/ops_controller/settings/common.rb
  spec/controllers/ops_controller/settings/common_spec.rb
Owners: none

[Changelog] Update for Hammer-8
  CHANGELOG.md
Owners: none

.github/CODEOWNERS:

# trees
app/presenters/tree_node/                         @skateman
app/presenters/tree_builder_*                     @skateman
# styling and images
app/assets/stylesheets/                           @epwinchell
app/assets/images/                                @epwinchell
# dialog editor
app/assets/javascripts/controllers/dialog_editor  @romanblanco
app/views/miq_ae_customization/editor.html.haml   @romanblanco
# toolbar buttons
app/helpers/application_helper/button/            @romanblanco @panspagetka
app/helpers/application_helper/toolbar_builder.rb @romanblanco @panspagetka @martinpovolny
# rbac
app/controllers/mixins/checked_id_mixin.rb        @romanblanco @panspagetka
# charts
lib/charting/                                     @panspagetka
lib/report_formatter/c3.rb                        @panspagetka
lib/report_formatter/c3_series.rb                 @panspagetka
lib/report_formatter/chart_common.rb              @panspagetka
app/assets/javascripts/miq_c3.js                  @panspagetka
# topology services
app/services/*topology_service.rb                 @skateman

app/controllers/mixins/custom_buttons.rb          @martinpovolny
app/controllers/mixins/generic_*.rb               @martinpovolny
app/controllers/mixins/more_show_actions.rb       @martinpovolny
app/assets/javascripts/miq_explorer.js            @martinpovolny
app/presenters/explorer_presenter.rb              @martinpovolny
app/helpers/application_helper/button/basic.rb    @martinpovolny
app/helpers/application_helper/toolbar/basic.rb   @martinpovolny
app/presenters/tree_builder.rb                    @martinpovolny
app/presenters/menu/                              @martinpovolny
app/helpers/textual_*rb                           @martinpovolny

# decorators
app/decorators/                                   @skateman
