Repository ManageIQ/manageiq-ui-classic, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skateman, @epwinchell, @romanblanco, @panspagetka, @martinpovolny

Merge pull request #5194 from h-kataria/update_server_name_for_server_settings_tab_only
  app/controllers/ops_controller/settings/common.rb
  spec/controllers/ops_controller/settings/common_spec.rb
Owners: none

Apply gettext to MiqReport::Generator model constant
  app/controllers/report_controller/reports/editor.rb
  app/views/report/_form_sort.html.haml
Owners: none

Fix duplicate Cancel buttons on Explorer based screens Correct method to determine current x_node
  app/controllers/application_controller/compare.rb
  app/controllers/application_controller/explorer.rb
Owners: none

Fixed jest tests after React update
  app/javascript/spec/automate-import-export-form/__snapshots__/import-datastore-via-git.spec.js.snap
  app/javascript/spec/automate-import-export-form/import-datastore-via-git.spec.js
  app/javascript/spec/catalog-form/catalog-form.spec.js
  app/javascript/spec/cloud-network-form/cloud-network-form.spec.js
  app/javascript/spec/cloud-tenant-form/cloud-tenant-form.spec.js
  app/javascript/spec/flavor-form/flavor-form.spec.js
  app/javascript/spec/pxe-servers-form/pxe-server-form.spec.js
Owners: none

fix styling issue in header Issue: #6260
  app/assets/images/layout/navbar.png
  app/assets/stylesheets/header_background.scss
  app/assets/stylesheets/main.scss
Owners: @epwinchell

Use async act on copy-dashboard-form spec.
  app/javascript/spec/copy-dashboard-form/copy-dashboard-form.spec.js
Owners: none

Use async act on report-data-table spec.
  app/javascript/spec/report-data-table.spec.js
Owners: none

Removed use effect clean up callback from report-data-table
  app/javascript/components/report-data-table.jsx
Owners: none

Use async act on workers-form spec.
  app/javascript/spec/workers-form/workers-form.spec.js
Owners: none

Use async act on pxe-server-form spec.
  app/javascript/spec/pxe-servers-form/pxe-server-form.spec.js
Owners: none

Use async act on set-ownership-form spec.
  app/javascript/spec/set-ownership-form/set-ownership-form.spec.js
Owners: none

Use async act on ops-tenant-form spec.
  app/javascript/spec/ops-tenant-form/ops-tenant-form.spec.js
Owners: none

Use async act on orchestration-template-form spec.
  app/javascript/spec/orchestration-template/orchestration-template-form.spec.js
Owners: none

Use async act on async-credentials component spec.
  app/javascript/spec/async-credentials/async-credentials.spec.js
Owners: none

Use act on input-with-dynamic-prefix component spec.
  app/javascript/spec/forms/input-with-dynamic-prefix.spec.js
Owners: none

Fix loading of Network Port details screen
  app/helpers/network_port_helper/textual_summary.rb
  spec/shared/controllers/shared_network_manager_context.rb
Owners: none

Extract the decision about a node being expanded into a method
  app/presenters/tree_builder.rb
Owners: @martinpovolny

Mocked miqRedirectBack to avoid spec navigation errors.
  app/javascript/spec/flavor-form/flavor-form.spec.js
  app/javascript/spec/ops-tenant-form/ops-tenant-form.spec.js
  app/javascript/spec/orchestration-template/orchestration-template-form.spec.js
  app/javascript/spec/pxe-servers-form/pxe-server-form.spec.js
  config/jest.setup.js
Owners: none

VmCommon: split get_node_info.
  app/controllers/vm_common.rb
Owners: none

Automate explorer: split get_node_info, make variables more readable.
  app/controllers/miq_ae_class_controller.rb
  spec/controllers/miq_ae_class_controller_spec.rb
Owners: none

Toolbar Simplification
  app/helpers/application_helper/toolbar/ansible_credential_center.rb
  app/helpers/application_helper/toolbar/ansible_credentials_center.rb
  app/helpers/application_helper/toolbar/ansible_repositories_center.rb
  app/helpers/application_helper/toolbar/ansible_repository_center.rb
  app/helpers/application_helper/toolbar/cloud_network_center.rb
  app/helpers/application_helper/toolbar/cloud_networks_center.rb
  app/helpers/application_helper/toolbar/cloud_subnet_center.rb
  app/helpers/application_helper/toolbar/cloud_subnets_center.rb
  app/helpers/application_helper/toolbar/cloud_tenant_center.rb
  app/helpers/application_helper/toolbar/cloud_tenants_center.rb
  app/helpers/application_helper/toolbar/configuration_job_center.rb
  app/helpers/application_helper/toolbar/configuration_jobs_center.rb
  app/helpers/application_helper/toolbar/container_node_center.rb
  app/helpers/application_helper/toolbar/container_nodes_center.rb
  app/helpers/application_helper/toolbar/hosts_center.rb
  app/helpers/application_helper/toolbar/vm_clouds_center.rb
  app/helpers/application_helper/toolbar/vm_infras_center.rb
  app/helpers/application_helper/toolbar/x_vm_center.rb
  app/helpers/application_helper/toolbar/x_vm_cloud_center.rb
Owners: none

Move node expandedness evaluation into TreeNode::Node
  app/presenters/tree_builder.rb
  app/presenters/tree_node/hash.rb
  app/presenters/tree_node/node.rb
Owners: @martinpovolny, @skateman

Locked data driven forms version to ~1.18..
  package.json
Owners: none

Add Provider to List view of Infra/Hosts and Infra/Datastores
  product/views/Host.yaml
  product/views/Storage.yaml
Owners: none

Test against the right accor when switching to chargeback reports
  app/controllers/chargeback_controller.rb
Owners: none

Fix tagging for Edit Group and Provisioning screens
  app/controllers/application_controller/miq_request_methods.rb
  app/controllers/ops_controller/ops_rbac.rb
  app/javascript/components/taggingWrapper.jsx
Owners: none

Update version of react-ui-components
  package.json
Owners: none

Toolbar Simplification
  app/helpers/application_helper/toolbar/base.rb
Owners: none

ChargebackRateDetail: Apply gettext to model constants
  app/controllers/chargeback_controller.rb
  app/views/chargeback/_tier_first_row.haml
Owners: none

babel7 - convert remaining polyfill reference
  config/webpack/shared.js
Owners: none

jest: make sure it's on the same version as babel-jest
  package.json
Owners: none

jest: remove jest-specific .babelrc, both using .babelrc.js now
  .babelrc
Owners: none

babel 7: run npx babel-upgrade
  .babelrc
  .babelrc.js
  package.json
Owners: none

babel7 - remove unused deps
  package.json
Owners: none

babelrc.js - use require().default for babel7 exports
  .babelrc.js
Owners: none

babel7 - yarn add -D babel-core@^7 babel-eslint babel-jest babel-loader babel-plugin-add-module-exports
  package.json
Owners: none

ts-jest: remove unused
  jest.config.js
  package.json
Owners: none

babel7 - update babel packages from ^7.0.0 to the specific versions
  package.json
Owners: none

jest -u - update snapshots after jest upgrade
  app/javascript/spec/async-credentials/__snapshots__/async-credentials.spec.js.snap
  app/javascript/spec/async-credentials/__snapshots__/edit-secret-field.spec.js.snap
  app/javascript/spec/dual-list-select/__snapshots__/dual-list-select.spec.js.snap
  app/javascript/spec/simple-table/__snapshots__/simple-table.spec.js.snap
  app/javascript/spec/toolbar/__snapshots__/miq-generic-toolbar.spec.jsx.snap
Owners: none

jest vs async/await - add @babel/register, @babel/polyfill to jest setup
  config/jest.setup.js
  jest.config.js
  package.json
Owners: none

.github/CODEOWNERS:

# trees
app/presenters/tree_node/                         @skateman
app/presenters/tree_builder_*                     @skateman
# styling and images
app/assets/stylesheets/                           @epwinchell
app/assets/images/                                @epwinchell
# dialog editor
app/assets/javascripts/controllers/dialog_editor  @romanblanco
app/views/miq_ae_customization/editor.html.haml   @romanblanco
# toolbar buttons
app/helpers/application_helper/button/            @romanblanco @panspagetka
app/helpers/application_helper/toolbar_builder.rb @romanblanco @panspagetka @martinpovolny
# rbac
app/controllers/mixins/checked_id_mixin.rb        @romanblanco @panspagetka
# charts
lib/charting/                                     @panspagetka
lib/report_formatter/c3.rb                        @panspagetka
lib/report_formatter/c3_series.rb                 @panspagetka
lib/report_formatter/chart_common.rb              @panspagetka
app/assets/javascripts/miq_c3.js                  @panspagetka
# topology services
app/services/*topology_service.rb                 @skateman

app/controllers/mixins/custom_buttons.rb          @martinpovolny
app/controllers/mixins/generic_*.rb               @martinpovolny
app/controllers/mixins/more_show_actions.rb       @martinpovolny
app/assets/javascripts/miq_explorer.js            @martinpovolny
app/presenters/explorer_presenter.rb              @martinpovolny
app/helpers/application_helper/button/basic.rb    @martinpovolny
app/helpers/application_helper/toolbar/basic.rb   @martinpovolny
app/presenters/tree_builder.rb                    @martinpovolny
app/presenters/menu/                              @martinpovolny
app/helpers/textual_*rb                           @martinpovolny

# decorators
app/decorators/                                   @skateman
