Repository ManageIQ/manageiq-ui-classic, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skateman, @epwinchell, @romanblanco, @panspagetka, @martinpovolny

Prevent rendering User to Look Up form field twice and with same id
  app/views/ops/_rbac_group_details.html.haml
Owners: none

Fix rubocop in Mixins::Actions::HostAction::Misc
  app/controllers/mixins/actions/host_actions/misc.rb
Owners: none

Fix rubocop in Mixins::Actions::VmActions::AssociateFloatingIp
  app/controllers/mixins/actions/vm_actions/associate_floating_ip.rb
Owners: none

Fix rubocop in Mixins::Actions::VmActions::DisassociateFloatingIp
  app/controllers/mixins/actions/vm_actions/disassociate_floating_ip.rb
Owners: none

Fix rubocop in Mixins::Actions::VmActions::Evacuate
  app/controllers/mixins/actions/vm_actions/evacuate.rb
Owners: none

Remove useless toolbar button for Container Build scan (SSA)
  app/helpers/application_helper/toolbar/container_build_center.rb
  app/helpers/application_helper/toolbar/container_builds_center.rb
Owners: none

Add Tags to PxeServer and its items
  app/helpers/pxe_helper/textual_summary.rb
  app/views/pxe/_pxe_server_details.html.haml
Owners: none

masthead styling cleanup
  app/assets/stylesheets/masthead.scss
Owners: @epwinchell

Improve specs regarding creating new Cloud Subnet
  spec/controllers/cloud_subnet_controller_spec.rb
Owners: none

Refactor FloatingIp Controller and its specs
  app/controllers/floating_ip_controller.rb
  spec/controllers/floating_ip_controller_spec.rb
Owners: none

Display Cancel after applying changes in non-explorer Compare screen
  app/controllers/application_controller/compare.rb
  spec/controllers/application_controller/compare_spec.rb
Owners: none

Add redirect to Tagging page and back
  app/controllers/pxe_controller.rb
  app/helpers/application_helper/toolbar/pxe_server_center.rb
  config/routes.rb
Owners: none

Fix redirect from Tag Edit screen with multiple Pxe Servers
  app/controllers/pxe_controller.rb
Owners: none

Add buttons to WindowsImage and PxeImage and clean tags in textual summary
  app/controllers/application_controller/tags.rb
  app/controllers/pxe_controller.rb
  app/controllers/pxe_controller/pxe_servers.rb
  app/helpers/application_helper/toolbar/pxe_image_center.rb
  app/helpers/application_helper/toolbar/windows_image_center.rb
  app/helpers/pxe_helper/textual_summary.rb
  product/views/PxeImage.yaml
  product/views/WindowsImage.yaml
Owners: none

Add Policy/Edit Tags button to Pxe Servers
  app/helpers/application_helper/toolbar/pxe_servers_center.rb
Owners: none

Fix it so it uses correct methods/fucntions
  app/helpers/pxe_helper/textual_summary.rb
  app/views/pxe/_pxe_server_details.html.haml
Owners: none

Fix display of tags to be less complicated
  app/controllers/pxe_controller/pxe_servers.rb
  app/helpers/pxe_helper/textual_summary.rb
Owners: none

Set @gtl_type to 'list' so list is displayed instead of quadicon(without image)
  app/controllers/pxe_controller.rb
Owners: none

TextualSummary: make "Build Instances" wide.
  app/helpers/container_build_helper/textual_summary.rb
  app/helpers/textual_multilabel.rb
Owners: @martinpovolny

Container build: sort instances in SQL.
  app/helpers/container_build_helper/textual_summary.rb
Owners: none

Add EE
  app/assets/stylesheets/application.css
  app/assets/stylesheets/expression_editor.scss
  app/javascript/components/expressionEditorWrapper.jsx
  app/javascript/packs/component-definitions-common.js
  app/views/layouts/exp_atom/_editor.html.haml
Owners: @epwinchell

Update ui-components to 1.1.37 for hammer
  package.json
  yarn.lock
Owners: none

Fix rubocop in Mixins::Actions::VmActions::LiveMigrate
  app/controllers/mixins/actions/vm_actions/live_migrate.rb
Owners: none

Display name of Container Pod instead of HTML in Container Build's summary
  app/helpers/container_build_helper/textual_summary.rb
Owners: none

Fix rubocop in Mixins::Actions::VmActions::Ownership
  app/controllers/mixins/actions/vm_actions/ownership.rb
Owners: none

Split query into variables in EmsInfraDashboard
  app/services/ems_infra_dashboard_service.rb
Owners: none

Limit rollup to just default time profile in EmsInfraDashboard
  app/services/ems_infra_dashboard_service.rb
  spec/services/ems_infra_dashboard_service_spec.rb
Owners: none

login screen styling cleanup
  app/assets/stylesheets/application.css
  app/assets/stylesheets/login.scss
  app/assets/stylesheets/patternfly_overrides.scss
Owners: @epwinchell

Remove Resume button that never worked
  app/helpers/application_helper/toolbar/cloud/instance_operations_button_group_mixin.rb
  app/helpers/application_helper/toolbar/vm_clouds_center.rb
Owners: none

Fix Vm & Instance retirement from workflow screen
  app/controllers/mixins/actions/vm_actions/retire.rb
Owners: none

Native viewer
  app/controllers/vm_remote.rb
  app/helpers/application_helper/button/vm_native_console.rb
  app/helpers/application_helper/toolbar/x_vm_center.rb
  config/routes.rb
  spec/helpers/application_helper/buttons/vm_native_console_spec.rb
Owners: @romanblanco, @panspagetka

Fix error after clicking on item in Config Mgmt Providers accordion
  app/controllers/application_controller/explorer.rb
  spec/controllers/application_controller/explorer_spec.rb
  spec/controllers/vm_common_spec.rb
Owners: none

Use provider_active_tree? method in provider_foreman controller
  app/controllers/provider_foreman_controller.rb
  spec/controllers/provider_foreman_controller_spec.rb
Owners: none

Prevent calling replace_search_box twice in ManagerControllerMixin
  app/controllers/infra_networking_controller.rb
  app/controllers/mixins/manager_controller_mixin.rb
  spec/controllers/infra_networking_controller_spec.rb
  spec/controllers/mixins/manager_controller_mixin_spec.rb
Owners: none

Fix rubocop in Mixins::Actions::VmActions::PolicySimulation
  app/controllers/mixins/actions/vm_actions/policy_simulation.rb
Owners: none

Fix rubocop in Mixins::Actions::VmActions::Rename
  app/controllers/mixins/actions/vm_actions/rename.rb
Owners: none

Fix rubocop in Mixins::Actions::VmActions::Resize
  app/controllers/mixins/actions/vm_actions/resize.rb
Owners: none

Reconfigure: use detailed RBAC features
  app/controllers/miq_request_controller.rb
  app/controllers/mixins/actions/vm_actions/reconfigure.rb
  app/helpers/application_helper/button/vm_reconfigure.rb
  app/helpers/application_helper/button/vm_reconfigure_multiple.rb
  app/helpers/application_helper/toolbar/template_clouds_center.rb
  app/helpers/application_helper/toolbar/vm_infras_center.rb
  app/helpers/application_helper/toolbar/x_template_cloud_center.rb
  app/views/vm_common/_reconfigure.html.haml
  spec/helpers/application_helper/buttons/vm_reconfigure_spec.rb
  spec/shared/helpers/application_helper_buttons.rb
Owners: @romanblanco, @panspagetka

VM reconfigure: fix code indentation.
  app/controllers/mixins/actions/vm_actions/reconfigure.rb
Owners: none

Update ui-components to 1.2.16 for ivanchuk
  package.json
  yarn.lock
Owners: none

.github/CODEOWNERS:

# trees
app/presenters/tree_node/                         @skateman
app/presenters/tree_builder_*                     @skateman
# styling and images
app/assets/stylesheets/                           @epwinchell
app/assets/images/                                @epwinchell
# dialog editor
app/assets/javascripts/controllers/dialog_editor  @romanblanco
app/views/miq_ae_customization/editor.html.haml   @romanblanco
# toolbar buttons
app/helpers/application_helper/button/            @romanblanco @panspagetka
app/helpers/application_helper/toolbar_builder.rb @romanblanco @panspagetka @martinpovolny
# rbac
app/controllers/mixins/checked_id_mixin.rb        @romanblanco @panspagetka
# charts
lib/charting/                                     @panspagetka
lib/report_formatter/c3.rb                        @panspagetka
lib/report_formatter/c3_series.rb                 @panspagetka
lib/report_formatter/chart_common.rb              @panspagetka
app/assets/javascripts/miq_c3.js                  @panspagetka
# topology services
app/services/*topology_service.rb                 @skateman

app/controllers/mixins/custom_buttons.rb          @martinpovolny
app/controllers/mixins/generic_*.rb               @martinpovolny
app/controllers/mixins/more_show_actions.rb       @martinpovolny
app/assets/javascripts/miq_explorer.js            @martinpovolny
app/presenters/explorer_presenter.rb              @martinpovolny
app/helpers/application_helper/button/basic.rb    @martinpovolny
app/helpers/application_helper/toolbar/basic.rb   @martinpovolny
app/presenters/tree_builder.rb                    @martinpovolny
app/presenters/menu/                              @martinpovolny
app/helpers/textual_*rb                           @martinpovolny

# decorators
app/decorators/                                   @skateman
