Repository ManageIQ/manageiq-ui-classic, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skateman, @epwinchell, @romanblanco, @panspagetka, @martinpovolny

Remove styling for menu-item pinning
  app/assets/stylesheets/patternfly_overrides.scss
  app/assets/stylesheets/vertical_navigation.scss
Owners: @epwinchell

Move hooks definitions to the top of the function
  app/javascript/components/main-menu/second-level.jsx
  app/javascript/components/main-menu/top-level.jsx
Owners: none

Add tests for vertical-nav collapsing using Redux
  app/javascript/components/main-menu/main-menu.jsx
  app/javascript/spec/main-menu/__snapshots__/main-menu.spec.js.snap
  app/javascript/spec/main-menu/main-menu.spec.js
Owners: none

Shorten lines in vertical-nav tests
  app/javascript/spec/main-menu/main-menu.spec.js
Owners: none

Verify content element existence before using it
  app/javascript/components/main-menu/main-menu.jsx
  app/javascript/components/top-navbar/navbar-header.jsx
Owners: none

Create menu-reducer for navbar collapsed state
  app/javascript/components/main-menu/main-menu.jsx
  app/javascript/miq-redux/menu-reducer.js
  app/javascript/miq-redux/store.js
Owners: none

Delete setupVerticalNavigation()
  app/assets/javascripts/miq_application.js
Owners: none

Rename 'reducer' to 'menuReducer'
  app/javascript/miq-redux/menu-reducer.js
  app/javascript/miq-redux/store.js
Owners: none

Add 'navbar.' prefix to NavbarHeader
  app/javascript/components/top-navbar/index.js
  app/javascript/packs/component-definitions-common.js
  app/views/layouts/_navbar-header.html.haml
Owners: none

fixes service#display deprecation msg
  spec/presenters/tree_builder_services_spec.rb
Owners: none

Allow performing Shelve Offload operation for Instances in nested list
  app/controllers/application_controller/ci_processing.rb
  app/controllers/orchestration_stack_controller.rb
  spec/controllers/cloud_tenant_controller_spec.rb
  spec/controllers/mixins/ems_common_spec.rb
  spec/controllers/orchestration_stack_controller_spec.rb
Owners: none

compare cleanup follow-up
  app/assets/stylesheets/patternfly_overrides.scss
Owners: @epwinchell

Reconfigure: handle plural case toolbar button permissions.
  app/helpers/application_helper/button/vm_reconfigure.rb
  app/helpers/application_helper/button/vm_reconfigure_multiple.rb
  app/helpers/application_helper/toolbar/vm_infras_center.rb
Owners: @romanblanco, @panspagetka

Fix rubocop in ApplicationController::Performance
  app/controllers/application_controller/performance.rb
Owners: none

Fix rubocop in ApplicationController::PolicySupport
  app/controllers/application_controller/policy_support.rb
Owners: none

Fix rubocop in ApplicationController::ReportDownloads
  app/controllers/application_controller/report_downloads.rb
Owners: none

Fix rubocop in ApplicationController::SessionSize
  app/controllers/application_controller/session_size.rb
Owners: none

Disable Save/Reset buttons after discarding changes for Subscription
  app/assets/javascripts/controllers/ops/pglogical_replication_form_controller.js
Owners: none

Fix error about undefined original_values regarding Subscriptions
  app/assets/javascripts/controllers/ops/pglogical_replication_form_controller.js
Owners: none

Preserve collapsed state using Local Storage
  app/javascript/components/main-menu/helpers.js
  app/javascript/components/main-menu/main-menu.jsx
  app/javascript/components/top-navbar/navbar-header.jsx
  app/javascript/miq-redux/menu-reducer.js
Owners: none

miq_angular_application - patternfly.charts is required by patternfly.views, which is required by patternfly
  app/assets/javascripts/miq_angular_application.js
Owners: none

Don't let angular-patternfly rewrite ui-components lodash
  app/javascript/packs/globals.js
Owners: none

dialogUser* - remove miqService.refreshSelectpicker
  app/assets/javascripts/controllers/dialog_user/dialog_user_controller.js
  app/assets/javascripts/controllers/dialog_user/dialog_user_reconfigure_controller.js
  app/assets/javascripts/services/miq_service.js
  spec/javascripts/controllers/dialog_user/dialog_user_controller_spec.js
  spec/javascripts/services/miq_service_spec.js
Owners: none

Multiple issues fixed on action edit screen
  app/controllers/miq_policy_controller/miq_actions.rb
  spec/controllers/miq_policy_controller/miq_actions_spec.rb
Owners: none

Fix rubocop in ApplicationController::SysprepAnswerFile
  app/controllers/application_controller/sysprep_answer_file.rb
Owners: none

Fix rubocop in ApplicationController::Tags
  app/controllers/application_controller/tags.rb
Owners: none

miq_qe - support debounced.cancel, debounced.flush
  app/assets/javascripts/miq_qe.js
Owners: none

Fix cloud_object_store and cloud_tenant queue_opts
  spec/controllers/cloud_object_store_container_spec.rb
  spec/controllers/cloud_tenant_controller_spec.rb
Owners: none

Don't test exact queue_options when testing operations
  spec/controllers/cloud_network_controller_spec.rb
  spec/controllers/cloud_subnet_controller_spec.rb
  spec/controllers/cloud_volume_controller_spec.rb
  spec/controllers/cloud_volume_snapshot_controller_spec.rb
  spec/controllers/floating_ip_controller_spec.rb
  spec/controllers/host_aggregate_controller_spec.rb
  spec/controllers/network_router_controller_spec.rb
  spec/controllers/security_group_controller_spec.rb
  spec/services/git_based_domain_import_service_spec.rb
Owners: none

Fix rubocop in ApplicationController::Timelines::Options
  app/controllers/application_controller/timelines/options.rb
Owners: none

Fix rubocop in ApplicationController::Timelines
  app/controllers/application_controller/timelines.rb
Owners: none

Display child services on bundled service summary screens if available
  app/views/service/_svcs_show.html.haml
Owners: none

Entry Point modal styling fix
  app/assets/stylesheets/patternfly_overrides.scss
Owners: @epwinchell

Remove custom "table-borderless" class
  app/assets/stylesheets/patternfly_overrides.scss
Owners: @epwinchell

Remove reference to removed method #generate_ui_api_token
  app/controllers/dashboard_controller.rb
Owners: none

Update specs for storage belonging to an EMS
  spec/controllers/ops_controller/settings/common_spec.rb
Owners: none

Fix rubocop in GenericObjectController
  app/controllers/generic_object_controller.rb
Owners: none

Remove unnecessary code from GenericObjectDefinitionController
  app/controllers/generic_object_definition_controller.rb
Owners: none

Fix rubocop in CloudVolumeBackupController
  app/controllers/cloud_volume_backup_controller.rb
Owners: none

Remove unnecessary one-liner from cloudVolumeBackupForm
  app/assets/javascripts/components/cloud_volume_backup/cloud-volume-backup-form.js
Owners: none

.github/CODEOWNERS:

# trees
app/presenters/tree_node/                         @skateman
app/presenters/tree_builder_*                     @skateman
# styling and images
app/assets/stylesheets/                           @epwinchell
app/assets/images/                                @epwinchell
# dialog editor
app/assets/javascripts/controllers/dialog_editor  @romanblanco
app/views/miq_ae_customization/editor.html.haml   @romanblanco
# toolbar buttons
app/helpers/application_helper/button/            @romanblanco @panspagetka
app/helpers/application_helper/toolbar_builder.rb @romanblanco @panspagetka @martinpovolny
# rbac
app/controllers/mixins/checked_id_mixin.rb        @romanblanco @panspagetka
# charts
lib/charting/                                     @panspagetka
lib/report_formatter/c3.rb                        @panspagetka
lib/report_formatter/c3_series.rb                 @panspagetka
lib/report_formatter/chart_common.rb              @panspagetka
app/assets/javascripts/miq_c3.js                  @panspagetka
# topology services
app/services/*topology_service.rb                 @skateman

app/controllers/mixins/custom_buttons.rb          @martinpovolny
app/controllers/mixins/generic_*.rb               @martinpovolny
app/controllers/mixins/more_show_actions.rb       @martinpovolny
app/assets/javascripts/miq_explorer.js            @martinpovolny
app/presenters/explorer_presenter.rb              @martinpovolny
app/helpers/application_helper/button/basic.rb    @martinpovolny
app/helpers/application_helper/toolbar/basic.rb   @martinpovolny
app/presenters/tree_builder.rb                    @martinpovolny
app/presenters/menu/                              @martinpovolny
app/helpers/textual_*rb                           @martinpovolny

# decorators
app/decorators/                                   @skateman
