Repository ManageIQ/manageiq-ui-classic, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skateman, @epwinchell, @romanblanco, @panspagetka, @martinpovolny

Filter out Maintenance zone from the drop down
  app/assets/javascripts/controllers/playbook-reusable-code-mixin.js
Owners: none

Added missing argument in function definition
  app/controllers/application_controller/compare.rb
  spec/controllers/application_controller/compare_spec.rb
Owners: none

Show value of Locked/Reset fields when value is false or not set.
  app/views/report/_db_show.html.haml
Owners: none

We don't need to set urls here
  spec/controllers/automation_manager_controller_spec.rb
Owners: none

Add buttons
  app/controllers/application_controller/filter.rb
  app/javascript/components/expressionEditorWrapper.jsx
  app/views/layouts/exp_atom/_editor.html.haml
Owners: none

Add expression editor
  app/assets/stylesheets/application.css
  app/assets/stylesheets/expression-editor.css
  app/controllers/application_controller/filter.rb
  app/controllers/application_controller/filter/expression_editor_options.rb
  app/javascript/components/expressionEditorWrapper.jsx
  app/javascript/packs/component-definitions-common.js
  app/views/layouts/exp_atom/_edit_field.html.haml
  app/views/layouts/exp_atom/_edit_find.html.haml
  app/views/layouts/exp_atom/_edit_tag.html.haml
  app/views/layouts/exp_atom/_editor.html.haml
  config/routes.rb
Owners: @epwinchell

Merge pull request #5893 from rvsia/publish-title
  app/controllers/application_controller/miq_request_methods.rb
  spec/controllers/miq_request_controller_spec.rb
Owners: none

Merge pull request #5898 from h-kataria/fixing_buttons_on_compare
  app/controllers/application_controller/compare.rb
  spec/controllers/application_controller/compare_spec.rb
Owners: none

Merge pull request #5900 from h-kataria/fix_boolean_value_display_dashboard_summary
  app/views/report/_db_show.html.haml
Owners: none

Merge pull request #5899 from h-kataria/filter_maintenance_zone_from_api_result
  app/assets/javascripts/controllers/playbook-reusable-code-mixin.js
Owners: none

Filters header renamed to Global Filters
  app/views/layouts/listnav/_show_list.html.haml
Owners: none

Allow to copy from 'read only' CodeMirror editor
  app/assets/javascripts/miq_application.js
Owners: none

user_input_filter: Don't autofocus selects
  app/views/layouts/_user_input_filter.html.haml
Owners: none

Make the check against Satellite organization safe to fix RHSM issues
  app/controllers/ops_controller/settings/rhn.rb
Owners: none

Clear modal after Applying advanced search
  app/views/layouts/_adv_search_footer.html.haml
Owners: none

Propagate parent model into GTLs on InfraNetwork switches 🖵 🐞
  app/controllers/infra_networking_controller.rb
Owners: none

Restore deleted non-clickability of Lans in Infra/Networking🌳 🐞
  app/presenters/tree_builder_infra_networking.rb
Owners: @skateman

Merge pull request #5878 from h-kataria/vm_right_size_back_button_fix
  app/controllers/vm_common.rb
  app/views/vm_common/_right_size.html.haml
  spec/controllers/vm_controller_spec.rb
Owners: none

Merge pull request #5472 from hstastna/Add_button_enabled_Service_Catalog_Item
  app/controllers/catalog_controller.rb
  app/helpers/params_helper.rb
  spec/controllers/catalog_controller_spec.rb
Owners: none

Merge pull request #5830 from Hchrast/xd
  app/controllers/cloud_volume_backup_controller.rb
Owners: none

Merge pull request #5908 from skateman/rhn-organization-try
  app/controllers/ops_controller/settings/rhn.rb
Owners: none

Merge pull request #5826 from hstastna/Internal_server_error_schedule_edit
  app/controllers/ops_controller/settings/automate_schedules.rb
  spec/controllers/ops_controller/settings/automate_schedules_spec.rb
Owners: none

Merge pull request #5902 from skateman/switches-controller
  app/controllers/infra_networking_controller.rb
  app/presenters/tree_builder_infra_networking.rb
Owners: @skateman

Added rsa_keypair authentication tab to host forms.
  app/assets/javascripts/controllers/host/host_form_controller.js
  app/controllers/host_controller.rb
  app/views/layouts/angular/_multi_auth_credentials.html.haml
Owners: none

Drop random data-whatever from modals
  app/views/layouts/_searchbar.html.haml
  app/views/layouts/_x_adv_searchbox.html.haml
  app/views/layouts/angular/_ansible_form_options_angular.html.haml
Owners: none

We don't need to set these, again...
  spec/controllers/chargeback_controller_spec.rb
Owners: none

Use cloneDeep to prevent use of references. DO NOT add undefined to empty Array when doing compare! Prevents crazy bugs that take two and half day to solve.
  app/assets/javascripts/components/generic_object/main-custom-button-group-form.js
  app/assets/javascripts/directives/form_changed.js
Owners: none

Move class to correct place. Linter fixes
  app/views/static/generic_object/assign-buttons.html.haml
Owners: none

Show copy request button for Service Template provision request
  app/helpers/application_helper/button/miq_request_copy.rb
Owners: @romanblanco, @panspagetka

Remove add_custom_buttons_in_set method. Use RBAC.
  app/assets/javascripts/components/generic_object/main-custom-button-group-form.js
  app/controllers/generic_object_definition_controller.rb
  config/routes.rb
Owners: none

Use new version of react-ui-components
  app/views/miq_request/_prov_field.html.haml
  package.json
Owners: none

Remove all tags tree
  app/controllers/vm_common.rb
  app/javascript/components/taggingWrapper.jsx
  app/views/miq_request/_prov_edit.html.haml
  app/views/miq_request/_prov_field.html.haml
Owners: none

Change tags PropType to string or number
  app/javascript/components/taggingWrapper.jsx
Owners: none

Catalog item removal modal: disable delete button if API data incomplete
  app/javascript/components/remove-catalog-item-modal.jsx
Owners: none

Merge pull request #5905 from vandrlov/Filters_renamed
  app/views/layouts/listnav/_show_list.html.haml
Owners: none

Merge pull request #5906 from himdel/user-input-docus
  app/views/layouts/_user_input_filter.html.haml
Owners: none

Merge pull request #5909 from bmclaughlin/hide-advanced-search-modal
  app/views/layouts/_adv_search_footer.html.haml
Owners: none

Remove Load Balancer button from Network Topology page
  app/views/network_topology/show.html.haml
Owners: none

views: remove unneeded compliances join
  product/views/ManageIQ_Providers_CloudManager_Template-all_vms_and_templates.yaml
  product/views/MiqTemplate.yaml
  product/views/ProvisionCloudTemplates.yaml
  product/views/Vm-all_vms.yaml
  product/views/VmOrTemplate-all_archived.yaml
Owners: none

Render spinner before the modal data is loaded
  app/javascript/components/remove-catalog-item-modal.jsx
Owners: none

.github/CODEOWNERS:

# trees
app/presenters/tree_node/                         @skateman
app/presenters/tree_builder_*                     @skateman
# styling and images
app/assets/stylesheets/                           @epwinchell
app/assets/images/                                @epwinchell
# dialog editor
app/assets/javascripts/controllers/dialog_editor  @romanblanco
app/views/miq_ae_customization/editor.html.haml   @romanblanco
# toolbar buttons
app/helpers/application_helper/button/            @romanblanco @panspagetka
app/helpers/application_helper/toolbar_builder.rb @romanblanco @panspagetka @martinpovolny
# rbac
app/controllers/mixins/checked_id_mixin.rb        @romanblanco @panspagetka
# charts
lib/charting/                                     @panspagetka
lib/report_formatter/c3.rb                        @panspagetka
lib/report_formatter/c3_series.rb                 @panspagetka
lib/report_formatter/chart_common.rb              @panspagetka
app/assets/javascripts/miq_c3.js                  @panspagetka
# topology services
app/services/*topology_service.rb                 @skateman

app/controllers/mixins/custom_buttons.rb          @martinpovolny
app/controllers/mixins/generic_*.rb               @martinpovolny
app/controllers/mixins/more_show_actions.rb       @martinpovolny
app/assets/javascripts/miq_explorer.js            @martinpovolny
app/presenters/explorer_presenter.rb              @martinpovolny
app/helpers/application_helper/button/basic.rb    @martinpovolny
app/helpers/application_helper/toolbar/basic.rb   @martinpovolny
app/presenters/tree_builder.rb                    @martinpovolny
app/presenters/menu/                              @martinpovolny
app/helpers/textual_*rb                           @martinpovolny

# decorators
app/decorators/                                   @skateman
