Repository ManageIQ/manageiq-ui-classic, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skateman, @epwinchell, @romanblanco, @panspagetka, @martinpovolny

Update specs for topology_service.rb regarding removing Tags
  spec/services/topology_service_spec.rb
Owners: none

Remove Tags from Network Topology View and others
  app/assets/javascripts/controllers/topology/cloud_topology_controller.js
  app/assets/javascripts/controllers/topology/infra_topology_controller.js
  app/assets/javascripts/controllers/topology/network_topology_controller.js
  app/assets/javascripts/controllers/topology/physical_infra_topology_controller.js
  app/assets/javascripts/services/topology_service.js
  app/services/cloud_topology_service.rb
  app/services/infra_topology_service.rb
  app/services/network_topology_service.rb
  app/services/physical_infra_topology_service.rb
  app/services/topology_service.rb
  app/views/cloud_topology/show.html.haml
  app/views/infra_topology/show.html.haml
  app/views/network_topology/show.html.haml
  app/views/physical_infra_topology/show.html.haml
Owners: @skateman

.eslintrc - fix whitespace issues
  .eslintrc.json
Owners: none

es6 eslintrc - add a few missing rules from parent .eslintrc
  app/javascript/.eslintrc.json
Owners: none

Add babel-eslint, used by .eslintrc.json
  package.json
Owners: none

Enable babel-loader caching
  config/webpack/loaders.js
Owners: none

Added automate class form component file
  app/javascript/components/automate-class-form/automate-class-form.jsx
  app/javascript/components/automate-class-form/automate-class-form.schema.js
  app/javascript/packs/component-definitions-common.js
  app/views/miq_ae_class/_class_form.html.haml
Owners: none

Reports: use less instance variables.
  app/controllers/application_controller/report_downloads.rb
  app/views/layouts/print/report.html.haml
Owners: none

Reports: use less instance variables.
  app/controllers/application_controller/report_downloads.rb
  app/views/layouts/print/report.html.haml
Owners: none

Reports: split render_report_data.
  app/controllers/application_controller/report_downloads.rb
Owners: none

Use widget_minimized? method to de-duplicate code
  app/controllers/dashboard_controller.rb
Owners: none

Updated automate-class-form schema and component
  app/javascript/components/automate-class-form/automate-class-form.jsx
  app/javascript/components/automate-class-form/automate-class-form.schema.js
  app/views/miq_ae_class/_class_form.html.haml
Owners: none

Make Save button disabled after canceling User's password change
  app/assets/javascripts/miq_change_stored_password.js
  app/views/ops/_rbac_user_details.html.haml
Owners: none

Merge pull request #6106 from skateman/hide-ops-database
  app/controllers/ops_controller.rb
  spec/controllers/ops_controller_spec.rb
Owners: none

Merge pull request #6063 from ZitaNemeckova/dont_show_child_buttons
  app/helpers/application_helper/toolbar_builder.rb
Owners: @romanblanco, @panspagetka, @martinpovolny

Merge pull request #6116 from mzazrivec/correctly_catch_api_errors_when_creating_and_updating_ot
  app/javascript/components/orchestration-template/orcherstration-template-form.js
Owners: none

Merge pull request #6090 from ZitaNemeckova/m
  spec/helpers/application_helper/toolbar_builder_spec.rb
Owners: none

Merge pull request #6147 from ZitaNemeckova/fix_ae_miq_request
  app/controllers/miq_request_controller.rb
Owners: none

Merge pull request #6182 from mzazrivec/fix_traceback_in_edit_report_preview
  app/controllers/report_controller/reports.rb
Owners: none

Merge pull request #6201 from ZitaNemeckova/order
  app/controllers/miq_request_controller.rb
Owners: none

Reports: send_report_data: properly call template, less instance variables.
  app/controllers/application_controller/report_downloads.rb
Owners: none

Reports: download_*: do not use instance variables.
  app/controllers/application_controller/report_downloads.rb
Owners: none

Merge pull request #6187 from lpichler/display_tenant_only_from_current_region
  app/helpers/report_helper/editor.rb
Owners: none

Merge pull request #6277 from h-kataria/fix_netowrk_port_summary
  app/helpers/network_port_helper/textual_summary.rb
  spec/shared/controllers/shared_network_manager_context.rb
Owners: none

Merge pull request #6285 from skateman/chargeback-report-accord
  app/controllers/chargeback_controller.rb
Owners: none

Merge pull request #6226 from epwinchell/1519494
  app/views/static/generic_object/generic_object_table.html.haml
Owners: none

Merge pull request #6189 from mansam/volume-attach-fixups
  app/controllers/cloud_volume_controller.rb
  app/helpers/application_helper/button/volume_attach.rb
  app/helpers/application_helper/toolbar/cloud_volume_center.rb
  spec/helpers/application_helper/buttons/volume_attach_spec.rb
Owners: @romanblanco, @panspagetka

Merge pull request #6051 from bmclaughlin/adv-search-arrow-btns
  app/views/layouts/_exp_editor.html.haml
Owners: none

Merge pull request #6100 from bmclaughlin/adv-search-btns
  app/views/layouts/_adv_search_footer.html.haml
  app/views/layouts/_exp_editor.html.haml
Owners: none

Merge pull request #6325 from himdel/change_group-api
  app/assets/javascripts/miq_application.js
  app/assets/javascripts/miq_global.js
  app/views/layouts/_user_options.html.haml
Owners: none

Merge pull request #5992 from mzazrivec/add_missing_gettext_to_host_controller
  app/controllers/host_controller.rb
Owners: none

Merge pull request #5977 from gekorob/hostkey_mismatch_with_no_previous_validation
  app/controllers/host_controller.rb
Owners: none

Merge pull request #6111 from bmclaughlin/update-tree-after-deleting-service-icon
  app/controllers/catalog_controller.rb
Owners: none

Merge pull request #6341 from juliancheal/reenable_dropbox
  app/views/static/ops/log_collection/log_collection.html.haml
Owners: none

Merge pull request #6330 from juliancheal/remove_dropbox
  app/views/static/ops/log_collection/log_collection.html.haml
Owners: none

Merge pull request #6345 from jrafanie/fix_typo
  app/views/static/ops/log_collection/log_collection.html.haml
Owners: none

Reports: refactoring left-overs.
  app/controllers/application_controller/report_downloads.rb
Owners: none

Skip sporadic miq_ae_class_controller_spec failure
  spec/controllers/miq_ae_class_controller_spec.rb
Owners: none

Update ui-components to 1.3.3
  package.json
Owners: none

dialogFieldRefreshService#refreshField - use outputConversion, try to unify with SUI
  app/assets/javascripts/services/dialog_field_refresh_service.js
Owners: none

.github/CODEOWNERS:

# trees
app/presenters/tree_node/                         @skateman
app/presenters/tree_builder_*                     @skateman
# styling and images
app/assets/stylesheets/                           @epwinchell
app/assets/images/                                @epwinchell
# dialog editor
app/assets/javascripts/controllers/dialog_editor  @romanblanco
app/views/miq_ae_customization/editor.html.haml   @romanblanco
# toolbar buttons
app/helpers/application_helper/button/            @romanblanco @panspagetka
app/helpers/application_helper/toolbar_builder.rb @romanblanco @panspagetka @martinpovolny
# rbac
app/controllers/mixins/checked_id_mixin.rb        @romanblanco @panspagetka
# charts
lib/charting/                                     @panspagetka
lib/report_formatter/c3.rb                        @panspagetka
lib/report_formatter/c3_series.rb                 @panspagetka
lib/report_formatter/chart_common.rb              @panspagetka
app/assets/javascripts/miq_c3.js                  @panspagetka
# topology services
app/services/*topology_service.rb                 @skateman

app/controllers/mixins/custom_buttons.rb          @martinpovolny
app/controllers/mixins/generic_*.rb               @martinpovolny
app/controllers/mixins/more_show_actions.rb       @martinpovolny
app/assets/javascripts/miq_explorer.js            @martinpovolny
app/presenters/explorer_presenter.rb              @martinpovolny
app/helpers/application_helper/button/basic.rb    @martinpovolny
app/helpers/application_helper/toolbar/basic.rb   @martinpovolny
app/presenters/tree_builder.rb                    @martinpovolny
app/presenters/menu/                              @martinpovolny
app/helpers/textual_*rb                           @martinpovolny

# decorators
app/decorators/                                   @skateman
