Repository ManageIQ/manageiq-ui-classic, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skateman, @epwinchell, @romanblanco, @panspagetka, @martinpovolny

GOD controller - set ManageIQ.angular.scope for miqCheckForChanges`
  app/assets/javascripts/components/generic_object/generic-object-definition.js
Owners: none

Fix breadcrumbs on service/generic_objects
  app/controllers/service_controller.rb
  spec/controllers/service_controller_spec.rb
Owners: none

Operate with the TreeNode::Node in TreeBuilder#x_build_node
  app/presenters/tree_builder.rb
  app/presenters/tree_node/node.rb
Owners: @martinpovolny, @skateman

Add a space behind the semicolon to make this typographically correct
  app/assets/javascripts/components/generic_object/generic-object-definition-toolbar.js
Owners: none

Avoid calling render multiple times for Power operations on Instances
  app/controllers/mixins/generic_button_mixin.rb
Owners: @martinpovolny

Do not move miq_grid spec to Jest. Resolve its issue in followup PR
  app/javascript/spec/helpers/old_js_file_require_helper.js
  spec/javascripts/miq_grid_spec.js
Owners: none

fix edit message to show name instead of description
  app/controllers/service_controller.rb
Owners: none

Toolbars: simplifications and style fixes.
  app/helpers/application_helper.rb
  app/helpers/application_helper/button/basic.rb
  app/helpers/application_helper/toolbar/base.rb
  app/helpers/application_helper/toolbar/custom.rb
  app/helpers/application_helper/toolbar/dashboard_center.rb
  app/helpers/application_helper/toolbar/topology_center.rb
  app/helpers/application_helper/toolbar_builder.rb
  app/javascript/components/miq-toolbar.jsx
Owners: @martinpovolny, @romanblanco, @panspagetka

Toolbar: style fixes and cleanups.
  app/assets/javascripts/miq_application.js
  app/assets/javascripts/miq_explorer.js
  app/javascript/components/miq-toolbar.jsx
Owners: @martinpovolny

Toolbars: final touches in Dashboard and Topology toolbars.
  app/javascript/components/dashboard_toolbar.jsx
  app/javascript/components/topology_toolbar.jsx
  app/views/dashboard/_widgets_menu.html.haml
  app/views/shared/_topology_header_toolbar.html.haml
Owners: none

Toolbar: React rewrite and simplification.
  app/assets/javascripts/miq_application.js
  app/helpers/application_helper/button/basic.rb
  app/helpers/toolbar_helper.rb
  app/javascript/components/miq-toolbar.jsx
  app/javascript/packs/component-definitions-common.js
  app/views/layouts/_center_div_dashboard_no_listnav.html.haml
  app/views/layouts/_center_div_no_listnav.html.haml
  app/views/layouts/_center_div_with_listnav.html.haml
  app/views/layouts/_content.html.haml
Owners: @martinpovolny

Physical server provision button: remove unneeded "onwhen".
  app/helpers/application_helper/toolbar/physical_server_center.rb
Owners: none

ToolbarBuilder: "pressed" is not used in button definitions, "enabled" is a bool.
  app/helpers/application_helper/toolbar_builder.rb
Owners: @romanblanco, @panspagetka, @martinpovolny

Toolbars: DashboardToolbar converted to a React component.
  app/assets/javascripts/miq_application.js
  app/helpers/application_helper/toolbar/dashboard_center.rb
  app/javascript/components/dashboard_toolbar.jsx
  app/javascript/components/miq-toolbar.jsx
Owners: none

Toolbars: fix on-click handler for view buttons.
  app/javascript/components/miq-toolbar.jsx
Owners: none

Toolbars: change custom content to custom toolbar, pass properties, not markup.
  app/helpers/application_helper/toolbar/custom.rb
  app/helpers/application_helper/toolbar_builder.rb
Owners: @romanblanco, @panspagetka, @martinpovolny

Toolbars: TopologyToolbar converted to a React component.
  app/assets/stylesheets/main.scss
  app/assets/stylesheets/topology-toolbar.scss
  app/javascript/components/dashboard_toolbar.jsx
  app/javascript/components/topology_toolbar.jsx
Owners: @epwinchell

Toolbar: work on onClick and pass number of selected items in GTL in props.
  app/javascript/components/miq-toolbar.jsx
Owners: none

Button: remove unneeded "proc".
  app/helpers/application_helper/toolbar/logs_center.rb
Owners: none

Toolbars: Dashboard toolbar visual fixes.
  app/javascript/components/dashboard_toolbar.jsx
Owners: none

Update patternfly-react for toolbars.
  package.json
Owners: none

Toolbars: fix button enabled calculation.
  app/helpers/application_helper/toolbar_builder.rb
Owners: @romanblanco, @panspagetka, @martinpovolny

Toolbars: initial work on tests.
  app/javascript/spec/toolbar/__snapshots__/dashboard_toolbar.spec.jsx.snap
  app/javascript/spec/toolbar/__snapshots__/topology_toolbar.spec.jsx.snap
  app/javascript/spec/toolbar/dashboard_toolbar.spec.jsx
  app/javascript/spec/toolbar/miq-generic-toolbar.spec.js
  app/javascript/spec/toolbar/miq-toolbar.spec.js
  app/javascript/spec/toolbar/topology_toolbar.spec.jsx
Owners: none

Toolbar: cleanup onClick handler.
  app/javascript/components/miq-toolbar.jsx
Owners: none

DashboardToolbar: fix dropdown toggle proptypes warnings.
  app/javascript/components/dashboard_toolbar.jsx
Owners: none

Toolbars: update react-ui-components version to include toolbars.
  package.json
Owners: none

Toolbars: work on specs.
  app/javascript/components/miq-toolbar.jsx
  app/javascript/spec/toolbar/__snapshots__/dashboard_toolbar.spec.jsx.snap
  app/javascript/spec/toolbar/__snapshots__/miq-generic-toolbar.spec.jsx.snap
  app/javascript/spec/toolbar/miq-generic-toolbar.spec.jsx
  app/javascript/spec/toolbar/miq-toolbar.spec.jsx
Owners: none

Toolbars: remove extra console.log statements.
  app/javascript/components/miq-toolbar.jsx
Owners: none

Toolbar: make the keepSpinner behavior configurable in individual buttons.
  app/helpers/application_helper/toolbar/catalogitem_button_center.rb
  app/helpers/application_helper/toolbar/cloud/instance_operations_button_group_mixin.rb
  app/helpers/application_helper/toolbar/container_node_center.rb
  app/helpers/application_helper/toolbar/custom_button_center.rb
  app/helpers/application_helper/toolbar/ems_physical_infra_center.rb
  app/helpers/application_helper/toolbar/physical_server_center.rb
  app/helpers/application_helper/toolbar/report_view.rb
  app/helpers/application_helper/toolbar/vm_performance.rb
  app/helpers/application_helper/toolbar/x_vm_center.rb
  app/helpers/application_helper/toolbar/x_vm_performance.rb
  app/javascript/components/miq-toolbar.jsx
Owners: none

Update jest config to handle .css files and .flat call.
  app/javascript/spec/toolbar/miq-generic-toolbar.spec.jsx
  app/javascript/spec/toolbar/miq-toolbar.spec.jsx
  config/jest.setup.js
  jest.config.js
  package.json
Owners: none

Update jest config to resolve react* from node_modules/*.
  jest.config.js
Owners: none

Toolbars: remove obsolete angular toolbar specs.
  app/assets/javascripts/controllers/toolbar_controller.js
  app/views/layouts/angular/_toolbar.html.haml
  spec/javascripts/controllers/toolbar_controller_spec.js
  spec/javascripts/miq_application_spec.js
Owners: none

Resolve wrong merge of jest config and fix style issues.
  jest.config.js
Owners: none

Fixed placement alignment. fixes https://bugzilla.redhat.com/show_bug.cgi?id=1740647
  app/views/security_group/new.html.haml
Owners: none

Provider validate - don't attempt to directly connect from the UI
  app/controllers/mixins/ems_common/angular.rb
  spec/controllers/ems_cloud_controller_spec.rb
Owners: none

remove custom styling from svc dialog import/export
  app/assets/stylesheets/application.css
  app/assets/stylesheets/service_dialogs.css
  app/views/miq_ae_customization/_dialog_import_export.html.haml
Owners: @epwinchell

angular form css cleanup
  app/assets/stylesheets/angular.css
Owners: @epwinchell

Add RBAC filter for tenant tree
  app/presenters/tree_builder_ops_rbac.rb
  spec/presenters/tree_builder_ops_rbac_spec.rb
Owners: @skateman

RBAC filter for access tenant detail page in OpsRbac
  app/controllers/ops_controller/ops_rbac.rb
  spec/controllers/ops_controller/ops_rbac_spec.rb
Owners: none

remove outdated schedule editor styling
  app/assets/stylesheets/application.css
  app/assets/stylesheets/schedule_editor.scss
Owners: @epwinchell

.github/CODEOWNERS:

# trees
app/presenters/tree_node/                         @skateman
app/presenters/tree_builder_*                     @skateman
# styling and images
app/assets/stylesheets/                           @epwinchell
app/assets/images/                                @epwinchell
# dialog editor
app/assets/javascripts/controllers/dialog_editor  @romanblanco
app/views/miq_ae_customization/editor.html.haml   @romanblanco
# toolbar buttons
app/helpers/application_helper/button/            @romanblanco @panspagetka
app/helpers/application_helper/toolbar_builder.rb @romanblanco @panspagetka @martinpovolny
# rbac
app/controllers/mixins/checked_id_mixin.rb        @romanblanco @panspagetka
# charts
lib/charting/                                     @panspagetka
lib/report_formatter/c3.rb                        @panspagetka
lib/report_formatter/c3_series.rb                 @panspagetka
lib/report_formatter/chart_common.rb              @panspagetka
app/assets/javascripts/miq_c3.js                  @panspagetka
# topology services
app/services/*topology_service.rb                 @skateman

app/controllers/mixins/custom_buttons.rb          @martinpovolny
app/controllers/mixins/generic_*.rb               @martinpovolny
app/controllers/mixins/more_show_actions.rb       @martinpovolny
app/assets/javascripts/miq_explorer.js            @martinpovolny
app/presenters/explorer_presenter.rb              @martinpovolny
app/helpers/application_helper/button/basic.rb    @martinpovolny
app/helpers/application_helper/toolbar/basic.rb   @martinpovolny
app/presenters/tree_builder.rb                    @martinpovolny
app/presenters/menu/                              @martinpovolny
app/helpers/textual_*rb                           @martinpovolny

# decorators
app/decorators/                                   @skateman
