Repository ManageIQ/manageiq-ui-classic, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skateman, @epwinchell, @romanblanco, @panspagetka, @martinpovolny

Fix 1 failing jasmine spec after upgrade
  spec/javascripts/controllers/catalog/catalog_item_form_controller_spec.js
Owners: none

Jasmine - update to 3.4.0
  config/initializers/assets.rb
  manageiq-ui-classic.gemspec
  spec/javascripts/support/jasmine.yml
Owners: none

Revert "Fix 1 failing jasmine spec after upgrade"
  spec/javascripts/controllers/catalog/catalog_item_form_controller_spec.js
Owners: none

Jasmine, travis - use chrome headless as a backend
  .travis.yml
  manageiq-ui-classic.gemspec
  spec/javascripts/support/jasmine_helper.rb
Owners: none

rake environment jasmine - message about using ?random=false
  Rakefile
Owners: none

Container Projects dashboard fix
  app/assets/javascripts/controllers/alerts/alerts_overview_controller.js
  app/assets/javascripts/controllers/container_dashboard/container_project_dashboard_controller.js
  app/assets/stylesheets/alerts.scss
  app/assets/stylesheets/patternfly_overrides.scss
  app/views/layouts/_center_div_no_listnav.html.haml
  app/views/shared/views/_show_alerts_overview.html.haml
Owners: @epwinchell

Remove x_edit_buttons from Catalog Edit Tags
  app/controllers/catalog_controller.rb
Owners: none

Updates data-driven-forms to latest
  package.json
Owners: none

Adds default options to debounce promise to allow submitting
  app/javascript/helpers/promise-debounce.js
Owners: none

Add specs for tenant product feature in tree node
  spec/presenters/tree_node/miq_product_feature_spec.rb
Owners: none

Update ui-components to 1.2.3
  package.json
Owners: none

Fix error while clicking quadicon after running policy simulation
  config/routes.rb
Owners: none

Display info about unavailable fields while editing report
  app/controllers/report_controller/reports/editor.rb
  app/views/report/_form_columns.html.haml
Owners: none

Add spec to check setting proper string with unavailable fields
  spec/controllers/miq_report_controller/reports/editor_spec.rb
  spec/helpers/report_helper_spec.rb
Owners: none

Fixes name validation when editing
  app/javascript/components/catalog-form/catalog-form.jsx
  app/javascript/components/catalog-form/catalog-form.schema.js
  app/javascript/spec/catalog-form/catalog-form.spec.js
  app/javascript/spec/catalog-form/validator.spec.js
  app/views/catalog/_stcat_form.html.haml
Owners: none

remove old breadcrumb code
  app/assets/stylesheets/alerts.scss
  app/assets/stylesheets/patternfly_overrides.scss
  app/views/layouts/_breadcrumbs.html.haml
  app/views/layouts/_center_div_no_listnav.html.haml
  app/views/layouts/_center_div_with_listnav.html.haml
Owners: @epwinchell

BZ1650396: Add Allocation pools, Nameserver, Host Routes to Subnet UI
  app/assets/javascripts/components/cloud_subnet/cloud-subnet-form.js
  app/controllers/cloud_subnet_controller.rb
  app/helpers/cloud_subnet_helper/textual_summary.rb
  app/views/static/cloud_subnet/cloud-subnet-form.html.haml
  spec/controllers/cloud_subnet_controller_spec.rb
  spec/helpers/cloud_subnet_helper/textual_summary_spec.rb
  spec/javascripts/components/cloud_subnet/cloud_subnet_form_spec.js
Owners: none

Display IDs of VMs,Reports,Result,...
  app/controllers/application_controller.rb
  app/helpers/vm_helper/textual_summary.rb
  app/views/ops/_rbac_group_details.html.haml
  app/views/ops/_rbac_role_details.html.haml
  app/views/ops/_rbac_user_details.html.haml
  app/views/report/_report_info.html.haml
  product/views/MiqReportResult-all.yaml
  product/views/MiqReportResult.yaml
  product/views/MiqWidget.yaml
Owners: none

[Changelog] Update for Sprint 108
  CHANGELOG.md
Owners: none

Add Provider column to Clusters list view Fixes https://bugzilla.redhat.com/show_bug.cgi?id=1692853
  product/views/EmsCluster.yaml
Owners: none

- Add missing routes for updated Provider controllers - Add missing newline
  app/helpers/textual_mixins/ems_common.rb
  app/views/shared/views/ems_common/_show.html.haml
  config/routes.rb
Owners: none

Add Compliance Box to Provider details page Fixes https://bugzilla.redhat.com/show_bug.cgi?id=1518613
  app/controllers/mixins/ems_common.rb
  app/helpers/ems_cloud_helper.rb
  app/helpers/ems_cloud_helper/textual_summary.rb
  app/helpers/ems_infra_helper.rb
  app/helpers/ems_infra_helper/textual_summary.rb
  app/helpers/textual_mixins/ems_common.rb
Owners: none

miqSetToolbarCount - fix setting toolbar counts
  app/assets/javascripts/miq_application.js
  app/assets/javascripts/miq_tree.js
Owners: none

add id to spec file vm_helper/textual_summary_spec.rb
  app/views/ops/_rbac_user_details.html.haml
  spec/helpers/vm_helper/textual_summary_spec.rb
Owners: none

Updated style for Percent Literals per [1] [1] https://github.com/ManageIQ/guides/issues/333
  app/controllers/ems_network_controller.rb
  app/controllers/ems_storage_controller.rb
Owners: none

Remove deprecated Discover Cloud Providers
  app/helpers/application_helper/button/button_new_discover_cloud.rb
  app/views/ems_cloud/discover.html.haml
Owners: @romanblanco, @panspagetka

Fix Travis errors
  app/controllers/ems_network_controller.rb
  app/controllers/ems_storage_controller.rb
Owners: none

Added automatic virtual DOM clean up.
  app/javascript/components/breadcrumbs/index.js
  app/javascript/components/catalog-form/catalog-form.jsx
  app/javascript/components/flavor-form/flavor-form.jsx
  app/javascript/components/service-form/index.jsx
  app/javascript/components/set-service-ownership-form/index.jsx
  app/javascript/components/vm-server-relationship-form/index.jsx
  app/javascript/miq-component/registry.ts
  app/javascript/spec/miq-component/miq-component.spec.js
Owners: none

Fixes breadcrumb when disabling/enabling schedules
  app/controllers/mixins/breadcrumbs_mixin.rb
  app/controllers/ops_controller.rb
  spec/controllers/mixins/breadcrumbs_mixin_spec.rb
  spec/controllers/ops_settings_spec.rb
  spec/controllers/pxe_controller_spec.rb
Owners: none

fix indentation _rbac_role_details.html.haml
  app/views/ops/_rbac_role_details.html.haml
Owners: none

Remove deprecated Discover Cloud Providers
  app/controllers/mixins/actions/host_actions/discover.rb
  spec/controllers/application_controller/ci_processing_spec.rb
Owners: none

Fixed search condition to be an OR condition
  app/controllers/application_controller.rb
  app/views/ops/_rbac_role_details.html.haml
Owners: none

Extract the catalog entrypoint selection from TreeBuilderAutomate
  app/assets/javascripts/miq_tree.js
  app/controllers/catalog_controller.rb
  app/controllers/miq_ae_class_controller.rb
  app/controllers/mixins/sandbox.rb
  app/helpers/automate_tree_helper.rb
  app/presenters/tree_builder_automate.rb
  app/presenters/tree_builder_automate_catalog.rb
  app/presenters/tree_builder_automate_entrypoint.rb
  spec/presenters/tree_builder_automate_catalog_spec.rb
  spec/presenters/tree_builder_automate_spec.rb
Owners: @skateman

Add Compliance Box to Container/Physical Providers detail pages
  app/controllers/ems_container_controller.rb
  app/helpers/ems_container_helper.rb
  app/helpers/ems_container_helper/textual_summary.rb
  app/helpers/ems_physical_infra_helper.rb
  app/helpers/ems_physical_infra_helper/textual_summary.rb
Owners: none

Remove deprecated Discover Cloud Providers drop-down selection
  app/controllers/mixins/actions/host_actions/discover.rb
  app/helpers/application_helper/toolbar/ems_clouds_center.rb
  locale/ManageIQ_UI_Classic.pot
  spec/controllers/ems_cloud_controller_spec.rb
Owners: none

Fix 1 failing jasmine spec after upgrade
  spec/javascripts/controllers/catalog/catalog_item_form_controller_spec.js
Owners: none

Updates data-driven-forms to latest
  package.json
Owners: none

Revert "Fix 1 failing jasmine spec after upgrade"
  spec/javascripts/controllers/catalog/catalog_item_form_controller_spec.js
Owners: none

rake environment jasmine - message about using ?random=false
  Rakefile
Owners: none

Don't shot x_edit_buttons for tagging screen
  app/controllers/application_controller/tags.rb
Owners: none

.github/CODEOWNERS:

# trees
app/presenters/tree_node/                         @skateman
app/presenters/tree_builder_*                     @skateman
# styling and images
app/assets/stylesheets/                           @epwinchell
app/assets/images/                                @epwinchell
# dialog editor
app/assets/javascripts/controllers/dialog_editor  @romanblanco
app/views/miq_ae_customization/editor.html.haml   @romanblanco
# toolbar buttons
app/helpers/application_helper/button/            @romanblanco @panspagetka
app/helpers/application_helper/toolbar_builder.rb @romanblanco @panspagetka @martinpovolny
# rbac
app/controllers/mixins/checked_id_mixin.rb        @romanblanco @panspagetka
# charts
lib/charting/                                     @panspagetka
lib/report_formatter/c3.rb                        @panspagetka
lib/report_formatter/c3_series.rb                 @panspagetka
lib/report_formatter/chart_common.rb              @panspagetka
app/assets/javascripts/miq_c3.js                  @panspagetka
# topology services
app/services/*topology_service.rb                 @skateman

app/controllers/mixins/custom_buttons.rb          @martinpovolny
app/controllers/mixins/generic_*.rb               @martinpovolny
app/controllers/mixins/more_show_actions.rb       @martinpovolny
app/assets/javascripts/miq_explorer.js            @martinpovolny
app/presenters/explorer_presenter.rb              @martinpovolny
app/helpers/application_helper/button/basic.rb    @martinpovolny
app/helpers/application_helper/toolbar/basic.rb   @martinpovolny
app/presenters/tree_builder.rb                    @martinpovolny
app/presenters/menu/                              @martinpovolny
app/helpers/textual_*rb                           @martinpovolny

# decorators
app/decorators/                                   @skateman
