Repository ManageIQ/manageiq-ui-classic, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skateman, @epwinchell, @romanblanco, @panspagetka, @martinpovolny

.github/CODEOWNERS:

# trees
app/presenters/tree_node/                         @skateman
app/presenters/tree_builder_*                     @skateman
# styling and images
app/assets/stylesheets/                           @epwinchell
app/assets/images/                                @epwinchell
# dialog editor
app/assets/javascripts/controllers/dialog_editor  @romanblanco
app/views/miq_ae_customization/editor.html.haml   @romanblanco
# toolbar buttons
app/helpers/application_helper/button/            @romanblanco @panspagetka
app/helpers/application_helper/toolbar_builder.rb @romanblanco @panspagetka @martinpovolny
# rbac
app/controllers/mixins/checked_id_mixin.rb        @romanblanco @panspagetka
# charts
lib/charting/                                     @panspagetka
lib/report_formatter/c3.rb                        @panspagetka
lib/report_formatter/c3_series.rb                 @panspagetka
lib/report_formatter/chart_common.rb              @panspagetka
app/assets/javascripts/miq_c3.js                  @panspagetka
# topology services
app/services/*topology_service.rb                 @skateman

app/controllers/mixins/custom_buttons.rb          @martinpovolny
app/controllers/mixins/generic_*.rb               @martinpovolny
app/controllers/mixins/more_show_actions.rb       @martinpovolny
app/assets/javascripts/miq_explorer.js            @martinpovolny
app/presenters/explorer_presenter.rb              @martinpovolny
app/helpers/application_helper/button/basic.rb    @martinpovolny
app/helpers/application_helper/toolbar/basic.rb   @martinpovolny
app/presenters/tree_builder.rb                    @martinpovolny
app/presenters/menu/                              @martinpovolny
app/helpers/textual_*rb                           @martinpovolny

# decorators
app/decorators/                                   @skateman

Add test for displaying tenant name for Service Catalog Bundle
  spec/views/catalog/_sandt_tree_show.html.haml_spec.rb
Owners: none

Add Tenant name to list view table for Automate Domain
  app/views/miq_ae_class/_ns_list.html.haml
Owners: none

Add Tenant name to Service Catalog Item/Bundle summary page
  app/views/catalog/_sandt_tree_show.html.haml
Owners: none

Expression Editor fix
  app/controllers/application_controller/filter.rb
Owners: none

Drop obsolete argument of generic_x_show as it is never used
  app/controllers/application_controller/explorer.rb
Owners: none

Do not pass the obsolete service tree options to generic_x_show
  app/controllers/service_controller.rb
Owners: none

Reorganize singleton methods in TreeBuilder
  app/presenters/tree_builder.rb
Owners: @martinpovolny

Introducing a DSL for setting tree options in TreeBuilder
  app/presenters/tree_builder.rb
Owners: @martinpovolny

Simplify the condition for checking nodes in TreeBuilderBelongsTo*
  app/presenters/tree_builder_belongs_to_hac.rb
Owners: @skateman

Update ui-components to 1.1.28 for hammer
  package.json
  yarn.lock
Owners: none

Timezone dropdown fix
  app/views/ops/_settings_server_tab.html.haml
Owners: none

Require and permit the :quotas subhash
  app/controllers/ops_controller/ops_rbac.rb
  spec/controllers/ops_controller/ops_rbac_spec.rb
Owners: none

Revoke spec changes to use only leaf classes of emses
  spec/controllers/application_controller/ci_processing_spec.rb
  spec/controllers/application_controller_spec.rb
  spec/controllers/ems_cloud_controller_spec.rb
  spec/controllers/ems_common_controller_spec.rb
  spec/controllers/ems_infra_controller_spec.rb
  spec/controllers/ems_physical_infra_controller_spec.rb
  spec/controllers/ems_storage_controller_spec.rb
  spec/controllers/ops_controller/settings/common_spec.rb
  spec/controllers/ops_controller/settings/schedules_spec.rb
  spec/controllers/orchestration_stack_controller_spec.rb
  spec/controllers/vm_common_spec.rb
  spec/helpers/application_helper/buttons/ems_refresh_spec.rb
  spec/helpers/application_helper/buttons/ems_storage_timeline_spec.rb
  spec/helpers/application_helper/buttons/physical_server_provision_spec.rb
  spec/helpers/application_helper/buttons/set_ownership_spec.rb
  spec/helpers/application_helper/buttons/zone_delete_spec.rb
  spec/helpers/application_helper_spec.rb
  spec/helpers/ems_cloud_helper/textual_summary_spec.rb
  spec/helpers/ems_infra_helper/textual_summary_spec.rb
  spec/helpers/ems_network_helper/textual_summary_spec.rb
  spec/helpers/ems_physical_infra_helper/textual_summary_spec.rb
  spec/helpers/ems_storage_helper/textual_summary_spec.rb
  spec/helpers/generic_object_helper/textual_summary_spec.rb
  spec/helpers/report_helper/editor_spec.rb
  spec/presenters/tree_builder_smartproxy_affinity_spec.rb
  spec/presenters/tree_node/ext_management_system_spec.rb
  spec/services/ems_infra_dashboard_service_spec.rb
  spec/services/topology_service_spec.rb
  spec/views/shared/views/ems_common/_show.html.haml_spec.rb
Owners: none

Refactor datastore fetching in TreeBuilderBelongsTo* trees
  app/presenters/tree_builder_belongs_to_hac.rb
  app/presenters/tree_builder_belongs_to_vat.rb
Owners: @skateman

Custom top-level menu settings: build-in empty value.
  config/settings.yml
Owners: none

Adding custom top-level menu items via settings: review fixes.
  app/presenters/menu/manager.rb
  app/presenters/menu/settings_loader.rb
  app/presenters/menu/yaml_loader.rb
Owners: @martinpovolny

Custom top-level menu items via settings: add specs.
  spec/presenters/menu/menu_manager_spec.rb
  spec/presenters/menu/settings_loader_spec.rb
  spec/support/menu_helper.rb
Owners: none

Allow adding custom top-level menu items via settings.
  app/presenters/menu/item.rb
  app/presenters/menu/manager.rb
  app/presenters/menu/settings_loader.rb
  app/presenters/menu/yaml_loader.rb
  app/views/layouts/_vertical_navbar.html.haml
Owners: @martinpovolny

Jasmine - use hamlit instead of haml
  spec/javascripts/support/jasmine_helper.rb
Owners: none

Removed empty `ng-change`
  app/views/ops/_schedule_form_filter.html.haml
Owners: none

Add a "print" webpack pack, move ui-components css there
  app/assets/stylesheets/print.scss
  app/javascript/packs/print.js
  app/views/layouts/print.html.haml
Owners: @epwinchell

Fix GOD breadcrumbs
  app/assets/javascripts/miq_angular_application.js
  app/controllers/generic_object_definition_controller.rb
  app/controllers/mixins/breadcrumbs_mixin.rb
  app/controllers/mixins/sandbox.rb
  app/views/generic_object_definition/_generic_object_definition_form.html.haml
Owners: none

Make root node fetching for BelongsTo* trees consistent
  app/presenters/tree_builder_belongs_to_hac.rb
  spec/presenters/tree_builder_belongs_to_hac_spec.rb
Owners: @skateman

Add /favicon.ico route to redirect to the right miq_favicon_path
  app/controllers/static_controller.rb
  app/helpers/application_helper.rb
  config/routes.rb
Owners: none

Simplify the override conditions in TreeBuilderBelongsToVat
  app/presenters/tree_builder_belongs_to_vat.rb
Owners: @skateman

Set product_name and product_name_full as global javascript variable
  app/views/layouts/application.html.haml
Owners: none

Custom top-level menu items are not on RBAC tree root level.
  app/presenters/tree_builder_ops_rbac_features.rb
Owners: @skateman

Added Price to Catalog Items.
  app/assets/javascripts/controllers/catalog/catalog_item_form_controller.js
  app/assets/javascripts/controllers/playbook-reusable-code-mixin.js
  app/controllers/catalog_controller.rb
  app/views/catalog/_form_basic_info.html.haml
  app/views/catalog/_sandt_tree_show.html.haml
  app/views/catalog/_st_angular_form.html.haml
  app/views/catalog/_svccat_tree_show.html.haml
  spec/javascripts/controllers/catalog/catalog_item_form_controller_spec.js
Owners: none

YOLO try rails 5.1
  bin/setup
Owners: none

Display container Map Tag delete confirmation message
  app/controllers/ops_controller/settings/label_tag_mapping.rb
  app/views/ops/_label_tag_mapping_form.html.haml
Owners: none

Initial changes for DDR React form to clone dashboard to other groups
  app/controllers/report_controller.rb
  app/controllers/report_controller/dashboards.rb
  app/helpers/application_helper/toolbar/miq_widget_set_center.rb
  app/helpers/application_helper/toolbar/miq_widget_sets_center.rb
  app/javascript/components/copy-dashboard-form/copy-dashboard-form.jsx
  app/javascript/components/copy-dashboard-form/copy-dashboard-form.schema.js
  app/javascript/packs/component-definitions-common.js
  app/views/report/_copy_dashboard.html.haml
  config/routes.rb
Owners: none

allow deletion of custom super_admin users Fixes https://bugzilla.redhat.com/show_bug.cgi?id=1720273
  app/controllers/ops_controller/ops_rbac.rb
  spec/controllers/ops_controller/ops_rbac_spec.rb
Owners: none

update-version-react-ui
  package.json
Owners: none

Remove obsolete settings:workers spec
  spec/controllers/ops_controller/settings/common_spec.rb
Owners: none

Tests for Workers form component
  app/javascript/spec/workers-form/helpers.test.js
  app/javascript/spec/workers-form/numeral-helpers.test.js
  app/javascript/spec/workers-form/workers-form.spec.js
  package.json
Owners: none

Do not show x_edit_buttons buttons when workers_settings
  app/controllers/ops_controller.rb
Owners: none

Add dualgroup component
  app/javascript/components/dual-group/index.jsx
  app/javascript/spec/dual-group/__snapshots__/dual-group.test.js.snap
  app/javascript/spec/dual-group/dual-group.test.js
Owners: none

Convert Workers form to DDF
  app/javascript/components/workers-form/helpers.jsx
  app/javascript/components/workers-form/workers-form.jsx
  app/javascript/components/workers-form/workers.schema.js
  app/javascript/forms/mappers/formsFieldsMapper.jsx
  app/javascript/packs/component-definitions-common.js
  app/javascript/spec/workers-form/numeral-helpers.test.js
Owners: none

Tests for workers form helpers
  app/javascript/spec/workers-form/helpers.spec.js
Owners: none

Remove haml workers form
  app/controllers/ops_controller.rb
  app/controllers/ops_controller/settings/common.rb
  app/views/ops/_settings_workers_tab.html.haml
  spec/controllers/ops_controller/settings/common_spec.rb
Owners: none
