Repository ManageIQ/manageiq-ui-classic, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skateman, @epwinchell, @romanblanco, @panspagetka, @martinpovolny

Remove control-labelimage class
  app/assets/stylesheets/patternfly_overrides.scss
  app/views/catalog/_svccat_tree_show.html.haml
  app/views/ops/_selected_by_servers.html.haml
Owners: @epwinchell

Try to create a dashboard without needed fields
  spec/controllers/miq_report_controller/dashboards_spec.rb
Owners: none

Compare Treegrid fix
  app/views/layouts/_compare.html.haml
Owners: none

Update toolbar snapshots for react-ui-components 0.11.56
  app/javascript/spec/toolbar/__snapshots__/miq-toolbar.spec.jsx.snap
  package.json
Owners: none

Add fallback for clicking on a section w/o permissions.
  app/controllers/dashboard_controller.rb
Owners: none

Sprints 122,123, and 124
  CHANGELOG.md
Owners: none

Reskin the Toolbars with PF4 styling
  app/assets/stylesheets/application.css
  app/assets/stylesheets/pf4_skinning.scss
Owners: @epwinchell

Merge pull request #6388 from himdel/bz1769968-dialog-editor-id
  app/controllers/infra_networking_controller.rb
  app/controllers/vm_common.rb
  app/helpers/miq_ae_customization_helper.rb
  app/presenters/explorer_presenter.rb
  spec/presenters/explorer_presenter_spec.rb
Owners: @martinpovolny

Display icons in GTLs on PXE screens
  app/controllers/application_controller.rb
Owners: none

Return 400 if there's no task.id
  app/controllers/dashboard_controller.rb
  app/javascript/angular/dashboard/widget-wrapper.js
Owners: none

content contains nil instead of empty string
  app/controllers/dashboard_controller.rb
Owners: none

Remove Refresh button from Dashboard Widget that are type of menu
  app/presenters/widget_presenter.rb
Owners: none

Fix success message
  app/javascript/angular/dashboard/widget-wrapper.js
Owners: none

Add API to Widget spec
  app/javascript/spec/dashboard/widget-empty.spec.js
  app/javascript/spec/dashboard/widget-wrapper.spec.js
Owners: none

Move blank logic to http endpoint
  app/controllers/dashboard_controller.rb
  app/javascript/angular/dashboard/widget-wrapper.js
  app/views/dashboard/_widget.html.haml
Owners: none

Add Refresh button to individual Dashboard Widget
  app/controllers/dashboard_controller.rb
  app/javascript/angular/dashboard/dropdown-menu.js
  app/javascript/angular/dashboard/widget-wrapper.js
  app/presenters/widget_presenter.rb
  config/routes.rb
Owners: none

Change task to task_id
  app/controllers/dashboard_controller.rb
  app/javascript/angular/dashboard/widget-wrapper.js
Owners: none

Use MiqTask id returned by queue_generate_content instead of using last MiqTask and hoping for the best :D
  app/controllers/dashboard_controller.rb
Owners: none

Use boolean instead of string in json
  app/controllers/dashboard_controller.rb
  app/javascript/angular/dashboard/widget-wrapper.js
Owners: none

Do not call widget.contents_for_user(current_user) twice
  app/controllers/dashboard_controller.rb
Owners: none

Move refresh button logic to widget-wrapper
  app/javascript/angular/dashboard/dropdown-menu.js
  app/javascript/angular/dashboard/widget-wrapper.js
  app/javascript/spec/dashboard/widget-empty.spec.js
Owners: none

Fix specs to use boollean, null and empty array
  app/javascript/spec/dashboard/widget-empty.spec.js
  app/javascript/spec/dashboard/widget-wrapper.spec.js
Owners: none

Add catch exception when loading dialogs https://bugzilla.redhat.com/show_bug.cgi?id=1729111
  app/controllers/application_controller/miq_request_methods.rb
Owners: none

Modify prov_field_changed for src_vm_id to could be array or int
  app/controllers/application_controller/miq_request_methods.rb
Owners: none

Fix error message format to go with handleFailure
  app/controllers/dashboard_controller.rb
Owners: none

Move spinner into widget and rewrite its content in case of failure/success
  app/javascript/angular/dashboard/widget-wrapper.js
  app/presenters/widget_presenter.rb
Owners: none

Make RHEV provision fix prettier
  app/controllers/application_controller/miq_request_methods.rb
Owners: none

Use refresh instead of id magic
  app/javascript/angular/dashboard/widget-wrapper.js
Owners: none

Do not call function right away, wait for the Promise
  app/javascript/angular/dashboard/widget-wrapper.js
Owners: none

DialogUser - use DialogData.outputConversion before submit
  app/assets/javascripts/controllers/dialog_user/dialog_user_controller.js
  app/assets/javascripts/controllers/dialog_user/dialog_user_reconfigure_controller.js
Owners: none

DialogUser specs - mock DialogData.data
  spec/javascripts/controllers/dialog_user/dialog_user_controller.spec.js
  spec/javascripts/services/dialog_field_refresh_service_spec.js
Owners: none

dialog_field_refresh_service_spec - fix spec failures from dialog data being a string
  spec/javascripts/services/dialog_field_refresh_service_spec.js
Owners: none

dialogFieldRefreshService#refreshField - use outputConversion, try to unify with SUI
  app/assets/javascripts/services/dialog_field_refresh_service.js
Owners: none

spec:javascript - shim Object.values
  spec/javascripts/helpers/object.values.js
  spec/javascripts/support/jasmine.yml
Owners: none

Update ui-components to 1.1.36 for hammer
  package.json
  yarn.lock
Owners: none

Move compare/drift styling into a separate file
  app/assets/stylesheets/application.css
  app/assets/stylesheets/compare_drift.scss
  app/assets/stylesheets/patternfly_overrides.scss
Owners: @epwinchell

Merge pull request #6207 from PanSpagetka/catalog-rhev-provision
  app/controllers/application_controller/miq_request_methods.rb
Owners: none

WIP
  app/helpers/gtl_helper.rb
  app/javascript/components/gtl-view.jsx
  app/javascript/packs/component-definitions-common.js
Owners: none

Use PreventDefault instead of href:'javascript:;' monkey patch
  app/javascript/angular/dashboard/dropdown-menu.js
  app/javascript/angular/dashboard/widget-wrapper.js
  app/presenters/widget_presenter.rb
Owners: none

Remove unnecessary one-liner alias functions from Compare/Drift
  app/controllers/application_controller/compare.rb
Owners: none

.github/CODEOWNERS:

# trees
app/presenters/tree_node/                         @skateman
app/presenters/tree_builder_*                     @skateman
# styling and images
app/assets/stylesheets/                           @epwinchell
app/assets/images/                                @epwinchell
# dialog editor
app/assets/javascripts/controllers/dialog_editor  @romanblanco
app/views/miq_ae_customization/editor.html.haml   @romanblanco
# toolbar buttons
app/helpers/application_helper/button/            @romanblanco @panspagetka
app/helpers/application_helper/toolbar_builder.rb @romanblanco @panspagetka @martinpovolny
# rbac
app/controllers/mixins/checked_id_mixin.rb        @romanblanco @panspagetka
# charts
lib/charting/                                     @panspagetka
lib/report_formatter/c3.rb                        @panspagetka
lib/report_formatter/c3_series.rb                 @panspagetka
lib/report_formatter/chart_common.rb              @panspagetka
app/assets/javascripts/miq_c3.js                  @panspagetka
# topology services
app/services/*topology_service.rb                 @skateman

app/controllers/mixins/custom_buttons.rb          @martinpovolny
app/controllers/mixins/generic_*.rb               @martinpovolny
app/controllers/mixins/more_show_actions.rb       @martinpovolny
app/assets/javascripts/miq_explorer.js            @martinpovolny
app/presenters/explorer_presenter.rb              @martinpovolny
app/helpers/application_helper/button/basic.rb    @martinpovolny
app/helpers/application_helper/toolbar/basic.rb   @martinpovolny
app/presenters/tree_builder.rb                    @martinpovolny
app/presenters/menu/                              @martinpovolny
app/helpers/textual_*rb                           @martinpovolny

# decorators
app/decorators/                                   @skateman
