Repository ManageIQ/manageiq-ui-classic, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skateman, @epwinchell, @romanblanco, @panspagetka, @martinpovolny

.github/CODEOWNERS:

# trees
app/presenters/tree_node/                         @skateman
app/presenters/tree_builder_*                     @skateman
# styling and images
app/assets/stylesheets/                           @epwinchell
app/assets/images/                                @epwinchell
# dialog editor
app/assets/javascripts/controllers/dialog_editor  @romanblanco
app/views/miq_ae_customization/editor.html.haml   @romanblanco
# toolbar buttons
app/helpers/application_helper/button/            @romanblanco @panspagetka
app/helpers/application_helper/toolbar_builder.rb @romanblanco @panspagetka @martinpovolny
# rbac
app/controllers/mixins/checked_id_mixin.rb        @romanblanco @panspagetka
# charts
lib/charting/                                     @panspagetka
lib/report_formatter/c3.rb                        @panspagetka
lib/report_formatter/c3_series.rb                 @panspagetka
lib/report_formatter/chart_common.rb              @panspagetka
app/assets/javascripts/miq_c3.js                  @panspagetka
# topology services
app/services/*topology_service.rb                 @skateman

app/controllers/mixins/custom_buttons.rb          @martinpovolny
app/controllers/mixins/generic_*.rb               @martinpovolny
app/controllers/mixins/more_show_actions.rb       @martinpovolny
app/assets/javascripts/miq_explorer.js            @martinpovolny
app/presenters/explorer_presenter.rb              @martinpovolny
app/helpers/application_helper/button/basic.rb    @martinpovolny
app/helpers/application_helper/toolbar/basic.rb   @martinpovolny
app/presenters/tree_builder.rb                    @martinpovolny
app/presenters/menu/                              @martinpovolny
app/helpers/textual_*rb                           @martinpovolny

# decorators
app/decorators/                                   @skateman

Update version of react-ui-component
  package.json
Owners: none

Add specs for Tagging Middleware
  app/javascript/miq-redux/middleware.js
  app/javascript/spec/miq-redux/middleware.spec.js
Owners: none

Fix specs for Ops Tagging
  spec/controllers/ops_controller/ops_rbac_spec.rb
Owners: none

Display info text if no tags are assigned to group
  app/views/ops/rbac_group/_customer_tags.html.haml
Owners: none

Ops rbac tagging cleanup
  app/controllers/ops_controller/ops_rbac.rb
  spec/controllers/ops_controller/ops_rbac_spec.rb
Owners: none

Send request after Tag Select/Remove
  app/controllers/ops_controller/ops_rbac.rb
  app/javascript/components/taggingWrapper.jsx
  app/javascript/miq-redux/middleware.js
  app/views/ops/rbac_group/_customer_tags.html.haml
Owners: none

Remove unused import
  app/javascript/components/taggingWrapper.jsx
Owners: none

Hide buttons for Ops RBAC
  app/javascript/components/taggingWrapper.jsx
Owners: none

Fix redirect issue during creating new group
  app/controllers/ops_controller/ops_rbac.rb
Owners: none

Do not build the configured systems tree twice for advanced search
  app/controllers/application_controller/advanced_search.rb
  spec/controllers/application_controller/advanced_search_spec.rb
Owners: none

Build trees from the features hash instead of the build*tree methods
  app/controllers/application_controller/explorer.rb
Owners: none

Make settings/diagnostic trees rebuild consistent upon server delete
  app/controllers/ops_controller/diagnostics.rb
Owners: none

Drop the no longer used TreeBuilderTags :scissors: :fire: :toilet:
  app/presenters/tree_builder_tags.rb
  spec/presenters/tree_builder_tags_spec.rb
  spec/views/ops/_rbac_group_details.html.haml_spec.rb
Owners: @skateman

Mark build_reports_tree with FIXME as it stays in the old style
  app/controllers/application_controller/explorer.rb
  app/controllers/report_controller/reports.rb
Owners: none

Delete unnecessary build*tree methods :scissors: :fire: :toilet:
  app/controllers/automation_manager_controller.rb
  app/controllers/catalog_controller.rb
  app/controllers/miq_ae_class_controller.rb
  app/controllers/miq_ae_customization_controller.rb
  app/controllers/ops_controller/db.rb
  app/controllers/ops_controller/diagnostics.rb
  app/controllers/ops_controller/ops_rbac.rb
  app/controllers/ops_controller/settings/common.rb
  app/controllers/provider_foreman_controller.rb
  app/controllers/pxe_controller/iso_datastores.rb
  app/controllers/pxe_controller/pxe_customization_templates.rb
  app/controllers/pxe_controller/pxe_image_types.rb
  app/controllers/pxe_controller/pxe_servers.rb
  app/controllers/report_controller.rb
  app/controllers/report_controller/dashboards.rb
  app/controllers/report_controller/saved_reports.rb
  app/controllers/report_controller/schedules.rb
  app/controllers/report_controller/widgets.rb
  app/controllers/service_controller.rb
  app/controllers/storage_controller/storage_d.rb
  app/controllers/storage_controller/storage_pod.rb
  spec/controllers/provider_foreman_controller_spec.rb
Owners: none

component definitions - sort import and components
  app/javascript/packs/component-definitions-common.js
Owners: none

Replace Policy Action tagging tree with a dropdown menu
  app/controllers/miq_policy_controller.rb
  app/controllers/miq_policy_controller/miq_actions.rb
  app/views/miq_policy/_action_options.html.haml
Owners: none

Drop the TreeBuilderMiqActionCategory as it is no longer used
  app/presenters/tree_builder_miq_action_category.rb
  spec/presenters/tree_builder_miq_action_category_spec.rb
Owners: @skateman

Get current_tenant in tree not via params
  app/controllers/miq_policy_controller/miq_actions.rb
  app/presenters/tree_builder_miq_action_category.rb
Owners: @skateman

Remove deprecated Optimize Planning default menu
  app/controllers/application_controller.rb
  app/controllers/application_controller/performance.rb
  app/controllers/application_controller/performance/options.rb
  app/controllers/planning_controller.rb
  app/helpers/application_helper.rb
  app/helpers/application_helper/button/utilization_download.rb
  app/helpers/application_helper/page_layouts.rb
  app/helpers/application_helper/title.rb
  app/helpers/application_helper/toolbar_chooser.rb
  app/helpers/planning_helper.rb
  app/views/planning/_planning_instructions.html.haml
  app/views/planning/_planning_options.html.haml
  app/views/planning/_planning_report.html.haml
  app/views/planning/_planning_summary.html.haml
  app/views/planning/_planning_tabs.html.haml
  app/views/planning/_planning_vm_profile.html.haml
  app/views/planning/index.html.haml
  config/routes.rb
  lib/report_formatter/chart_common.rb
  locale/ManageIQ_UI_Classic.pot
  spec/controllers/application_controller/performance_spec.rb
  spec/controllers/planning_controller_spec.rb
  spec/helpers/application_helper/title_spec.rb
  spec/helpers/application_helper/toolbar_chooser_spec.rb
  spec/routing/planning_routing_spec.rb
Owners: @romanblanco, @panspagetka

Remove deprecated Optimize Bottlenecks function code
  app/controllers/application_controller.rb
  app/controllers/mixins/sandbox.rb
  app/controllers/utilization_controller.rb
  app/helpers/application_helper/button/utilization_download.rb
  app/helpers/application_helper/page_layouts.rb
  app/helpers/application_helper/title.rb
  app/helpers/application_helper/toolbar_chooser.rb
  app/presenters/tree_builder.rb
  app/views/bottlenecks/_bottlenecks_options.html.haml
  app/views/bottlenecks/_bottlenecks_report.html.haml
  app/views/bottlenecks/_bottlenecks_summary.html.haml
  app/views/bottlenecks/_bottlenecks_tabs.html.haml
  app/views/bottlenecks/_bottlenecks_tl_detail.html.haml
  app/views/bottlenecks/index.html.haml
  config/routes.rb
  lib/report_formatter/timeline.rb
  locale/ManageIQ_UI_Classic.pot
  spec/controllers/bottlenecks_controller_spec.rb
  spec/helpers/application_helper/buttons/utilization_download_spec.rb
  spec/helpers/application_helper/title_spec.rb
  spec/helpers/application_helper/toolbar_chooser_spec.rb
  spec/lib/report_formater/timeline_spec.rb
Owners: @romanblanco, @panspagetka, @martinpovolny

Remove deprecated Bottlenecks controller in Optimize Bottlenecks menu
  app/controllers/bottlenecks_controller.rb
Owners: none

fixed to show "Required" text for Selection field
  app/views/static/ae_resolve_options/ae-resolve-options.html.haml
Owners: none

spec_helper - load MiqHashStruct
  spec/spec_helper.rb
Owners: none

Updated form schemas for amazon and azure cloud providers.
  app/javascript/components/cloud-provider/cloud-azure-provider.schema.js
  app/javascript/components/cloud-provider/cloud-ec2-provider.schema.js
  app/javascript/components/cloud-provider/cloud-openstack-provider.schema.js
  app/javascript/components/cloud-provider/cloud-provider-form.jsx
  app/javascript/components/cloud-provider/cloud-provider-form.schema.js
Owners: none

Adds tests for Cloud Network Form
  app/javascript/spec/cloud-network-form/__snapshots__/cloud-network-form.spec.js.snap
  app/javascript/spec/cloud-network-form/cloud-network-form.spec.js
Owners: none

CloudNetwork form data-driven-form component
  app/javascript/components/cloud-network-form/cloud-network-form.jsx
  app/javascript/components/cloud-network-form/cloud-network-form.schema.js
  app/javascript/helpers/handle-failure.js
  app/javascript/helpers/miq-flash-clear.js
  app/javascript/helpers/miq-flash.js
  app/javascript/helpers/network-providers.js
  app/javascript/packs/component-definitions-common.js
  app/views/cloud_network/edit.html.haml
  app/views/cloud_network/new.html.haml
Owners: none

Removes Angular Cloud Network Form
  app/assets/javascripts/components/cloud_network/cloud-network-form.js
  app/views/cloud_network/edit.html.haml
  app/views/cloud_network/new.html.haml
  app/views/static/cloud_network/cloud-network-form.html.haml
  spec/javascripts/components/cloud_network/cloud_network_form_spec.js
Owners: none

Make Organization required on RHN updates upon 1+ available orgs
  app/controllers/ops_controller/settings/rhn.rb
  spec/controllers/ops_controller/settings/common_spec.rb
Owners: none

Fix condition to enable/disable open_url for CustomButton
  app/controllers/application_controller/buttons.rb
Owners: none

Fix specs to use "Vm" instead of "Vm and Instance" and add few disabled_open_url checks
  spec/controllers/application_controller/buttons_spec.rb
Owners: none

update tab name for belongsto filter
  app/helpers/application_helper/title.rb
  app/views/ops/_rbac_group_details.html.haml
Owners: none

Remove the replication exclude tables
  app/assets/javascripts/controllers/ops/pglogical_replication_form_controller.js
  app/controllers/ops_controller/settings/common.rb
  app/views/ops/_settings_replication_tab.html.haml
  spec/controllers/ops_controller/settings/common_spec.rb
  spec/javascripts/controllers/ops/pglogical_replication_form_controller_spec.js
Owners: none

Replace option[:open_nodes].push with open_node in TreeBuilders
  app/presenters/tree_builder_iso_datastores.rb
  app/presenters/tree_builder_ops_vmdb.rb
  app/presenters/tree_builder_pxe_servers.rb
  app/presenters/tree_builder_report_reports.rb
Owners: @skateman

Drop the _options argument from TreeBuilder methods for kid fetch
  app/presenters/tree_builder_iso_datastores.rb
  app/presenters/tree_builder_ops_vmdb.rb
  app/presenters/tree_builder_pxe_servers.rb
Owners: @skateman

Drop the unused options/type params from TreeKids#_xget_tree_kids
  app/presenters/tree_builder.rb
  app/presenters/tree_kids.rb
Owners: @martinpovolny

Convert ldaphost in trusted forests to string to avoid exceptions
  app/views/ops/_ldap_forest_entries.html.haml
Owners: none

Removed 'type' argument passed to the tree builder
  app/controllers/miq_policy_controller/alert_profiles.rb
  spec/controllers/miq_policy_controller/alert_profiles_spec.rb
Owners: none

Fix highlighting the condition in accordion after editing it
  app/presenters/tree_builder_condition.rb
Owners: @skateman

Add support for PF4 styling through webpack
  app/assets/stylesheets/patternfly_overrides.scss
  app/javascript/packs/application-common.js
  app/stylesheet/application-webpack.scss
  package.json
Owners: @epwinchell
