Repository ManageIQ/manageiq-ui-classic, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skateman, @epwinchell, @romanblanco, @panspagetka, @martinpovolny

Display the missing Main Configuration in the RBAC roles tree
  app/presenters/tree_builder_ops_rbac_features.rb
Owners: @skateman

Rename Settings to User Settings in the RBAC tree
  app/presenters/menu/default_menu.rb
Owners: @martinpovolny

Merge pull request #5481 from hstastna/Error_when_clicking_created_Catalog_Item
  app/controllers/catalog_controller.rb
Owners: none

Merge pull request #5176 from h-kataria/datetime_field_expression_fix
  app/controllers/application_controller/filter/expression.rb
  spec/controllers/application_controller/filter/expression_spec.rb
Owners: none

Merge pull request #5503 from bmclaughlin/fix-expression-editor-error
  app/controllers/application_controller/filter/expression.rb
  spec/controllers/application_controller/filter/expression_spec.rb
Owners: none

Lock bootstrap-switch to 3.3.4
  package.json
Owners: none

[Changelog] Update for Sprint 110
  CHANGELOG.md
Owners: none

Unify sorting in GOD of Button Groups
  app/views/generic_object_definition/_show_actions.html.haml
Owners: none

Fixed a typo introduced in e788bd7fac48704d6637c0e5aa7ef71f68ba663a
  app/controllers/miq_policy_controller/alerts.rb
Owners: none

Update ui-components to 1.1.25 for hammer
  package.json
  yarn.lock
Owners: none

Move methods related to report menu editing into a ReportHelper
  app/controllers/application_controller.rb
  app/helpers/report_helper.rb
Owners: none

Make ReportHelper#reports_group_title free from controller's context
  app/helpers/report_helper.rb
Owners: none

Use ReportHelper#reports_group_title instead of grp_title from sandbox
  app/controllers/report_controller/menus.rb
  app/controllers/report_controller/reports/editor.rb
  app/controllers/report_controller/saved_reports.rb
  app/helpers/report_helper.rb
  app/views/report/_report_list.html.haml
Owners: none

Review response: avoiding string arithmetics, sending full message
  app/views/ems_cloud/show_list.html.haml
  app/views/ems_container/show_list.html.haml
  app/views/ems_infra/show_list.html.haml
  app/views/ems_network/show_list.html.haml
  app/views/ems_physical_infra/show_list.html.haml
  app/views/layouts/_empty.html.haml
Owners: none

Link provider-specific documentation
  app/views/ems_cloud/show_list.html.haml
  app/views/ems_container/show_list.html.haml
  app/views/ems_infra/show_list.html.haml
  app/views/ems_network/show_list.html.haml
  app/views/ems_physical_infra/show_list.html.haml
  app/views/layouts/_empty.html.haml
Owners: none

Adding a welcoming page prompting to add a Provider
  app/views/ems_cloud/show_list.html.haml
  app/views/ems_container/show_list.html.haml
  app/views/ems_infra/show_list.html.haml
  app/views/ems_network/show_list.html.haml
  app/views/ems_physical_infra/show_list.html.haml
  app/views/layouts/_empty.html.haml
  config/routes.rb
Owners: none

Making the empty state fullscreen
  app/helpers/application_helper/page_layouts.rb
  app/views/layouts/_empty.html.haml
Owners: none

Review response: added missing Ansible Tower Provider
  app/views/automation_manager/explorer.html.haml
  app/views/layouts/_empty.html.haml
Owners: none

Fix squash button on Policy Simulation tree Fixes https://bugzilla.redhat.com/show_bug.cgi?id=1690572
  app/assets/javascripts/miq_explorer.js
  app/controllers/miq_policy_controller/rsop.rb
  app/controllers/vm_common.rb
  app/presenters/explorer_presenter.rb
  app/views/miq_policy/_rsop_results.html.haml
  app/views/vm_common/_policies.html.haml
  spec/controllers/vm_common_spec.rb
Owners: @martinpovolny

Corrected specs and Rubocop offenses
  app/helpers/application_helper/page_layouts.rb
  spec/controllers/ems_cloud_controller_spec.rb
Owners: none

Added spec for empty provider screen
  spec/controllers/ems_cloud_controller_spec.rb
Owners: none

Review response: added missing Configuration Management Provider
  app/views/provider_foreman/explorer.html.haml
Owners: none

initial commit.
  app/javascript/components/async-credentials/async-credentials.jsx
  app/javascript/components/cloud-provider/cloud-azure-provider.schema.js
  app/javascript/components/cloud-provider/cloud-ec2-provider.schema.js
  app/javascript/components/cloud-provider/cloud-openstack-provider.schema.js
  app/javascript/components/cloud-provider/cloud-provider-form.jsx
  app/javascript/components/cloud-provider/cloud-provider-form.schema.js
  app/javascript/components/cloud-provider/cloud-provider-helper.js
  app/javascript/components/cloud-provider/cloud-vmware-provider.schema.js
  app/javascript/components/cloud-provider/validators.js
  app/javascript/components/miq-wizard/index.jsx
  app/javascript/components/miq-wizard/provider-icon.jsx
  app/javascript/components/miq-wizard/step-buttons.jsx
  app/javascript/components/miq-wizard/wizard-step.jsx
  app/javascript/forms/data-driven-form.jsx
  app/javascript/forms/mappers/formsFieldsMapper.jsx
  app/javascript/packs/component-definitions-common.js
  app/views/ems_cloud/new.html.haml
  app/views/shared/views/ems_common/angular/_form.html.haml
  package.json
Owners: none

Replace the Red Hat logo with the new one
  app/assets/images/svg/vendor-redhat.svg
Owners: @epwinchell

action_build_alert_choices - fix wrong argument order
  app/controllers/miq_policy_controller/miq_actions.rb
Owners: none

Make the custom reports tree node blue again
  app/presenters/tree_builder_report_reports.rb
  spec/presenters/tree_builder_report_reports_spec.rb
Owners: @skateman

Merge pull request #5524 from skateman/hammer-rh-logo
  app/assets/images/svg/vendor-redhat.svg
Owners: @epwinchell

Fix nil:nilClass error by finding Classification by id Fixes https://bugzilla.redhat.com/show_bug.cgi?id=1696697
  app/views/miq_request/_request_dialog_details.html.haml
  app/views/miq_request/_st_prov_show.html.haml
  app/views/shared/dialogs/_dialog_field.html.haml
Owners: none

Add gtl_url to vm_common
  app/controllers/vm_common.rb
Owners: none

Merge pull request #5526 from bmclaughlin/validate-classification
  app/views/miq_request/_request_dialog_details.html.haml
  app/views/miq_request/_st_prov_show.html.haml
  app/views/shared/dialogs/_dialog_field.html.haml
Owners: none

Fix fourth param to be Hash for TreeBuilderMiqActionCategory call
  app/controllers/miq_policy_controller/miq_actions.rb
Owners: none

Add read only Tag View component for Ops RBAC
  app/controllers/ops_controller/ops_rbac.rb
  app/javascript/packs/component-definitions-common.js
  app/views/ops/rbac_group/_customer_tags.html.haml
Owners: none

Add Edit Tags to Ops RBAC
  app/controllers/ops_controller/ops_rbac.rb
  app/views/layouts/_x_edit_buttons.html.haml
  app/views/ops/rbac_group/_customer_tags.html.haml
Owners: none

Build the ansible/foreman trees without sending the obsolete type
  app/controllers/application_controller/advanced_search.rb
  app/controllers/application_controller/explorer.rb
  app/controllers/automation_manager_controller.rb
  app/controllers/provider_foreman_controller.rb
Owners: none

Warn about outdated belongsto filters where group is edited - ops_rbac
  app/controllers/ops_controller/ops_rbac.rb
Owners: none

Display warning in detail of group if outdated belongsto filter are present - ops_rbac.rb
  app/controllers/ops_controller/ops_rbac.rb
  app/views/ops/_rbac_group_details.html.haml
Owners: none

Inform user that outdated filteres were removed after saving group - ops_rbac
  app/controllers/ops_controller/ops_rbac.rb
Owners: none

when group is edited then update @edit in order to remove outdated belongsto filters, to remove them on saving a group.
  app/controllers/ops_controller/ops_rbac.rb
Owners: none

Add specs
  spec/controllers/ops_controller/ops_rbac_spec.rb
Owners: none

Add FIXME comments in the modern JS that uses jQuery
  app/javascript/components/taggingWrapper.jsx
  app/javascript/react/textual_summary_click.js
Owners: none

.github/CODEOWNERS:

# trees
app/presenters/tree_node/                         @skateman
app/presenters/tree_builder_*                     @skateman
# styling and images
app/assets/stylesheets/                           @epwinchell
app/assets/images/                                @epwinchell
# dialog editor
app/assets/javascripts/controllers/dialog_editor  @romanblanco
app/views/miq_ae_customization/editor.html.haml   @romanblanco
# toolbar buttons
app/helpers/application_helper/button/            @romanblanco @panspagetka
app/helpers/application_helper/toolbar_builder.rb @romanblanco @panspagetka @martinpovolny
# rbac
app/controllers/mixins/checked_id_mixin.rb        @romanblanco @panspagetka
# charts
lib/charting/                                     @panspagetka
lib/report_formatter/c3.rb                        @panspagetka
lib/report_formatter/c3_series.rb                 @panspagetka
lib/report_formatter/chart_common.rb              @panspagetka
app/assets/javascripts/miq_c3.js                  @panspagetka
# topology services
app/services/*topology_service.rb                 @skateman

app/controllers/mixins/custom_buttons.rb          @martinpovolny
app/controllers/mixins/generic_*.rb               @martinpovolny
app/controllers/mixins/more_show_actions.rb       @martinpovolny
app/assets/javascripts/miq_explorer.js            @martinpovolny
app/presenters/explorer_presenter.rb              @martinpovolny
app/helpers/application_helper/button/basic.rb    @martinpovolny
app/helpers/application_helper/toolbar/basic.rb   @martinpovolny
app/presenters/tree_builder.rb                    @martinpovolny
app/presenters/menu/                              @martinpovolny
app/helpers/textual_*rb                           @martinpovolny

# decorators
app/decorators/                                   @skateman
