Repository ManageIQ/manageiq-ui-classic, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skateman, @epwinchell, @romanblanco, @panspagetka, @martinpovolny

.github/CODEOWNERS:

# trees
app/presenters/tree_node/                         @skateman
app/presenters/tree_builder_*                     @skateman
# styling and images
app/assets/stylesheets/                           @epwinchell
app/assets/images/                                @epwinchell
# dialog editor
app/assets/javascripts/controllers/dialog_editor  @romanblanco
app/views/miq_ae_customization/editor.html.haml   @romanblanco
# toolbar buttons
app/helpers/application_helper/button/            @romanblanco @panspagetka
app/helpers/application_helper/toolbar_builder.rb @romanblanco @panspagetka @martinpovolny
# rbac
app/controllers/mixins/checked_id_mixin.rb        @romanblanco @panspagetka
# charts
lib/charting/                                     @panspagetka
lib/report_formatter/c3.rb                        @panspagetka
lib/report_formatter/c3_series.rb                 @panspagetka
lib/report_formatter/chart_common.rb              @panspagetka
app/assets/javascripts/miq_c3.js                  @panspagetka
# topology services
app/services/*topology_service.rb                 @skateman

app/controllers/mixins/custom_buttons.rb          @martinpovolny
app/controllers/mixins/generic_*.rb               @martinpovolny
app/controllers/mixins/more_show_actions.rb       @martinpovolny
app/assets/javascripts/miq_explorer.js            @martinpovolny
app/presenters/explorer_presenter.rb              @martinpovolny
app/helpers/application_helper/button/basic.rb    @martinpovolny
app/helpers/application_helper/toolbar/basic.rb   @martinpovolny
app/presenters/tree_builder.rb                    @martinpovolny
app/presenters/menu/                              @martinpovolny
app/helpers/textual_*rb                           @martinpovolny

# decorators
app/decorators/                                   @skateman

vm_common#reload spec - prevent sporadic failure when folder id matches vm id
  spec/controllers/vm_common_spec.rb
Owners: none

Update ui-components to 1.2.7
  package.json
Owners: none

Update ui-components to 1.1.29 for hammer
  package.json
  yarn.lock
Owners: none

Merge pull request #5768 from kbrock/faster_services_revert
  product/views/Service.yaml
Owners: none

Set value of hash to be deleted from saved data.
  app/controllers/ops_controller/settings/analysis_profiles.rb
  spec/controllers/ops_controller/settings/analysis_profiles_spec.rb
Owners: none

Fix error when clicking on VMs/Templates tab, after Chargeback Preview
  app/controllers/vm_common.rb
Owners: none

Add missing gettexts to Tagging https://bugzilla.redhat.com/show_bug.cgi?id=1725081
  app/javascript/components/taggingWrapper.jsx
Owners: none

Include internationalization fix from react-ui-components
  package.json
Owners: none

Set Not Archived/Orphaned scopes
  app/controllers/vm_common.rb
Owners: none

Add scopes for filtering Archived/Orphaned VMs based on RBAC https://bugzilla.redhat.com/show_bug.cgi?id=1545942
  app/controllers/vm_common.rb
Owners: none

Hide Archived/Orphaned tree not if RBAC feature is not allowed
  app/controllers/vm_common.rb
  app/presenters/tree_builder_archived.rb
Owners: @skateman

Fix specs for Orphaned/Retired RBAC feature
  spec/presenters/tree_builder_archived_spec.rb
  spec/presenters/tree_builder_images_spec.rb
  spec/presenters/tree_builder_instances_spec.rb
Owners: none

Add RBAC check for retired
  app/controllers/vm_common.rb
Owners: none

Names and zones are set by the factory
  spec/controllers/automation_manager_controller_spec.rb
Owners: none

Update ui-components to 1.2.8
  package.json
Owners: none

These aren't necessary
  spec/controllers/catalog_controller_spec.rb
Owners: none

Reverted changes to git import form.
  app/helpers/miq_ae_tools_helper.rb
  app/views/miq_ae_tools/_import_export.html.haml
  spec/helpers/miq_ae_tools_spec.rb
Owners: none

Removed Zone selection from bundle add/edit/details screen
  app/views/catalog/_form_basic_info.html.haml
  app/views/catalog/_sandt_tree_show.html.haml
Owners: none

Mark items for translation on Settings, Server tab
  app/views/ops/_settings_server_tab.html.haml
Owners: none

[Changelog] Update for Sprint 115
  CHANGELOG.md
Owners: none

Fix the wording Job -> Task.
  app/helpers/application_helper/toolbar/tasks_center.rb
Owners: none

Move the Reason to the Approver.
  product/views/MiqRequest.yaml
Owners: none

Don't set name and description of tags in specs
  spec/controllers/cloud_network_controller_spec.rb
Owners: none

Read-only pages for browsing firmware repository
  app/controllers/firmware_binary_controller.rb
  app/controllers/firmware_registry_controller.rb
  app/controllers/firmware_target_controller.rb
  app/helpers/application_helper/toolbar/firmware_registry_center.rb
  app/helpers/firmware_binary_helper.rb
  app/helpers/firmware_binary_helper/textual_summary.rb
  app/helpers/firmware_registry_helper.rb
  app/helpers/firmware_registry_helper/textual_summary.rb
  app/helpers/firmware_target_helper.rb
  app/helpers/firmware_target_helper/textual_summary.rb
  app/presenters/menu/default_menu.rb
  app/views/firmware_binary/show.html.haml
  app/views/firmware_registry/show.html.haml
  app/views/firmware_registry/show_list.html.haml
  app/views/firmware_target/show.html.haml
  app/views/layouts/listnav/_firmware_binary.html.haml
  app/views/layouts/listnav/_firmware_registry.html.haml
  app/views/layouts/listnav/_firmware_target.html.haml
  app/views/miq_request/_physical_server_firmware_update_show.html.haml
  app/views/miq_request/_request.html.haml
  config/routes.rb
  product/views/FirmwareBinary.yaml
  product/views/FirmwareRegistry.yaml
  product/views/FirmwareTarget.yaml
  spec/presenters/menu/default_menu_spec.rb
Owners: @martinpovolny

Add spec for displaying 'Add a Provider' page when user logs in
  spec/controllers/dashboard_controller_spec.rb
Owners: none

Fix displaying 'Add a Provider' page on a fresh appliance
  app/services/user_validation_service.rb
Owners: none

Add spec for setting @resolve[:targets] for miq ae tools controller
  spec/controllers/miq_ae_tools_controller_spec.rb
Owners: none

Fix Fix Object Attribute Type selection for Group and Tenant
  app/controllers/miq_ae_tools_controller.rb
Owners: none

Move columns_for_klass method to application helper
  app/controllers/ops_controller/settings/automate_schedules.rb
  app/helpers/application_helper.rb
Owners: none

Fix the title/tooltip attribute setting for TreeNode::Menu::Item
  app/presenters/tree_node/menu/item.rb
Owners: @skateman

We don't need to set names or zones or urls, the factory does.
  spec/controllers/automation_manager_controller_spec.rb
Owners: none

Hide Tenant for Infra and Cloud providers in list views for non-admin users
  app/controllers/ems_cloud_controller.rb
  app/controllers/ems_infra_controller.rb
  product/views/ManageIQ_Providers_CloudManager.yaml
  product/views/ManageIQ_Providers_InfraManager.yaml
  spec/controllers/ems_cloud_controller_spec.rb
  spec/controllers/ems_infra_controller_spec.rb
Owners: none

Adjust the test against accordion name in saved reports (part 2)
  app/controllers/report_controller/saved_reports.rb
Owners: none

Correctly mark text for translation
  app/views/ops/_settings_server_tab.html.haml
Owners: none

Remove whitespace from attribute name
  app/views/layouts/angular-bootstrap/_ae_resolve_options.html.haml
Owners: none

Update ui-components to 1.1.30 for hammer
  package.json
  yarn.lock
Owners: none

Update ui-components to 1.2.9
  package.json
Owners: none

Reorganize toolbar button classes for better HTML5 console support
  app/helpers/application_helper/button/vm_console.rb
  app/helpers/application_helper/button/vm_html5_console.rb
  app/helpers/application_helper/button/vm_vmrc_console.rb
  app/helpers/application_helper/button/vm_vnc_console.rb
  app/helpers/application_helper/button/vm_webmks_console.rb
  app/helpers/application_helper/toolbar/cloud/instance_operations_button_group_mixin.rb
  app/helpers/application_helper/toolbar/x_vm_center.rb
  spec/helpers/application_helper/buttons/vm_html5_console_spec.rb
  spec/helpers/application_helper/buttons/vm_vnc_console_spec.rb
  spec/helpers/application_helper/buttons/vm_webmks_console_spec.rb
  spec/support/examples_group/shared_examples_for_vm_console.rb
Owners: @romanblanco, @panspagetka

Have all the HTML5 canvas-based consoles under a single endpoint
  app/controllers/vm_remote.rb
  config/routes.rb
  spec/routing/vm_infra_routing_spec.rb
Owners: none

Drop global vmware remote console type setting from the UI
  app/controllers/ops_controller/settings/common.rb
  app/helpers/vmware_console_helper.rb
  app/views/ops/_settings_server_tab.html.haml
  spec/helpers/vmware_console_helper_spec.rb
  spec/support/examples_group/shared_examples_for_vm_console.rb
Owners: none
