Repository ManageIQ/manageiq-ui-classic, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skateman, @epwinchell, @romanblanco, @panspagetka, @martinpovolny

Allow comparing Instances displayed thru Cloud Network
  app/controllers/cloud_network_controller.rb
  config/routes.rb
  spec/controllers/cloud_network_controller_spec.rb
Owners: none

Allow comparing Hosts displayed as a nested list
  app/controllers/application_controller/ci_processing.rb
  app/controllers/storage_controller.rb
  spec/controllers/storage_controller_spec.rb
Owners: none

Allow comparing Instances displayed thru Cloud Subnet
  app/controllers/cloud_subnet_controller.rb
  config/routes.rb
  spec/controllers/cloud_subnet_controller_spec.rb
Owners: none

Allow comparing VMs displayed thru Resource Pool
  config/routes.rb
Owners: none

Allow comparing Instances displayed thru Cloud Volume
  config/routes.rb
Owners: none

Allow comparing Instances displayed thru Security Group
  app/controllers/security_group_controller.rb
  config/routes.rb
  spec/controllers/security_group_controller_spec.rb
Owners: none

Allow comparing Instances displayed thru Network Router
  app/controllers/network_router_controller.rb
  config/routes.rb
  spec/controllers/network_router_controller_spec.rb
Owners: none

Add !important to our no-cursor CSS rule to override patternfly
  app/assets/stylesheets/miq_tree.scss
Owners: @epwinchell

Refresh trees after deleting catalog custom icon
  app/controllers/catalog_controller.rb
Owners: none

Simplify the logic around the TreeNode#image attribute generation
  app/presenters/tree_node/node.rb
Owners: @skateman

Replace node select attribute with state/checked in 🌳 overrides
  app/presenters/tree_builder_alert_profile_obj.rb
  app/presenters/tree_builder_belongs_to_hac.rb
  app/presenters/tree_builder_belongs_to_vat.rb
  app/presenters/tree_builder_ems_folders.rb
  app/presenters/tree_builder_resource_pools.rb
  app/presenters/tree_builder_tenants.rb
  spec/presenters/tree_builder_alert_profile_obj_spec.rb
Owners: @skateman

Fixed to set saveable state regardless of number of items selected.
  app/assets/javascripts/components/retirement-form.js
Owners: none

Fixed to show a warning flash message.
  app/controllers/application_controller.rb
  app/controllers/cloud_volume_controller.rb
  spec/controllers/application_controller_spec.rb
Owners: none

Rename the select attribute to checked in TreeNode::Hash definitions
  app/presenters/tree_builder_clusters.rb
  app/presenters/tree_builder_datastores.rb
  app/presenters/tree_builder_default_filters.rb
  app/presenters/tree_builder_protect.rb
  app/presenters/tree_builder_sections.rb
  app/presenters/tree_builder_smartproxy_affinity.rb
  app/presenters/tree_node/hash.rb
  spec/presenters/tree_builder_clusters_spec.rb
  spec/presenters/tree_builder_default_filters_spec.rb
  spec/presenters/tree_builder_protect_spec.rb
  spec/presenters/tree_builder_sections_spec.rb
  spec/presenters/tree_builder_smartproxy_affinity_spec.rb
Owners: @skateman

Rename the selected attribute to checked in TreeNode
  app/presenters/tree_node/hash.rb
  app/presenters/tree_node/menu/item.rb
  app/presenters/tree_node/miq_product_feature.rb
  app/presenters/tree_node/node.rb
Owners: @skateman

Set the state/checked TreeNode attribute instead of converting
  app/presenters/tree_builder.rb
  app/presenters/tree_node/node.rb
Owners: @martinpovolny, @skateman

Move text under Description to Chargeback Rate Details table
  app/views/chargeback/_cb_rate_show.html.haml
Owners: none

Correctly catch & handle API errors when creating orchestration template
  app/javascript/components/orchestration-template/orcherstration-template-form.js
Owners: none

Update data driven forms to v1.15.6
  package.json
Owners: none

Add specs for @edit[:new] and changed variable regarding adding user
  spec/controllers/ops_controller/ops_rbac_spec.rb
Owners: none

Refactor rbac_user_get_form_vars, use new copy_params_if_present
  app/controllers/ops_controller/ops_rbac.rb
Owners: none

Use new copy_params_if_present in rbac_group_get_form_vars
  app/controllers/ops_controller/ops_rbac.rb
Owners: none

Use copy_params_if_present in zone_get_form_vars
  app/controllers/ops_controller/settings/zones.rb
Owners: none

Use copy_params_if_present in lt_map_get_form_vars
  app/controllers/ops_controller/settings/label_tag_mapping.rb
Owners: none

use copy_params_if_present also in category_get_form_vars
  app/controllers/ops_controller/settings/tags.rb
Owners: none

Move the CSS class setting to TreeNode from the BS tree conversion
  app/presenters/tree_builder.rb
  app/presenters/tree_builder_automate.rb
  app/presenters/tree_builder_automate_catalog.rb
  app/presenters/tree_builder_belongs_to_hac.rb
  app/presenters/tree_builder_belongs_to_vat.rb
  app/presenters/tree_builder_compliance_history.rb
  app/presenters/tree_builder_ems_folders.rb
  app/presenters/tree_builder_infra_networking.rb
  app/presenters/tree_builder_network.rb
  app/presenters/tree_builder_resource_pools.rb
  app/presenters/tree_builder_smartproxy_affinity.rb
  app/presenters/tree_builder_storage_adapters.rb
  app/presenters/tree_builder_utilization.rb
  app/presenters/tree_node/node.rb
Owners: @martinpovolny, @skateman

Do not set the :expand attribute on tree roots as it is redundant
  app/presenters/tree_builder_alert_profile_obj.rb
  app/presenters/tree_builder_ops_rbac_features.rb
  spec/presenters/tree_builder_alert_profile_obj_spec.rb
Owners: @skateman

Delete unnecessary comments in ops_controller/settings/tags.rb
  app/controllers/ops_controller/settings/tags.rb
Owners: none

Rename the expand attribute in all nodes to expanded
  app/presenters/tree_builder.rb
  app/presenters/tree_builder_ops_vmdb.rb
  app/presenters/tree_node/hash.rb
  app/presenters/tree_node/miq_region.rb
  app/presenters/tree_node/miq_server.rb
  app/presenters/tree_node/node.rb
  app/presenters/tree_node/server_role.rb
  spec/presenters/tree_node/miq_region_spec.rb
  spec/presenters/tree_node/miq_server_spec.rb
Owners: @martinpovolny, @skateman

Set the node state/expanded directly in TreeBuilder
  app/presenters/tree_builder.rb
Owners: @martinpovolny

Do not do the BS conversion of the expand attribute for 🌳nodes
  app/presenters/tree_builder.rb
  app/presenters/tree_node/node.rb
Owners: @martinpovolny, @skateman

Merge pull request #6077 from mzazrivec/create_docs_section_in_settings_for_documentation_links
  app/views/automation_manager/explorer.html.haml
  app/views/ems_cloud/show_list.html.haml
  app/views/ems_container/show_list.html.haml
  app/views/ems_infra/show_list.html.haml
  app/views/ems_network/show_list.html.haml
  app/views/ems_physical_infra/show_list.html.haml
  app/views/provider_foreman/explorer.html.haml
  config/settings.yml
Owners: none

Update version of data driven forms to v1.15.6
  package.json
  yarn.lock
Owners: none

Display the right toolbar for the custom button group in catalogitems
  app/helpers/application_helper/toolbar_chooser.rb
Owners: none

fix responsiveness of ae sim left colum
  app/views/layouts/_ae_resolve_options.html.haml
Owners: none

Drop the TreeBuilder.convert_bs_tree as it is no longer necessary
  app/controllers/application_controller/tree_support.rb
  app/controllers/tree_controller.rb
  app/presenters/tree_builder.rb
Owners: @martinpovolny

Replace x_build_node_tree with x_build_node in TreeBuilder
  app/presenters/tree_builder.rb
Owners: @martinpovolny

Fix off-by-one errors in Custom Buttons for Catalog Items
  app/controllers/application_controller/buttons.rb
Owners: none

Add missing gettext to layouts/_ae_resolve_options.html.haml
  app/views/layouts/_ae_resolve_options.html.haml
Owners: none

Replaced add_root_node logic with a TreeNode::Root object
  app/presenters/tree_builder.rb
  app/presenters/tree_node/root.rb
  spec/presenters/tree_builder_spec.rb
  spec/presenters/tree_node/root.rb
  spec/presenters/tree_node_spec.rb
Owners: @martinpovolny, @skateman

.github/CODEOWNERS:

# trees
app/presenters/tree_node/                         @skateman
app/presenters/tree_builder_*                     @skateman
# styling and images
app/assets/stylesheets/                           @epwinchell
app/assets/images/                                @epwinchell
# dialog editor
app/assets/javascripts/controllers/dialog_editor  @romanblanco
app/views/miq_ae_customization/editor.html.haml   @romanblanco
# toolbar buttons
app/helpers/application_helper/button/            @romanblanco @panspagetka
app/helpers/application_helper/toolbar_builder.rb @romanblanco @panspagetka @martinpovolny
# rbac
app/controllers/mixins/checked_id_mixin.rb        @romanblanco @panspagetka
# charts
lib/charting/                                     @panspagetka
lib/report_formatter/c3.rb                        @panspagetka
lib/report_formatter/c3_series.rb                 @panspagetka
lib/report_formatter/chart_common.rb              @panspagetka
app/assets/javascripts/miq_c3.js                  @panspagetka
# topology services
app/services/*topology_service.rb                 @skateman

app/controllers/mixins/custom_buttons.rb          @martinpovolny
app/controllers/mixins/generic_*.rb               @martinpovolny
app/controllers/mixins/more_show_actions.rb       @martinpovolny
app/assets/javascripts/miq_explorer.js            @martinpovolny
app/presenters/explorer_presenter.rb              @martinpovolny
app/helpers/application_helper/button/basic.rb    @martinpovolny
app/helpers/application_helper/toolbar/basic.rb   @martinpovolny
app/presenters/tree_builder.rb                    @martinpovolny
app/presenters/menu/                              @martinpovolny
app/helpers/textual_*rb                           @martinpovolny

# decorators
app/decorators/                                   @skateman
