Repository ManageIQ/manageiq-ui-classic, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skateman, @epwinchell, @romanblanco, @panspagetka, @martinpovolny

.github/CODEOWNERS:

# trees
app/presenters/tree_node/                         @skateman
app/presenters/tree_builder_*                     @skateman
# styling and images
app/assets/stylesheets/                           @epwinchell
app/assets/images/                                @epwinchell
# dialog editor
app/assets/javascripts/controllers/dialog_editor  @romanblanco
app/views/miq_ae_customization/editor.html.haml   @romanblanco
# toolbar buttons
app/helpers/application_helper/button/            @romanblanco @panspagetka
app/helpers/application_helper/toolbar_builder.rb @romanblanco @panspagetka @martinpovolny
# rbac
app/controllers/mixins/checked_id_mixin.rb        @romanblanco @panspagetka
# charts
lib/charting/                                     @panspagetka
lib/report_formatter/c3.rb                        @panspagetka
lib/report_formatter/c3_series.rb                 @panspagetka
lib/report_formatter/chart_common.rb              @panspagetka
app/assets/javascripts/miq_c3.js                  @panspagetka
# topology services
app/services/*topology_service.rb                 @skateman

app/controllers/mixins/custom_buttons.rb          @martinpovolny
app/controllers/mixins/generic_*.rb               @martinpovolny
app/controllers/mixins/more_show_actions.rb       @martinpovolny
app/assets/javascripts/miq_explorer.js            @martinpovolny
app/presenters/explorer_presenter.rb              @martinpovolny
app/helpers/application_helper/button/basic.rb    @martinpovolny
app/helpers/application_helper/toolbar/basic.rb   @martinpovolny
app/presenters/tree_builder.rb                    @martinpovolny
app/presenters/menu/                              @martinpovolny
app/helpers/textual_*rb                           @martinpovolny

# decorators
app/decorators/                                   @skateman

Merge pull request #5192 from hstastna/Cannot_select_other_dashboard
  app/controllers/dashboard_controller.rb
  spec/controllers/dashboard_controller_spec.rb
Owners: none

Merge pull request #6101 from kbrock/turbo_services
  product/views/Service.yaml
Owners: none

Merge pull request #5319 from himdel/zlo
  spec/helpers/application_helper/toolbar_builder_spec.rb
Owners: none

Change PropType of affected items in Tagging
  app/javascript/components/taggingWrapper.jsx
Owners: none

Show title on non-explorer timeline page
  app/controllers/mixins/more_show_actions.rb
  app/views/layouts/_tl_show.html.haml
  spec/controllers/ems_infra_controller_spec.rb
Owners: @martinpovolny

Removed commented code
  app/controllers/cloud_network_controller.rb
Owners: none

Update json catalogs for master
  app/assets/javascripts/locale/en/app.js
  app/assets/javascripts/locale/es/app.js
  app/assets/javascripts/locale/fr/app.js
  app/assets/javascripts/locale/ja/app.js
  app/assets/javascripts/locale/pt_BR/app.js
  app/assets/javascripts/locale/zh_CN/app.js
Owners: none

Add specs that only direct custom buttons of GOD/ServiceTemplate are shown in a toolbar
  spec/helpers/application_helper/toolbar_builder_spec.rb
Owners: none

Update ui-components to 1.1.34 for hammer
  package.json
  yarn.lock
Owners: none

Don't use ES6 syntax
  app/assets/javascripts/controllers/dialog_user/dialog_user_controller.js
  app/views/miq_request/prov_edit.html.haml
Owners: none

Allow Automate/Request without Service/Request rights
  app/controllers/miq_request_controller.rb
Owners: none

Use copy_params_if_present in report, miq_policy and pxe controllers
  app/controllers/miq_ae_tools_controller.rb
  app/controllers/miq_policy_controller/alerts.rb
  app/controllers/miq_policy_controller/miq_actions.rb
  app/controllers/miq_task_controller.rb
  app/controllers/pxe_controller/pxe_customization_templates.rb
  app/controllers/pxe_controller/pxe_image_types.rb
  app/controllers/report_controller/dashboards.rb
  app/controllers/report_controller/menus.rb
  app/controllers/report_controller/reports/editor.rb
  app/controllers/report_controller/schedules.rb
  spec/controllers/miq_ae_tools_controller_spec.rb
Owners: none

Make Add/Save button response properly while adding/editing Zone
  app/controllers/ops_controller/settings/common.rb
  app/controllers/ops_controller/settings/zones.rb
  spec/controllers/ops_controller/settings/zones_spec.rb
Owners: none

Completely remove gettext catalogs
  locale/ManageIQ_UI_Classic.pot
  locale/en/ManageIQ_UI_Classic.po
Owners: none

Remove gettext initialization
  config/initializers/gettext.rb
Owners: none

Remove placeholders spec
  spec/i18n/placeholders_spec.rb
Owners: none

Remove tree_path from breadcrumbs and show only last item
  app/controllers/automation_manager_controller.rb
  app/controllers/miq_policy_controller.rb
  app/controllers/mixins/breadcrumbs_mixin.rb
  app/controllers/provider_foreman_controller.rb
  app/controllers/service_controller.rb
  app/controllers/storage_controller.rb
  app/controllers/vm_cloud_controller.rb
  app/controllers/vm_infra_controller.rb
  app/controllers/vm_or_template_controller.rb
  spec/controllers/mixins/breadcrumbs_mixin_spec.rb
Owners: none

fix still disabled button issue
  app/assets/javascripts/controllers/ems_common/ems_common_form_controller.js
Owners: none

add assume role arn input
  app/controllers/mixins/ems_common/angular.rb
  app/views/layouts/angular-bootstrap/_any_field.html.haml
  app/views/layouts/angular/_multi_auth_credentials.html.haml
Owners: none

use 'supports?' feature instead of class name
  app/controllers/mixins/ems_common/angular.rb
Owners: none

change the way of gettext usage
  app/views/layouts/angular-bootstrap/_any_field.html.haml
  app/views/layouts/angular/_multi_auth_credentials.html.haml
Owners: none

use credentials partial
  app/views/layouts/angular-bootstrap/_any_field.html.haml
  app/views/layouts/angular-bootstrap/_auth_credentials_angular_bootstrap.html.haml
  app/views/layouts/angular/_multi_auth_credentials.html.haml
Owners: none

fix OpenStack specs
  spec/controllers/ems_cloud_controller_spec.rb
Owners: none

test assume role feature too
  spec/controllers/ems_cloud_controller_spec.rb
  spec/controllers/mixins/ems_common/angular_spec.rb
Owners: none

use gettext for description and error message
  app/views/layouts/angular-bootstrap/_any_field.html.haml
Owners: none

other approach
  app/assets/javascripts/controllers/ems_common/ems_common_form_controller.js
  app/controllers/mixins/ems_common/angular.rb
  app/views/layouts/angular-bootstrap/_auth_credentials_angular_bootstrap.html.haml
  app/views/layouts/angular/_multi_auth_credentials.html.haml
  spec/controllers/mixins/ems_common/angular_spec.rb
Owners: none

[Changelog] Update for Ivanchuk-1
  CHANGELOG.md
Owners: none

Rollup prior releases
  CHANGELOG.md
Owners: none

Add option of copying tags
  app/controllers/catalog_controller.rb
  app/javascript/components/copy-catalog-form/copy-catalog-form.jsx
  app/javascript/components/copy-catalog-form/copy-catalog-form.schema.js
  app/javascript/spec/copy-catalog-form/copy-catalog-form.spec.js
Owners: none

Reorganize the TreeBuilder tree name mapping to the actual state
  app/presenters/tree_builder.rb
Owners: @martinpovolny

Use kind_of? instead of String comparison
  app/helpers/ems_storage_helper/textual_summary.rb
Owners: none

Drop the unnecessary ISO images hash folder from the ISO tree
  app/controllers/pxe_controller/iso_datastores.rb
  app/presenters/tree_builder_iso_datastores.rb
Owners: @skateman

Added missing gettext for "Red Hat Software Updates"
  app/views/ops/_settings_rhn_tab.html.haml
Owners: none

Fix lifecycle methods in vm controllers
  app/controllers/mixins/breadcrumbs_mixin.rb
  app/controllers/vm_cloud_controller.rb
  app/controllers/vm_infra_controller.rb
  app/controllers/vm_or_template_controller.rb
  spec/controllers/vm_infra_controller_spec.rb
Owners: none

Make Save button respond properly on changes in NTP Servers section
  app/controllers/ops_controller/settings/common.rb
  spec/controllers/ops_controller/settings/common_spec.rb
Owners: none

Updated to latest version of react-u-components.
  app/javascript/packs/component-definitions-common.js
  app/stylesheet/application-webpack.scss
  package.json
Owners: none

Do not use hash nodes for PxeImageType in Customization Templates 🌳
  app/presenters/tree_builder_pxe_customization_templates.rb
Owners: @skateman

ems_common_form_controller_spec.js - check assume_role gets set as default_assume_role for EC2
  spec/javascripts/controllers/ems_common/ems_common_form_controller_spec.js
Owners: none

EmsCommonFormController - receive assume_role, save as default_assume_role, submit as default_assume_role
  app/assets/javascripts/controllers/ems_common/ems_common_form_controller.js
Owners: none

EmsCommon::Angular - add assume_role field support
  app/controllers/mixins/ems_common/angular.rb
  spec/controllers/ems_cloud_controller_spec.rb
  spec/controllers/mixins/ems_common/angular_spec.rb
Owners: none
