Repository ManageIQ/manageiq-ui-classic, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skateman, @epwinchell, @romanblanco, @panspagetka, @martinpovolny

.github/CODEOWNERS:

# trees
app/presenters/tree_node/                         @skateman
app/presenters/tree_builder_*                     @skateman
# styling and images
app/assets/stylesheets/                           @epwinchell
app/assets/images/                                @epwinchell
# dialog editor
app/assets/javascripts/controllers/dialog_editor  @romanblanco
app/views/miq_ae_customization/editor.html.haml   @romanblanco
# toolbar buttons
app/helpers/application_helper/button/            @romanblanco @panspagetka
app/helpers/application_helper/toolbar_builder.rb @romanblanco @panspagetka @martinpovolny
# rbac
app/controllers/mixins/checked_id_mixin.rb        @romanblanco @panspagetka
# charts
lib/charting/                                     @panspagetka
lib/report_formatter/c3.rb                        @panspagetka
lib/report_formatter/c3_series.rb                 @panspagetka
lib/report_formatter/chart_common.rb              @panspagetka
app/assets/javascripts/miq_c3.js                  @panspagetka
# topology services
app/services/*topology_service.rb                 @skateman

app/controllers/mixins/custom_buttons.rb          @martinpovolny
app/controllers/mixins/generic_*.rb               @martinpovolny
app/controllers/mixins/more_show_actions.rb       @martinpovolny
app/assets/javascripts/miq_explorer.js            @martinpovolny
app/presenters/explorer_presenter.rb              @martinpovolny
app/helpers/application_helper/button/basic.rb    @martinpovolny
app/helpers/application_helper/toolbar/basic.rb   @martinpovolny
app/presenters/tree_builder.rb                    @martinpovolny
app/presenters/menu/                              @martinpovolny
app/helpers/textual_*rb                           @martinpovolny

# decorators
app/decorators/                                   @skateman

Adjust the WebMKS javascript to handle the nonexisting assets
  app/assets/javascripts/remote_consoles/webmks.js
Owners: none

fix
  app/javascript/packs/component-definitions-common.js
Owners: none

Add verification that name is not taken or nul
  app/controllers/catalog_controller.rb
  app/javascript/components/copy-catalog-form/copy-catalog-form.schema.js
  config/routes.rb
Owners: none

Add React component CopyCatalogForm
  app/controllers/catalog_controller.rb
  app/javascript/components/copy-catalog-form/copy-catalog-form.jsx
  app/javascript/components/copy-catalog-form/copy-catalog-form.schema.js
  app/javascript/packs/component-definitions-common.js
  app/views/catalog/_copy_catalog.html.haml
  config/routes.rb
Owners: none

Fix error message
  app/javascript/components/copy-catalog-form/copy-catalog-form.jsx
Owners: none

Add Copy option to Catalog Item/Bundle
  app/controllers/catalog_controller.rb
  app/helpers/application_helper/toolbar/servicetemplate_center.rb
  app/helpers/application_helper/toolbar/servicetemplates_center.rb
Owners: none

Add error message for items that cannot be copied
  app/controllers/catalog_controller.rb
Owners: none

Refresh tree after saving Catalog Item and minor Rubocop fixes
  app/controllers/catalog_controller.rb
Owners: none

Make form dirty - init name doesn't have to be changed to be saved
  app/javascript/components/copy-catalog-form/copy-catalog-form.jsx
Owners: none

Disable toolbar button when ServiceTemplate is not template_valid or Ansible Playbook
  app/helpers/application_helper/button/catalog_item_copy_button.rb
  app/helpers/application_helper/toolbar/servicetemplate_center.rb
Owners: @romanblanco, @panspagetka

Change init name of copy to
  app/javascript/components/copy-catalog-form/copy-catalog-form.jsx
  app/views/catalog/_copy_catalog.html.haml
Owners: none

Rename the "Cloud Intel" menu item to "Overview"
  app/controllers/chargeback_controller.rb
  app/controllers/dashboard_controller.rb
  app/controllers/report_controller.rb
  app/presenters/menu/default_menu.rb
  app/presenters/tree_builder.rb
  spec/presenters/menu/custom_loader_spec.rb
Owners: @martinpovolny

Name is set by the factory
  spec/controllers/application_controller/buttons_spec.rb
Owners: none

Check input from start
  app/javascript/components/copy-catalog-form/copy-catalog-form.schema.js
Owners: none

Don't use string interpolation inside gettext strings
  app/controllers/ems_physical_infra_controller.rb
  app/controllers/ops_controller/settings/upload.rb
  app/controllers/security_group_controller.rb
Owners: none

Do not call map unnecessarily on the OPS/settings SSL auth modes
  app/views/ops/_settings_server_tab.html.haml
Owners: none

Test breadcrumbs when coming from GTL page
  spec/controllers/mixins/breadcrumbs_mixin_spec.rb
Owners: none

Fix Policy breadcrumbs when coming from GTL page
  app/controllers/mixins/breadcrumbs_mixin.rb
Owners: none

The factory sets the names
  spec/controllers/ansible_repository_controller_spec.rb
Owners: none

Test that no breadcrumb is added when two items are selectex
  spec/controllers/mixins/breadcrumbs_mixin_spec.rb
Owners: none

Show breadcrumb only for one item
  app/controllers/mixins/breadcrumbs_mixin.rb
Owners: none

Apparently we need a flash message for this.
  app/controllers/miq_ae_customization_controller.rb
  spec/controllers/miq_ae_customization_controller_spec.rb
Owners: none

Allow loading of main.scss from outside this repository
  app/assets/stylesheets/application.css
Owners: @epwinchell

Remove additional deprecated Load Balancers code in UI
  app/controllers/mixins/ems_common.rb
  app/controllers/vm_common.rb
  app/helpers/application_helper/toolbar_chooser.rb
  app/helpers/ems_network_helper/textual_summary.rb
  app/helpers/vm_helper/textual_summary.rb
  app/services/network_topology_service.rb
  config/routes.rb
  spec/helpers/ems_network_helper/textual_summary_spec.rb
  spec/helpers/vm_helper/textual_summary_spec.rb
Owners: @skateman

Show item's description when edit/copy in Requests
  app/controllers/miq_request_controller.rb
  spec/controllers/miq_request_controller_spec.rb
Owners: none

Introduce AzureStack cloud provider
  app/assets/javascripts/controllers/ems_common/ems_common_form_controller.js
  app/controllers/mixins/ems_common.rb
  app/controllers/mixins/ems_common/angular.rb
  app/views/layouts/angular-bootstrap/_endpoints_angular.html.haml
  app/views/layouts/angular/_multi_auth_credentials.html.haml
  app/views/shared/views/ems_common/angular/_form.html.haml
  spec/javascripts/controllers/ems_common/ems_common_form_controller_spec.js
Owners: none

The factory sets these.
  spec/controllers/application_controller/build_audit_spec.rb
Owners: none

count_only_or_object now works with ordered query
  app/presenters/tree_builder.rb
  spec/presenters/tree_builder_spec.rb
Owners: @martinpovolny

don't double sort report_results in tree
  app/presenters/tree_builder_chargeback_reports.rb
Owners: @skateman

Fixed select component in forms
  package.json
Owners: none

Update Font Fabulous to 1.0.5
  manageiq-ui-classic.gemspec
Owners: none

Fixed Cloud Volume Backup
  app/controllers/cloud_volume_backup_controller.rb
Owners: none

These are set by the factory
  spec/controllers/application_controller/build_audit_spec.rb
Owners: none

Add error message div to empty provider page
  app/views/layouts/_empty.html.haml
Owners: none

Added styled table react components and data driven variant.
  app/javascript/components/simple-table/simple-table.jsx
  app/javascript/spec/simple-table/__snapshots__/simple-table.spec.js.snap
  app/javascript/spec/simple-table/simple-table.spec.js
Owners: none

Added determine_api_endpoints for ContainerVolume
  app/services/dialog_local_service.rb
  spec/services/dialog_local_service_spec.rb
Owners: none

Seed the database before running the test suite
  Rakefile
Owners: none

This is already declared in the factory
  spec/controllers/miq_ae_class_controller_spec.rb
Owners: none

Tests were depending on blank tables
  spec/controllers/application_controller/policy_support_spec.rb
  spec/helpers/application_helper/buttons/miq_ae_instance_copy_spec.rb
Owners: none

I have a feeling this is not correct...
  spec/controllers/application_controller/dialog_runner_spec.rb
Owners: none
