Repository ManageIQ/manageiq-ui-classic, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skateman, @epwinchell, @romanblanco, @panspagetka, @martinpovolny

.github/CODEOWNERS:

# trees
app/presenters/tree_node/                         @skateman
app/presenters/tree_builder_*                     @skateman
# styling and images
app/assets/stylesheets/                           @epwinchell
app/assets/images/                                @epwinchell
# dialog editor
app/assets/javascripts/controllers/dialog_editor  @romanblanco
app/views/miq_ae_customization/editor.html.haml   @romanblanco
# toolbar buttons
app/helpers/application_helper/button/            @romanblanco @panspagetka
app/helpers/application_helper/toolbar_builder.rb @romanblanco @panspagetka @martinpovolny
# rbac
app/controllers/mixins/checked_id_mixin.rb        @romanblanco @panspagetka
# charts
lib/charting/                                     @panspagetka
lib/report_formatter/c3.rb                        @panspagetka
lib/report_formatter/c3_series.rb                 @panspagetka
lib/report_formatter/chart_common.rb              @panspagetka
app/assets/javascripts/miq_c3.js                  @panspagetka
# topology services
app/services/*topology_service.rb                 @skateman

app/controllers/mixins/custom_buttons.rb          @martinpovolny
app/controllers/mixins/generic_*.rb               @martinpovolny
app/controllers/mixins/more_show_actions.rb       @martinpovolny
app/assets/javascripts/miq_explorer.js            @martinpovolny
app/presenters/explorer_presenter.rb              @martinpovolny
app/helpers/application_helper/button/basic.rb    @martinpovolny
app/helpers/application_helper/toolbar/basic.rb   @martinpovolny
app/presenters/tree_builder.rb                    @martinpovolny
app/presenters/menu/                              @martinpovolny
app/helpers/textual_*rb                           @martinpovolny

# decorators
app/decorators/                                   @skateman

Merge pull request #5930 from martinpovolny/report_result_view_type_fix
  app/helpers/application_helper/button/view_ght.rb
Owners: @romanblanco, @panspagetka

Merge pull request #5928 from martinpovolny/report_table_formatting
  app/javascript/components/report-data-table.jsx
  app/javascript/spec/report-data-table.spec.js
Owners: none

Merge pull request #5207 from himdel/multi-auth
  app/assets/javascripts/components/auth-credentials.js
  app/assets/javascripts/controllers/ems_common/ems_common_form_controller.js
  app/views/configuration_manager/_shared_form.html.haml
  app/views/layouts/angular-bootstrap/_auth_credentials_angular_bootstrap.html.haml
  app/views/layouts/angular/_multi_auth_credentials.html.haml
  app/views/static/auth-credentials.html.haml
Owners: none

Merge pull request #5867 from hstastna/Unexpected_error_VM_datastore_get_rec_cls
  app/controllers/application_controller/ci_processing.rb
  spec/controllers/application_controller/ci_processing_spec.rb
Owners: none

Merge pull request #5932 from mzazrivec/fix_error_when_canceling_new_schedule_addition
  app/controllers/ops_controller/settings/schedules.rb
Owners: none

Mark the options argument in TreeBuilder methods unnecessary with _
  app/presenters/tree_builder_alert_profile.rb
  app/presenters/tree_builder_automation_manager_configuration_scripts.rb
  app/presenters/tree_builder_belongs_to_hac.rb
  app/presenters/tree_builder_condition.rb
  app/presenters/tree_builder_policy.rb
  app/presenters/tree_builder_report_dashboards.rb
  app/presenters/tree_builder_storage.rb
Owners: @skateman

Switch tab also for Starting Process Error
  app/controllers/application_controller/buttons.rb
Owners: none

Fix id to be unique
  app/views/shared/buttons/_ab_advanced_form.html.haml
Owners: none

Switch to Advanced tab when only error is request is required
  app/controllers/application_controller/buttons.rb
Owners: none

Fix load tags with multiple values in one category
  app/controllers/application_controller/tags.rb
Owners: none

Fix main_div double id withour getting rid of <div id=main_div>
  app/controllers/generic_object_definition_controller.rb
  app/views/generic_object_definition/_list.html.haml
  app/views/generic_object_definition/_show_actions.html.haml
  app/views/generic_object_definition/_show_custom_button.html.haml
  app/views/generic_object_definition/_show_custom_button_group.html.haml
  app/views/generic_object_definition/_show_god.html.haml
  app/views/generic_object_definition/show.html.haml
  app/views/generic_object_definition/show_list.html.haml
Owners: none

The endpoint isn't plural
  app/services/dialog_local_service.rb
  spec/services/dialog_local_service_spec.rb
Owners: none

Empty virtual DOM on ManageIQ.explorer.updatePartials.
  app/assets/javascripts/miq_explorer.js
Owners: @martinpovolny

Changed set ownership form select box vlues from array to object
  app/javascript/components/set-ownership-form/index.jsx
  app/javascript/components/set-ownership-form/ownership-form.schema.js
  app/javascript/spec/set-ownership-form/set-ownership-form.spec.js
Owners: none

Added miq sparkle to set ownership form while loading data from API
  app/javascript/components/set-ownership-form/index.jsx
  app/javascript/spec/set-ownership-form/set-ownership-form.spec.js
Owners: none

Submit set ownership form using API
  app/controllers/mixins/actions/vm_actions/ownership.rb
  app/javascript/components/set-ownership-form/index.jsx
Owners: none

Removed obsolete ownership reset button handler method:
  app/controllers/mixins/actions/vm_actions/ownership.rb
Owners: none

Updated ownership form tests for the API reqests
  app/javascript/spec/set-ownership-form/set-ownership-form.spec.js
  spec/controllers/vm_infra_controller_spec.rb
Owners: none

Merge pull request #5920 from mzazrivec/update_datepicker_when_start_date_changed
  app/controllers/report_controller/schedules.rb
Owners: none

[Changelog] Update for Sprint 117
  CHANGELOG.md
Owners: none

Remove report names from settings hash when they're deleted
  app/controllers/report_controller/reports.rb
  spec/controllers/miq_report_controller/reports_spec.rb
Owners: none

Fixed call that build list of Storages to build Host file drop down
  app/controllers/mixins/actions/vm_actions/reconfigure.rb
  spec/controllers/mixins/actions/vm_actions/reconfigure_spec.rb
Owners: none

Drop the unnecessary _pid and _options args from TreeBuilder#override
  app/presenters/tree_builder.rb
  app/presenters/tree_builder_alert_profile_obj.rb
  app/presenters/tree_builder_automate.rb
  app/presenters/tree_builder_automate_catalog.rb
  app/presenters/tree_builder_automate_entrypoint.rb
  app/presenters/tree_builder_belongs_to_hac.rb
  app/presenters/tree_builder_belongs_to_vat.rb
  app/presenters/tree_builder_compliance_history.rb
  app/presenters/tree_builder_infra_networking.rb
  app/presenters/tree_builder_network.rb
  app/presenters/tree_builder_roles_by_server.rb
  app/presenters/tree_builder_servers_by_role.rb
  app/presenters/tree_builder_smartproxy_affinity.rb
  app/presenters/tree_builder_tenants.rb
  app/presenters/tree_builder_utilization.rb
  spec/presenters/tree_builder_alert_profile_obj_spec.rb
Owners: @martinpovolny, @skateman

Drop the MiqPolicyController#open_parent_nodes as it's never used
  app/controllers/miq_policy_controller.rb
Owners: none

Drop the VmCommon#open_parent_nodes as we no longer display VMs
  app/controllers/vm_common.rb
Owners: none

Tagging onDelete returns function
  app/javascript/components/taggingWrapper.jsx
  app/javascript/miq-redux/middleware.js
Owners: none

Send only string ids to JS
  app/controllers/application_controller/tags.rb
  app/controllers/ops_controller/ops_rbac.rb
Owners: none

Converted ownership form to react function with hooks
  app/javascript/components/set-ownership-form/index.jsx
  app/javascript/spec/set-ownership-form/set-ownership-form.spec.js
Owners: none

Add spec to check if 'Choose a Role' is disabled if present in drop down
  spec/views/ops/_rbac_group_details.html.haml_spec.rb
Owners: none

Disable <Choose a Role> option to prevent error while adding Group
  app/views/ops/_rbac_group_details.html.haml
Owners: none

Switch error messages order
  spec/controllers/application_controller/buttons_spec.rb
Owners: none

Update middleware onDelete spec
  app/javascript/spec/miq-redux/middleware.spec.js
Owners: none

Implement new 🌳🌳 for assigning alert profiles to EmsFolder/ResourcePool
  app/controllers/miq_policy_controller/alert_profiles.rb
  app/presenters/tree_builder_alert_profile_assign.rb
  app/presenters/tree_builder_ems_folders.rb
  app/presenters/tree_builder_resource_pools.rb
  spec/presenters/tree_builder_ems_folders_spec.rb
  spec/presenters/tree_builder_resource_pools_spec.rb
Owners: @skateman

Clean up the alert profile 🦛 artifacts from BelongsToHac and Vat 🌳🌳
  app/presenters/tree_builder_belongs_to_hac.rb
Owners: @skateman

Update ui-components to 1.3.0
  package.json
Owners: none

UI for basic CRUD operations re FirmwareRegistry
  app/controllers/firmware_registry_controller.rb
  app/helpers/application_helper/toolbar/firmware_registries_center.rb
  app/helpers/application_helper/toolbar/firmware_registry_center.rb
  app/helpers/firmware_registry_helper/textual_summary.rb
  app/javascript/components/firmware-registry/firmware-registry-form.jsx
  app/javascript/components/firmware-registry/firmware-registry-form.schema.js
  app/javascript/packs/component-definitions-common.js
Owners: none

[Changelog] Update Ivanchuk Beta2
  CHANGELOG.md
Owners: none

Add 'Service ID' to Service detail page
  app/helpers/service_helper/textual_summary.rb
  spec/helpers/service_helper/textual_summary_spec.rb
Owners: none

Introducing react-based trees for alert profile assigments
  app/javascript/components/tree-view/hierarchical-tree-view.jsx
  app/javascript/components/tree-view/index.js
  app/javascript/packs/component-definitions-common.js
  app/views/miq_policy/_alert_profile_assign.html.haml
Owners: none

Updated set ownership shema field type (SELECT_COMPONENT is deprecated)
  app/javascript/components/set-ownership-form/ownership-form.schema.js
Owners: none
