Repository ManageIQ/manageiq-ui-classic, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skateman, @epwinchell, @romanblanco, @panspagetka, @martinpovolny

Opening URLs through automate: rename relation.
  app/controllers/application_controller/buttons.rb
Owners: none

Opening URLs through automate: allow for more entities.
  app/controllers/application_controller/buttons.rb
  app/views/shared/buttons/_ab_options_form.html.haml
Owners: none

Opening URLs through automate: look into SavedUrl.
  app/assets/javascripts/controllers/dialog_user/dialog_user_controller.js
  app/assets/javascripts/services/dialog_field_refresh_service.js
  app/controllers/application_controller/buttons.rb
  app/services/dialog_local_service.rb
  app/views/shared/dialogs/_dialog_provision.html.haml
  app/views/shared/dialogs/_dialog_user.html.haml
Owners: none

Opening URLs through automate: rename classes.
  app/controllers/application_controller/buttons.rb
Owners: none

Opening URLs through automate: remove debugging code, fix style.
  app/controllers/application_controller/buttons.rb
Owners: none

Opening URLs through automate: look into SavedUrl when running w/o a dialog.
  app/controllers/application_controller/buttons.rb
Owners: none

Opening URLs through automate: fix specs.
  spec/javascripts/controllers/dialog_user/dialog_user_controller_spec.js
  spec/services/dialog_local_service_spec.rb
Owners: none

Opening URLs w/ automate: base_class for polymorp. rel. type in no dialog scenario.
  app/controllers/application_controller/buttons.rb
  app/controllers/application_controller/wait_for_task.rb
Owners: none

Opening URLs w/ automate: fix style issues.
  app/controllers/application_controller/buttons.rb
Owners: none

Remove Embedded Ansible repository unsused attributes
  app/assets/javascripts/controllers/ansible_repository/repository_form_controller.js
  app/controllers/mixins/embedded_ansible_refresh_mixin.rb
  app/helpers/ansible_repository_helper/textual_summary.rb
  app/views/ansible_repository/_repository_form.html.haml
  spec/helpers/ansible_repository_helper/textual_summary_spec.rb
  spec/javascripts/controllers/ansible_repository/ansible_repository_form_controller_spec.js
Owners: none

Fix Embedded Ansible Respository refresh
  app/controllers/ansible_credential_controller.rb
  app/controllers/ansible_repository_controller.rb
  app/controllers/mixins/embedded_ansible_refresh_mixin.rb
Owners: none

Merge pull request #5729 from skateman/explorer-tree-init-object
  app/assets/javascripts/controllers/tree_view_controller.js
  app/assets/javascripts/miq_global.js
  app/views/layouts/listnav/_explorer.html.haml
  app/views/layouts/listnav/_generic_object_definition_show_list_with_treeview.html.haml
Owners: none

Merge pull request #5737 from skateman/tree-data-delete
  app/assets/javascripts/controllers/tree_view_controller.js
Owners: none

Merge pull request #5828 from Hyperkid123/fix-container-volumes
  app/services/dialog_local_service.rb
  spec/services/dialog_local_service_spec.rb
Owners: none

Use React component to create service dialog from ansible tower
  app/controllers/automation_manager_controller.rb
  app/controllers/mixins/manager_controller_mixin.rb
  app/views/automation_manager/_configscript_service_dialog.html.haml
  config/routes.rb
  spec/controllers/automation_manager_controller_spec.rb
Owners: none

Make serviceDialogFromForm reusable
  app/javascript/components/service-dialog-from-form/service-dialog-from.jsx
  app/javascript/components/service-dialog-from-form/service-dialog-from.schema.js
  app/javascript/packs/component-definitions-common.js
  app/javascript/spec/service-dialog-from-form/service-dialog-from-form.spec.js
  app/views/catalog/_service_dialog_from_ot.html.haml
Owners: none

Don't store Classification AR object in session
  app/controllers/application_controller/tags.rb
  app/views/layouts/_tag_edit.html.haml
Owners: none

These are set by the factory
  spec/controllers/cloud_tenant_controller_spec.rb
Owners: none

Handle network managers in the dialog local service
  app/services/dialog_local_service.rb
  spec/services/dialog_local_service_spec.rb
Owners: none

Dialog copy - remove ids pointing to the original dialog
  app/assets/javascripts/controllers/dialog_editor/dialog_editor_controller.js
Owners: @romanblanco

Merge pull request #5841 from JPrause/hammer9_cl
  CHANGELOG.md
Owners: none

Changes for ivanchuk branch release.
  README.md
  bin/setup
Owners: none

Removed gettext changing value for Analysis Profiles
  app/views/ops/_ap_form_set.html.haml
Owners: none

Fix custom button group `Display on Button` option
  app/controllers/application_controller/buttons.rb
Owners: none

Select the features tree items when 'everything' is allowed
  app/presenters/tree_node/menu/item.rb
  app/presenters/tree_node/miq_product_feature.rb
Owners: @skateman

WIP
  app/javascript/components/code-editor/test.js
  app/javascript/components/vm-edit-form/vm-edit-form.jsx
  app/javascript/components/vm-edit-form/vm-edit-form.schema.js
  app/javascript/packs/component-definitions-common.js
  app/views/vm_common/_form.html.haml
Owners: none

These are all set by the factory
  spec/controllers/automation_manager_controller_spec.rb
Owners: none

yarn: lock by adding yarn.lock
  .gitignore
  yarn.lock
Owners: none

Do not build the regex for embedded method when there's no fqname
  app/controllers/miq_ae_class_controller.rb
Owners: none

[Changelog] Update for Sprint 116
  CHANGELOG.md
Owners: none

Fixed container provider custom button dialog redirect.
  app/services/dialog_local_service.rb
Owners: none

Revert "Fix failing spec for vm_infra controller according to the changes"
  spec/controllers/vm_infra_controller_spec.rb
Owners: none

Revert "Fix problem with canceling policy sim if clicking on Back before"
  app/controllers/mixins/actions/vm_actions/policy_simulation.rb
  config/routes.rb
Owners: none

Allow returning back to the previous controller, after clicking on Back
  app/views/layouts/_x_edit_buttons.html.haml
Owners: none

Add spec for rendering Back button during policy simulation
  spec/views/layouts/_x_edit_buttons.html.haml_spec.rb
Owners: none

Fix specs for Provision taggiing middleware
  app/javascript/spec/miq-redux/middleware.spec.js
Owners: none

Remove miqOnCheckProvTags function
  app/assets/javascripts/miq_tree.js
Owners: none

Replace Provision Tags tree with React component
  app/controllers/application_controller/miq_request_methods.rb
  app/javascript/components/taggingWrapper.jsx
  app/javascript/miq-redux/middleware.js
  app/views/miq_request/_prov_field.html.haml
Owners: none

Permission store: fix specs.
  spec/helpers/application_helper_spec.rb
Owners: none

Code styling
  app/controllers/application_controller/miq_request_methods.rb
  app/javascript/components/taggingWrapper.jsx
  app/javascript/miq-redux/middleware.js
  app/javascript/spec/miq-redux/middleware.spec.js
  app/views/miq_request/_prov_field.html.haml
Owners: none

.github/CODEOWNERS:

# trees
app/presenters/tree_node/                         @skateman
app/presenters/tree_builder_*                     @skateman
# styling and images
app/assets/stylesheets/                           @epwinchell
app/assets/images/                                @epwinchell
# dialog editor
app/assets/javascripts/controllers/dialog_editor  @romanblanco
app/views/miq_ae_customization/editor.html.haml   @romanblanco
# toolbar buttons
app/helpers/application_helper/button/            @romanblanco @panspagetka
app/helpers/application_helper/toolbar_builder.rb @romanblanco @panspagetka @martinpovolny
# rbac
app/controllers/mixins/checked_id_mixin.rb        @romanblanco @panspagetka
# charts
lib/charting/                                     @panspagetka
lib/report_formatter/c3.rb                        @panspagetka
lib/report_formatter/c3_series.rb                 @panspagetka
lib/report_formatter/chart_common.rb              @panspagetka
app/assets/javascripts/miq_c3.js                  @panspagetka
# topology services
app/services/*topology_service.rb                 @skateman

app/controllers/mixins/custom_buttons.rb          @martinpovolny
app/controllers/mixins/generic_*.rb               @martinpovolny
app/controllers/mixins/more_show_actions.rb       @martinpovolny
app/assets/javascripts/miq_explorer.js            @martinpovolny
app/presenters/explorer_presenter.rb              @martinpovolny
app/helpers/application_helper/button/basic.rb    @martinpovolny
app/helpers/application_helper/toolbar/basic.rb   @martinpovolny
app/presenters/tree_builder.rb                    @martinpovolny
app/presenters/menu/                              @martinpovolny
app/helpers/textual_*rb                           @martinpovolny

# decorators
app/decorators/                                   @skateman
