Repository ManageIQ/manageiq-ui-classic, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skateman, @epwinchell, @romanblanco, @panspagetka, @martinpovolny

:flash_array was `nil` which doesn't respond to include?
  spec/controllers/miq_ae_customization_controller_spec.rb
Owners: none

Rewrite smart state scan specs
  spec/support/examples_group/shared_examples_for_smart_state_scan_buttons.rb
Owners: none

Fix incorrect permissions
  spec/controllers/cloud_network_controller_spec.rb
  spec/controllers/cloud_subnet_controller_spec.rb
  spec/controllers/cloud_volume_type_controller_spec.rb
  spec/controllers/ems_cloud_controller_spec.rb
  spec/controllers/ems_cluster_controller_spec.rb
  spec/controllers/ems_infra_controller_spec.rb
  spec/controllers/ems_physical_infra_controller_spec.rb
  spec/controllers/floating_ip_controller_spec.rb
  spec/controllers/generic_object_controller_spec.rb
  spec/controllers/generic_object_definition_controller_spec.rb
  spec/controllers/host_controller_spec.rb
  spec/controllers/network_router_controller_spec.rb
  spec/controllers/resource_pool_controller_spec.rb
  spec/helpers/application_helper/buttons/condition_policy_spec.rb
  spec/helpers/application_helper/buttons/condition_spec.rb
  spec/shared/controllers/shared_examples_for_nested_lists.rb
Owners: none

Don't forget to run rake spec:setup
  .travis.yml
Owners: none

Override pf class for chart tooltip background https://bugzilla.redhat.com/show_bug.cgi?id=1729236
  app/assets/stylesheets/patternfly_overrides.scss
Owners: @epwinchell

Fixed mount validation on editable password form component.
  app/javascript/components/async-credentials/edit-secret-field.jsx
  app/javascript/components/async-credentials/secret-switch-field.jsx
  app/javascript/spec/async-credentials/__snapshots__/secret-switch-field.spec.js.snap
  app/javascript/spec/async-credentials/secret-switch-field.spec.js
Owners: none

Enabled nested form fields in async credentials component.
  app/javascript/components/async-credentials/async-credentials.jsx
Owners: none

Removed horizontal layout from async credentials component.
  app/javascript/components/async-credentials/async-credentials.jsx
Owners: none

Removed unused pxe server form code.
  app/controllers/pxe_controller.rb
  app/controllers/pxe_controller/pxe_servers.rb
  app/javascript/forms/input-with-dynamic-prefix.jsx
  app/javascript/spec/async-credentials/__snapshots__/secret-switch-field.spec.js.snap
  app/views/pxe/_pxe_form.html.haml
  config/routes.rb
Owners: none

Created pxe server form react component.
  app/controllers/pxe_controller/pxe_servers.rb
  app/javascript/components/pxe-servers-form/pxe-server-form.jsx
  app/javascript/components/pxe-servers-form/pxe-server-form.schema.js
  app/javascript/packs/component-definitions-common.js
Owners: none

Added composite prefix/value input react form component.
  app/assets/stylesheets/dynamic_prefix_form_input.scss
  app/assets/stylesheets/main.scss
  app/javascript/forms/input-with-dynamic-prefix.jsx
  app/javascript/forms/mappers/formsFieldsMapper.jsx
Owners: @epwinchell

Removed ruby spec for deleted pxe server routes.
  spec/controllers/pxe_controller_spec.rb
  spec/routing/pxe_routing_spec.rb
Owners: none

Added async validation for pxe server form name field.
  app/javascript/components/pxe-servers-form/pxe-server-form.schema.js
  app/javascript/forms/input-with-dynamic-prefix.jsx
Owners: none

Added tests for pxe server from component.
  app/javascript/components/pxe-servers-form/pxe-server-form.jsx
  app/javascript/components/pxe-servers-form/pxe-server-form.schema.js
  app/javascript/spec/pxe-servers-form/__snapshots__/pxe-server-form.spec.js.snap
  app/javascript/spec/pxe-servers-form/pxe-server-form.spec.js
Owners: none

Added tests for input with dynamic prefix React component.
  app/javascript/forms/input-with-dynamic-prefix.jsx
  app/javascript/spec/dual-list-select/__snapshots__/dual-list-select.spec.js.snap
  app/javascript/spec/forms/__snapshots__/input-with-dynamic-prefix.spec.js.snap
  app/javascript/spec/forms/input-with-dynamic-prefix.spec.js
  app/javascript/spec/helpers/fieldProvider.js
Owners: none

Fix design and implement sorting of report result tables.
  app/javascript/components/report-data-table.jsx
  app/javascript/packs/component-definitions-common.js
  app/views/layouts/_report_html.html.haml
Owners: none

Report results: style fixes.
  app/javascript/components/report-data-table.jsx
  package.json
Owners: none

Report results: add filtering.
  app/javascript/components/report-data-table.jsx
  app/javascript/packs/component-definitions-common.js
Owners: none

Report results: add a test for the component.
  app/javascript/components/report-data-table.jsx
  app/javascript/spec/report-data-table.spec.js
Owners: none

React component definitions: add missing newline.
  app/javascript/packs/component-definitions-common.js
Owners: none

Report results: pagination: update component tests.
  app/javascript/spec/report-data-table.spec.js
Owners: none

Report results: test: add act()
  app/javascript/spec/report-data-table.spec.js
Owners: none

Report results: work on the old pagination.
  app/controllers/mixins/saved_report_paging.rb
  app/controllers/report_controller.rb
  app/javascript/components/report-data-table.jsx
  app/views/layouts/_saved_report_paging_bar.html.haml
Owners: none

Report results: use the React table in the fullscreen view.
  app/controllers/application_controller.rb
  app/views/layouts/report_only.html.haml
Owners: none

Report results: filter background.
  app/javascript/components/report-data-table.jsx
Owners: none

Report results: use global pagination settings in the component.
  app/controllers/application_controller.rb
  app/controllers/mixins/controller_constants.rb
  app/javascript/components/report-data-table.jsx
  app/views/layouts/_report_html.html.haml
Owners: none

Fix check to check for providers not containers
  app/views/ems_container/show_list.html.haml
Owners: none

Revert "Adjust the test against accordion name in saved reports (part 2)"
  app/controllers/report_controller/saved_reports.rb
Owners: none

Revert "Adjust the test against the accordion name at saved reports"
  app/controllers/report_controller/saved_reports.rb
  spec/controllers/report_controller_spec.rb
Owners: none

Generalized check for accordion in params when selecting (saved)reports
  app/controllers/report_controller/saved_reports.rb
  spec/controllers/report_controller_spec.rb
Owners: none

The factory sets all these again
  spec/controllers/automation_manager_controller_spec.rb
Owners: none

AzureStack orchestration template provisioning
  app/controllers/catalog_controller.rb
  app/helpers/application_helper/toolbar_chooser.rb
  app/javascript/components/orchestration-template/orchestration-template-form.schema.js
  app/presenters/tree_builder.rb
  app/presenters/tree_builder_orchestration_templates.rb
  product/views/ManageIQ_Providers_AzureStack_CloudManager_OrchestrationTemplate.yaml
  spec/controllers/catalog_controller_spec.rb
Owners: @martinpovolny, @skateman

[Changelog] Update for Hammer-9
  CHANGELOG.md
Owners: none

Report results: new view type: Data
  app/controllers/mixins/saved_report_paging.rb
  app/controllers/report_controller.rb
  app/controllers/report_controller/saved_reports.rb
  app/views/layouts/_report_html.html.haml
Owners: none

Report results: add a view type button for "Data View"
  app/helpers/application_helper/button/view_ght_always.rb
  app/helpers/application_helper/toolbar/report_view.rb
Owners: @romanblanco, @panspagetka

Report results: initial setting of filtering column in state.
  app/javascript/components/report-data-table.jsx
  app/javascript/spec/report-data-table.spec.js
Owners: none

Fix duplicate component definitions.
  app/javascript/packs/component-definitions-common.js
Owners: none

Add release to About screen title https://bugzilla.redhat.com/show_bug.cgi?id=1546108
  app/javascript/components/miq-about-modal.jsx
Owners: none

Set title when editing automate method type implemented in Angular.
  app/controllers/miq_ae_class_controller.rb
Owners: none

Fix a crash when editing automate methods.
  app/views/layouts/angular/_ansible_form_options_angular.html.haml
Owners: none

.github/CODEOWNERS:

# trees
app/presenters/tree_node/                         @skateman
app/presenters/tree_builder_*                     @skateman
# styling and images
app/assets/stylesheets/                           @epwinchell
app/assets/images/                                @epwinchell
# dialog editor
app/assets/javascripts/controllers/dialog_editor  @romanblanco
app/views/miq_ae_customization/editor.html.haml   @romanblanco
# toolbar buttons
app/helpers/application_helper/button/            @romanblanco @panspagetka
app/helpers/application_helper/toolbar_builder.rb @romanblanco @panspagetka @martinpovolny
# rbac
app/controllers/mixins/checked_id_mixin.rb        @romanblanco @panspagetka
# charts
lib/charting/                                     @panspagetka
lib/report_formatter/c3.rb                        @panspagetka
lib/report_formatter/c3_series.rb                 @panspagetka
lib/report_formatter/chart_common.rb              @panspagetka
app/assets/javascripts/miq_c3.js                  @panspagetka
# topology services
app/services/*topology_service.rb                 @skateman

app/controllers/mixins/custom_buttons.rb          @martinpovolny
app/controllers/mixins/generic_*.rb               @martinpovolny
app/controllers/mixins/more_show_actions.rb       @martinpovolny
app/assets/javascripts/miq_explorer.js            @martinpovolny
app/presenters/explorer_presenter.rb              @martinpovolny
app/helpers/application_helper/button/basic.rb    @martinpovolny
app/helpers/application_helper/toolbar/basic.rb   @martinpovolny
app/presenters/tree_builder.rb                    @martinpovolny
app/presenters/menu/                              @martinpovolny
app/helpers/textual_*rb                           @martinpovolny

# decorators
app/decorators/                                   @skateman
