Repository ManageIQ/manageiq-ui-classic, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skateman, @epwinchell, @romanblanco, @panspagetka, @martinpovolny

Change tagging provision markup to be col-md-12 in total
  app/views/miq_request/_prov_field.html.haml
Owners: none

These are set by the factory, again
  spec/controllers/cloud_object_store_object_spec.rb
Owners: none

Move "Should have privileged access" message under the userid field
  app/assets/javascripts/controllers/ems_common/ems_common_form_controller.js
  app/views/layouts/angular-bootstrap/_auth_credentials_angular_bootstrap.html.haml
  app/views/layouts/angular/_multi_auth_credentials.html.haml
Owners: none

Remove delimiter for Request ID
  app/views/miq_request/_request.html.haml
Owners: none

AuthCredentials - move user should have privieged access message under the user field
  app/assets/javascripts/components/auth-credentials.js
  app/views/configuration_manager/_shared_form.html.haml
  app/views/static/auth-credentials.html.haml
Owners: none

Update midleware specs for tagging
  app/javascript/spec/miq-redux/middleware.spec.js
Owners: none

Fix resizer blocking paginator elements
  app/assets/stylesheets/patternfly_overrides.scss
Owners: @epwinchell

user_input_filter - don't send Cancel on Apply
  app/assets/javascripts/miq_application.js
  app/controllers/application_controller/filter.rb
  app/views/layouts/_user_input_filter.html.haml
Owners: none

add custom provisioning timeout feature
  app/views/miq_request/_prov_field.html.haml
  app/views/shared/views/_prov_dialog.html.haml
Owners: none

Merge pull request #5857 from martinpovolny/cb_group_text_display_fix
  app/controllers/application_controller/buttons.rb
Owners: none

Merge pull request #5858 from skateman/features-tree-select
  app/presenters/tree_node/menu/item.rb
  app/presenters/tree_node/miq_product_feature.rb
Owners: @skateman

Merge pull request #5868 from JPrause/sprint116_cl
  CHANGELOG.md
Owners: none

Merge pull request #5866 from skateman/inline-method-new
  app/controllers/miq_ae_class_controller.rb
Owners: none

Merge pull request #5856 from himdel/dialog-copy
  app/assets/javascripts/controllers/dialog_editor/dialog_editor_controller.js
Owners: @romanblanco

Merge pull request #5869 from Hyperkid123/fix-emx-container-dialog-redirect
  app/services/dialog_local_service.rb
Owners: none

Merge pull request #5839 from hstastna/Fix_cancel_policy_sim
  app/controllers/mixins/actions/vm_actions/policy_simulation.rb
  app/views/layouts/_x_edit_buttons.html.haml
  config/routes.rb
  spec/controllers/vm_infra_controller_spec.rb
  spec/views/layouts/_x_edit_buttons.html.haml_spec.rb
Owners: none

Merge pull request #5856 from himdel/dialog-copy
  app/assets/javascripts/controllers/dialog_editor/dialog_editor_controller.js
Owners: @romanblanco

Add json i18n catalogs for ivanchuk
  app/assets/javascripts/locale/en/app.js
  app/assets/javascripts/locale/es/app.js
  app/assets/javascripts/locale/fr/app.js
  app/assets/javascripts/locale/ja/app.js
  app/assets/javascripts/locale/pt_BR/app.js
  app/assets/javascripts/locale/zh_CN/app.js
Owners: none

The factory sets all these again
  spec/controllers/cloud_volume_backup_controller_spec.rb
Owners: none

Automate import - use format.json, not format.js when doing render :json
  app/assets/javascripts/automate_import_export.js
  app/assets/javascripts/git_import.js
  app/controllers/miq_ae_tools_controller.rb
Owners: none

git import spec - callbacks don't have to parse json anymore
  spec/javascripts/git_import_spec.js
Owners: none

Update travis.yml for ivanchuk
  .travis.yml
Owners: none

Add spec:jest, spec:javascript and spec:compile back
  .travis.yml
Owners: none

Merge pull request #5870 from martinpovolny/fix_permission_store
  spec/helpers/application_helper_spec.rb
Owners: none

Merge pull request #5872 from romanblanco/request_id_delimiter
  app/views/miq_request/_request.html.haml
Owners: none

Merge pull request #5874 from epwinchell/1729894
  app/assets/stylesheets/patternfly_overrides.scss
Owners: @epwinchell

Change travis.yml to use the only supported ruby, 2.5.3
  .travis.yml
Owners: none

Merge pull request #5859 from romanblanco/ops_checkbox_value
  app/views/ops/_ap_form_set.html.haml
Owners: none

Merge pull request #5814 from ZitaNemeckova/fix_policy_bc
  app/controllers/mixins/breadcrumbs_mixin.rb
  spec/controllers/mixins/breadcrumbs_mixin_spec.rb
Owners: none

[Changelog] Update for Ivanchuk Beta1
  CHANGELOG.md
Owners: none

Merge pull request #5837 from skateman/reports-accordions
  app/controllers/report_controller/saved_reports.rb
  spec/controllers/report_controller_spec.rb
Owners: none

Fixed JS snapshot test mismatch.
  app/javascript/spec/forms/__snapshots__/input-with-dynamic-prefix.spec.js.snap
Owners: none

Fixed rubocop standard error warning in pxe_servers.rb
  app/controllers/pxe_controller/pxe_servers.rb
Owners: none

Add specs for setting targets for editing automate schedules
  spec/controllers/ops_controller/settings/automate_schedules_spec.rb
Owners: none

Make editing existing schedule with EVM Group/Tenant option work
  app/controllers/ops_controller/settings/automate_schedules.rb
Owners: none

Remove unnecessary tagging info text
  app/views/miq_request/_prov_field.html.haml
Owners: none

Get record class while performing operations on VM's datastore page
  app/controllers/application_controller/ci_processing.rb
Owners: none

Add specs for operations on VMs of a Datastore and related record cls
  spec/controllers/application_controller/ci_processing_spec.rb
Owners: none

Use _.some instead of includes
  app/assets/javascripts/components/generic_object/assign-buttons.js
Owners: none

idsToElements - rewrite left & right in terms of idsToElements instead of idsToIndexes
  app/assets/javascripts/components/generic_object/assign-buttons.js
Owners: none

.github/CODEOWNERS:

# trees
app/presenters/tree_node/                         @skateman
app/presenters/tree_builder_*                     @skateman
# styling and images
app/assets/stylesheets/                           @epwinchell
app/assets/images/                                @epwinchell
# dialog editor
app/assets/javascripts/controllers/dialog_editor  @romanblanco
app/views/miq_ae_customization/editor.html.haml   @romanblanco
# toolbar buttons
app/helpers/application_helper/button/            @romanblanco @panspagetka
app/helpers/application_helper/toolbar_builder.rb @romanblanco @panspagetka @martinpovolny
# rbac
app/controllers/mixins/checked_id_mixin.rb        @romanblanco @panspagetka
# charts
lib/charting/                                     @panspagetka
lib/report_formatter/c3.rb                        @panspagetka
lib/report_formatter/c3_series.rb                 @panspagetka
lib/report_formatter/chart_common.rb              @panspagetka
app/assets/javascripts/miq_c3.js                  @panspagetka
# topology services
app/services/*topology_service.rb                 @skateman

app/controllers/mixins/custom_buttons.rb          @martinpovolny
app/controllers/mixins/generic_*.rb               @martinpovolny
app/controllers/mixins/more_show_actions.rb       @martinpovolny
app/assets/javascripts/miq_explorer.js            @martinpovolny
app/presenters/explorer_presenter.rb              @martinpovolny
app/helpers/application_helper/button/basic.rb    @martinpovolny
app/helpers/application_helper/toolbar/basic.rb   @martinpovolny
app/presenters/tree_builder.rb                    @martinpovolny
app/presenters/menu/                              @martinpovolny
app/helpers/textual_*rb                           @martinpovolny

# decorators
app/decorators/                                   @skateman
