Repository ManageIQ/manageiq-ui-classic, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skateman, @epwinchell, @romanblanco, @panspagetka, @martinpovolny

.github/CODEOWNERS:

# trees
app/presenters/tree_node/                         @skateman
app/presenters/tree_builder_*                     @skateman
# styling and images
app/assets/stylesheets/                           @epwinchell
app/assets/images/                                @epwinchell
# dialog editor
app/assets/javascripts/controllers/dialog_editor  @romanblanco
app/views/miq_ae_customization/editor.html.haml   @romanblanco
# toolbar buttons
app/helpers/application_helper/button/            @romanblanco @panspagetka
app/helpers/application_helper/toolbar_builder.rb @romanblanco @panspagetka @martinpovolny
# rbac
app/controllers/mixins/checked_id_mixin.rb        @romanblanco @panspagetka
# charts
lib/charting/                                     @panspagetka
lib/report_formatter/c3.rb                        @panspagetka
lib/report_formatter/c3_series.rb                 @panspagetka
lib/report_formatter/chart_common.rb              @panspagetka
app/assets/javascripts/miq_c3.js                  @panspagetka
# topology services
app/services/*topology_service.rb                 @skateman

app/controllers/mixins/custom_buttons.rb          @martinpovolny
app/controllers/mixins/generic_*.rb               @martinpovolny
app/controllers/mixins/more_show_actions.rb       @martinpovolny
app/assets/javascripts/miq_explorer.js            @martinpovolny
app/presenters/explorer_presenter.rb              @martinpovolny
app/helpers/application_helper/button/basic.rb    @martinpovolny
app/helpers/application_helper/toolbar/basic.rb   @martinpovolny
app/presenters/tree_builder.rb                    @martinpovolny
app/presenters/menu/                              @martinpovolny
app/helpers/textual_*rb                           @martinpovolny

# decorators
app/decorators/                                   @skateman

Add spec for the fix for changing the title in Instance Policy sim page
  spec/controllers/vm_common_spec.rb
Owners: none

Add test for RemoveCatalogItemModal
  app/javascript/components/remove-catalog-item-modal.jsx
  app/javascript/spec/remove-catalog-item-modal/__snapshots__/remove-catalog-item-modal.spec.js.snap
  app/javascript/spec/remove-catalog-item-modal/remove-catalog-item-modal.spec.js
Owners: none

Fix Edit screen backgounds
  app/helpers/application_helper/page_layouts.rb
  app/views/layouts/_center_div_no_listnav.html.haml
Owners: none

Removes drop_breadcrumb in tests
  spec/controllers/vm_cloud_controller_spec.rb
  spec/controllers/vm_infra_controller_spec.rb
  spec/controllers/vm_or_template_controller_spec.rb
Owners: none

policy support fix - drop breadcrumb
  app/controllers/application_controller/policy_support.rb
Owners: none

Deleted other breadcrumb methods
  app/controllers/application_controller.rb
  app/controllers/application_controller/ci_processing.rb
  app/controllers/application_controller/performance.rb
  app/controllers/auth_key_pair_cloud_controller.rb
  app/controllers/cloud_object_store_container_controller.rb
  app/controllers/cloud_object_store_object_controller.rb
  app/controllers/ems_block_storage_controller.rb
  app/controllers/ems_cluster_controller.rb
  app/controllers/ems_object_storage_controller.rb
  app/controllers/host_controller.rb
  app/controllers/infra_networking_controller.rb
  app/controllers/mixins/explorer_show.rb
  app/controllers/mixins/manager_controller_mixin.rb
  app/controllers/mixins/vm_show_mixin.rb
  app/controllers/storage_controller.rb
  app/controllers/vm_cloud_controller.rb
  app/controllers/vm_common.rb
  app/controllers/vm_infra_controller.rb
  app/controllers/vm_or_template_controller.rb
  spec/controllers/application_controller/ci_processing_spec.rb
  spec/controllers/automation_manager_controller_spec.rb
  spec/controllers/provider_foreman_controller_spec.rb
Owners: none

Last call of user_role_name, vmdb_plugins_sha and vmdb_build_info deleted in PR 4726
  app/helpers/application_helper.rb
Owners: none

Update ui-components to 1.2.4
  package.json
Owners: none

Fixed validation for blank optional initial values.
  app/javascript/components/async-credentials/async-credentials.jsx
  app/javascript/components/async-credentials/helper.js
  app/javascript/components/async-credentials/secret-switch-field.jsx
  app/javascript/forms/button-spinner.jsx
  app/javascript/spec/async-credentials/async-credentials.spec.js
Owners: none

Added async validation component to to data driven form mapper.
  app/javascript/components/async-credentials/async-credentials.jsx
  app/javascript/components/dual-list-select/index.jsx
  app/javascript/forms/button-spinner.jsx
  app/javascript/forms/mappers/formsFieldsMapper.jsx
  app/javascript/spec/async-credentials/__snapshots__/async-credentials.spec.js.snap
  app/javascript/spec/async-credentials/async-credentials.spec.js
Owners: none

Added change password form fields.
  app/javascript/components/async-credentials/edit-secret-field.jsx
  app/javascript/components/async-credentials/helper.js
  app/javascript/components/async-credentials/secret-switch-field.jsx
  app/javascript/spec/async-credentials/__snapshots__/edit-secret-field.spec.js.snap
  app/javascript/spec/async-credentials/__snapshots__/secret-switch-field.spec.js.snap
  app/javascript/spec/async-credentials/edit-secret-field.spec.js
  app/javascript/spec/async-credentials/secret-switch-field.spec.js
Owners: none

Update React dependencies.
  package.json
Owners: none

Added component that checks only sub part of form for erros.
  app/javascript/components/async-credentials/check-errors.jsx
Owners: none

Update FieldProvider mock for testing.
  app/javascript/spec/dual-list-select/__snapshots__/dual-list-select.spec.js.snap
  app/javascript/spec/helpers/fieldProvider.js
Owners: none

Fixed undefined error message and wrong prop type.
  app/javascript/components/async-credentials/async-credentials.jsx
  app/javascript/components/async-credentials/check-errors.jsx
Owners: none

Fixed typos and renamed PasswordContext.
  app/javascript/components/async-credentials/async-credentials.jsx
  app/javascript/components/async-credentials/secret-switch-field.jsx
Owners: none

Added initial value to validation while not editing.
  app/javascript/components/async-credentials/async-credentials.jsx
  app/javascript/spec/async-credentials/__snapshots__/async-credentials.spec.js.snap
Owners: none

Updated to latest version of data-driven-forms.
  package.json
Owners: none

Drop the unnecessary tree_name session variable :scissors: :fire:
  app/controllers/application_controller/miq_request_methods.rb
  app/controllers/mixins/more_show_actions.rb
  app/controllers/vm_common.rb
Owners: @martinpovolny

Drop the id/styling wrapper from the network tree under hosts
  app/views/host/_network_tree.html.haml
Owners: none

Delete the unnecessary tree variable from the session :toilet:
  app/controllers/application_controller/miq_request_methods.rb
Owners: none

Drop the unnecessary squash_open variable from the session :fire:
  app/controllers/mixins/more_show_actions.rb
  app/controllers/vm_common.rb
Owners: @martinpovolny

Update ui-components to 1.1.22 for hammer
  package.json
  yarn.lock
Owners: none

jasmine: Move /static and /packs definitions to jasmine_helper.rb
  config/jasmine_overrides.rb
  spec/javascripts/support/jasmine_helper.rb
Owners: none

Adds additional options to breadcrumb mixin
  app/controllers/mixins/breadcrumbs_mixin.rb
Owners: none

Fix breadcrumbs in provider foreman controller
  app/controllers/mixins/manager_controller_mixin.rb
  app/controllers/provider_foreman_controller.rb
Owners: none

Fixes breadcrumbs issues across explorer controllers
  app/controllers/application_controller/explorer.rb
  app/controllers/automation_manager_controller.rb
  app/controllers/catalog_controller.rb
  app/controllers/miq_ae_customization_controller.rb
  app/controllers/miq_policy_controller.rb
  app/controllers/miq_policy_controller/alert_profiles.rb
  app/controllers/miq_policy_controller/alerts.rb
  app/controllers/miq_policy_controller/conditions.rb
  app/controllers/miq_policy_controller/events.rb
  app/controllers/miq_policy_controller/miq_actions.rb
  app/controllers/miq_policy_controller/policies.rb
  app/controllers/miq_policy_controller/policy_profiles.rb
  app/controllers/service_controller.rb
  app/controllers/vm_cloud_controller.rb
  app/controllers/vm_common.rb
  app/controllers/vm_infra_controller.rb
  app/controllers/vm_or_template_controller.rb
  spec/controllers/miq_policy_controller/conditions_spec.rb
Owners: none

Use index as a part of keys in breadcrumbs
  app/javascript/components/breadcrumbs/index.js
  app/javascript/spec/breadcrumbs/__snapshots__/breadcrumbs.spec.js.snap
Owners: none

Add breadcrumbs mixin to cotroller where they are missing
  app/controllers/miq_template_controller.rb
  app/controllers/vm_controller.rb
Owners: none

Show affected servers on PhysicalServerProvisionRequest details
  app/controllers/application_controller/miq_request_methods.rb
  app/views/miq_request/_physical_server_provision_show.html.haml
  app/views/miq_request/_request.html.haml
  spec/controllers/miq_request_controller_spec.rb
Owners: none

jasmine: add /jasmine.yml.json endpoint
  spec/javascripts/support/jasmine_helper.rb
Owners: none

Hide CloudVolumeTypes for non-Openstack storage providers
  app/helpers/ems_storage_helper/textual_summary.rb
Owners: none

Do not reset entrypoints when editing an existing catalog bundle
  app/controllers/catalog_controller.rb
  spec/controllers/catalog_controller_spec.rb
Owners: none

Remove cloud_volume_type for ems_infra and add it for OpenStack Cinder Manager
  spec/helpers/ems_storage_helper/textual_summary_spec.rb
Owners: none

Menu Simplification: extract Configuration into the top-right bar
  app/presenters/menu/default_menu.rb
  app/views/layouts/_user_options.html.haml
  spec/controllers/dashboard_controller_spec.rb
Owners: @martinpovolny

[Changelog] Update for Sprint 109
  CHANGELOG.md
Owners: none

Replace the leaf option with root_class ivar in TreeBuilder*Filter
  app/presenters/tree_builder_images_filter.rb
  app/presenters/tree_builder_instances_filter.rb
  app/presenters/tree_builder_template_filter.rb
  app/presenters/tree_builder_templates_images_filter.rb
  app/presenters/tree_builder_vms_filter.rb
  app/presenters/tree_builder_vms_instances_filter.rb
Owners: @skateman

Drop the unnecessary leaf param from images, instances, vandt trees
  app/presenters/tree_builder_images.rb
  app/presenters/tree_builder_instances.rb
  app/presenters/tree_builder_vandt.rb
  spec/presenters/tree_builder_images_spec.rb
  spec/presenters/tree_builder_instances_spec.rb
Owners: @skateman

Drop the leaf param from the TreeBuilders' state stored in TreeState
  app/presenters/tree_builder.rb
  spec/presenters/tree_builder_ae_customization_spec.rb
Owners: @martinpovolny

Replace the leaf option with root_class ivar in Foreman/Ansible trees
  app/presenters/tree_builder_automation_manager_configured_systems.rb
  app/presenters/tree_builder_configuration_manager_configured_systems.rb
  app/presenters/tree_builder_configured_systems.rb
Owners: @skateman
