Repository ManageIQ/manageiq-ui-classic, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skateman, @epwinchell, @romanblanco, @panspagetka, @martinpovolny

Fix manager typo in menu breadcrumbs
  app/controllers/ems_block_storage_controller.rb
Owners: none

Add missing routes to compare managed VMs of a Datastore
  config/routes.rb
Owners: none

Fix breadcrumbs in control section
  app/controllers/miq_policy_controller.rb
  app/controllers/mixins/breadcrumbs_mixin.rb
  spec/controllers/miq_policy_controller_spec.rb
  spec/controllers/mixins/breadcrumbs_mixin_spec.rb
Owners: none

Make the Datastore Clusters 🌳 non-lazy as always loads its 🧒🧒
  app/presenters/tree_builder_storage_pod.rb
  app/views/storage/_storage_pod_folders.html.haml
Owners: @skateman

Make select in new cloud tenant always headed to bottom
  app/javascript/components/cloud-tenant-form/create-form.schema.js
  app/javascript/spec/cloud-tenant-form/__snapshots__/cloud-tenant-form.spec.js.snap
Owners: none

Allow Tagging for Floating Ip from CloudNetwork
  app/controllers/cloud_network_controller.rb
Owners: none

Do not set load_children on the Active Services in the Services🌳
  app/presenters/tree_builder_services.rb
Owners: @skateman

Drop the load_children from 🌳Builder as it is no longer used
  app/presenters/tree_builder.rb
Owners: @martinpovolny

Add test that tagging is possible for FloatingIp from CloudNetwork page
  spec/controllers/cloud_network_controller_spec.rb
Owners: none

Allow Tagging for Floating Ip from Network Router
  app/controllers/network_router_controller.rb
Owners: none

Add test that tagging is possible for FloatingIp from Network Router page
  spec/controllers/network_router_controller_spec.rb
Owners: none

Flatten the ConfigManagerProvider🌳 by dropping the single type
  app/presenters/tree_builder_configuration_manager.rb
  spec/controllers/provider_foreman_controller_spec.rb
Owners: @skateman

Fix typo in chargeback breadcrumbs options
  app/controllers/chargeback_controller.rb
Owners: none

VmCommon: no string math in right_cell_text
  app/controllers/vm_common.rb
Owners: none

Fix typo in PXE breadcrumbs_options
  app/controllers/pxe_controller.rb
Owners: none

Mark the Indexes node as expanded instead of altering it in 🌳state
  app/presenters/tree_builder_ops_vmdb.rb
  app/presenters/tree_node/hash.rb
Owners: @skateman

Fixed query that build recent records charts.
  app/services/cloud_tenant_dashboard_service.rb
Owners: none

Merge pull request #5170 from evgeny-chufarov/volume
  app/helpers/ems_cloud_helper/textual_summary.rb
  spec/helpers/ems_cloud_helper/textual_summary_spec.rb
Owners: none

Merge pull request #5919 from kbrock/fixup_vm_includes
  product/views/ManageIQ_Providers_CloudManager_Template-all_vms_and_templates.yaml
  product/views/MiqTemplate.yaml
  product/views/ProvisionCloudTemplates.yaml
  product/views/Vm-all_vms.yaml
  product/views/VmOrTemplate-all_archived.yaml
Owners: none

Merge pull request #5926 from kbrock/compliance_statuses
  product/views/InstanceOrImage.yaml
  product/views/ManageIQ_Providers_CloudManager_Template.yaml
  product/views/ManageIQ_Providers_CloudManager_Vm-all_vms_and_templates.yaml
  product/views/ManageIQ_Providers_CloudManager_Vm-vms.yaml
  product/views/ManageIQ_Providers_CloudManager_Vm.yaml
  product/views/ManageIQ_Providers_InfraManager_Template.yaml
  product/views/ManageIQ_Providers_InfraManager_Vm.yaml
  product/views/MiqTemplate-all_miq_templates.yaml
  product/views/ProvisionInfraTemplates.yaml
  product/views/Vm.yaml
  product/views/VmOrTemplate-all_orphaned.yaml
  product/views/VmOrTemplate-all_vms_and_templates.yaml
Owners: none

Merge pull request #5936 from hstastna/Unexpected_error_VM_cluster_get_rec_cls
  app/controllers/application_controller/ci_processing.rb
  spec/controllers/application_controller/ci_processing_spec.rb
Owners: none

Merge pull request #5825 from mzazrivec/replication_form_fixes
  app/assets/javascripts/controllers/ops/pglogical_replication_form_controller.js
  app/views/ops/_settings_replication_tab.html.haml
Owners: none

Merge pull request #5843 from martinpovolny/automate_bz_1714632
  app/controllers/miq_ae_class_controller.rb
Owners: none

Merge pull request #5981 from mansam/fix-1724114
  app/controllers/network_router_controller.rb
  spec/controllers/network_router_controller_spec.rb
Owners: none

Report data: add display of active filter. Add empty state.
  app/javascript/components/report-data-table.jsx
Owners: none

Report data: add EmptyState test, update tests.
  app/javascript/spec/report-data-table.spec.js
Owners: none

Report data: UX fixes.
  app/assets/stylesheets/main.scss
  app/assets/stylesheets/report-data-table.scss
  app/javascript/components/report-data-table.jsx
Owners: @epwinchell

Fix breadcrumb across miq_ae_tools pages
  app/controllers/miq_ae_tools_controller.rb
  spec/controllers/miq_ae_tools_controller_spec.rb
Owners: none

Add option to hide the @title breadcrumb
  app/controllers/mixins/breadcrumbs_mixin.rb
  spec/controllers/mixins/breadcrumbs_mixin_spec.rb
Owners: none

Hide Additional Tenants of Catalog Item if role does not allow displaying them
  app/views/catalog/_form_basic_info.html.haml
  app/views/catalog/_sandt_tree_show.html.haml
  app/views/catalog/_st_angular_form.html.haml
Owners: none

Report data: add empty state icon.
  app/javascript/components/report-data-table.jsx
Owners: none

Credentials parameters need to be serialized
  app/controllers/host_controller.rb
Owners: none

Re-add the removed gettext
  app/controllers/host_controller.rb
Owners: none

Rename the breadcrumb component's file from JS to JSX
  app/javascript/components/breadcrumbs/index.jsx
Owners: none

Merge pull request #4933 from himdel/fix-17475
  spec/helpers/compliance_summary_helper_spec.rb
Owners: none

Automate url_open: "Provider" is really "ExtManagementSystem".
  app/controllers/application_controller/buttons.rb
Owners: none

Automate url_open: add wait_for_task route to service controller.
  config/routes.rb
Owners: none

Use react-codemirror onChange event instead of onBeforeChange.
  app/javascript/components/code-editor/index.js
  app/javascript/spec/code-editor/__snapshots__/code-editor.spec.js.snap
  app/javascript/spec/code-editor/code-editor.spec.js
  app/javascript/spec/orchestration-template/orchestration-template-form.spec.js
Owners: none

Optimization - spec for breadcrumbs when report.name and saved.name are identical
  spec/controllers/optimization_controller_spec.rb
Owners: none

Fixed container provider custom button dialog redirect.
  app/services/dialog_local_service.rb
Owners: none

.github/CODEOWNERS:

# trees
app/presenters/tree_node/                         @skateman
app/presenters/tree_builder_*                     @skateman
# styling and images
app/assets/stylesheets/                           @epwinchell
app/assets/images/                                @epwinchell
# dialog editor
app/assets/javascripts/controllers/dialog_editor  @romanblanco
app/views/miq_ae_customization/editor.html.haml   @romanblanco
# toolbar buttons
app/helpers/application_helper/button/            @romanblanco @panspagetka
app/helpers/application_helper/toolbar_builder.rb @romanblanco @panspagetka @martinpovolny
# rbac
app/controllers/mixins/checked_id_mixin.rb        @romanblanco @panspagetka
# charts
lib/charting/                                     @panspagetka
lib/report_formatter/c3.rb                        @panspagetka
lib/report_formatter/c3_series.rb                 @panspagetka
lib/report_formatter/chart_common.rb              @panspagetka
app/assets/javascripts/miq_c3.js                  @panspagetka
# topology services
app/services/*topology_service.rb                 @skateman

app/controllers/mixins/custom_buttons.rb          @martinpovolny
app/controllers/mixins/generic_*.rb               @martinpovolny
app/controllers/mixins/more_show_actions.rb       @martinpovolny
app/assets/javascripts/miq_explorer.js            @martinpovolny
app/presenters/explorer_presenter.rb              @martinpovolny
app/helpers/application_helper/button/basic.rb    @martinpovolny
app/helpers/application_helper/toolbar/basic.rb   @martinpovolny
app/presenters/tree_builder.rb                    @martinpovolny
app/presenters/menu/                              @martinpovolny
app/helpers/textual_*rb                           @martinpovolny

# decorators
app/decorators/                                   @skateman
