Repository ManageIQ/manageiq-ui-classic, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skateman, @epwinchell, @romanblanco, @panspagetka, @martinpovolny

.github/CODEOWNERS:

# trees
app/presenters/tree_node/                         @skateman
app/presenters/tree_builder_*                     @skateman
# styling and images
app/assets/stylesheets/                           @epwinchell
app/assets/images/                                @epwinchell
# dialog editor
app/assets/javascripts/controllers/dialog_editor  @romanblanco
app/views/miq_ae_customization/editor.html.haml   @romanblanco
# toolbar buttons
app/helpers/application_helper/button/            @romanblanco @panspagetka
app/helpers/application_helper/toolbar_builder.rb @romanblanco @panspagetka @martinpovolny
# rbac
app/controllers/mixins/checked_id_mixin.rb        @romanblanco @panspagetka
# charts
lib/charting/                                     @panspagetka
lib/report_formatter/c3.rb                        @panspagetka
lib/report_formatter/c3_series.rb                 @panspagetka
lib/report_formatter/chart_common.rb              @panspagetka
app/assets/javascripts/miq_c3.js                  @panspagetka
# topology services
app/services/*topology_service.rb                 @skateman

app/controllers/mixins/custom_buttons.rb          @martinpovolny
app/controllers/mixins/generic_*.rb               @martinpovolny
app/controllers/mixins/more_show_actions.rb       @martinpovolny
app/assets/javascripts/miq_explorer.js            @martinpovolny
app/presenters/explorer_presenter.rb              @martinpovolny
app/helpers/application_helper/button/basic.rb    @martinpovolny
app/helpers/application_helper/toolbar/basic.rb   @martinpovolny
app/presenters/tree_builder.rb                    @martinpovolny
app/presenters/menu/                              @martinpovolny
app/helpers/textual_*rb                           @martinpovolny

# decorators
app/decorators/                                   @skateman

The factory sets all these, we don't need to
  spec/controllers/cloud_volume_controller_spec.rb
Owners: none

Remove the obsolete TreeBuilder#count_only_or_many_objects ✂️✂️
  app/presenters/tree_builder.rb
Owners: @martinpovolny

Remove h_tb from presenter code in controllers
  app/controllers/catalog_controller.rb
  app/controllers/generic_object_definition_controller.rb
  app/controllers/infra_networking_controller.rb
  app/controllers/miq_ae_class_controller.rb
  app/controllers/miq_ae_customization_controller.rb
  app/controllers/miq_policy_controller.rb
  app/controllers/mixins/manager_controller_mixin.rb
  app/controllers/pxe_controller.rb
  app/controllers/report_controller.rb
  app/controllers/service_controller.rb
  app/controllers/storage_controller.rb
  app/controllers/vm_common.rb
Owners: none

Remove x_history_add_item spec tests
  spec/controllers/application_controller/explorer_spec.rb
Owners: none

Remove x_history_add_item method and calls
  app/controllers/application_controller/explorer.rb
  app/controllers/automation_manager_controller.rb
  app/controllers/catalog_controller.rb
  app/controllers/infra_networking_controller.rb
  app/controllers/miq_ae_class_controller.rb
  app/controllers/miq_ae_customization_controller.rb
  app/controllers/miq_policy_controller.rb
  app/controllers/provider_foreman_controller.rb
  app/controllers/pxe_controller.rb
  app/controllers/report_controller.rb
  app/controllers/service_controller.rb
  app/controllers/storage_controller.rb
  app/controllers/vm_common.rb
Owners: none

Remove missed x_history_add_item logic
  app/controllers/infra_networking_controller.rb
Owners: none

Remove history buttons, related spec tests
  app/helpers/application_helper.rb
  app/helpers/application_helper/button/history_choice.rb
  app/helpers/application_helper/button/history_item.rb
  app/helpers/application_helper/toolbar/x_history.rb
  app/helpers/application_helper/toolbar_builder.rb
  app/helpers/application_helper/toolbar_chooser.rb
  spec/helpers/application_helper/buttons/history_choice_spec.rb
  spec/helpers/application_helper/buttons/history_item_spec.rb
Owners: @romanblanco, @panspagetka, @martinpovolny

Shows the error messages from git domain refresh.
  app/controllers/miq_ae_class_controller.rb
Owners: none

Restore the Refresh button
  app/controllers/catalog_controller.rb
  app/controllers/generic_object_definition_controller.rb
  app/controllers/infra_networking_controller.rb
  app/controllers/miq_ae_class_controller.rb
  app/controllers/miq_ae_customization_controller.rb
  app/controllers/miq_policy_controller.rb
  app/controllers/mixins/manager_controller_mixin.rb
  app/controllers/pxe_controller.rb
  app/controllers/report_controller.rb
  app/controllers/service_controller.rb
  app/controllers/storage_controller.rb
  app/controllers/vm_common.rb
  app/helpers/application_helper.rb
  app/helpers/application_helper/toolbar/x_history.rb
  app/helpers/application_helper/toolbar_builder.rb
  app/helpers/application_helper/toolbar_chooser.rb
Owners: @romanblanco, @panspagetka, @martinpovolny

Added a nil check.
  app/views/shared/views/_ownership.html.haml
Owners: none

Add translations for ivanchuk
  app/assets/javascripts/locale/en/app.js
  app/assets/javascripts/locale/es/app.js
  app/assets/javascripts/locale/fr/app.js
  app/assets/javascripts/locale/ja/app.js
  app/assets/javascripts/locale/pt_BR/app.js
  app/assets/javascripts/locale/zh_CN/app.js
Owners: none

Exclude compare and drift download actions when remembering last tab
  app/controllers/application_controller.rb
Owners: none

Merge pull request #6113 from h-kataria/enable_save_button_when_multiple_items_selected
  app/assets/javascripts/components/retirement-form.js
Owners: none

tmp
  app/controllers/miq_policy_controller/miq_actions.rb
  app/javascript/components/action-edit-form/action-edit-form.jsx
  app/javascript/components/action-edit-form/action-edit-form.schema.js
  app/javascript/packs/component-definitions-common.js
  app/views/miq_policy/_action_details.html.haml
  app/views/miq_policy/_action_options.html.haml
Owners: none

Merge pull request #5929 from xlab-si/firmware-registry-add-remove-sync
  app/controllers/firmware_registry_controller.rb
  app/helpers/application_helper/toolbar/firmware_registries_center.rb
  app/helpers/application_helper/toolbar/firmware_registry_center.rb
  app/helpers/firmware_registry_helper/textual_summary.rb
  app/javascript/components/firmware-registry/firmware-registry-form.jsx
  app/javascript/components/firmware-registry/firmware-registry-form.schema.js
  app/javascript/packs/component-definitions-common.js
Owners: none

Send TEXT together with ID to tree_select
  app/assets/javascripts/controllers/tree_view_controller.js
  app/javascript/components/breadcrumbs/on-click-functions.js
  app/javascript/spec/breadcrumbs/on-click-functions.spec.js
Owners: none

Remove es, fr, ja, zh_CN .po translation files from master
  locale/es/ManageIQ_UI_Classic.po
  locale/fr/ManageIQ_UI_Classic.po
  locale/ja/ManageIQ_UI_Classic.po
  locale/zh_CN/ManageIQ_UI_Classic.po
Owners: none

Travis after_install - log manageiq commit
  tools/ci/after_install.sh
Owners: none

Make items on the Ownership screen not clickable
  app/controllers/mixins/actions/vm_actions/ownership.rb
  spec/controllers/mixins/actions/vm_actions/ownership_spec.rb
Owners: none

Do not show custom buttons of children of GO/ServiceTemplate in toolbar
  app/helpers/application_helper/toolbar_builder.rb
Owners: @romanblanco, @panspagetka, @martinpovolny

Introduce the MiqWidgetSet's ws prefix into the TreeBuilder
  app/controllers/report_controller/dashboards.rb
  app/presenters/tree_builder.rb
  spec/controllers/miq_report_controller/trees_spec.rb
  spec/presenters/tree_node/miq_widget_set_spec.rb
Owners: @martinpovolny

Do not push the default dashboard as a hash in Dashboards🌳
  app/controllers/report_controller.rb
  app/controllers/report_controller/dashboards.rb
  app/presenters/tree_builder_report_dashboards.rb
  app/presenters/tree_node/miq_widget_set.rb
  app/views/report/_db_list.html.haml
Owners: @skateman

Use copy_params_if_present in cloud network/subnet and floating ip controller
  app/controllers/cloud_network_controller.rb
  app/controllers/cloud_subnet_controller.rb
  app/controllers/floating_ip_controller.rb
Owners: none

Remove zanata.xml
  locale/zanata.xml
Owners: none

Names and descriptions are set by the factory
  spec/controllers/generic_object_definition_controller_spec.rb
Owners: none

Remove .po files from ivanchuk
  locale/es/ManageIQ_UI_Classic.po
  locale/fr/ManageIQ_UI_Classic.po
  locale/ja/ManageIQ_UI_Classic.po
  locale/zanata.xml
  locale/zh_CN/ManageIQ_UI_Classic.po
Owners: none

Introduce the concept of the VirtualFolder AR-like object for 🌳🌳
  app/controllers/application_controller/explorer.rb
  app/presenters/tree_builder.rb
  app/presenters/tree_node/virtual_folder.rb
  app/presenters/virtual_folder.rb
  spec/presenters/tree_node/virtual_folder_spec.rb
  spec/presenters/tree_node_spec.rb
  spec/presenters/virtual_folder_spec.rb
Owners: @martinpovolny, @skateman

Merge pull request #6101 from kbrock/turbo_services
  product/views/Service.yaml
Owners: none

[Changelog] Update for Hammer-11
  CHANGELOG.md
Owners: none

Using class that includes both Job and Workflow templates
  app/controllers/automation_manager_controller.rb
  product/views/ManageIQ_Providers_ExternalAutomationManager_ConfigurationScript.yaml
  spec/controllers/automation_manager_controller_spec.rb
Owners: none

Update ui-components to 1.1.33 for hammer
  package.json
  yarn.lock
Owners: none

Use copy_params_if_present in vm_common, manager_controller_mixin
  app/controllers/application_controller/miq_request_methods.rb
  app/controllers/mixins/manager_controller_mixin.rb
  app/controllers/vm_common.rb
Owners: none

Update ui-components to 1.2.14 for ivanchuk
  package.json
  yarn.lock
Owners: none

Update ui-components to 1.3.1
  package.json
Owners: none

Fix gettext invocation
  app/javascript/components/firmware-registry/firmware-registry-form.jsx
Owners: none

Update gettext catalog
  locale/ManageIQ_UI_Classic.pot
  locale/en/ManageIQ_UI_Classic.po
Owners: none

Merge pull request #6146 from h-kataria/fixed_class_to_get_job_and_wf_templates
  app/controllers/automation_manager_controller.rb
  product/views/ManageIQ_Providers_ExternalAutomationManager_ConfigurationScript.yaml
  spec/controllers/automation_manager_controller_spec.rb
Owners: none

Update gettext invocation
  app/javascript/components/firmware-registry/firmware-registry-form.jsx
Owners: none

Update gettext catalog
  locale/ManageIQ_UI_Classic.pot
  locale/en/ManageIQ_UI_Classic.po
Owners: none

Merge pull request #6145 from JPrause/hammer11_cl
  CHANGELOG.md
Owners: none
