Repository ManageIQ/manageiq-ui-classic, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skateman, @epwinchell, @romanblanco, @panspagetka, @martinpovolny

Drop the unused options argument from TreeBuilder#x_get_custom_kids
  app/presenters/tree_builder.rb
  app/presenters/tree_builder_alert_profile.rb
  app/presenters/tree_builder_automation_manager_configuration_scripts.rb
  app/presenters/tree_builder_buttons.rb
  app/presenters/tree_builder_catalog_items.rb
  app/presenters/tree_builder_chargeback_rates.rb
  app/presenters/tree_builder_chargeback_reports.rb
  app/presenters/tree_builder_compliance_history.rb
  app/presenters/tree_builder_condition.rb
  app/presenters/tree_builder_configuration_manager.rb
  app/presenters/tree_builder_configured_systems.rb
  app/presenters/tree_builder_iso_datastores.rb
  app/presenters/tree_builder_ops_rbac.rb
  app/presenters/tree_builder_ops_settings.rb
  app/presenters/tree_builder_ops_vmdb.rb
  app/presenters/tree_builder_orchestration_templates.rb
  app/presenters/tree_builder_policy.rb
  app/presenters/tree_builder_provisioning_dialogs.rb
  app/presenters/tree_builder_pxe_customization_templates.rb
  app/presenters/tree_builder_pxe_servers.rb
  app/presenters/tree_builder_report_dashboards.rb
  app/presenters/tree_builder_report_reports.rb
  app/presenters/tree_builder_report_saved_reports.rb
  app/presenters/tree_builder_report_widgets.rb
  app/presenters/tree_builder_services.rb
  app/presenters/tree_builder_storage.rb
  app/presenters/tree_builder_storage_pod.rb
  app/presenters/tree_builder_utilization.rb
  app/presenters/tree_builder_vms_filter.rb
  app/presenters/tree_kids.rb
  spec/controllers/provider_foreman_controller_spec.rb
  spec/presenters/tree_builder_compliance_history_spec.rb
  spec/presenters/tree_builder_ops_rbac_spec.rb
  spec/presenters/tree_builder_report_dashboards_spec.rb
  spec/presenters/tree_builder_report_saved_reports_spec.rb
  spec/presenters/tree_builder_report_widgets_spec.rb
  spec/presenters/tree_builder_services_spec.rb
Owners: @martinpovolny, @skateman

Restore clickability of VMs in host networks tree
  app/assets/javascripts/miq_tree.js
  app/presenters/tree_builder_network.rb
Owners: @skateman

Do not use the miqOnClickHostNet for storage adapters tree
  app/presenters/tree_builder_storage_adapters.rb
Owners: @skateman

Update yarn.lock after backports
  yarn.lock
Owners: none

Add missing gettext to host controller
  app/controllers/host_controller.rb
Owners: none

Drop the conversion of legacy options from TreeBuilder#convert_bs_tree
  app/presenters/tree_builder.rb
Owners: @martinpovolny

Do not highlight Action node when deleting last CustomButtonSet
  app/controllers/application_controller/buttons.rb
Owners: none

Add Ownership info to Textual summary
  app/controllers/auth_key_pair_cloud_controller.rb
  app/helpers/application_helper/toolbar/auth_key_pair_clouds_center.rb
  app/helpers/auth_key_pair_cloud_helper/textual_summary.rb
Owners: none

Merge pull request #5980 from JPrause/hammer10_cl
  CHANGELOG.md
Owners: none

Drop the obsolete lazyloading support from TreeBuilderVandt
  app/presenters/tree_builder_vandt.rb
Owners: @skateman

Do not use the FullTreeBuilder for building TreeBuilderVandt
  app/presenters/tree_builder_vandt.rb
Owners: @skateman

Drop the no longer used FullTreeBuilder and its child and specs
  app/presenters/full_tree_builder.rb
  app/presenters/tree_builder_vandt.rb
  app/presenters/tree_builder_vms_and_templates.rb
  spec/presenters/tree_builder_vms_and_templates_spec.rb
Owners: @skateman

Merge pull request #5981 from mansam/fix-1724114
  app/controllers/network_router_controller.rb
  spec/controllers/network_router_controller_spec.rb
Owners: none

Merge pull request #5976 from himdel/policy-sim
  app/controllers/application_controller/policy_support.rb
Owners: none

Pass the conditional class to the About Modal instead of HTML body
  app/assets/stylesheets/about_modal_background.scss
  app/javascript/components/miq-about-modal.jsx
  app/views/layouts/_header.html.haml
  app/views/layouts/application.html.haml
Owners: @epwinchell

Removed `Tenant` column from list view.
  product/views/ServiceTemplate.yaml
Owners: none

Rename build_tags_tree to build_tags_for_provisioning
  app/controllers/application_controller/miq_request_methods.rb
  app/controllers/miq_request_controller.rb
Owners: none

Drop the unnecessary options argument from x_build_node 🌳🌳
  app/presenters/tree_builder.rb
Owners: @martinpovolny

Drop the unnecessary options argument from x_build_node_tree 🌳🌳
  app/presenters/tree_builder.rb
Owners: @martinpovolny

Drop the unnecessary options argument from x_build_tree 🌳🌳
  app/presenters/tree_builder.rb
Owners: @martinpovolny

Drop the unnecessary code related to forcing old dialog use
  app/controllers/mixins/custom_button_dialog_form_mixin.rb
  app/helpers/application_helper/dialogs.rb
  app/services/dialog_local_service.rb
  app/views/shared/dialogs/_dialog_provision.html.haml
  spec/controllers/mixins/custom_button_dialog_form_mixin_spec.rb
  spec/helpers/application_helper/dialogs_spec.rb
  spec/services/dialog_local_service_spec.rb
Owners: none

Drop the Settings.product.old_dialog_user_ui config feature
  app/controllers/catalog_controller.rb
  app/controllers/vm_common.rb
  app/views/shared/dialogs/_dialog_provision.html.haml
  spec/controllers/catalog_controller_spec.rb
Owners: none

Drop the no longer necessary dialog user views
  app/views/shared/dialogs/_auto_refresh_javascript.html.haml
  app/views/shared/dialogs/_dialog_field.html.haml
  app/views/shared/dialogs/_dialog_field_check_box.html.haml
  app/views/shared/dialogs/_dialog_field_date_and_date_time_control.html.haml
  app/views/shared/dialogs/_dialog_field_drop_down_list.html.haml
  app/views/shared/dialogs/_dialog_field_radio_button.html.haml
  app/views/shared/dialogs/_dialog_field_text_area_box.html.haml
  app/views/shared/dialogs/_dialog_field_text_box.html.haml
  app/views/shared/dialogs/_dialog_group.html.haml
  app/views/shared/dialogs/_dialog_tab.html.haml
  spec/views/shared/dialogs/_dialog_field_drop_down_list.html.haml_spec.rb
Owners: none

Fix onclick setting for VMs on host/networks🌳 extend it to templates
  app/assets/javascripts/miq_tree.js
  app/presenters/tree_builder_network.rb
Owners: @skateman

Report results: after filterin, go to page 1.
  app/javascript/components/report-data-table.jsx
Owners: none

Drop the laziness of the Foreman/Ansible configured systems 🌳🌳
  app/presenters/tree_builder_automation_manager_configured_systems.rb
  app/presenters/tree_builder_configuration_manager_configured_systems.rb
  app/presenters/tree_builder_configured_systems.rb
Owners: @skateman

Add Ownership info to Textual summary
  app/controllers/auth_key_pair_cloud_controller.rb
  app/helpers/application_helper/toolbar/auth_key_pair_clouds_center.rb
  app/helpers/auth_key_pair_cloud_helper/textual_summary.rb
Owners: none

Add Set Ownership to Key Pairs
  app/controllers/auth_key_pair_cloud_controller.rb
  app/controllers/mixins/actions/vm_actions/ownership.rb
  app/helpers/application_helper/toolbar/auth_key_pair_cloud_center.rb
  app/helpers/application_helper/toolbar/auth_key_pair_clouds_center.rb
  app/views/auth_key_pair_cloud/show.html.haml
  config/routes.rb
Owners: none

Merge pull request #5934 from skateman/vmrc-move-uri
  app/controllers/vm_remote.rb
  app/views/vm_common/console_vmrc.html.haml
Owners: none

Report results: force default cursor over table cells.
  app/javascript/components/report-data-table.jsx
Owners: none

Add method for queueing up schedules in ops_congtroller/schedules
  app/controllers/ops_controller.rb
  app/controllers/ops_controller/settings/schedules.rb
  app/controllers/report_controller/schedules.rb
  spec/controllers/ops_controller/settings/schedules_spec.rb
Owners: none

Drop the revived 🧟 and before not used code from TreeNode::EmsFolder
  app/presenters/tree_node/ems_folder.rb
  spec/presenters/tree_node/ems_folder_spec.rb
Owners: @skateman

Update ui-components to 1.2.13 for ivanchuk
  package.json
  yarn.lock
Owners: none

Support node 12
  package.json
Owners: none

Fixed correct setting of record to get counts of relationships
  app/controllers/cloud_tenant_dashboard_controller.rb
  app/services/cloud_tenant_dashboard_service.rb
  app/services/dashboard_service.rb
Owners: none

Determine if EmsFolder is a blue folder using a model method
  app/presenters/tree_builder_belongs_to_vat.rb
  app/presenters/tree_builder_ems_folders.rb
Owners: @skateman

Fix browser tabs for My/All Tasks text display in runtime language
  app/helpers/application_helper/title.rb
Owners: none

Display flash messages for report that has no data available
  app/views/report/_savedreports_list.html.haml
Owners: none

Do not require password verification for RHN subscription
  app/controllers/ops_controller.rb
  app/views/layouts/_auth_credentials2.html.haml
Owners: none

Call miqCheckForChanges in breadcrumbs
  app/javascript/components/breadcrumbs/index.js
  app/javascript/components/breadcrumbs/on-click-functions.js
  app/javascript/spec/breadcrumbs/__snapshots__/breadcrumbs.spec.js.snap
  app/javascript/spec/breadcrumbs/breadcrumbs.spec.js
  app/javascript/spec/breadcrumbs/on-click-functions.spec.js
Owners: none

.github/CODEOWNERS:

# trees
app/presenters/tree_node/                         @skateman
app/presenters/tree_builder_*                     @skateman
# styling and images
app/assets/stylesheets/                           @epwinchell
app/assets/images/                                @epwinchell
# dialog editor
app/assets/javascripts/controllers/dialog_editor  @romanblanco
app/views/miq_ae_customization/editor.html.haml   @romanblanco
# toolbar buttons
app/helpers/application_helper/button/            @romanblanco @panspagetka
app/helpers/application_helper/toolbar_builder.rb @romanblanco @panspagetka @martinpovolny
# rbac
app/controllers/mixins/checked_id_mixin.rb        @romanblanco @panspagetka
# charts
lib/charting/                                     @panspagetka
lib/report_formatter/c3.rb                        @panspagetka
lib/report_formatter/c3_series.rb                 @panspagetka
lib/report_formatter/chart_common.rb              @panspagetka
app/assets/javascripts/miq_c3.js                  @panspagetka
# topology services
app/services/*topology_service.rb                 @skateman

app/controllers/mixins/custom_buttons.rb          @martinpovolny
app/controllers/mixins/generic_*.rb               @martinpovolny
app/controllers/mixins/more_show_actions.rb       @martinpovolny
app/assets/javascripts/miq_explorer.js            @martinpovolny
app/presenters/explorer_presenter.rb              @martinpovolny
app/helpers/application_helper/button/basic.rb    @martinpovolny
app/helpers/application_helper/toolbar/basic.rb   @martinpovolny
app/presenters/tree_builder.rb                    @martinpovolny
app/presenters/menu/                              @martinpovolny
app/helpers/textual_*rb                           @martinpovolny

# decorators
app/decorators/                                   @skateman
