Repository ManageIQ/manageiq-ui-classic, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skateman, @epwinchell, @romanblanco, @panspagetka, @martinpovolny

Update spec with new state variable: loaded
  app/javascript/spec/remove-catalog-item-modal/remove-catalog-item-modal.spec.js
Owners: none

Fix button sets order in tree
  app/presenters/tree_builder_generic_object_definition.rb
Owners: @skateman

Refactor spec for hiding tenant column for non admin users
  spec/controllers/catalog_controller_spec.rb
  spec/controllers/ems_cloud_controller_spec.rb
  spec/controllers/ems_infra_controller_spec.rb
  spec/shared/controllers/shared_examples_for_hiding_column_non_admin.rb
Owners: none

Update datepicker when start date changed
  app/controllers/report_controller/schedules.rb
Owners: none

Fix delete for provision tagging
  app/controllers/application_controller/miq_request_methods.rb
  app/javascript/components/taggingWrapper.jsx
  app/javascript/miq-redux/middleware.js
Owners: none

The factory sets these, again...
  spec/controllers/provider_foreman_controller_spec.rb
Owners: none

Use dialog player for ServiceTemplate copy request
  app/assets/javascripts/controllers/dialog_user/dialog_user_controller.js
  app/controllers/miq_request_controller.rb
  app/views/miq_request/prov_edit.html.haml
  app/views/shared/dialogs/_dialog_user.html.haml
  config/routes.rb
Owners: none

Move mpve function to be on ManageIQ instead of global
  app/assets/javascripts/components/generic_object/assign-buttons.js
  app/assets/javascripts/miq_global.js
  app/javascript/packs/application-common.js
  app/javascript/packs/globals.js
Owners: none

Dialog editor - show validation errors
  app/views/miq_ae_customization/editor.html.haml
Owners: @romanblanco

Remove sandpaper styling around GTLs
  app/assets/javascripts/controllers/report_data_controller.js
  app/assets/javascripts/miq_explorer.js
  app/controllers/automation_manager_controller.rb
  app/controllers/provider_foreman_controller.rb
  app/controllers/service_controller.rb
  app/helpers/application_helper/page_layouts.rb
  app/presenters/explorer_presenter.rb
  app/views/layouts/_center_div_no_listnav.html.haml
  app/views/service/explorer.html.haml
Owners: @martinpovolny

Changed model name when showing list of Tower Templates.
  app/controllers/automation_manager_controller.rb
  product/views/ManageIQ_Providers_AnsibleTower_AutomationManager_ConfigurationScript.yaml
  spec/controllers/automation_manager_controller_spec.rb
Owners: none

Delete Load Balancer setting from routes definitions
  config/routes.rb
Owners: none

Circling back and removing compliance join for all
  product/views/InstanceOrImage.yaml
  product/views/ManageIQ_Providers_CloudManager_Template.yaml
  product/views/ManageIQ_Providers_CloudManager_Vm-all_vms_and_templates.yaml
  product/views/ManageIQ_Providers_CloudManager_Vm-vms.yaml
  product/views/ManageIQ_Providers_CloudManager_Vm.yaml
  product/views/ManageIQ_Providers_InfraManager_Template.yaml
  product/views/ManageIQ_Providers_InfraManager_Vm.yaml
  product/views/MiqTemplate-all_miq_templates.yaml
  product/views/ProvisionInfraTemplates.yaml
  product/views/Vm.yaml
  product/views/VmOrTemplate-all_orphaned.yaml
  product/views/VmOrTemplate-all_vms_and_templates.yaml
Owners: none

Fix display of Container Project Compliance policy name
  app/views/miq_policy/_policy_folders.html.haml
Owners: none

Merge pull request #5919 from kbrock/fixup_vm_includes
  product/views/ManageIQ_Providers_CloudManager_Template-all_vms_and_templates.yaml
  product/views/MiqTemplate.yaml
  product/views/ProvisionCloudTemplates.yaml
  product/views/Vm-all_vms.yaml
  product/views/VmOrTemplate-all_archived.yaml
Owners: none

Merge pull request #5914 from ZitaNemeckova/GOD_button_sets_order
  app/presenters/tree_builder_generic_object_definition.rb
Owners: @skateman

Merge pull request #5915 from mzazrivec/disable_delete_button_if_incomplete_data_from_api
  app/javascript/components/remove-catalog-item-modal.jsx
  app/javascript/spec/remove-catalog-item-modal/remove-catalog-item-modal.spec.js
Owners: none

Merge pull request #5834 from bmclaughlin/missing-option-in-log-collection
  app/assets/javascripts/components/ops/log-collection-form.js
  app/assets/javascripts/services/miq_db_backup_service.js
  app/controllers/ops_controller/diagnostics.rb
  app/views/static/ops/log_collection/log_collection.html.haml
Owners: none

Merge pull request #5918 from GregP/delete_network_topology_load_balancer_code
  app/views/network_topology/show.html.haml
  config/routes.rb
Owners: none

Add formatting to report data filter display.
  app/javascript/components/report-data-table.jsx
  app/javascript/spec/report-data-table.spec.js
Owners: none

Fix double id in GOD
  app/views/generic_object_definition/_show_list.html.haml
Owners: none

Fix error when canceling addition of new schedule
  app/controllers/ops_controller/settings/schedules.rb
Owners: none

Report results: fix toolbar button display when in "filter".
  app/helpers/application_helper/button/view_ght.rb
Owners: @romanblanco, @panspagetka

Don't modify original model value for form submission
  app/assets/javascripts/controllers/ops/pglogical_replication_form_controller.js
Owners: none

Fix 'Cancel Delete' styling and popup menu
  app/views/ops/_settings_replication_tab.html.haml
Owners: none

Cleaner way of constructing list of modified resources
  app/assets/javascripts/controllers/ops/pglogical_replication_form_controller.js
Owners: none

Merge pull request #5925 from h-kataria/fix_list_of_ansible_tower_templates
  app/controllers/automation_manager_controller.rb
  product/views/ManageIQ_Providers_AnsibleTower_AutomationManager_ConfigurationScript.yaml
  spec/controllers/automation_manager_controller_spec.rb
Owners: none

Merge pull request #5926 from kbrock/compliance_statuses
  product/views/InstanceOrImage.yaml
  product/views/ManageIQ_Providers_CloudManager_Template.yaml
  product/views/ManageIQ_Providers_CloudManager_Vm-all_vms_and_templates.yaml
  product/views/ManageIQ_Providers_CloudManager_Vm-vms.yaml
  product/views/ManageIQ_Providers_CloudManager_Vm.yaml
  product/views/ManageIQ_Providers_InfraManager_Template.yaml
  product/views/ManageIQ_Providers_InfraManager_Vm.yaml
  product/views/MiqTemplate-all_miq_templates.yaml
  product/views/ProvisionInfraTemplates.yaml
  product/views/Vm.yaml
  product/views/VmOrTemplate-all_orphaned.yaml
  product/views/VmOrTemplate-all_vms_and_templates.yaml
Owners: none

Merge pull request #5927 from GregP/display_container_project_name_profile
  app/views/miq_policy/_policy_folders.html.haml
Owners: none

Merge pull request #4913 from ZitaNemeckova/god_buttons
  app/assets/javascripts/components/generic_object/assign-buttons.js
  app/assets/javascripts/components/generic_object/main-custom-button-group-form.js
  app/assets/javascripts/directives/form_changed.js
  app/assets/javascripts/miq_global.js
  app/controllers/generic_object_definition_controller.rb
  app/javascript/helpers/move.js
  app/javascript/packs/application-common.js
  app/views/static/generic_object/assign-buttons.html.haml
  app/views/static/generic_object/main_custom_button_group_form.html.haml
  config/routes.rb
  spec/javascripts/components/generic_object_definition/assign-buttons_spec.js
Owners: none

Fix tagging middleware specs
  app/controllers/application_controller/miq_request_methods.rb
  app/javascript/components/taggingWrapper.jsx
  app/javascript/spec/miq-redux/middleware.spec.js
Owners: none

Renamed the set-service-ownership component
  app/javascript/components/set-ownership-form/index.jsx
  app/javascript/components/set-ownership-form/ownership-form.schema.js
  app/javascript/packs/component-definitions-common.js
  app/javascript/spec/set-ownership-form/set-ownership-form.spec.js
  app/views/shared/views/_ownership.html.haml
Owners: none

Add offending Vm/Container Node/... to All Alerts Overview
  app/views/shared/views/_alerts_list.html.haml
Owners: none

Drop all prefixes of the type to make it more readable
  app/views/shared/views/_alerts_list.html.haml
Owners: none

Consume the URL for VMRC from the task result instead of building it
  app/controllers/vm_remote.rb
  app/views/vm_common/console_vmrc.html.haml
Owners: none

Fetch user/group data in set ownership form from the API
  app/javascript/components/set-ownership-form/index.jsx
  app/views/shared/views/_ownership.html.haml
  spec/views/shared/views/_ownership.html.haml_spec.rb
Owners: none

Fetch initial values in set ownership form using API
  app/javascript/components/set-ownership-form/index.jsx
  app/views/shared/views/_ownership.html.haml
Owners: none

Revert "Fix double id in GOD"
  app/views/generic_object_definition/_show_list.html.haml
Owners: none

Get record class while performing operations on VMs of chosen Cluster
  app/controllers/application_controller/ci_processing.rb
  spec/controllers/application_controller/ci_processing_spec.rb
Owners: none

Merge pull request #5881 from himdel/automate-import
  app/assets/javascripts/automate_import_export.js
  app/assets/javascripts/git_import.js
  app/controllers/miq_ae_tools_controller.rb
  spec/javascripts/git_import_spec.js
Owners: none

.github/CODEOWNERS:

# trees
app/presenters/tree_node/                         @skateman
app/presenters/tree_builder_*                     @skateman
# styling and images
app/assets/stylesheets/                           @epwinchell
app/assets/images/                                @epwinchell
# dialog editor
app/assets/javascripts/controllers/dialog_editor  @romanblanco
app/views/miq_ae_customization/editor.html.haml   @romanblanco
# toolbar buttons
app/helpers/application_helper/button/            @romanblanco @panspagetka
app/helpers/application_helper/toolbar_builder.rb @romanblanco @panspagetka @martinpovolny
# rbac
app/controllers/mixins/checked_id_mixin.rb        @romanblanco @panspagetka
# charts
lib/charting/                                     @panspagetka
lib/report_formatter/c3.rb                        @panspagetka
lib/report_formatter/c3_series.rb                 @panspagetka
lib/report_formatter/chart_common.rb              @panspagetka
app/assets/javascripts/miq_c3.js                  @panspagetka
# topology services
app/services/*topology_service.rb                 @skateman

app/controllers/mixins/custom_buttons.rb          @martinpovolny
app/controllers/mixins/generic_*.rb               @martinpovolny
app/controllers/mixins/more_show_actions.rb       @martinpovolny
app/assets/javascripts/miq_explorer.js            @martinpovolny
app/presenters/explorer_presenter.rb              @martinpovolny
app/helpers/application_helper/button/basic.rb    @martinpovolny
app/helpers/application_helper/toolbar/basic.rb   @martinpovolny
app/presenters/tree_builder.rb                    @martinpovolny
app/presenters/menu/                              @martinpovolny
app/helpers/textual_*rb                           @martinpovolny

# decorators
app/decorators/                                   @skateman
