Repository ManageIQ/manageiq-ui-classic, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skateman, @epwinchell, @romanblanco, @panspagetka, @martinpovolny

.github/CODEOWNERS:

# trees
app/presenters/tree_node/                         @skateman
app/presenters/tree_builder_*                     @skateman
# styling and images
app/assets/stylesheets/                           @epwinchell
app/assets/images/                                @epwinchell
# dialog editor
app/assets/javascripts/controllers/dialog_editor  @romanblanco
app/views/miq_ae_customization/editor.html.haml   @romanblanco
# toolbar buttons
app/helpers/application_helper/button/            @romanblanco @panspagetka
app/helpers/application_helper/toolbar_builder.rb @romanblanco @panspagetka @martinpovolny
# rbac
app/controllers/mixins/checked_id_mixin.rb        @romanblanco @panspagetka
# charts
lib/charting/                                     @panspagetka
lib/report_formatter/c3.rb                        @panspagetka
lib/report_formatter/c3_series.rb                 @panspagetka
lib/report_formatter/chart_common.rb              @panspagetka
app/assets/javascripts/miq_c3.js                  @panspagetka
# topology services
app/services/*topology_service.rb                 @skateman

app/controllers/mixins/custom_buttons.rb          @martinpovolny
app/controllers/mixins/generic_*.rb               @martinpovolny
app/controllers/mixins/more_show_actions.rb       @martinpovolny
app/assets/javascripts/miq_explorer.js            @martinpovolny
app/presenters/explorer_presenter.rb              @martinpovolny
app/helpers/application_helper/button/basic.rb    @martinpovolny
app/helpers/application_helper/toolbar/basic.rb   @martinpovolny
app/presenters/tree_builder.rb                    @martinpovolny
app/presenters/menu/                              @martinpovolny
app/helpers/textual_*rb                           @martinpovolny

# decorators
app/decorators/                                   @skateman

Fix internal server error while creating schedule
  app/controllers/ops_controller/settings/automate_schedules.rb
Owners: none

Add spec for the fix for creating schedule with EVM Group/Tenant option
  spec/controllers/ops_controller/settings/automate_schedules_spec.rb
Owners: none

[Changelog] Update for Hammer-5 release
  CHANGELOG.md
Owners: none

Removes validateOnMount from DDR schemas
  app/javascript/components/automate-import-export-form/datastore-via-git.schema.js
  app/javascript/components/catalog-form/catalog-form.schema.js
  app/javascript/components/cloud-tenant-form/create-form.schema.js
  app/javascript/components/flavor-form/flavor-form.schema.js
  app/javascript/components/service-form/service-form.schema.js
  app/javascript/spec/catalog-form/__snapshots__/catalog-form.spec.js.snap
  app/javascript/spec/cloud-tenant-form/__snapshots__/cloud-tenant-form.spec.js.snap
  app/javascript/spec/flavor-form/__snapshots__/flavor-form.spec.js.snap
Owners: none

Adds loading state to flavor form
  app/javascript/components/flavor-form/flavor-form.jsx
  app/javascript/spec/flavor-form/__snapshots__/flavor-form.spec.js.snap
  app/javascript/spec/flavor-form/flavor-form.spec.js
Owners: none

Adds missing breadcrumb in cloud network edit form
  app/controllers/cloud_network_controller.rb
Owners: none

Makes submit button always enabld
  app/javascript/forms/data-driven-form.jsx
Owners: none

Deletes obsolete test (the form is always valid)
  app/javascript/spec/vm-server-relationship-form/vm-server-relationship-form.spec.js
Owners: none

Never used. Introduced in https://github.com/ManageIQ/manageiq/pull/3363
  app/helpers/application_helper.rb
Owners: none

Last call of git_import_submit_help deleted in #5180
  app/helpers/miq_ae_tools_helper.rb
  spec/helpers/miq_ae_tools_spec.rb
Owners: none

Last call of accord_container deleted in #5370
  app/controllers/miq_ae_class_controller.rb
Owners: none

prometheus_uri is never called. Introduced in #1677
  app/services/prometheus_proxy_service.rb
Owners: none

Dialog import - add an error message for DialogImportValidator::InvalidDialogVersionError
  app/controllers/miq_ae_customization_controller.rb
Owners: none

tagging background fix
  app/assets/javascripts/controllers/report_data_controller.js
Owners: none

Merge pull request #5466 from JPrause/hammer5_cl
  CHANGELOG.md
Owners: none

Merge pull request #5403 from himdel/fix-buttons-genealogy
  app/assets/javascripts/miq_application.js
  app/assets/javascripts/miq_tree.js
Owners: none

Merge pull request #5462 from skateman/catalog-bundle-entrypoint
  app/controllers/catalog_controller.rb
  spec/controllers/catalog_controller_spec.rb
Owners: none

Fix service catalog vm provisioning selection for RHV provider
  app/controllers/application_controller/miq_request_methods.rb
Owners: none

Drop unnecessary optional argument from TreeBuilderAutomateInlineMethod
  app/presenters/tree_builder_automate_inline_method.rb
Owners: @skateman

Move the conditional node-to-model into the treebuilder subclasses
  app/presenters/tree_builder.rb
  app/presenters/tree_builder_catalogs_class.rb
  app/presenters/tree_builder_configuration_manager.rb
Owners: @martinpovolny, @skateman

Do not modify the tree type on catalog entrypoint lazy load
  app/controllers/application_controller/tree_support.rb
Owners: none

Display flash messages for tagging in Container Provider Dashboard page
  app/views/ems_container/_show_dashboard.html.haml
  app/views/ems_container/show_dashboard.html.haml
Owners: none

Update ui-components to 1.1.23 for hammer
  package.json
  yarn.lock
Owners: none

Schedules spec - fix sporadic failure
  spec/controllers/report_controller/schedules_spec.rb
Owners: none

Merge pull request #5095 from himdel/excluded-bz1656066
  app/assets/javascripts/controllers/ops/pglogical_replication_form_controller.js
  app/views/ops/_settings_replication_tab.html.haml
Owners: none

Merge pull request #5144 from PanSpagetka/bz-1647230
  app/controllers/application_controller/performance.rb
  app/controllers/host_controller.rb
  app/controllers/vm_controller.rb
  app/helpers/application_helper.rb
Owners: none

Merge pull request #5212 from skateman/report-default-commit
  app/controllers/report_controller/menus.rb
  spec/controllers/miq_report_controller/menus_spec.rb
Owners: none

Merge pull request #5182 from d-m-u/bz1668023
  app/services/dialog_local_service.rb
  spec/services/dialog_local_service_spec.rb
Owners: none

Merge pull request #5251 from skateman/custom-button-events-typo
  app/helpers/ems_infra_helper/textual_summary.rb
Owners: none

Merge pull request #5250 from skateman/topleft-brand
  app/views/ops/_settings_custom_logos_tab.html.haml
Owners: none

Fix error when clicking on created Catalog Item in the list
  app/controllers/catalog_controller.rb
Owners: none

Fix missing title in Policy Simulation page
  app/controllers/application_controller/policy_support.rb
  app/views/layouts/_policy_sim.html.haml
Owners: none

Add spec for the fix for missing title in Policy Simulation page
  spec/controllers/application_controller/policy_support_spec.rb
Owners: none

Update ui-components to 1.1.24 for hammer
  package.json
  yarn.lock
Owners: none

Report editor - available fields - make opening faster
  app/assets/javascripts/miq_application.js
  app/views/report/_column_lists.html.haml
Owners: none

Fix first table row length
  app/views/miq_request/_prov_vm_grid.html.haml
Owners: none

Menu Simplification: Drop the Optimize section
  app/presenters/menu/default_menu.rb
  spec/presenters/tree_builder_ops_rbac_features_spec.rb
Owners: @martinpovolny

Remove MiqReport.get_col_type ReportController::Reports::Editor
  app/controllers/report_controller/reports/editor.rb
Owners: none

Use detect method for finding datetime column in ReportController::Reports::Editor
  app/controllers/report_controller/reports/editor.rb
  spec/controllers/miq_report_controller/reports/editor_spec.rb
Owners: none

Replace x_tree[:type] with x_tree[:name] and remove type from sandbox
  app/controllers/automation_manager_controller.rb
  app/controllers/provider_foreman_controller.rb
  app/controllers/storage_controller.rb
  app/helpers/application_helper.rb
  app/presenters/tree_builder.rb
  spec/controllers/storage_controller_spec.rb
  spec/presenters/tree_builder_ae_customization_spec.rb
Owners: @martinpovolny
