Repository ManageIQ/manageiq-ui-classic, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skateman, @epwinchell, @romanblanco, @panspagetka, @martinpovolny

.github/CODEOWNERS:

# trees
app/presenters/tree_node/                         @skateman
app/presenters/tree_builder_*                     @skateman
# styling and images
app/assets/stylesheets/                           @epwinchell
app/assets/images/                                @epwinchell
# dialog editor
app/assets/javascripts/controllers/dialog_editor  @romanblanco
app/views/miq_ae_customization/editor.html.haml   @romanblanco
# toolbar buttons
app/helpers/application_helper/button/            @romanblanco @panspagetka
app/helpers/application_helper/toolbar_builder.rb @romanblanco @panspagetka @martinpovolny
# rbac
app/controllers/mixins/checked_id_mixin.rb        @romanblanco @panspagetka
# charts
lib/charting/                                     @panspagetka
lib/report_formatter/c3.rb                        @panspagetka
lib/report_formatter/c3_series.rb                 @panspagetka
lib/report_formatter/chart_common.rb              @panspagetka
app/assets/javascripts/miq_c3.js                  @panspagetka
# topology services
app/services/*topology_service.rb                 @skateman

app/controllers/mixins/custom_buttons.rb          @martinpovolny
app/controllers/mixins/generic_*.rb               @martinpovolny
app/controllers/mixins/more_show_actions.rb       @martinpovolny
app/assets/javascripts/miq_explorer.js            @martinpovolny
app/presenters/explorer_presenter.rb              @martinpovolny
app/helpers/application_helper/button/basic.rb    @martinpovolny
app/helpers/application_helper/toolbar/basic.rb   @martinpovolny
app/presenters/tree_builder.rb                    @martinpovolny
app/presenters/menu/                              @martinpovolny
app/helpers/textual_*rb                           @martinpovolny

# decorators
app/decorators/                                   @skateman

remove outdating automate import/export styling
  app/assets/stylesheets/application.css
  app/assets/stylesheets/automate_import_export.css
Owners: @epwinchell

Implement PF AggregateStatusCard in React.
  app/javascript/components/pf_aggregate_status_card.jsx
Owners: none

Implement AggregateStatusCard in React (provider dashboard).
  app/javascript/components/aggregate_status_card.jsx
Owners: none

Switch to React for part of infra provider dashboard.
  app/views/ems_infra/_show_dashboard.html.haml
Owners: none

Request tree_select instead of RxJS call to angular
  app/assets/javascripts/controllers/tree_view_controller.js
  app/assets/javascripts/miq_angular_application.js
  app/javascript/components/breadcrumbs/index.js
  app/javascript/components/breadcrumbs/on-click-functions.js
  app/javascript/spec/breadcrumbs/breadcrumbs.spec.js
  app/javascript/spec/breadcrumbs/on-click-functions.spec.js
  app/javascript/spec/helpers/miqAjax.js
  app/views/generic_object_definition/_generic_object_definition_form.html.haml
Owners: none

Add option to disable tree links in breadcrumbs
  app/controllers/generic_object_definition_controller.rb
  app/controllers/miq_ae_customization_controller.rb
  app/controllers/mixins/breadcrumbs_mixin.rb
  app/javascript/components/breadcrumbs/index.jsx
  app/javascript/components/breadcrumbs/on-click-functions.js
  app/javascript/spec/breadcrumbs/on-click-functions.spec.js
  spec/controllers/miq_ae_customization_controller_spec.rb
  spec/controllers/mixins/breadcrumbs_mixin_spec.rb
Owners: none

Provider dashboard: style and other fixes.
  app/javascript/components/aggregate_status_card.jsx
  app/javascript/components/pf_aggregate_status_card.jsx
Owners: none

Fixed lost focus on code editor after first state update.
  app/javascript/components/code-editor/index.js
Owners: none

Use active scope for vms in VmCommon
  app/controllers/vm_common.rb
Owners: none

Allow resetting changes while editing Zone's password or Verify password
  app/controllers/ops_controller/settings/zones.rb
  spec/controllers/ops_controller/settings/zones_spec.rb
Owners: none

Display flash message after clicking on unknown/not common provider
  app/controllers/restful_redirect_controller.rb
  spec/controllers/restful_redirect_controller_spec.rb
Owners: none

Allow clicking on individual Providers through Tenant's summary
  app/controllers/automation_manager_controller.rb
  app/controllers/ops_controller.rb
  app/controllers/provider_foreman_controller.rb
  app/controllers/restful_redirect_controller.rb
  app/helpers/application_helper.rb
  app/views/provider_foreman/show.html.haml
  spec/controllers/automation_manager_controller_spec.rb
  spec/controllers/ops_controller_spec.rb
  spec/controllers/provider_foreman_controller_spec.rb
  spec/controllers/restful_redirect_controller_spec.rb
  spec/helpers/application_helper_spec.rb
  spec/views/provider_foreman/show.html.haml_spec.rb
Owners: none

Allow clicking on individual Automate Domains through Tenant's summary
  app/controllers/miq_ae_class_controller.rb
  app/controllers/ops_controller.rb
  app/helpers/application_helper.rb
  app/views/miq_ae_class/show.html.haml
  config/routes.rb
  spec/controllers/miq_ae_class_controller_spec.rb
  spec/controllers/ops_controller_spec.rb
  spec/helpers/application_helper_spec.rb
  spec/views/miq_ae_class/show.html.haml_spec.rb
Owners: none

consolidate topology styling
  app/assets/stylesheets/application.css
  app/assets/stylesheets/container_topology.css
  app/assets/stylesheets/physical_infra_topology.scss
  app/assets/stylesheets/topology.scss
Owners: @epwinchell

Switch to React for part of dashboards.
  app/services/ems_physical_infra_dashboard_service.rb
  app/views/cloud_tenant/_show_dashboard.html.haml
  app/views/ems_cloud/_show_dashboard.html.haml
  app/views/ems_physical_infra/_show_dashboard.html.haml
  app/views/physical_infra_overview/show.html.haml
Owners: none

Add Quadicon and AggregateStatusCard components.
  app/javascript/packs/component-definitions-common.js
Owners: none

Dashboards: PfAggregateStatusCard: fix prop types and handle empty array.
  app/javascript/components/pf_aggregate_status_card.jsx
Owners: none

Provider dashboards: fix space size to match angular version.
  app/javascript/components/pf_aggregate_status_card.jsx
Owners: none

Infra provider dashboard: add Quadicon.
  app/assets/stylesheets/aggregate_status_card.scss
  app/assets/stylesheets/application.css
  app/controllers/application_controller.rb
  app/helpers/application_helper.rb
  app/javascript/components/aggregate_status_card.jsx
  app/services/ems_infra_dashboard_service.rb
Owners: @epwinchell

Quadicon in dashboard: do not create proc on each run, fix Rubocop warning.
  app/services/ems_infra_dashboard_service.rb
Owners: none

AggregateStatusCard: add tests.
  app/javascript/components/aggregate_status_card.jsx
Owners: none

Correctly apply gettext to MiqDialog::DIALOG_TYPES
  app/controllers/miq_ae_customization_controller/old_dialogs.rb
  app/presenters/tree_builder_provisioning_dialogs.rb
  app/views/miq_ae_customization/_old_dialogs_form.html.haml
Owners: @skateman

Remove the possibility to chose of quadicon/single quad in GTLs
  app/controllers/application_controller.rb
  app/controllers/configuration_controller.rb
  app/helpers/configuration_helper.rb
  app/views/configuration/_ui_1.html.haml
  spec/controllers/ems_cloud_controller_spec.rb
  spec/controllers/ems_container_controller_spec.rb
  spec/controllers/host_controller_spec.rb
Owners: none

[Changelog] Update for Sprint 121
  CHANGELOG.md
Owners: none

Add option to enforce including record in breadcrumbs
  app/controllers/mixins/breadcrumbs_mixin.rb
  app/controllers/optimization_controller.rb
  spec/controllers/mixins/breadcrumbs_mixin_spec.rb
  spec/controllers/optimization_controller_spec.rb
Owners: none

Update Access Restriction to current state _rbac_role_details.html.haml
  app/views/ops/_rbac_role_details.html.haml
Owners: none

Toolbars: update js dependencies to include toolbar fixes.
  package.json
Owners: none

Adding global filters only for (super)admin
  app/controllers/application_controller/advanced_search.rb
Owners: none

[Changelog] Add missing PRs from Sprint 121
  CHANGELOG.md
Owners: none

Fixed low z-index on ddf select menu.
  app/assets/stylesheets/application.css
  app/assets/stylesheets/data_driven_forms_overrides.scss
  app/javascript/forms/mappers/formsFieldsMapper.jsx
Owners: @epwinchell

Completely remove the records2table method as its obsolete
  app/controllers/application_controller/policy_support.rb
  app/controllers/application_controller/tags.rb
  app/controllers/host_controller.rb
  app/controllers/mixins/actions/vm_actions/evacuate.rb
  app/controllers/mixins/actions/vm_actions/live_migrate.rb
  app/controllers/mixins/actions/vm_actions/ownership.rb
  app/controllers/mixins/actions/vm_actions/retire.rb
  lib/report_formatter/converter.rb
Owners: none

Quadicon: fix rubocop warning.
  app/helpers/application_helper.rb
Owners: none

AggregateStatusCard: remove console.log.
  app/javascript/components/aggregate_status_card.jsx
Owners: none

Dashboard quadicon: review fixes.
  app/javascript/components/pf_aggregate_status_card.jsx
  app/javascript/packs/component-definitions-common.js
Owners: none

Set grid type in GTLs on migrate, retire and evacuate screens
  app/controllers/mixins/actions/vm_actions/evacuate.rb
  app/controllers/mixins/actions/vm_actions/live_migrate.rb
  app/controllers/mixins/actions/vm_actions/retire.rb
Owners: none

Add quadicon to cloud provider dashboard.
  app/services/ems_cloud_dashboard_service.rb
  app/services/ems_dashboard_service.rb
  app/services/ems_infra_dashboard_service.rb
Owners: none

styling cleanup
  app/assets/stylesheets/application.css
  app/assets/stylesheets/main.scss
Owners: @epwinchell

Update cancel/back button to use Breadcrumb data
  app/controllers/application_controller/explorer.rb
Owners: none

Cleanup missed x_history toolbar bits
  app/controllers/catalog_controller.rb
  app/controllers/generic_object_definition_controller.rb
  app/controllers/infra_networking_controller.rb
  app/controllers/miq_ae_class_controller.rb
  app/controllers/miq_ae_customization_controller.rb
  app/controllers/miq_policy_controller.rb
  app/controllers/mixins/manager_controller_mixin.rb
  app/controllers/pxe_controller.rb
  app/controllers/report_controller.rb
  app/controllers/service_controller.rb
  app/controllers/storage_controller.rb
  app/controllers/vm_common.rb
  app/helpers/application_helper.rb
  app/helpers/application_helper/toolbar_chooser.rb
Owners: none

Merge pull request #6225 from eclarizio/BZ1685555-custom_button_dialog_display_issue
  app/controllers/infra_networking_controller.rb
Owners: none
