Repository ManageIQ/manageiq-ui-classic, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skateman, @epwinchell, @romanblanco, @panspagetka, @martinpovolny

Remove x_edit_buttons from Catalog Edit Tags
  app/controllers/catalog_controller.rb
Owners: none

Last use deleted in PR 392
  app/controllers/application_controller.rb
Owners: none

Delete related specs
  spec/helpers/application_helper/toolbar_builder_spec.rb
Owners: none

Last use deleted in PR 1323
  app/helpers/application_helper/toolbar_builder.rb
Owners: @romanblanco, @panspagetka, @martinpovolny

Fixes name validation when editing
  app/javascript/components/catalog-form/catalog-form.jsx
  app/javascript/components/catalog-form/catalog-form.schema.js
  app/javascript/spec/catalog-form/catalog-form.spec.js
  app/javascript/spec/catalog-form/validator.spec.js
  app/views/catalog/_stcat_form.html.haml
Owners: none

Update ui-components to 1.2.3
  package.json
Owners: none

Replaced in PR 4176
  app/helpers/application_helper/toolbar_chooser.rb
Owners: none

Display info about unavailable fields while editing report
  app/controllers/report_controller/reports/editor.rb
  app/views/report/_form_columns.html.haml
Owners: none

Container Projects dashboard fix
  app/assets/javascripts/controllers/alerts/alerts_overview_controller.js
  app/assets/javascripts/controllers/container_dashboard/container_project_dashboard_controller.js
  app/assets/stylesheets/alerts.scss
  app/assets/stylesheets/patternfly_overrides.scss
  app/views/layouts/_center_div_no_listnav.html.haml
  app/views/shared/views/_show_alerts_overview.html.haml
Owners: @epwinchell

Jasmine, travis - use chrome headless as a backend
  .travis.yml
  manageiq-ui-classic.gemspec
  spec/javascripts/support/jasmine_helper.rb
Owners: none

Adds default options to debounce promise to allow submitting
  app/javascript/helpers/promise-debounce.js
Owners: none

Add spec to check setting proper string with unavailable fields
  spec/controllers/miq_report_controller/reports/editor_spec.rb
  spec/helpers/report_helper_spec.rb
Owners: none

Last use deleted in PR 3014 and 3029
  app/controllers/application_controller/policy_support.rb
  app/controllers/vm_common.rb
Owners: none

Jasmine - update to 2.99.0
  manageiq-ui-classic.gemspec
  spec/javascripts/support/jasmine.yml
  spec/javascripts/support/jasmine_helper.rb
Owners: none

Jasmine - update to 3.4.0
  config/initializers/assets.rb
  manageiq-ui-classic.gemspec
  spec/javascripts/support/jasmine.yml
Owners: none

Delete dead methods related to tagging introduced by 3570
  app/controllers/application_controller/tags.rb
Owners: none

Delete dead methods with last call deleted in 4726
  app/helpers/application_helper.rb
Owners: none

Last call deleted in PR 4556
  app/controllers/mixins/manager_controller_mixin.rb
Owners: none

Dead from init commit
  app/controllers/host_controller.rb
Owners: none

Never used
  app/helpers/application_helper/page_layouts.rb
Owners: none

Travis - force default python to 2.7
  .travis.yml
Owners: none

Last call deleted in PR 725
  app/helpers/application_helper.rb
Owners: none

Last call deleted in PR 1392
  app/helpers/application_helper.rb
Owners: none

Last call deleted in PR 592
  app/helpers/application_helper.rb
Owners: none

Introduced in miq PR 9809 but never called not even in original PR
  app/helpers/application_helper.rb
Owners: none

Introduced in miq PR 3363 but never called
  app/helpers/application_helper.rb
Owners: none

Swap ng-if with ng-show on VMRC Console in ems common.
  app/views/layouts/angular/_multi_auth_credentials.html.haml
Owners: none

Last call deleted in miq PR 12117
  app/helpers/application_helper.rb
  spec/helpers/application_helper_spec.rb
Owners: none

Fix missing Edit screen titles
  app/helpers/application_helper/page_layouts.rb
Owners: none

Last call of update_paging_url_parms removed in PR 1392
  app/helpers/application_helper.rb
  spec/helpers/application_helper_spec.rb
Owners: none

Update ui-components to 1.1.21 for hammer
  package.json
  yarn.lock
Owners: none

Menu Simplification: move Utilization from Optimize to Cloud Intel
  app/controllers/utilization_controller.rb
  app/presenters/menu/default_menu.rb
Owners: @martinpovolny

Last call of url_for_record deleted in PR 3481
  app/helpers/application_helper.rb
  spec/helpers/application_helper_spec.rb
Owners: none

Catalog Item Remove Modal: implementation using provider dialogs
  app/helpers/application_helper/toolbar/servicetemplate_center.rb
  app/helpers/application_helper/toolbar/servicetemplates_center.rb
  app/javascript/components/remove-catalog-item-modal.jsx
  app/javascript/packs/provider-dialogs-common.js
  app/views/catalog/_sandt_tree_show.html.haml
  app/views/catalog/explorer.html.haml
Owners: none

Remove Catalog Item Modal: implementation using full Modal window
  app/controllers/catalog_controller.rb
  app/helpers/application_helper/toolbar/servicetemplate_center.rb
  app/helpers/application_helper/toolbar/servicetemplates_center.rb
  app/javascript/components/remove-catalog-item-modal.jsx
  app/javascript/packs/component-definitions-common.js
  app/views/catalog/_sandt_tree_show.html.haml
  app/views/catalog/explorer.html.haml
Owners: none

Remove obsolete catalog item removal code
  app/controllers/catalog_controller.rb
  config/routes.rb
  spec/controllers/catalog_controller_spec.rb
  spec/routing/catalog_routing_spec.rb
Owners: none

Catalog Item Delete: change remove to delete
  app/helpers/application_helper/toolbar/servicetemplate_center.rb
  app/helpers/application_helper/toolbar/servicetemplates_center.rb
  app/javascript/components/remove-catalog-item-modal.jsx
Owners: none

Do not store JSON trees in the session :scissors: :fire: :toilet:
  app/controllers/application_controller.rb
  app/controllers/mixins/more_show_actions.rb
  app/controllers/vm_common.rb
Owners: @martinpovolny

Menu Simplification: move Configuration Management into Compute
  app/controllers/provider_foreman_controller.rb
  app/presenters/menu/default_menu.rb
Owners: @martinpovolny

Fix changing title after clicking quadicon in Instance Policy sim page
  app/controllers/vm_common.rb
Owners: none

.github/CODEOWNERS:

# trees
app/presenters/tree_node/                         @skateman
app/presenters/tree_builder_*                     @skateman
# styling and images
app/assets/stylesheets/                           @epwinchell
app/assets/images/                                @epwinchell
# dialog editor
app/assets/javascripts/controllers/dialog_editor  @romanblanco
app/views/miq_ae_customization/editor.html.haml   @romanblanco
# toolbar buttons
app/helpers/application_helper/button/            @romanblanco @panspagetka
app/helpers/application_helper/toolbar_builder.rb @romanblanco @panspagetka @martinpovolny
# rbac
app/controllers/mixins/checked_id_mixin.rb        @romanblanco @panspagetka
# charts
lib/charting/                                     @panspagetka
lib/report_formatter/c3.rb                        @panspagetka
lib/report_formatter/c3_series.rb                 @panspagetka
lib/report_formatter/chart_common.rb              @panspagetka
app/assets/javascripts/miq_c3.js                  @panspagetka
# topology services
app/services/*topology_service.rb                 @skateman

app/controllers/mixins/custom_buttons.rb          @martinpovolny
app/controllers/mixins/generic_*.rb               @martinpovolny
app/controllers/mixins/more_show_actions.rb       @martinpovolny
app/assets/javascripts/miq_explorer.js            @martinpovolny
app/presenters/explorer_presenter.rb              @martinpovolny
app/helpers/application_helper/button/basic.rb    @martinpovolny
app/helpers/application_helper/toolbar/basic.rb   @martinpovolny
app/presenters/tree_builder.rb                    @martinpovolny
app/presenters/menu/                              @martinpovolny
app/helpers/textual_*rb                           @martinpovolny

# decorators
app/decorators/                                   @skateman
