Repository ManageIQ/manageiq-ui-classic, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skateman, @epwinchell, @romanblanco, @panspagetka, @martinpovolny

Do not fire two events when adding LDAP trusted forest entities
  app/views/ops/_ldap_forest_entries.html.haml
Owners: none

Rename fqdn to fqname in DialogEditorHttpService
  app/assets/javascripts/services/dialog_editor_http_service.js
Owners: none

Allow TreeController#fetch_tree to accept a block before building
  app/controllers/tree_controller.rb
  spec/controllers/tree_controller_spec.rb
Owners: none

Make the TreeBuilder#open_node method public
  app/presenters/tree_builder.rb
Owners: @martinpovolny

Only initialize value of `@edit[:new][:location]` when it's not set
  app/controllers/miq_ae_class_controller.rb
Owners: none

Enable validate button when data is entered for builtin method type
  app/controllers/miq_ae_class_controller.rb
Owners: none

convert flash messages to PF4
  app/views/layouts/_flash_msg.html.haml
  app/views/layouts/_info_msg.html.haml
Owners: none

no message
  app/views/layouts/_flash_msg.html.haml
Owners: none

Remove spec for Optimize Bottlenecks
  spec/routing/bottlenecks_routing_spec.rb
  spec/views/bottlenecks/_bottlenecks_options.html.haml_spec.rb
Owners: none

Open the homonymic tree nodes for dialog editor entrypoint selection
  app/controllers/tree_controller.rb
Owners: none

Small refactoring for miq policy controller and conditions
  app/controllers/miq_policy_controller.rb
  app/controllers/miq_policy_controller/conditions.rb
Owners: none

Do not refresh breadcrumbs when clicking in policy_sim
  app/controllers/application_controller/policy_support.rb
  app/controllers/vm_common.rb
Owners: none

Evaluate the current server/zone in the TreeNode instead of globally
  app/presenters/tree_builder.rb
  app/presenters/tree_node/miq_server.rb
  app/presenters/tree_node/zone.rb
  spec/presenters/tree_node/miq_server_spec.rb
  spec/presenters/tree_node/zone_spec.rb
Owners: @martinpovolny, @skateman

Do not submit the form when adding a new LDAP trusted forest item
  app/views/ops/_ldap_forest_entries.html.haml
Owners: none

Simplify enumerable collections in TreeBuilderOpsRbacFeatures using try
  app/presenters/tree_builder_ops_rbac_features.rb
Owners: @skateman

Only need to set `@edit[:current][:add]` for new record
  app/controllers/miq_policy_controller/miq_actions.rb
Owners: none

Use leaf subclasses with assets
  spec/controllers/ems_physical_infra_controller_spec.rb
  spec/controllers/physical_chassis_controller_spec.rb
  spec/controllers/physical_rack_controller_spec.rb
  spec/controllers/physical_server_controller_spec.rb
  spec/controllers/physical_storage_controller_spec.rb
  spec/controllers/physical_switch_controller_spec.rb
Owners: none

Fix warning: found = in conditional, should be ==
  app/views/vm_common/_right_size.html.haml
Owners: none

Correctly highlight row when provisioning template deleted
  app/controllers/application_controller/miq_request_methods.rb
Owners: none

Test against tree name and not type in TreeNode::EmsFolder
  app/presenters/tree_node/ems_folder.rb
  spec/presenters/tree_node/ems_folder_spec.rb
Owners: @skateman

shared/tree - take :angular local, pass to layout/tree
  app/views/shared/_tree.html.haml
Owners: none

angular main app - use miq.helpers too
  app/assets/javascripts/miq_angular_application.js
Owners: none

layouts/tree - support angular, use miqTree component to initialize
  app/views/layouts/_tree.html.haml
Owners: none

miqTree - takes options json with bs_tree inside
  app/assets/javascripts/components/tree.js
Owners: none

Test against tree name and not type in TreeNode::CustomButtonSet
  app/presenters/tree_node/custom_button_set.rb
  spec/presenters/tree_node/custom_button_set_spec.rb
Owners: @skateman

Break up the TreeNode::EmsFolder set_attributes into two parts
  app/presenters/tree_node/ems_folder.rb
Owners: @skateman

Extract TreeNode::Datacenter from TreeNode::EmsFolder
  app/presenters/tree_node/datacenter.rb
  app/presenters/tree_node/ems_folder.rb
  app/presenters/tree_node/node.rb
  spec/presenters/tree_node/datacenter_spec.rb
  spec/presenters/tree_node/ems_folder_spec.rb
  spec/presenters/tree_node_spec.rb
Owners: @skateman

Remove unused plugin_name method
  app/helpers/application_helper.rb
Owners: none

Change plugin common methods to class methods
  lib/manageiq/ui/classic/engine.rb
Owners: none

Bump master travis.yml to ruby 2.4.6
  .travis.yml
Owners: none

specs mocking trees with openstruct - add locals_for_render to not be nil
  spec/controllers/ems_cloud_controller_spec.rb
  spec/controllers/vm_infra_controller_spec.rb
  spec/shared/controllers/shared_examples_for_ems_network_controller.rb
  spec/shared/controllers/shared_examples_for_ems_storage_controller.rb
Owners: none

Corrected icon for editing Custom Button Group
  app/helpers/application_helper/toolbar/generic_object_definition_button_group_center.rb
Owners: none

[Changelog] Update for Sprint 111
  CHANGELOG.md
Owners: none

Enable Multivalue selection for all Ops RBAC Tags
  app/controllers/ops_controller/ops_rbac.rb
Owners: none

Fix specs to work with Tenant.default_tenant
  spec/presenters/tree_builder_miq_action_category_spec.rb
Owners: none

Pass the record to TreeBuilder.build_node_cid instead of id + type
  app/controllers/vm_common.rb
  spec/controllers/vm_common_spec.rb
Owners: none

Replace TreeBuilder.build_node_cid calls with build_node_id
  app/controllers/application_controller.rb
  app/controllers/application_controller/performance.rb
  app/controllers/miq_ae_customization_controller.rb
  app/controllers/vm_common.rb
  app/presenters/tree_builder.rb
  spec/controllers/vm_common_spec.rb
  spec/presenters/tree_builder_spec.rb
Owners: @martinpovolny

Move GraphQL explorer JS from manageiq-graphql
  app/javascript/graphql-explorer/components/GraphQLExplorer.js
  app/javascript/graphql-explorer/helpers/graphQLFetcher.js
  app/javascript/graphql-explorer/index.js
  app/javascript/packs/component-definitions-common.js
Owners: none

graphql, graphiql - update to current versions
  package.json
Owners: none

Move kubernetes-topology-graph from assets pipeline to webpack
  app/assets/javascripts/application.js
  app/assets/stylesheets/application.css
  app/javascript/packs/globals.js
  app/stylesheet/application-webpack.scss
Owners: @epwinchell

.github/CODEOWNERS:

# trees
app/presenters/tree_node/                         @skateman
app/presenters/tree_builder_*                     @skateman
# styling and images
app/assets/stylesheets/                           @epwinchell
app/assets/images/                                @epwinchell
# dialog editor
app/assets/javascripts/controllers/dialog_editor  @romanblanco
app/views/miq_ae_customization/editor.html.haml   @romanblanco
# toolbar buttons
app/helpers/application_helper/button/            @romanblanco @panspagetka
app/helpers/application_helper/toolbar_builder.rb @romanblanco @panspagetka @martinpovolny
# rbac
app/controllers/mixins/checked_id_mixin.rb        @romanblanco @panspagetka
# charts
lib/charting/                                     @panspagetka
lib/report_formatter/c3.rb                        @panspagetka
lib/report_formatter/c3_series.rb                 @panspagetka
lib/report_formatter/chart_common.rb              @panspagetka
app/assets/javascripts/miq_c3.js                  @panspagetka
# topology services
app/services/*topology_service.rb                 @skateman

app/controllers/mixins/custom_buttons.rb          @martinpovolny
app/controllers/mixins/generic_*.rb               @martinpovolny
app/controllers/mixins/more_show_actions.rb       @martinpovolny
app/assets/javascripts/miq_explorer.js            @martinpovolny
app/presenters/explorer_presenter.rb              @martinpovolny
app/helpers/application_helper/button/basic.rb    @martinpovolny
app/helpers/application_helper/toolbar/basic.rb   @martinpovolny
app/presenters/tree_builder.rb                    @martinpovolny
app/presenters/menu/                              @martinpovolny
app/helpers/textual_*rb                           @martinpovolny

# decorators
app/decorators/                                   @skateman
