Repository ManageIQ/manageiq-ui-classic, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skateman, @epwinchell, @romanblanco, @panspagetka, @martinpovolny

.github/CODEOWNERS:

# trees
app/presenters/tree_node/                         @skateman
app/presenters/tree_builder_*                     @skateman
# styling and images
app/assets/stylesheets/                           @epwinchell
app/assets/images/                                @epwinchell
# dialog editor
app/assets/javascripts/controllers/dialog_editor  @romanblanco
app/views/miq_ae_customization/editor.html.haml   @romanblanco
# toolbar buttons
app/helpers/application_helper/button/            @romanblanco @panspagetka
app/helpers/application_helper/toolbar_builder.rb @romanblanco @panspagetka @martinpovolny
# rbac
app/controllers/mixins/checked_id_mixin.rb        @romanblanco @panspagetka
# charts
lib/charting/                                     @panspagetka
lib/report_formatter/c3.rb                        @panspagetka
lib/report_formatter/c3_series.rb                 @panspagetka
lib/report_formatter/chart_common.rb              @panspagetka
app/assets/javascripts/miq_c3.js                  @panspagetka
# topology services
app/services/*topology_service.rb                 @skateman

app/controllers/mixins/custom_buttons.rb          @martinpovolny
app/controllers/mixins/generic_*.rb               @martinpovolny
app/controllers/mixins/more_show_actions.rb       @martinpovolny
app/assets/javascripts/miq_explorer.js            @martinpovolny
app/presenters/explorer_presenter.rb              @martinpovolny
app/helpers/application_helper/button/basic.rb    @martinpovolny
app/helpers/application_helper/toolbar/basic.rb   @martinpovolny
app/presenters/tree_builder.rb                    @martinpovolny
app/presenters/menu/                              @martinpovolny
app/helpers/textual_*rb                           @martinpovolny

# decorators
app/decorators/                                   @skateman

Add test that kubernetes-topology-graph is loaded
  spec/javascripts/globals_pack_spec.js
Owners: none

webpack: ignore .mjs files
  config/webpack/loaders.js
  config/webpack/shared.js
Owners: none

Do not load advanced search on pre-provisioning screen.
  app/controllers/application_controller/miq_request_methods.rb
  app/controllers/application_controller/report_data_additional_options.rb
Owners: none

[OpsController] Use .regions method not REGIONS
  app/controllers/ops_controller/settings/schedules.rb
Owners: none

Fix Specific tags/Expression switch for new group
  app/controllers/ops_controller/ops_rbac.rb
Owners: none

Update ui-components to 1.1.26 for hammer
  package.json
  yarn.lock
Owners: none

Use right title in breadcrumbs in ems_cluster and host controller
  app/controllers/ems_cluster_controller.rb
  app/controllers/host_controller.rb
Owners: none

Added option to change group ownership for Service Catalog Items
  app/controllers/catalog_controller.rb
  app/controllers/mixins/actions/vm_actions/ownership.rb
  app/helpers/application_helper/toolbar/servicetemplate_center.rb
  app/helpers/application_helper/toolbar/servicetemplates_center.rb
  config/routes.rb
  spec/controllers/catalog_controller_spec.rb
Owners: none

[Changelog] Update for Hammer-6
  CHANGELOG.md
Owners: none

Catalog item delete: don't show duplicate service names
  app/javascript/components/remove-catalog-item-modal.jsx
Owners: none

FirmwareRegistry page
  app/controllers/firmware_controller.rb
  app/controllers/firmware_controller/firmware_registries.rb
  app/controllers/mixins/sandbox.rb
  app/presenters/menu/default_menu.rb
  app/presenters/tree_builder.rb
  app/presenters/tree_builder_firmware_registries.rb
  app/presenters/tree_node/firmware_binary.rb
  app/presenters/tree_node/firmware_registry.rb
  app/views/firmware/_firmware_registry_details.html.haml
  app/views/firmware/_firmware_registry_list.html.haml
  app/views/firmware/explorer.html.haml
  app/views/firmware/firmware_registry_list.html.haml
  config/routes.rb
  product/views/FirmwareBinary.yaml
  product/views/FirmwareRegistry.yaml
  spec/routing/firmware_routing_spec.rb
Owners: @martinpovolny, @skateman

Update travis excludes for 2.4.6
  .travis.yml
Owners: none

spec for travis.yml rvm version matching the version in excludes
  spec/other/travis_spec.rb
Owners: none

New Flash message error for import datastore with playbook method.
  app/controllers/miq_ae_tools_controller.rb
Owners: none

Spec for the flash error message during the playbook method import.
  spec/controllers/miq_ae_tools_controller_spec.rb
Owners: none

New Flash message error for import datastore with playbook method.
  app/controllers/miq_ae_tools_controller.rb
Owners: none

Reset user's dashboard upon login
  app/controllers/dashboard_controller.rb
  app/controllers/report_controller/dashboards.rb
  app/views/report/_db_form.html.haml
  app/views/report/_db_show.html.haml
  spec/controllers/dashboard_controller_spec.rb
Owners: none

Spec for the flash error message during the playbook method import.
  spec/controllers/miq_ae_tools_controller_spec.rb
Owners: none

Bump hammer travis.yml to ruby 2.4.6
  .travis.yml
Owners: none

PAUSED: Use `git resume` to continue working.
  bin/setup
Owners: none

Added Dialog name info on the Catalog Item summary screen
  app/views/catalog/_svccat_tree_show.html.haml
Owners: none

Move jquery.hotkeys from asset pipeline to webpack
  app/assets/javascripts/application.js
  app/javascript/packs/globals.js
  lib/manageiq/ui/classic/engine.rb
  manageiq-ui-classic.gemspec
  package.json
Owners: none

Add spec that jquery.hotkeys is loaded
  spec/javascripts/globals_pack_spec.js
Owners: none

Fix problem with canceling policy sim if clicking on Back before
  app/controllers/mixins/actions/vm_actions/policy_simulation.rb
  config/routes.rb
Owners: none

Fix failing spec for vm_infra controller according to the changes
  spec/controllers/vm_infra_controller_spec.rb
Owners: none

remove messages for superadmins in group's detail
  app/views/ops/rbac_group/_hosts_clusters.html.haml
  app/views/ops/rbac_group/_vms_templates.html.haml
Owners: none

remove get_col_type from filter/expression.rb
  app/controllers/application_controller/filter/expression.rb
Owners: none

Update ui-components to 1.2.5
  package.json
Owners: none

Fix specs for validation of embedded methods
  spec/controllers/miq_ae_class_controller_spec.rb
Owners: none

Remove redudant tagging buttons for Group Tag edit https://bugzilla.redhat.com/show_bug.cgi?id=1710736
  app/controllers/ops_controller.rb
Owners: none

Make AWS region dropdown under schedules consistent with add provider
  app/controllers/ops_controller/settings/schedules.rb
Owners: none

Merge pull request #5591 from JPrause/hammer6_cl
  CHANGELOG.md
Owners: none

Revert "Hide services from the Services tree as its redundant and slow"
  app/presenters/tree_builder_services.rb
  spec/presenters/tree_builder_services_spec.rb
Owners: @skateman

Implement lazy loading for the services tree
  app/presenters/tree_builder_services.rb
  spec/presenters/tree_builder_services_spec.rb
Owners: @skateman

Load the react-patternfly v4 into the codebase
  app/stylesheet/application-webpack.scss
  package.json
Owners: none

Merge pull request #5506 from ZitaNemeckova/remove_wrong_check
  app/controllers/application_controller/buttons.rb
  spec/controllers/application_controller/buttons_spec.rb
Owners: none

Merge pull request #5511 from lpichler/inform_user_about_outdates_belongsto_filters
  app/controllers/ops_controller/ops_rbac.rb
  app/views/ops/_rbac_group_details.html.haml
  spec/controllers/ops_controller/ops_rbac_spec.rb
Owners: none

Merge pull request #5581 from h-kataria/do_not_load_search_variables_on_pre_provisioning_screen
  app/controllers/application_controller/miq_request_methods.rb
  app/controllers/application_controller/report_data_additional_options.rb
Owners: none

Update Workers Settings form data in @edit after saving
  app/controllers/ops_controller/settings/common.rb
  spec/controllers/ops_controller/settings/common_spec.rb
Owners: none

WIP
  app/javascript/components/main_menu.jsx
  app/javascript/packs/component-definitions-common.js
  app/presenters/menu/manager.rb
  app/views/layouts/_header.html.haml
Owners: @martinpovolny
