Repository ManageIQ/manageiq-ui-classic, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skateman, @epwinchell, @romanblanco, @panspagetka, @martinpovolny

Fix rubocop in MiqPolicyController::Alerts
  app/controllers/miq_policy_controller/alerts.rb
Owners: none

Display Search box in Infra Networking page (All Switches)
  app/views/infra_networking/explorer.html.haml
Owners: none

Display search text in the title while searching for a Switch by name
  app/controllers/infra_networking_controller.rb
  spec/controllers/infra_networking_controller_spec.rb
Owners: none

Allow performing operations on Instances of a Network Router
  app/controllers/network_router_controller.rb
  config/routes.rb
  spec/controllers/network_router_controller_spec.rb
Owners: none

Make Check Compliance work for Instances of a Network Router
  app/controllers/application_controller/ci_processing.rb
  spec/controllers/network_router_controller_spec.rb
Owners: none

Remove Middleware* from performance controller and haml
  app/controllers/application_controller/performance.rb
  app/views/layouts/_perf_options.html.haml
Owners: none

Remove Middleware* from miq policy controller
  app/controllers/miq_policy_controller/alert_profiles.rb
  app/controllers/miq_policy_controller/alerts.rb
  app/helpers/term_of_service_helper.rb
Owners: none

Allow performing operations on Instances of a chosen Cloud Network
  app/controllers/cloud_network_controller.rb
  config/routes.rb
  spec/controllers/cloud_network_controller_spec.rb
Owners: none

Toolbars: remove unused variable.
  app/helpers/application_helper/toolbar/compare_center.rb
  app/helpers/application_helper/toolbar/drift_center.rb
Owners: none

Allow performing operations on Instances of a Security Group
  app/controllers/security_group_controller.rb
  config/routes.rb
  spec/controllers/security_group_controller_spec.rb
Owners: none

Make Check Compliance work for Instances of a Security Group
  app/controllers/application_controller/ci_processing.rb
  spec/controllers/security_group_controller_spec.rb
Owners: none

Fix rubocop in MiqPolicyController::Conditions
  app/controllers/miq_policy_controller/conditions.rb
Owners: none

Fix rubocop in MiqPolicyController::Events
  app/controllers/miq_policy_controller/events.rb
Owners: none

Fix rubocop in MiqPolicyController::MiqActions
  app/controllers/miq_policy_controller/miq_actions.rb
Owners: none

Remove middleware yamls
  product/views/MiddlewareDeployment.yaml
  product/views/MiddlewareDomain.yaml
  product/views/MiddlewareServer.yaml
  product/views/MiddlewareServerGroup.yaml
Owners: none

Merge pull request #5876 from hstastna/No_route_compare_Datastores_VMs
  config/routes.rb
Owners: none

Merge pull request #6070 from h-kataria/nil_fix_on_reconfig_form
  app/controllers/mixins/actions/vm_actions/reconfigure.rb
  spec/controllers/mixins/actions/vm_actions/reconfigure_spec.rb
Owners: none

Merge pull request #6181 from bmclaughlin/bz1743651
  app/controllers/report_controller/reports.rb
  app/controllers/report_controller/reports/editor.rb
  app/views/report/_form.html.haml
  app/views/report/_form_preview.html.haml
  app/views/report/_form_tl_sample.html.haml
  app/views/report/_form_tl_settings.html.haml
  spec/controllers/miq_report_controller/reports/editor_spec.rb
  spec/controllers/report_controller_spec.rb
Owners: none

Merge pull request #6225 from eclarizio/BZ1685555-custom_button_dialog_display_issue
  app/controllers/infra_networking_controller.rb
Owners: none

Merge pull request #6352 from rvsia/17666276catalog-name
  app/controllers/catalog_controller.rb
  app/javascript/components/catalog-form/catalog-form.jsx
  app/javascript/spec/catalog-form/catalog-form.spec.js
Owners: none

Merge pull request #6388 from himdel/bz1769968-dialog-editor-id
  app/controllers/infra_networking_controller.rb
  app/controllers/vm_common.rb
  app/helpers/miq_ae_customization_helper.rb
  app/presenters/explorer_presenter.rb
  spec/presenters/explorer_presenter_spec.rb
Owners: @martinpovolny

Merge pull request #6391 from hstastna/ProvisionVM_LDAP_Lookup_btn
  app/controllers/miq_request_controller.rb
  spec/controllers/miq_request_controller_spec.rb
Owners: none

Merge pull request #6207 from PanSpagetka/catalog-rhev-provision
  app/controllers/application_controller/miq_request_methods.rb
Owners: none

Merge pull request #6466 from mzazrivec/correctly_handle_machine_credential_resource_without_options
  app/assets/javascripts/controllers/ansible_credentials/ansible_credentials_form_controller.js
Owners: none

Fix rubocop in MiqPolicyController::Policies
  app/controllers/miq_policy_controller/policies.rb
Owners: none

Fix rubocop in MiqPolicyController::PolicyProfiles
  app/controllers/miq_policy_controller/policy_profiles.rb
Owners: none

Fix rubocop in MiqPolicyController
  app/controllers/miq_policy_controller.rb
Owners: none

Fix rubocop in MiqRequestController
  app/controllers/miq_request_controller.rb
Owners: none

Allow performing operations on Instances of a chosen Cloud Subnet
  app/controllers/cloud_subnet_controller.rb
  config/routes.rb
  spec/controllers/cloud_subnet_controller_spec.rb
Owners: none

Make Check Compliance work for Instances of a Cloud Subnet
  app/controllers/application_controller/ci_processing.rb
  spec/controllers/cloud_subnet_controller_spec.rb
Owners: none

Merge pull request #6374 from d-m-u/fixing_user_group_being_wrong_in_tree
  app/controllers/ops_controller/ops_rbac.rb
Owners: none

Update patternfly-react to get rid of warnings with new react
  config/webpack/shared.js
  package.json
Owners: none

Split out masthead styling
  app/assets/stylesheets/application.css
  app/assets/stylesheets/masthead.scss
  app/assets/stylesheets/notifications.scss
  app/assets/stylesheets/patternfly_overrides.scss
Owners: @epwinchell

Merge pull request #6522 from carbonin/restore_token_generation_for_cockpit
  app/controllers/dashboard_controller.rb
Owners: none

Merge pull request #6533 from h-kataria/generic_object_playbook_custom_button_add_fix
  app/assets/javascripts/components/generic_object/main-custom-button-form.js
  spec/javascripts/components/generic_object_definition/main-custom-button-form_spec.js
Owners: none

Fix rubocop in MiqTaskController
  app/controllers/miq_task_controller.rb
Owners: none

Fix rubocop in MiqTemplateController
  app/controllers/miq_template_controller.rb
Owners: none

Fix rubocop in HostActions::Discover mixin
  app/controllers/mixins/actions/host_actions/discover.rb
Owners: none

Refactoring automate import error messages logic.
  app/controllers/miq_ae_tools_controller.rb
  app/services/git_based_domain_import_service.rb
Owners: none

Refactoring automate import error messages logic in tests.
  spec/controllers/miq_ae_tools_controller_spec.rb
  spec/services/git_based_domain_import_service_spec.rb
Owners: none

.github/CODEOWNERS:

# trees
app/presenters/tree_node/                         @skateman
app/presenters/tree_builder_*                     @skateman
# styling and images
app/assets/stylesheets/                           @epwinchell
app/assets/images/                                @epwinchell
# dialog editor
app/assets/javascripts/controllers/dialog_editor  @romanblanco
app/views/miq_ae_customization/editor.html.haml   @romanblanco
# toolbar buttons
app/helpers/application_helper/button/            @romanblanco @panspagetka
app/helpers/application_helper/toolbar_builder.rb @romanblanco @panspagetka @martinpovolny
# rbac
app/controllers/mixins/checked_id_mixin.rb        @romanblanco @panspagetka
# charts
lib/charting/                                     @panspagetka
lib/report_formatter/c3.rb                        @panspagetka
lib/report_formatter/c3_series.rb                 @panspagetka
lib/report_formatter/chart_common.rb              @panspagetka
app/assets/javascripts/miq_c3.js                  @panspagetka
# topology services
app/services/*topology_service.rb                 @skateman

app/controllers/mixins/custom_buttons.rb          @martinpovolny
app/controllers/mixins/generic_*.rb               @martinpovolny
app/controllers/mixins/more_show_actions.rb       @martinpovolny
app/assets/javascripts/miq_explorer.js            @martinpovolny
app/presenters/explorer_presenter.rb              @martinpovolny
app/helpers/application_helper/button/basic.rb    @martinpovolny
app/helpers/application_helper/toolbar/basic.rb   @martinpovolny
app/presenters/tree_builder.rb                    @martinpovolny
app/presenters/menu/                              @martinpovolny
app/helpers/textual_*rb                           @martinpovolny

# decorators
app/decorators/                                   @skateman
