Repository ManageIQ/manageiq-ui-classic, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skateman, @epwinchell, @romanblanco, @panspagetka, @martinpovolny

.github/CODEOWNERS:

# trees
app/presenters/tree_node/                         @skateman
app/presenters/tree_builder_*                     @skateman
# styling and images
app/assets/stylesheets/                           @epwinchell
app/assets/images/                                @epwinchell
# dialog editor
app/assets/javascripts/controllers/dialog_editor  @romanblanco
app/views/miq_ae_customization/editor.html.haml   @romanblanco
# toolbar buttons
app/helpers/application_helper/button/            @romanblanco @panspagetka
app/helpers/application_helper/toolbar_builder.rb @romanblanco @panspagetka @martinpovolny
# rbac
app/controllers/mixins/checked_id_mixin.rb        @romanblanco @panspagetka
# charts
lib/charting/                                     @panspagetka
lib/report_formatter/c3.rb                        @panspagetka
lib/report_formatter/c3_series.rb                 @panspagetka
lib/report_formatter/chart_common.rb              @panspagetka
app/assets/javascripts/miq_c3.js                  @panspagetka
# topology services
app/services/*topology_service.rb                 @skateman

app/controllers/mixins/custom_buttons.rb          @martinpovolny
app/controllers/mixins/generic_*.rb               @martinpovolny
app/controllers/mixins/more_show_actions.rb       @martinpovolny
app/assets/javascripts/miq_explorer.js            @martinpovolny
app/presenters/explorer_presenter.rb              @martinpovolny
app/helpers/application_helper/button/basic.rb    @martinpovolny
app/helpers/application_helper/toolbar/basic.rb   @martinpovolny
app/presenters/tree_builder.rb                    @martinpovolny
app/presenters/menu/                              @martinpovolny
app/helpers/textual_*rb                           @martinpovolny

# decorators
app/decorators/                                   @skateman

Fix missing title in Policy Simulation page
  app/controllers/application_controller/policy_support.rb
  app/views/layouts/_policy_sim.html.haml
Owners: none

Add spec for the fix for missing title in Policy Simulation page
  spec/controllers/application_controller/policy_support_spec.rb
Owners: none

Fix changing title after clicking quadicon in Instance Policy sim page
  app/controllers/vm_common.rb
Owners: none

Add spec for the fix for changing the title in Instance Policy sim page
  spec/controllers/vm_common_spec.rb
Owners: none

Remove deprecated Discover Cloud Providers drop-down selection
  app/controllers/mixins/actions/host_actions/discover.rb
  app/helpers/application_helper/toolbar/ems_clouds_center.rb
  locale/ManageIQ_UI_Classic.pot
  spec/controllers/ems_cloud_controller_spec.rb
Owners: none

Remove deprecated Discover Cloud Providers
  app/helpers/application_helper/button/button_new_discover_cloud.rb
  app/views/ems_cloud/discover.html.haml
Owners: @romanblanco, @panspagetka

Remove deprecated Discover Cloud Providers
  app/controllers/mixins/actions/host_actions/discover.rb
  spec/controllers/application_controller/ci_processing_spec.rb
Owners: none

Add Provider column to Clusters list view Fixes https://bugzilla.redhat.com/show_bug.cgi?id=1692853
  product/views/EmsCluster.yaml
Owners: none

[Changelog] Update for Sprint 108
  CHANGELOG.md
Owners: none

Merge pull request #5395 from GregP/remove_discover_cloud_providers
  app/controllers/mixins/actions/host_actions/discover.rb
  app/helpers/application_helper/button/button_new_discover_cloud.rb
  app/helpers/application_helper/toolbar/ems_clouds_center.rb
  app/views/ems_cloud/discover.html.haml
  locale/ManageIQ_UI_Classic.pot
  spec/controllers/application_controller/ci_processing_spec.rb
  spec/controllers/ems_cloud_controller_spec.rb
Owners: @romanblanco, @panspagetka

Extract the catalog entrypoint selection from TreeBuilderAutomate
  app/assets/javascripts/miq_tree.js
  app/controllers/catalog_controller.rb
  app/controllers/miq_ae_class_controller.rb
  app/controllers/mixins/sandbox.rb
  app/helpers/automate_tree_helper.rb
  app/presenters/tree_builder_automate.rb
  app/presenters/tree_builder_automate_catalog.rb
  app/presenters/tree_builder_automate_entrypoint.rb
  spec/presenters/tree_builder_automate_catalog_spec.rb
  spec/presenters/tree_builder_automate_spec.rb
Owners: @skateman

Attempt to override Jasmine::wait_for_listener to wait a bit even after the server started
  spec/javascripts/support/jasmine_helper.rb
Owners: none

(don't merge) disable other specs on travis'
  .travis.yml
Owners: none

Add Compliance Box to Provider details page Fixes https://bugzilla.redhat.com/show_bug.cgi?id=1518613
  app/controllers/mixins/ems_common.rb
  app/helpers/ems_cloud_helper.rb
  app/helpers/ems_cloud_helper/textual_summary.rb
  app/helpers/ems_infra_helper.rb
  app/helpers/ems_infra_helper/textual_summary.rb
  app/helpers/textual_mixins/ems_common.rb
Owners: none

- Add missing routes for updated Provider controllers - Add missing newline
  app/helpers/textual_mixins/ems_common.rb
  app/views/shared/views/ems_common/_show.html.haml
  config/routes.rb
Owners: none

Updated style for Percent Literals per [1] [1] https://github.com/ManageIQ/guides/issues/333
  app/controllers/ems_network_controller.rb
  app/controllers/ems_storage_controller.rb
Owners: none

Add Compliance Box to Container/Physical Providers detail pages
  app/controllers/ems_container_controller.rb
  app/helpers/ems_container_helper.rb
  app/helpers/ems_container_helper/textual_summary.rb
  app/helpers/ems_physical_infra_helper.rb
  app/helpers/ems_physical_infra_helper/textual_summary.rb
Owners: none

Fix Travis errors
  app/controllers/ems_network_controller.rb
  app/controllers/ems_storage_controller.rb
Owners: none

wait 1s, after orig wait; log runner
  spec/javascripts/support/jasmine_helper.rb
Owners: none

BZ1650396: Add Allocation pools, Nameserver, Host Routes to Subnet UI
  app/assets/javascripts/components/cloud_subnet/cloud-subnet-form.js
  app/controllers/cloud_subnet_controller.rb
  app/helpers/cloud_subnet_helper/textual_summary.rb
  app/views/static/cloud_subnet/cloud-subnet-form.html.haml
  spec/controllers/cloud_subnet_controller_spec.rb
  spec/helpers/cloud_subnet_helper/textual_summary_spec.rb
  spec/javascripts/components/cloud_subnet/cloud_subnet_form_spec.js
Owners: none

more debuging, runner.run
  spec/javascripts/support/jasmine_helper.rb
Owners: none

Fixes breadcrumb when disabling/enabling schedules
  app/controllers/mixins/breadcrumbs_mixin.rb
  app/controllers/ops_controller.rb
  spec/controllers/mixins/breadcrumbs_mixin_spec.rb
  spec/controllers/ops_settings_spec.rb
  spec/controllers/pxe_controller_spec.rb
Owners: none

add curl call
  spec/javascripts/support/jasmine_helper.rb
Owners: none

drop curl, log popen state
  spec/javascripts/support/jasmine_helper.rb
Owners: none

simplify, output phantom version
  spec/javascripts/support/jasmine_helper.rb
Owners: none

Encrypt password if provided
  app/services/git_based_domain_import_service.rb
  spec/services/git_based_domain_import_service_spec.rb
Owners: none

Merge pull request #5063 from mzazrivec/add_menu_item_ids_to_vertical_menu
  app/views/layouts/_vertical_navbar.html.haml
Owners: none

Merge pull request #4999 from mzazrivec/add_menu_update_mixin
  app/controllers/mixins/menu_update_mixin.rb
  spec/controllers/mixins/menu_update_mixin_spec.rb
Owners: none

run IO.popen localy
  spec/javascripts/support/jasmine_helper.rb
  spec/javascripts/support/phantom_jasmine_run.js
Owners: none

bump, only 100 lines, not 2000
  spec/javascripts/support/jasmine_helper.rb
Owners: none

(don't merge) disable other specs on travis'
  .travis.yml
Owners: none

Jasmine - replace Phantomjs backend by headless chrome
  .travis.yml
  manageiq-ui-classic.gemspec
  spec/javascripts/support/chromeheadless_boot.js
  spec/javascripts/support/jasmine_helper.rb
Owners: none

disable webmock for spec:javascript
  spec/javascripts/support/jasmine_helper.rb
Owners: none

Last use deleted in PR 392
  app/controllers/application_controller.rb
Owners: none

Replaced in PR 4176
  app/helpers/application_helper/toolbar_chooser.rb
Owners: none

Last use deleted in PR 3014 and 3029
  app/controllers/application_controller/policy_support.rb
  app/controllers/vm_common.rb
Owners: none

Last use deleted in PR 1323
  app/helpers/application_helper/toolbar_builder.rb
Owners: @romanblanco, @panspagetka, @martinpovolny

Delete related specs
  spec/helpers/application_helper/toolbar_builder_spec.rb
Owners: none

Don't shot x_edit_buttons for tagging screen
  app/controllers/application_controller/tags.rb
Owners: none

Jasmine - update to 2.99.0
  manageiq-ui-classic.gemspec
  spec/javascripts/support/jasmine.yml
  spec/javascripts/support/jasmine_helper.rb
Owners: none
