Repository ManageIQ/manageiq-ui-classic, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skateman, @epwinchell, @romanblanco, @panspagetka, @martinpovolny

Correct argument in TreeBuilderStoragePods#x_get_tree_custom_kids
  app/presenters/tree_builder_storage_pod.rb
Owners: @skateman

Fixes display text for Policy Server Compliance accordion nodes
  app/presenters/tree_builder_policy.rb
Owners: @skateman

Fix deprecation warnings in TreeBuilder root_class instance vars
  app/presenters/tree_builder_automation_manager_configured_systems.rb
  app/presenters/tree_builder_configuration_manager_configured_systems.rb
  app/presenters/tree_builder_images_filter.rb
  app/presenters/tree_builder_instances_filter.rb
  app/presenters/tree_builder_template_filter.rb
  app/presenters/tree_builder_templates_images_filter.rb
  app/presenters/tree_builder_vms_filter.rb
  app/presenters/tree_builder_vms_instances_filter.rb
Owners: @skateman

Fix breadcrumbs on request page
  app/controllers/miq_request_controller.rb
  app/controllers/mixins/breadcrumbs_mixin.rb
  app/javascript/components/breadcrumbs/index.js
Owners: none

Add Red Hat Cloud Services menu section https://bugzilla.redhat.com/show_bug.cgi?id=1678048
  app/presenters/menu/default_menu.rb
Owners: @martinpovolny

Add Red Hat Cloud Services route
  config/routes.rb
Owners: none

Make some _reports_menu methods a little more readable
  app/controllers/application_controller.rb
Owners: none

Automate method: add labels to locations combo.
  app/controllers/miq_ae_class_controller.rb
  app/helpers/miq_ae_class_helper.rb
  app/views/miq_ae_class/_method_form.html.haml
Owners: none

Automate method: add missing label for "builtin".
  app/helpers/miq_ae_class_helper.rb
Owners: none

From catalog the playbook form needs to run as "playbook".
  app/assets/javascripts/controllers/catalog/catalog_item_form_controller.js
Owners: none

Automate method: split add_update_method.
  app/controllers/miq_ae_class_controller.rb
Owners: none

Automate method: fix "edit".
  app/assets/javascripts/controllers/miq_ae_class/ae_method_form_controller.js
  app/controllers/miq_ae_class_controller.rb
Owners: none

Automate method: style fixes.
  app/controllers/miq_ae_class_controller.rb
Owners: none

Add a fancy name ... in the Angular part.
  app/assets/javascripts/controllers/miq_ae_class/ae_method_form_controller.js
  app/controllers/miq_ae_class_controller.rb
  app/views/miq_ae_class/_angular_method_form.html.haml
Owners: none

Automate method: rename playbook to ansible_template.
  app/assets/javascripts/controllers/miq_ae_class/ae_method_form_controller.js
  app/controllers/miq_ae_class_controller.rb
  app/views/layouts/angular/_ansible_form_options_angular.html.haml
Owners: none

Style fixes.
  app/controllers/miq_ae_class_controller.rb
Owners: none

Automate method: fix the "playbook" label.
  app/controllers/catalog_controller.rb
  app/views/layouts/angular/_ansible_form_options_angular.html.haml
Owners: none

Automate method: sort the data from the API.
  app/javascript/angular/miq_ae_class/ae_method_form_controller.js
Owners: none

Automate method: don't call formOptions() 2x. 4 extra API calls.
  app/assets/javascripts/controllers/miq_ae_class/ae_method_form_controller.js
Owners: none

Automate method: list managers not providers.
  app/controllers/miq_ae_class_controller.rb
Owners: none

Automate method: add location and list of providers to model.
  app/assets/javascripts/controllers/miq_ae_class/ae_method_form_controller.js
  app/controllers/miq_ae_class_controller.rb
  app/views/layouts/angular/_ansible_form_options_angular.html.haml
  app/views/miq_ae_class/_angular_method_form.html.haml
  app/views/miq_ae_class/_class_methods.html.haml
Owners: none

Automate method: based on Manager selection present playbooks.
  app/assets/javascripts/controllers/miq_ae_class/ae_method_form_controller.js
Owners: none

Automate method: add new types to the detail view.
  app/controllers/miq_ae_class_controller.rb
  app/views/miq_ae_class/_method_inputs.html.haml
Owners: none

Automate method: simplify and extract view.
  app/views/miq_ae_class/_expression.html.haml
  app/views/miq_ae_class/_method_form.html.haml
Owners: none

Automate: split method copy_objects.
  app/controllers/miq_ae_class_controller.rb
Owners: none

Automate method: based on Manager selection present playbooks. 2/2
  app/views/layouts/angular/_ansible_form_options_angular.html.haml
Owners: none

Add a fancy name for automate method type/location.
  app/helpers/miq_ae_class_helper.rb
  app/views/miq_ae_class/_method_form.html.haml
Owners: none

Automate method: Move angular controller under app/javascript.
  app/javascript/angular/index.js
  app/javascript/angular/miq_ae_class/ae_method_form_controller.js
Owners: none

Automate method: hide extra information for ansible playbook/workflow.
  app/assets/javascripts/controllers/miq_ae_class/ae_method_form_controller.js
  app/controllers/miq_ae_class_controller.rb
  app/helpers/miq_ae_class_helper.rb
  app/views/layouts/angular/_ansible_form_options_angular.html.haml
  app/views/miq_ae_class/_method_inputs.html.haml
Owners: none

Automate methods: list only managers that are enabled.
  app/controllers/miq_ae_class_controller.rb
Owners: none

Automate method: style fixes.
  app/controllers/miq_ae_class_controller.rb
Owners: none

Add ancestry parents to breadcrumbs
  app/controllers/mixins/breadcrumbs_mixin.rb
  app/controllers/service_controller.rb
  spec/controllers/mixins/breadcrumbs_mixin_spec.rb
Owners: none

Merge pull request #5126 from eclarizio/BZ1663049
  app/views/miq_request/_request_dialog_details.html.haml
  app/views/miq_request/_st_prov_show.html.haml
Owners: none

Automame method: handle empty value for template/playbook.
  app/controllers/miq_ae_class_controller.rb
Owners: none

Automame method: handle misssing ansible_template_id.
  app/controllers/miq_ae_class_controller.rb
Owners: none

Use numeric comparison for IDs fixes https://bugzilla.redhat.com/show_bug.cgi?id=1698168
  app/controllers/application_controller/filter/expression.rb
Owners: none

fix event log entry markup
  app/views/ops/_ap_form_nteventlog.html.haml
Owners: none

Add spec test
  spec/controllers/application_controller/filter/expression_spec.rb
Owners: none

Remove wrong and redundant check
  app/controllers/application_controller/buttons.rb
Owners: none

Add spec that tests that old role isn't left out
  spec/controllers/application_controller/buttons_spec.rb
Owners: none

.github/CODEOWNERS:

# trees
app/presenters/tree_node/                         @skateman
app/presenters/tree_builder_*                     @skateman
# styling and images
app/assets/stylesheets/                           @epwinchell
app/assets/images/                                @epwinchell
# dialog editor
app/assets/javascripts/controllers/dialog_editor  @romanblanco
app/views/miq_ae_customization/editor.html.haml   @romanblanco
# toolbar buttons
app/helpers/application_helper/button/            @romanblanco @panspagetka
app/helpers/application_helper/toolbar_builder.rb @romanblanco @panspagetka @martinpovolny
# rbac
app/controllers/mixins/checked_id_mixin.rb        @romanblanco @panspagetka
# charts
lib/charting/                                     @panspagetka
lib/report_formatter/c3.rb                        @panspagetka
lib/report_formatter/c3_series.rb                 @panspagetka
lib/report_formatter/chart_common.rb              @panspagetka
app/assets/javascripts/miq_c3.js                  @panspagetka
# topology services
app/services/*topology_service.rb                 @skateman

app/controllers/mixins/custom_buttons.rb          @martinpovolny
app/controllers/mixins/generic_*.rb               @martinpovolny
app/controllers/mixins/more_show_actions.rb       @martinpovolny
app/assets/javascripts/miq_explorer.js            @martinpovolny
app/presenters/explorer_presenter.rb              @martinpovolny
app/helpers/application_helper/button/basic.rb    @martinpovolny
app/helpers/application_helper/toolbar/basic.rb   @martinpovolny
app/presenters/tree_builder.rb                    @martinpovolny
app/presenters/menu/                              @martinpovolny
app/helpers/textual_*rb                           @martinpovolny

# decorators
app/decorators/                                   @skateman
