Repository ManageIQ/manageiq-ui-classic, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skateman, @epwinchell, @romanblanco, @panspagetka, @martinpovolny

Add Create Snapshot button to menu for Instances
  app/helpers/application_helper/toolbar/x_vm_cloud_center.rb
Owners: none

Fix code style and typo
  app/helpers/application_helper/toolbar/x_vm_center.rb
  app/helpers/application_helper/toolbar/x_vm_cloud_center.rb
Owners: none

Use standard rails methods to serve up photos
  app/controllers/picture_controller.rb
Owners: none

Replace right area with GTL instead of full request
  app/controllers/mixins/generic_show_mixin.rb
  app/controllers/ops_controller.rb
  config/routes.rb
  product/views/ExtManagementSystem-nested_providers.yaml
  product/views/MiqAeDomain-nested_ae_namespaces.yaml
  product/views/ServiceTemplate-nested_service_templates.yaml
Owners: @martinpovolny

Add Relationships to Tenants textual summary screen
  app/controllers/ops_controller.rb
  app/helpers/ops_helper/textual_summary.rb
Owners: none

Add specs for textual_group_list for Tenant in ops controller
  spec/controllers/ops_controller_spec.rb
Owners: none

Convert Tenants details page to textual summary
  app/controllers/ops_controller.rb
  app/helpers/ops_helper/textual_summary.rb
  app/views/ops/_rbac_tenant_details.html.haml
Owners: none

Fix highlighting Group in accordion
  app/presenters/tree_builder_ops_rbac.rb
Owners: @skateman

Breadcrumbs: way to add last item to the list
  app/controllers/mixins/breadcrumbs_mixin.rb
Owners: none

Add specs for Tenant's textual summary
  spec/helpers/ops_helper/textual_summary_spec.rb
  spec/views/ops/_rbac_tenant_details.html.haml_spec.rb
Owners: none

Add specs for display methods in ops controller for Tenant
  spec/controllers/mixins/generic_show_mixin_spec.rb
  spec/controllers/ops_controller_spec.rb
Owners: none

ExplorerPresenter main_div: allow setting for right_cell_text.
  app/assets/javascripts/miq_explorer.js
  app/presenters/explorer_presenter.rb
Owners: @martinpovolny

Tenant details: set page title (right_cell_text).
  app/controllers/ops_controller.rb
Owners: none

Add specs for Tenant's textual summary
  spec/helpers/ops_helper/textual_summary_spec.rb
  spec/views/ops/_rbac_tenant_details.html.haml_spec.rb
Owners: none

Add Relationships to Tenants textual summary screen
  app/controllers/ops_controller.rb
  app/helpers/ops_helper/textual_summary.rb
Owners: none

Replace right area with GTL instead of full request
  app/controllers/mixins/generic_show_mixin.rb
  app/controllers/ops_controller.rb
  config/routes.rb
  product/views/ExtManagementSystem-nested_providers.yaml
  product/views/MiqAeDomain-nested_ae_namespaces.yaml
  product/views/ServiceTemplate-nested_service_templates.yaml
Owners: @martinpovolny

Tenant details: set page title (right_cell_text).
  app/controllers/ops_controller.rb
Owners: none

Add specs for textual_group_list for Tenant in ops controller
  spec/controllers/ops_controller_spec.rb
Owners: none

ExplorerPresenter main_div: allow setting for right_cell_text.
  app/assets/javascripts/miq_explorer.js
  app/presenters/explorer_presenter.rb
Owners: @martinpovolny

Hide toolbar after clicking on Services, Automate Domains, Providers
  app/controllers/ops_controller.rb
Owners: none

Breadcrumbs: way to add last item to the list
  app/controllers/mixins/breadcrumbs_mixin.rb
Owners: none

Add specs for display methods in ops controller for Tenant
  spec/controllers/mixins/generic_show_mixin_spec.rb
  spec/controllers/ops_controller_spec.rb
Owners: none

Convert Tenants details page to textual summary
  app/controllers/ops_controller.rb
  app/helpers/ops_helper/textual_summary.rb
  app/views/ops/_rbac_tenant_details.html.haml
Owners: none

Fix highlighting Group in accordion
  app/presenters/tree_builder_ops_rbac.rb
Owners: @skateman

Sort Requester dropdown by label
  app/controllers/miq_request_controller.rb
Owners: none

Tenants: hide toolbar when clicking on Services, Automate Domains, Providers.
  app/assets/javascripts/miq_explorer.js
  app/controllers/ops_controller.rb
  app/presenters/explorer_presenter.rb
Owners: @martinpovolny

Tenants: hide toolbar when clicking on Services, Automate Domains, Providers.
  app/assets/javascripts/miq_explorer.js
  app/controllers/ops_controller.rb
  app/presenters/explorer_presenter.rb
  spec/controllers/ops_controller_spec.rb
Owners: @martinpovolny

[Changelog] Update for Sprint 120
  CHANGELOG.md
Owners: none

Include fqname in automate 🌳nodes globally instead of overriding
  app/presenters/tree_builder_automate_entrypoint.rb
  app/presenters/tree_node/miq_ae_node.rb
  spec/controllers/miq_ae_class_controller_spec.rb
Owners: @skateman

Throttle notification toast messages and display only 3 at most
  app/assets/javascripts/services/event_notifications_service.js
Owners: none

Get rid of Clusters hash node folders from Utilization tree
  app/presenters/tree_builder_utilization.rb
Owners: @skateman

Merge pull request #6187 from lpichler/display_tenant_only_from_current_region
  app/helpers/report_helper/editor.rb
Owners: none

Remove extra flash message 'Description can't be blank'
  app/controllers/ops_controller/ops_rbac.rb
  spec/controllers/ops_controller/ops_rbac_spec.rb
Owners: none

Remove unnecessary variable and validation before clicking on Add/Save
  app/controllers/ops_controller/ops_rbac.rb
  spec/controllers/ops_controller/ops_rbac_spec.rb
Owners: none

Replace implicit TreeNode::Node methods with accessors/writers
  app/presenters/tree_node/node.rb
Owners: @skateman

Connect DataDrivenForms to redux to set pristine in store
  app/assets/javascripts/miq_application.js
  app/javascript/forms/data-driven-form.jsx
  app/javascript/miq-redux/form-reducer.js
  app/javascript/miq-redux/store.js
Owners: none

Updates tests
  app/javascript/spec/automate-import-export-form/import-datastore-via-git.spec.js
  app/javascript/spec/catalog-form/__snapshots__/catalog-form.spec.js.snap
  app/javascript/spec/catalog-form/catalog-form.spec.js
  app/javascript/spec/cloud-network-form/__snapshots__/cloud-network-form.spec.js.snap
  app/javascript/spec/cloud-network-form/cloud-network-form.spec.js
  app/javascript/spec/cloud-tenant-form/__snapshots__/cloud-tenant-form.spec.js.snap
  app/javascript/spec/cloud-tenant-form/cloud-tenant-form.spec.js
  app/javascript/spec/copy-catalog-form/copy-catalog-form.spec.js
  app/javascript/spec/copy-dashboard-form/copy-dashboard-form.spec.js
  app/javascript/spec/flavor-form/__snapshots__/flavor-form.spec.js.snap
  app/javascript/spec/flavor-form/flavor-form.spec.js
  app/javascript/spec/forms/data-driven-form.spec.js
  app/javascript/spec/helpers/mountForm.jsx
  app/javascript/spec/ops-tenant-form/ops-tenant-form.spec.js
  app/javascript/spec/orchestration-template/orchestration-template-form.spec.js
  app/javascript/spec/pxe-servers-form/__snapshots__/pxe-server-form.spec.js.snap
  app/javascript/spec/pxe-servers-form/pxe-server-form.spec.js
  app/javascript/spec/service-dialog-from-form/service-dialog-from-form.spec.js
  app/javascript/spec/service-form/service-form.spec.js
  app/javascript/spec/set-ownership-form/set-ownership-form.spec.js
  app/javascript/spec/vm-server-relationship-form/vm-server-relationship-form.spec.js
  app/javascript/spec/workers-form/workers-form.spec.js
  config/jest.setup.js
Owners: none

Make service edit description field not required https://bugzilla.redhat.com/show_bug.cgi?id=1746367
  app/javascript/components/service-form/service-form.schema.js
Owners: none

add i18n at Totals for Availability Zone Fixes https://bugzilla.redhat.com/show_bug.cgi?id=1751997
  app/helpers/availability_zone_helper/textual_summary.rb
Owners: none

Reset values in redux store after changing page in explorer
  app/assets/javascripts/miq_explorer.js
  app/javascript/components/taggingWrapper.jsx
  app/javascript/miq-redux/form-reducer.js
Owners: @martinpovolny

.github/CODEOWNERS:

# trees
app/presenters/tree_node/                         @skateman
app/presenters/tree_builder_*                     @skateman
# styling and images
app/assets/stylesheets/                           @epwinchell
app/assets/images/                                @epwinchell
# dialog editor
app/assets/javascripts/controllers/dialog_editor  @romanblanco
app/views/miq_ae_customization/editor.html.haml   @romanblanco
# toolbar buttons
app/helpers/application_helper/button/            @romanblanco @panspagetka
app/helpers/application_helper/toolbar_builder.rb @romanblanco @panspagetka @martinpovolny
# rbac
app/controllers/mixins/checked_id_mixin.rb        @romanblanco @panspagetka
# charts
lib/charting/                                     @panspagetka
lib/report_formatter/c3.rb                        @panspagetka
lib/report_formatter/c3_series.rb                 @panspagetka
lib/report_formatter/chart_common.rb              @panspagetka
app/assets/javascripts/miq_c3.js                  @panspagetka
# topology services
app/services/*topology_service.rb                 @skateman

app/controllers/mixins/custom_buttons.rb          @martinpovolny
app/controllers/mixins/generic_*.rb               @martinpovolny
app/controllers/mixins/more_show_actions.rb       @martinpovolny
app/assets/javascripts/miq_explorer.js            @martinpovolny
app/presenters/explorer_presenter.rb              @martinpovolny
app/helpers/application_helper/button/basic.rb    @martinpovolny
app/helpers/application_helper/toolbar/basic.rb   @martinpovolny
app/presenters/tree_builder.rb                    @martinpovolny
app/presenters/menu/                              @martinpovolny
app/helpers/textual_*rb                           @martinpovolny

# decorators
app/decorators/                                   @skateman
