Repository ManageIQ/manageiq-ui-classic, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skateman, @epwinchell, @romanblanco, @panspagetka, @martinpovolny

.github/CODEOWNERS:

# trees
app/presenters/tree_node/                         @skateman
app/presenters/tree_builder_*                     @skateman
# styling and images
app/assets/stylesheets/                           @epwinchell
app/assets/images/                                @epwinchell
# dialog editor
app/assets/javascripts/controllers/dialog_editor  @romanblanco
app/views/miq_ae_customization/editor.html.haml   @romanblanco
# toolbar buttons
app/helpers/application_helper/button/            @romanblanco @panspagetka
app/helpers/application_helper/toolbar_builder.rb @romanblanco @panspagetka @martinpovolny
# rbac
app/controllers/mixins/checked_id_mixin.rb        @romanblanco @panspagetka
# charts
lib/charting/                                     @panspagetka
lib/report_formatter/c3.rb                        @panspagetka
lib/report_formatter/c3_series.rb                 @panspagetka
lib/report_formatter/chart_common.rb              @panspagetka
app/assets/javascripts/miq_c3.js                  @panspagetka
# topology services
app/services/*topology_service.rb                 @skateman

app/controllers/mixins/custom_buttons.rb          @martinpovolny
app/controllers/mixins/generic_*.rb               @martinpovolny
app/controllers/mixins/more_show_actions.rb       @martinpovolny
app/assets/javascripts/miq_explorer.js            @martinpovolny
app/presenters/explorer_presenter.rb              @martinpovolny
app/helpers/application_helper/button/basic.rb    @martinpovolny
app/helpers/application_helper/toolbar/basic.rb   @martinpovolny
app/presenters/tree_builder.rb                    @martinpovolny
app/presenters/menu/                              @martinpovolny
app/helpers/textual_*rb                           @martinpovolny

# decorators
app/decorators/                                   @skateman

Merge pull request #5935 from ZitaNemeckova/add_offending_vm
  app/views/shared/views/_alerts_list.html.haml
Owners: none

Display the Reorder button for catalog items with custom buttons
  app/helpers/application_helper/button/catalog_item_button_reorder.rb
  app/helpers/application_helper/toolbar/servicetemplate_center.rb
Owners: @romanblanco, @panspagetka

Create docs section in settings for documentation links
  app/views/automation_manager/explorer.html.haml
  app/views/ems_cloud/show_list.html.haml
  app/views/ems_container/show_list.html.haml
  app/views/ems_infra/show_list.html.haml
  app/views/ems_network/show_list.html.haml
  app/views/ems_physical_infra/show_list.html.haml
  app/views/provider_foreman/explorer.html.haml
  config/settings.yml
Owners: none

Reports: unify report result rendering: fix specs.
  spec/controllers/report_controller_spec.rb
Owners: none

Add a second redux store, without history
  app/javascript/miq-redux/middleware.js
  app/javascript/miq-redux/store.js
  app/javascript/packs/application-common.js
Owners: none

VmReconfigure: convert ActionController::Parameters to hash.
  app/controllers/mixins/actions/vm_actions/reconfigure.rb
Owners: none

Remove the `Actions` hash node from GOD and CatalogItem 🌳🌳
  app/controllers/application_controller/buttons.rb
  app/controllers/catalog_controller.rb
  app/controllers/generic_object_definition_controller.rb
  app/helpers/application_helper/toolbar/catalogitem_button_set_center.rb
  app/helpers/application_helper/toolbar_chooser.rb
  app/presenters/tree_builder_catalog_items.rb
  app/presenters/tree_builder_generic_object_definition.rb
  spec/controllers/generic_object_definition_controller_spec.rb
Owners: @skateman

Add titles for editor of service dialogs
  app/controllers/miq_ae_customization_controller.rb
  spec/controllers/miq_ae_customization_controller_spec.rb
Owners: none

Eliminate Indexes hash node in Ops/Database 🌳
  app/controllers/ops_controller/db.rb
  app/presenters/tree_builder_ops_vmdb.rb
Owners: @skateman

Optimization - html title for saved reports
  app/controllers/optimization_controller.rb
  app/controllers/report_controller/saved_reports.rb
Owners: none

[Changelog] Update for Ivanchuk RC1
  CHANGELOG.md
Owners: none

Optimization spec - saved report breadcrumbs are "Saved Report 'foo' ..date" now
  spec/controllers/optimization_controller_spec.rb
Owners: none

Needed to pass in `action` to fix form button display in form
  app/controllers/application_controller/buttons.rb
Owners: none

Move my/global filter definitions in 🌳🌳 into a common mixin
  app/presenters/tree_builder_automation_manager_configuration_scripts.rb
  app/presenters/tree_builder_configured_systems.rb
  app/presenters/tree_builder_filters_mixin.rb
  app/presenters/tree_builder_services.rb
  app/presenters/tree_builder_storage.rb
  app/presenters/tree_builder_vms_filter.rb
Owners: @skateman

Allow Display in Catalog to stay checked for Catalog Bundle
  app/controllers/catalog_controller.rb
  spec/controllers/catalog_controller_spec.rb
Owners: none

Unify the way we load filter 🧒nodes in 🌳🌳 with my/global filters
  app/presenters/tree_builder_automation_manager_configuration_scripts.rb
  app/presenters/tree_builder_configured_systems.rb
  app/presenters/tree_builder_filters_mixin.rb
  app/presenters/tree_builder_services.rb
  app/presenters/tree_builder_storage.rb
  app/presenters/tree_builder_vms_filter.rb
Owners: @skateman

Add translated table headers to performance reports
  app/controllers/application_controller/performance.rb
Owners: none

Add translated labels to performance charts
  lib/report_formatter/c3.rb
Owners: @panspagetka

Merge pull request #6087 from JPrause/i-RC1_cl
  CHANGELOG.md
Owners: none

Merge pull request #6067 from h-kataria/hide_pause_provider_button
  app/helpers/application_helper/toolbar/automation_manager_provider_center.rb
  app/helpers/application_helper/toolbar/automation_manager_providers_center.rb
  app/helpers/application_helper/toolbar/configuration_manager_provider_center.rb
  app/helpers/application_helper/toolbar/configuration_manager_providers_center.rb
  app/helpers/application_helper/toolbar/ems_cloud_center.rb
  app/helpers/application_helper/toolbar/ems_clouds_center.rb
  app/helpers/application_helper/toolbar/ems_container_center.rb
  app/helpers/application_helper/toolbar/ems_containers_center.rb
  app/helpers/application_helper/toolbar/ems_infra_center.rb
  app/helpers/application_helper/toolbar/ems_infras_center.rb
  app/helpers/application_helper/toolbar/ems_physical_infra_center.rb
  app/helpers/application_helper/toolbar/ems_physical_infras_center.rb
Owners: none

Merge pull request #6081 from martinpovolny/vm_reconfigure_param_fix
  app/controllers/mixins/actions/vm_actions/reconfigure.rb
Owners: none

Merge pull request #6075 from hstastna/DisplayinCatalog_not_checked_Bundle
  app/controllers/catalog_controller.rb
  spec/controllers/catalog_controller_spec.rb
Owners: none

Drop the node text override from AlertProfile assignment 🌳🌳
  app/presenters/tree_builder_alert_profile_obj.rb
Owners: @skateman

Do not use Hash nodes in the Automate/Simulation results 🌳
  app/presenters/tree_builder_automate_simulation_results.rb
  app/presenters/tree_node/node.rb
  app/presenters/tree_node/rexml/attribute.rb
  app/presenters/tree_node/rexml/element.rb
  spec/presenters/tree_builder_automate_simulation_results_spec.rb
  spec/presenters/tree_node/rexml/attribute_spec.rb
  spec/presenters/tree_node/rexml/element_spec.rb
  spec/presenters/tree_node_spec.rb
Owners: @skateman

Layout simplification
  app/assets/javascripts/application.js
  app/assets/javascripts/resizable_sidebar.js
  app/assets/stylesheets/patternfly_overrides.scss
  app/controllers/dashboard_controller.rb
  app/views/layouts/_center_div_with_listnav.html.haml
  app/views/layouts/_content.html.haml
  app/views/miq_policy/_rsop_form.html.haml
  config/routes.rb
  spec/controllers/dashboard_controller_spec.rb
  spec/javascripts/resizable_sidebar_spec.js
Owners: @epwinchell

Fix spinner behavior with various buttons on the Adv Search modal
  app/views/layouts/_adv_search_footer.html.haml
  app/views/layouts/_exp_editor.html.haml
Owners: none

Use opacity for disabled domains in TreeNode::MiqAeNamespace
  app/presenters/tree_node/miq_ae_namespace.rb
Owners: @skateman

Add Back button to policy simulation page for non-explorer
  app/controllers/application_controller/policy_support.rb
  app/views/vm_common/_policies.html.haml
  spec/controllers/application_controller/policy_support_spec.rb
  spec/views/vm_common/_policies.html.haml_spec.rb
Owners: none

Simplify the MiqAeNamespace 🌳node by extracting MiqAeDomain
  app/presenters/tree_node/miq_ae_domain.rb
  app/presenters/tree_node/miq_ae_namespace.rb
  app/presenters/tree_node/miq_ae_node.rb
  spec/presenters/tree_node/miq_ae_domain_spec.rb
  spec/presenters/tree_node/miq_ae_namespace_spec.rb
Owners: @skateman

Extract the icon/image from TreeNode::MiqAeDomain to the decorators
  app/presenters/tree_node/miq_ae_domain.rb
Owners: @skateman

Simplify TreeNode image definition by always using the decorators
  app/presenters/tree_node/ext_management_system.rb
  app/presenters/tree_node/generic_object_definition.rb
  app/presenters/tree_node/miq_ae_domain.rb
  app/presenters/tree_node/miq_ae_method.rb
  app/presenters/tree_node/node.rb
  app/presenters/tree_node/service.rb
  app/presenters/tree_node/service_template.rb
  app/presenters/tree_node/windows_image.rb
Owners: @skateman

Turbo mode for services
  product/views/Service.yaml
Owners: none

Show selected currency value consistent with a drop down on edit screen
  app/controllers/chargeback_controller.rb
Owners: none

Select active snapshot instead of the last one in the snapshots 🌳
  app/presenters/tree_builder_snapshots.rb
Owners: @skateman

Expand the snapshots 🌳 with open_all instead of changing its state
  app/presenters/tree_builder_snapshots.rb
Owners: @skateman

Set the node as selected using the state hash directly
  app/presenters/tree_builder.rb
  app/presenters/tree_builder_roles_by_server.rb
  app/presenters/tree_builder_servers_by_role.rb
Owners: @martinpovolny, @skateman

Hide the OPS/Database screen with the possibility of re-enabling
  app/controllers/ops_controller.rb
  spec/controllers/ops_controller_spec.rb
Owners: none

Removed older rails requirement
  manageiq-ui-classic.gemspec
Owners: none

Do not convert the isLazy attribute as it is never set in 🌳🌳
  app/presenters/tree_builder.rb
Owners: @martinpovolny

Do not convert the addClass attribute in 🌳🌳 but set it directly
  app/presenters/tree_builder.rb
  app/presenters/tree_node/node.rb
  spec/controllers/application_controller/explorer_spec.rb
  spec/controllers/miq_ae_class_controller_spec.rb
  spec/presenters/tree_builder_roles_by_server_spec.rb
  spec/presenters/tree_builder_servers_by_role_spec.rb
  spec/presenters/tree_builder_spec.rb
Owners: @martinpovolny, @skateman
