Repository ManageIQ/manageiq-ui-classic, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skateman, @epwinchell, @romanblanco, @panspagetka, @martinpovolny

Fix rubocop in Mixins::Actions::VmActions::Reconfigure
  app/controllers/mixins/actions/vm_actions/reconfigure.rb
Owners: none

Use YAML.load to load classes beyond the basic types
  app/controllers/application_controller/miq_request_methods.rb
  spec/controllers/application_controller/report_data_spec.rb
  spec/support/report_helper.rb
Owners: none

Open and close file objects using read to avoid leaking
  app/controllers/application_controller/miq_request_methods.rb
  app/controllers/application_controller/performance.rb
  app/controllers/application_controller/timelines.rb
  app/presenters/menu/yaml_loader.rb
  app/services/charts_layout_service.rb
  app/views/layouts/_perf_options.html.haml
  spec/controllers/application_controller/report_data_spec.rb
  spec/other/travis_spec.rb
  spec/product/reports_spec.rb
  spec/services/charts_layout_service_spec.rb
Owners: @martinpovolny

Reconfigure: use detailed RBAC features
  app/controllers/miq_request_controller.rb
  app/controllers/mixins/actions/vm_actions/reconfigure.rb
  app/helpers/application_helper/button/vm_reconfigure.rb
  app/helpers/application_helper/button/vm_reconfigure_multiple.rb
  app/helpers/application_helper/toolbar/template_clouds_center.rb
  app/helpers/application_helper/toolbar/vm_infras_center.rb
  app/helpers/application_helper/toolbar/x_template_cloud_center.rb
  app/views/vm_common/_reconfigure.html.haml
  spec/helpers/application_helper/buttons/vm_reconfigure_spec.rb
  spec/shared/helpers/application_helper_buttons.rb
Owners: @romanblanco, @panspagetka

Use find_record_with_rbac() instead of find_by()
  app/controllers/mixins/actions/vm_actions/retire.rb
Owners: none

Fix rubocop in Mixins::Actions::VmActions::Retire
  app/controllers/mixins/actions/vm_actions/retire.rb
Owners: none

Fix rubocop in Mixins::Actions::VmActions::RightSize
  app/controllers/mixins/actions/vm_actions/right_size.rb
Owners: none

Fix rubocop in Mixins::BreadcrumbsMixin
  app/controllers/mixins/breadcrumbs_mixin.rb
Owners: none

Report results: fix export to PDF.
  app/controllers/application_controller/report_downloads.rb
  config/routes.rb
Owners: none

Dashboard: add test for exporting widget to PDF.
  spec/controllers/dashboard_controller_spec.rb
  spec/helpers/report_helper_spec.rb
Owners: none

Add tests for displaying of reports.
  spec/controllers/report_controller_spec.rb
Owners: none

Adjust test to changes in "create_and_generate_report_for_user".
  spec/presenters/tree_builder_report_saved_reports_spec.rb
Owners: none

Compare: remove extra variable.
  app/controllers/application_controller/compare.rb
Owners: none

Compare: add spec for PDF export.
  spec/controllers/application_controller/compare_spec.rb
Owners: none

Compare: add a spec for PDF generation.
  spec/controllers/application_controller/compare_spec.rb
Owners: none

Report export: separation of codepath w/ w/o ReportResult.
  app/controllers/application_controller/report_downloads.rb
Owners: none

Make the filter not highlighted after clearing the filter
  app/controllers/application_controller/advanced_search.rb
Owners: none

Make the filter not highlighted after it was created and not applied
  app/controllers/application_controller/advanced_search.rb
  app/controllers/application_controller/filter/expression.rb
  spec/controllers/application_controller/advanced_search_spec.rb
  spec/controllers/application_controller/filter/expression_spec.rb
Owners: none

Fix rubocop in Mixinss:CheckedIdMixin
  app/controllers/mixins/checked_id_mixin.rb
Owners: @romanblanco, @panspagetka

Fix rubocop in Mixins::CustomButtonDialogFormMixin
  app/controllers/mixins/custom_button_dialog_form_mixin.rb
Owners: none

Enable reconfiguring VMs displayed in a nested list
  app/controllers/application_controller/ci_processing.rb
  spec/controllers/application_controller/ci_processing_spec.rb
  spec/controllers/resource_pool_controller_spec.rb
Owners: none

Changelog for sprint 127
  CHANGELOG.md
Owners: none

Fix rubocop in Mixins::EmsCommon::Angular
  app/controllers/mixins/ems_common/angular.rb
Owners: none

Summary Screen & Select styling cleanup
  app/assets/stylesheets/patternfly_overrides.scss
Owners: @epwinchell

Remove outdated variables
  app/assets/stylesheets/main.scss
  app/assets/stylesheets/patternfly_overrides.scss
Owners: @epwinchell

Reorder the styling in main.scss, make pre-import styles !important
  app/assets/stylesheets/main.scss
Owners: @epwinchell

Reports: fix render_pdf_internal in Optimize.
  app/helpers/optimize_helper.rb
Owners: none

Reports: add spec for utilization report PDF download.
  spec/controllers/utilization_controller_spec.rb
Owners: none

Fix rubocop in Mixins::EmsCommon::PauseResume
  app/controllers/mixins/ems_common/pause_resume.rb
Owners: none

Reports: style fixes.
  app/controllers/application_controller/report_downloads.rb
  spec/controllers/application_controller/compare_spec.rb
  spec/controllers/dashboard_controller_spec.rb
  spec/controllers/report_controller_spec.rb
  spec/controllers/utilization_controller_spec.rb
Owners: none

Display flash message after managing policies in non explorer screen
  app/controllers/application_controller/policy_support.rb
  spec/controllers/application_controller/policy_support_spec.rb
Owners: none

Merge pull request #6607 from hstastna/Error_reconfigure_VMs_nested_list
  app/controllers/application_controller/ci_processing.rb
  spec/controllers/application_controller/ci_processing_spec.rb
  spec/controllers/resource_pool_controller_spec.rb
Owners: none

Move visibility of toolbar to the button. Prevents error when toolbar is rendered from js.
  app/controllers/utilization_controller.rb
  app/helpers/application_helper/button/utilization_download.rb
Owners: @romanblanco, @panspagetka

Fix error about empty? called on nil object
  app/helpers/application_helper/button/utilization_download.rb
Owners: @romanblanco, @panspagetka

Show Download buttons only when it will work
  app/helpers/application_helper/button/miq_capacity.rb
  app/helpers/application_helper/button/utilization_download.rb
  app/helpers/application_helper/toolbar/miq_capacity_view.rb
Owners: @romanblanco, @panspagetka

Fix rubocop in Mixins::ExplorerPresenterMixin
  app/controllers/mixins/explorer_presenter_mixin.rb
Owners: none

Fix rubocop in Mixins::ExplorerShow
  app/controllers/mixins/explorer_show.rb
Owners: none

Fix and add specs to contain change about visible/disable based on @sb[:summary]
  spec/helpers/application_helper/buttons/miq_capacity_spec.rb
  spec/helpers/application_helper/buttons/utilization_download_spec.rb
Owners: none

Remove pending specs from Foreman controller
  spec/controllers/provider_foreman_controller_spec.rb
Owners: none

Remove prending spec from Report controller
  spec/controllers/report_controller_spec.rb
Owners: none

.github/CODEOWNERS:

# trees
app/presenters/tree_node/                         @skateman
app/presenters/tree_builder_*                     @skateman
# styling and images
app/assets/stylesheets/                           @epwinchell
app/assets/images/                                @epwinchell
# dialog editor
app/assets/javascripts/controllers/dialog_editor  @romanblanco
app/views/miq_ae_customization/editor.html.haml   @romanblanco
# toolbar buttons
app/helpers/application_helper/button/            @romanblanco @panspagetka
app/helpers/application_helper/toolbar_builder.rb @romanblanco @panspagetka @martinpovolny
# rbac
app/controllers/mixins/checked_id_mixin.rb        @romanblanco @panspagetka
# charts
lib/charting/                                     @panspagetka
lib/report_formatter/c3.rb                        @panspagetka
lib/report_formatter/c3_series.rb                 @panspagetka
lib/report_formatter/chart_common.rb              @panspagetka
app/assets/javascripts/miq_c3.js                  @panspagetka
# topology services
app/services/*topology_service.rb                 @skateman

app/controllers/mixins/custom_buttons.rb          @martinpovolny
app/controllers/mixins/generic_*.rb               @martinpovolny
app/controllers/mixins/more_show_actions.rb       @martinpovolny
app/assets/javascripts/miq_explorer.js            @martinpovolny
app/presenters/explorer_presenter.rb              @martinpovolny
app/helpers/application_helper/button/basic.rb    @martinpovolny
app/helpers/application_helper/toolbar/basic.rb   @martinpovolny
app/presenters/tree_builder.rb                    @martinpovolny
app/presenters/menu/                              @martinpovolny
app/helpers/textual_*rb                           @martinpovolny

# decorators
app/decorators/                                   @skateman
