Repository ManageIQ/manageiq-ui-classic, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skateman, @epwinchell, @romanblanco, @panspagetka, @martinpovolny

Delete Angular notification drawer implementation
  app/assets/javascripts/controllers/notifications/notification-drawer.directive.js
  app/assets/javascripts/controllers/notifications/notifications_drawer_controller.js
  app/assets/javascripts/services/event_notifications_service.js
Owners: none

Add show all/show limit notifications to drawer
  app/assets/stylesheets/notifications.scss
  app/javascript/components/notification-drawer/notification-drawer.jsx
  app/javascript/miq-redux/notification-reducer.js
Owners: @epwinchell

Fix sync notification read on icon click with API
  app/javascript/components/notification-drawer/notification-drawer.jsx
Owners: none

Make notifications top navbar button use reducer
  app/javascript/components/top-navbar/notifications.jsx
  package.json
Owners: none

Delete notification body template
  app/views/static/notification_drawer/_notification-body.html.haml
Owners: none

Clean the code after rewriting the notification drawer
  app/javascript/components/notification-drawer/notification-drawer.jsx
  app/javascript/components/toast-list/toast-list.jsx
  app/javascript/components/top-navbar/notifications.jsx
  app/javascript/spec/fixtures/notifications.json
  app/javascript/spec/fixtures/resources.json
  app/javascript/spec/miq-redux/notification-reducer.spec.js
Owners: none

Change patternfly version back to 3.59.1
  package.json
Owners: none

Fix snapshot time failure
  app/javascript/spec/fixtures/notifications.json
  app/javascript/spec/notification-drawer/__snapshots__/notification-drawer.spec.js.snap
Owners: none

Remove Entry Points and Type select. Those will be added later
  app/javascript/components/catalog-item-form/catalog-item-form.schema.js
Owners: none

Clean requests into one
  app/controllers/catalog_controller.rb
  app/javascript/components/catalog-item-form/catalog-item-form.jsx
  app/javascript/components/catalog-item-form/catalog-item-form.schema.js
Owners: none

Replace Basic Info with DDR form and make it look alike
  app/views/catalog/_form_basic_info.html.haml
Owners: none

Add loading of catalogs, dialogs, currencies, zones
  app/controllers/catalog_controller.rb
  app/javascript/components/catalog-item-form/catalog-item-form.jsx
  app/views/catalog/_form_basic_info.html.haml
  config/routes.rb
Owners: none

Fix it so it loads values to inputs correctly
  app/controllers/catalog_controller.rb
  app/javascript/components/catalog-item-form/catalog-item-form.jsx
  app/javascript/components/catalog-item-form/catalog-item-form.schema.js
  app/views/catalog/_form_basic_info.html.haml
Owners: none

Do not show buttons
  app/javascript/components/catalog-item-form/catalog-item-form.jsx
Owners: none

onchange for Select
  app/controllers/catalog_controller.rb
  app/javascript/components/catalog-item-form/catalog-item-form.jsx
  app/javascript/components/catalog-item-form/catalog-item-form.schema.js
  app/views/catalog/_form_basic_info.html.haml
  config/routes.rb
Owners: none

Add differencies based on type
  app/controllers/catalog_controller.rb
  app/javascript/components/catalog-item-form/catalog-item-form.jsx
  app/javascript/components/catalog-item-form/catalog-item-form.schema.js
Owners: none

Add basic info
  app/javascript/components/catalog-item-form/catalog-item-form.jsx
  app/javascript/components/catalog-item-form/catalog-item-form.schema.js
  app/javascript/packs/component-definitions-common.js
  app/views/catalog/_form_basic_info.html.haml
Owners: none

Save edit in session because it gets lost when DDR calls for data
  app/controllers/catalog_controller.rb
Owners: none

Add miqSparkle when DDF part is rendering
  app/javascript/components/catalog-item-form/catalog-item-form.jsx
Owners: none

Save changes to DDF part of form in @edit
  app/javascript/components/catalog-item-form/catalog-item-form.jsx
  app/views/catalog/_form_basic_info.html.haml
Owners: none

:display works with bool -> remove 1/null magic
  app/controllers/catalog_controller.rb
Owners: none

Revert "Merge pull request #6664 from d-m-u/removing_validate_creds_things"
  app/controllers/mixins/ems_common/angular.rb
  spec/controllers/ems_cloud_controller_spec.rb
  spec/controllers/ems_infra_controller_spec.rb
Owners: none

Don't verify Infra EMS credentials from UI worker
  app/controllers/mixins/ems_common/angular.rb
  spec/controllers/ems_cloud_controller_spec.rb
Owners: none

Fix rubocop in OpsController::Settings::CapAndU
  app/controllers/ops_controller/settings/cap_and_u.rb
Owners: none

Fix rubocop in OpsController::Settings::Common
  app/controllers/ops_controller/settings/common.rb
Owners: none

Send validationDependencies with when validating credentials
  app/javascript/components/async-credentials/async-credentials.jsx
Owners: none

EMS validation: send only the listed fields to the API
  app/javascript/components/async-credentials/async-provider-credentials.jsx
Owners: none

update cypress to 4.0.1
  package.json
Owners: none

cypress expect_*_title - simplify, cypress 4 trims invisible whitespace
  cypress/support/commands.js
Owners: none

cy.menuItems() - returns an array of top level menu items
  cypress/support/commands.js
Owners: none

menuItems - fix label detection for second and third menu level
  cypress/support/commands.js
Owners: none

cypress menu.spec - go through a few menu items, click around
  cypress/integration/ui/menu.spec.js
Owners: none

cy.login() - log in as admin
  cypress/support/commands.js
Owners: none

cypress menu.spec - add spec that all menu items load
  cypress/integration/ui/menu.spec.js
Owners: none

cypres: add autogenerated example.json fixture...
  cypress/fixtures/example.json
Owners: none

cypress menu.spec - add a test for section last url
  cypress/integration/ui/menu.spec.js
Owners: none

cypress/README - document our helpers
  cypress/README.md
Owners: none

cy.expect_explorer_title(text), cy.expect_show_list_title(text) - assertions for screen titles
  cypress/support/commands.js
Owners: none

cy.menu('Compute', 'Infrastructure', 'VMs') - navigate the main menu
  cypress/support/commands.js
Owners: none

Remove GraphQL Explorer from UI
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/graphql_explorer.scss
  app/controllers/graphql_explorer_controller.rb
  app/javascript/graphql-explorer/components/GraphQLExplorer.js
  app/javascript/graphql-explorer/helpers/graphQLFetcher.js
  app/javascript/graphql-explorer/index.js
  app/javascript/packs/component-definitions-common.js
  app/presenters/menu/default_menu.rb
  app/stylesheet/application-webpack.scss
  app/views/graphql_explorer/index.html.haml
  config/routes.rb
  config/webpack/shared.js
  package.json
Owners: @epwinchell, @martinpovolny

.github/CODEOWNERS:

# trees
app/presenters/tree_node/                         @skateman
app/presenters/tree_builder_*                     @skateman
# styling and images
app/assets/stylesheets/                           @epwinchell
app/assets/images/                                @epwinchell
# dialog editor
app/assets/javascripts/controllers/dialog_editor  @romanblanco
app/views/miq_ae_customization/editor.html.haml   @romanblanco
# toolbar buttons
app/helpers/application_helper/button/            @romanblanco @panspagetka
app/helpers/application_helper/toolbar_builder.rb @romanblanco @panspagetka @martinpovolny
# rbac
app/controllers/mixins/checked_id_mixin.rb        @romanblanco @panspagetka
# charts
lib/charting/                                     @panspagetka
lib/report_formatter/c3.rb                        @panspagetka
lib/report_formatter/c3_series.rb                 @panspagetka
lib/report_formatter/chart_common.rb              @panspagetka
app/assets/javascripts/miq_c3.js                  @panspagetka
# topology services
app/services/*topology_service.rb                 @skateman

app/controllers/mixins/custom_buttons.rb          @martinpovolny
app/controllers/mixins/generic_*.rb               @martinpovolny
app/controllers/mixins/more_show_actions.rb       @martinpovolny
app/assets/javascripts/miq_explorer.js            @martinpovolny
app/presenters/explorer_presenter.rb              @martinpovolny
app/helpers/application_helper/button/basic.rb    @martinpovolny
app/helpers/application_helper/toolbar/basic.rb   @martinpovolny
app/presenters/tree_builder.rb                    @martinpovolny
app/presenters/menu/                              @martinpovolny
app/helpers/textual_*rb                           @martinpovolny

# decorators
app/decorators/                                   @skateman
