Repository ManageIQ/manageiq-ui-classic, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skateman, @epwinchell, @romanblanco, @panspagetka, @martinpovolny

.github/CODEOWNERS:

# trees
app/presenters/tree_node/                         @skateman
app/presenters/tree_builder_*                     @skateman
# styling and images
app/assets/stylesheets/                           @epwinchell
app/assets/images/                                @epwinchell
# dialog editor
app/assets/javascripts/controllers/dialog_editor  @romanblanco
app/views/miq_ae_customization/editor.html.haml   @romanblanco
# toolbar buttons
app/helpers/application_helper/button/            @romanblanco @panspagetka
app/helpers/application_helper/toolbar_builder.rb @romanblanco @panspagetka @martinpovolny
# rbac
app/controllers/mixins/checked_id_mixin.rb        @romanblanco @panspagetka
# charts
lib/charting/                                     @panspagetka
lib/report_formatter/c3.rb                        @panspagetka
lib/report_formatter/c3_series.rb                 @panspagetka
lib/report_formatter/chart_common.rb              @panspagetka
app/assets/javascripts/miq_c3.js                  @panspagetka
# topology services
app/services/*topology_service.rb                 @skateman

app/controllers/mixins/custom_buttons.rb          @martinpovolny
app/controllers/mixins/generic_*.rb               @martinpovolny
app/controllers/mixins/more_show_actions.rb       @martinpovolny
app/assets/javascripts/miq_explorer.js            @martinpovolny
app/presenters/explorer_presenter.rb              @martinpovolny
app/helpers/application_helper/button/basic.rb    @martinpovolny
app/helpers/application_helper/toolbar/basic.rb   @martinpovolny
app/presenters/tree_builder.rb                    @martinpovolny
app/presenters/menu/                              @martinpovolny
app/helpers/textual_*rb                           @martinpovolny

# decorators
app/decorators/                                   @skateman

Add specs for right/left/up/down/buttom/top clicked
  spec/javascripts/components/generic_object_definition/assign-buttons_spec.js
Owners: none

vm.model.assigned/unassignedButtons - change to local variables
  app/assets/javascripts/components/generic_object/assign-buttons.js
Owners: none

moveTop, moveBottom - selected.concat(unselected) or unselected.concat(selected)
  app/assets/javascripts/components/generic_object/assign-buttons.js
Owners: none

Add assign button section to Custom Button Group in GOD
  app/assets/javascripts/components/generic_object/assign-buttons.js
  app/assets/javascripts/components/generic_object/main-custom-button-group-form.js
  app/controllers/generic_object_definition_controller.rb
  app/views/static/generic_object/assign-buttons.html.haml
  app/views/static/generic_object/main_custom_button_group_form.html.haml
  config/routes.rb
Owners: none

Pull out idsToIndexes & removeElements
  app/assets/javascripts/components/generic_object/assign-buttons.js
Owners: none

assign-buttons_spec - fix name in describe, simplify inject
  spec/javascripts/components/generic_object_definition/assign-buttons_spec.js
Owners: none

assign buttons spec - test the state after updateButtons, not a local copy
  spec/javascripts/components/generic_object_definition/assign-buttons_spec.js
Owners: none

AssignButtons - don't update unassigned buttons unless dealing with left/right
  app/assets/javascripts/components/generic_object/assign-buttons.js
  app/assets/javascripts/components/generic_object/main-custom-button-group-form.js
Owners: none

move up,down
  app/assets/javascripts/components/generic_object/assign-buttons.js
Owners: none

eslint fixes
  app/assets/javascripts/components/generic_object/assign-buttons.js
  app/assets/javascripts/components/generic_object/main-custom-button-group-form.js
  spec/javascripts/components/generic_object_definition/assign-buttons_spec.js
Owners: none

add moveBetween, replace left & right
  app/assets/javascripts/components/generic_object/assign-buttons.js
Owners: none

Create move.js, use move.* names, move code there
  app/assets/javascripts/components/generic_object/assign-buttons.js
  app/javascript/helpers/move.js
  app/javascript/packs/globals.js
Owners: none

move.js - stepUp & stepDown
  app/javascript/helpers/move.js
Owners: none

move.js - es6 & lodash
  app/javascript/helpers/move.js
Owners: none

move.js update exports
  app/javascript/helpers/move.js
Owners: none

Convert Tenants details page to textual summary
  app/controllers/ops_controller.rb
  app/helpers/ops_helper/textual_summary.rb
  app/views/ops/_rbac_tenant_details.html.haml
Owners: none

Add Relationships to Tenants textual summary screen
  app/controllers/ops_controller.rb
  app/helpers/ops_helper/textual_summary.rb
Owners: none

Add list view for relevant Service Catalogs and Bundles
  app/controllers/ops_controller.rb
  app/views/ops/show.html.haml
  config/routes.rb
  product/views/Ops.yaml
Owners: none

These are all set by the factory again
  spec/controllers/cloud_subnet_controller_spec.rb
Owners: none

Don't run the test for single rvm version specified
  spec/other/travis_spec.rb
Owners: none

Add test for travis variant with single ruby version
  spec/other/travis_spec.rb
Owners: none

Correct typo on name
  CHANGELOG.md
Owners: none

Add title for clone_to_template edit action
  app/controllers/application_controller/miq_request_methods.rb
  spec/controllers/miq_request_controller_spec.rb
Owners: none

Update ui-components to 1.1.31 for hammer
  package.json
  yarn.lock
Owners: none

Fixed issues with 'Back' button on right size screen
  app/controllers/vm_common.rb
  app/views/vm_common/_right_size.html.haml
  spec/controllers/vm_controller_spec.rb
Owners: none

Tenant: add nested lists for service_template, provider and automate domain.
  app/controllers/ops_controller.rb
Owners: none

Use angular.copy instead of Object.assign to prevent error when original Array is changed
  app/assets/javascripts/components/generic_object/main-custom-button-group-form.js
Owners: none

Fix single tag selection for provision
  app/controllers/application_controller/miq_request_methods.rb
Owners: none

Merge pull request #5885 from mzazrivec/update_travis_spec_for_corner_cases
  spec/other/travis_spec.rb
Owners: none

Merge pull request #5886 from JPrause/ivanb1_cl
  CHANGELOG.md
Owners: none

Removed antipatterns from the spec for BreadcrumbsMixin
  spec/controllers/mixins/breadcrumbs_mixin_spec.rb
Owners: none

Make Add button respond properly on changes while adding Catalog Item
  app/controllers/catalog_controller.rb
  app/helpers/params_helper.rb
Owners: none

Add specs for catalog controller for saving Catalog item
  spec/controllers/catalog_controller_spec.rb
Owners: none

Drop duplicate attr_reader settings from TreeBuilder child classes
  app/presenters/tree_builder_automation_manager_configuration_scripts.rb
  app/presenters/tree_builder_configured_systems.rb
Owners: @skateman

Merge pull request #5875 from himdel/adv-apply
  app/assets/javascripts/miq_application.js
  app/controllers/application_controller/filter.rb
  app/views/layouts/_user_input_filter.html.haml
Owners: none

Merge pull request #5875 from himdel/adv-apply
  app/assets/javascripts/miq_application.js
  app/controllers/application_controller/filter.rb
  app/views/layouts/_user_input_filter.html.haml
Owners: none

Add <No Depot> option to Collect Logs form
  app/assets/javascripts/services/miq_db_backup_service.js
  app/controllers/ops_controller/diagnostics.rb
  app/views/static/ops/log_collection/log_collection.html.haml
Owners: none

Build breadcrumbs from 🌳 objects instead of parsing the 🌳 JSON
  app/controllers/mixins/breadcrumbs_mixin.rb
  spec/controllers/mixins/breadcrumbs_mixin_spec.rb
Owners: none

Store the nodes as objects in the TreeBuilder instead of JSON
  app/presenters/tree_builder.rb
  spec/controllers/automation_manager_controller_spec.rb
  spec/controllers/provider_foreman_controller_spec.rb
  spec/presenters/tree_builder_ae_class_spec.rb
  spec/presenters/tree_builder_automate_catalog_spec.rb
  spec/presenters/tree_builder_automate_spec.rb
  spec/presenters/tree_builder_chargeback_assignments_spec.rb
  spec/presenters/tree_builder_chargeback_rates_spec.rb
  spec/presenters/tree_builder_menu_roles_spec.rb
  spec/presenters/tree_builder_ops_rbac_spec.rb
  spec/presenters/tree_builder_report_roles_spec.rb
  spec/presenters/tree_builder_report_saved_reports_spec.rb
  spec/presenters/tree_builder_spec.rb
Owners: @martinpovolny

Set '<No Depot>' as the default instead of an empty string
  app/assets/javascripts/components/ops/log-collection-form.js
Owners: none
