Repository ManageIQ/manageiq-ui-classic, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skateman, @epwinchell, @romanblanco, @panspagetka, @martinpovolny

.github/CODEOWNERS:

# trees
app/presenters/tree_node/                         @skateman
app/presenters/tree_builder_*                     @skateman
# styling and images
app/assets/stylesheets/                           @epwinchell
app/assets/images/                                @epwinchell
# dialog editor
app/assets/javascripts/controllers/dialog_editor  @romanblanco
app/views/miq_ae_customization/editor.html.haml   @romanblanco
# toolbar buttons
app/helpers/application_helper/button/            @romanblanco @panspagetka
app/helpers/application_helper/toolbar_builder.rb @romanblanco @panspagetka @martinpovolny
# rbac
app/controllers/mixins/checked_id_mixin.rb        @romanblanco @panspagetka
# charts
lib/charting/                                     @panspagetka
lib/report_formatter/c3.rb                        @panspagetka
lib/report_formatter/c3_series.rb                 @panspagetka
lib/report_formatter/chart_common.rb              @panspagetka
app/assets/javascripts/miq_c3.js                  @panspagetka
# topology services
app/services/*topology_service.rb                 @skateman

app/controllers/mixins/custom_buttons.rb          @martinpovolny
app/controllers/mixins/generic_*.rb               @martinpovolny
app/controllers/mixins/more_show_actions.rb       @martinpovolny
app/assets/javascripts/miq_explorer.js            @martinpovolny
app/presenters/explorer_presenter.rb              @martinpovolny
app/helpers/application_helper/button/basic.rb    @martinpovolny
app/helpers/application_helper/toolbar/basic.rb   @martinpovolny
app/presenters/tree_builder.rb                    @martinpovolny
app/presenters/menu/                              @martinpovolny
app/helpers/textual_*rb                           @martinpovolny

# decorators
app/decorators/                                   @skateman

caching - remove IE related exceptions
  app/controllers/application_controller.rb
Owners: none

webpack - make WEBPACK_EXCLUDE_NODE_MODULES=1 the default, drop the option
  config/webpack/loaders.js
Owners: none

Remove is_browser_ie? and is_browser_ie7 helpers
  app/helpers/application_helper.rb
  spec/helpers/application_helper_spec.rb
Owners: none

Drop IEButtonPressed and oneTransIE/one_trans_ie logic
  app/assets/javascripts/miq_application.js
  app/assets/javascripts/miq_explorer.js
  app/assets/javascripts/miq_global.js
  app/controllers/miq_ae_customization_controller.rb
  app/controllers/ops_controller.rb
  app/controllers/pxe_controller.rb
  app/presenters/explorer_presenter.rb
  spec/javascripts/miq_application_spec.js
Owners: @martinpovolny

Remove :form_vars_set IE exception
  app/controllers/miq_ae_class_controller.rb
  spec/controllers/miq_ae_class_controller_spec.rb
Owners: none

babelrc - remove IE from browserlist
  .babelrc.js
Owners: none

Drop ruby-side IE related exceptions
  app/controllers/application_controller/automate.rb
  app/controllers/ops_controller/settings/common.rb
  app/views/layouts/_ae_resolve_options.html.haml
  app/views/shared/buttons/_ab_options_form.html.haml
  app/views/shared/buttons/_group_form.html.haml
Owners: none

miq_ae_class - rubocop fixes
  app/controllers/miq_ae_class_controller.rb
  spec/controllers/miq_ae_class_controller_spec.rb
Owners: none

TreeBuilders - replace @root_class = 'Klass' in constructor with a filter_root_class method
  app/presenters/tree_builder_automation_manager_configuration_scripts.rb
  app/presenters/tree_builder_automation_manager_configured_systems.rb
  app/presenters/tree_builder_configuration_manager_configured_systems.rb
  app/presenters/tree_builder_configured_systems.rb
  app/presenters/tree_builder_images_filter.rb
  app/presenters/tree_builder_instances_filter.rb
  app/presenters/tree_builder_template_filter.rb
  app/presenters/tree_builder_templates_images_filter.rb
  app/presenters/tree_builder_vms_filter.rb
  app/presenters/tree_builder_vms_instances_filter.rb
Owners: @skateman

Don't render layouts/adv_search from anywhere but footer
  app/views/layouts/_searchbar.html.haml
  app/views/layouts/_x_adv_searchbox.html.haml
Owners: none

adv_search - move show_adv_search? logic inside adv_search_{body,footer} divs
  app/views/layouts/_adv_search.html.haml
  app/views/layouts/_adv_search_body.html.haml
  app/views/layouts/_adv_search_footer.html.haml
Owners: none

vm_common spec - update render expects to match replace_search_box changes
  spec/controllers/vm_common_spec.rb
Owners: none

replace_search_box - unify
  app/controllers/application_controller/explorer.rb
  app/controllers/automation_manager_controller.rb
  app/controllers/infra_networking_controller.rb
  app/controllers/miq_policy_controller.rb
  app/controllers/mixins/manager_controller_mixin.rb
  app/controllers/provider_foreman_controller.rb
  app/controllers/storage_controller.rb
  app/controllers/vm_common.rb
Owners: none

replace_search_box - also replace the modal content
  app/controllers/application_controller/explorer.rb
Owners: none

adv_search_{body,footer} - allow ignoring the show_adv_search condition when needed
  app/controllers/application_controller/advanced_search.rb
  app/controllers/application_controller/filter.rb
  app/views/layouts/_adv_search_body.html.haml
  app/views/layouts/_adv_search_footer.html.haml
Owners: none

Do not depend on the TreeState options param in TreeBuilder
  app/presenters/tree_builder.rb
Owners: @martinpovolny

Update ui-components to 1.2.6
  package.json
Owners: none

Correct multiselect default value for Ansible Job template survey
  app/services/ansible_tower_job_template_dialog_service.rb
  spec/services/ansible_tower_job_template_dialog_service_spec.rb
Owners: none

[Changelog] Update for Hammer-7
  CHANGELOG.md
Owners: none

Add Tenants tree to Catalog Item Edit page
  app/controllers/catalog_controller.rb
  app/views/catalog/_form_basic_info.html.haml
  app/views/catalog/_st_angular_form.html.haml
  app/views/catalog/_tenants_tree_show.html.haml
Owners: none

Add angular component miqTree to init Tenants tree
  app/views/catalog/_st_angular_form.html.haml
  app/views/catalog/_tenants_tree_show.html.haml
Owners: none

Add angular support for saving selected Tenants of Catalog Item
  app/assets/javascripts/controllers/catalog/catalog_item_form_controller.js
  app/assets/javascripts/miq_tree.js
  app/controllers/catalog_controller.rb
  app/views/catalog/_st_angular_form.html.haml
Owners: none

Add specs for setting @tenants_tree while building tree with tenants
  spec/controllers/catalog_controller_spec.rb
  spec/views/catalog/_form.html.haml_spec.rb
  spec/views/catalog/_sandt_tree_show.html.haml_spec.rb
Owners: none

Add new TreeBuilderTenants
  app/presenters/tree_builder_tenants.rb
Owners: @skateman

Display Tenants' tree when viewing Catalog Item's details page
  app/controllers/catalog_controller.rb
  app/views/catalog/_sandt_tree_show.html.haml
Owners: none

Make Save button responsive to changes in Tenants tree
  app/assets/javascripts/controllers/catalog/catalog_item_form_controller.js
Owners: none

Add logic for saving selected tenants to @edit and to Catalog Item
  app/controllers/catalog_controller.rb
Owners: none

Add Additional Tenants' support also for Catalog Bundles
  app/controllers/catalog_controller.rb
Owners: none

Add identifier to provider dialog modal's div
  app/javascript/provider-dialogs/modal.js
Owners: none

Update javascript tests for catalog item form controller
  spec/javascripts/controllers/catalog/catalog_item_form_controller_spec.js
Owners: none

Remove duplicate PRs
  CHANGELOG.md
Owners: none

Move @manageiq/ui-components from asset pipeline to webpack
  app/assets/javascripts/application.js
  app/javascript/packs/globals.js
Owners: none

Update js-yaml to 3.13.1
  package.json
Owners: none

Move build method for schedule after miq_widget creation in WidgetImportService
  app/services/widget_import_service.rb
Owners: none

Remove textual_code_mirror layout
  app/views/layouts/_textual_code_mirror.haml
Owners: none

CodeMirror - update to latest 5.47
  package.json
Owners: none

globals_pack spec - test for CodeMirror presence
  spec/javascripts/globals_pack_spec.js
Owners: none

Move codemirror assets from asset pipeline to webpack
  app/assets/javascripts/application.js
  app/assets/stylesheets/application.css
  app/javascript/packs/globals.js
Owners: @epwinchell

codemirror javascript & css modes - used by htmlmixed
  app/javascript/packs/globals.js
Owners: none

Remove codemirror from precompiled assets
  config/initializers/assets.rb
Owners: none
