Repository ManageIQ/manageiq-ui-classic, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skateman, @epwinchell, @romanblanco, @panspagetka, @martinpovolny

.github/CODEOWNERS:

# trees
app/presenters/tree_node/                         @skateman
app/presenters/tree_builder_*                     @skateman
# styling and images
app/assets/stylesheets/                           @epwinchell
app/assets/images/                                @epwinchell
# dialog editor
app/assets/javascripts/controllers/dialog_editor  @romanblanco
app/views/miq_ae_customization/editor.html.haml   @romanblanco
# toolbar buttons
app/helpers/application_helper/button/            @romanblanco @panspagetka
app/helpers/application_helper/toolbar_builder.rb @romanblanco @panspagetka @martinpovolny
# rbac
app/controllers/mixins/checked_id_mixin.rb        @romanblanco @panspagetka
# charts
lib/charting/                                     @panspagetka
lib/report_formatter/c3.rb                        @panspagetka
lib/report_formatter/c3_series.rb                 @panspagetka
lib/report_formatter/chart_common.rb              @panspagetka
app/assets/javascripts/miq_c3.js                  @panspagetka
# topology services
app/services/*topology_service.rb                 @skateman

app/controllers/mixins/custom_buttons.rb          @martinpovolny
app/controllers/mixins/generic_*.rb               @martinpovolny
app/controllers/mixins/more_show_actions.rb       @martinpovolny
app/assets/javascripts/miq_explorer.js            @martinpovolny
app/presenters/explorer_presenter.rb              @martinpovolny
app/helpers/application_helper/button/basic.rb    @martinpovolny
app/helpers/application_helper/toolbar/basic.rb   @martinpovolny
app/presenters/tree_builder.rb                    @martinpovolny
app/presenters/menu/                              @martinpovolny
app/helpers/textual_*rb                           @martinpovolny

# decorators
app/decorators/                                   @skateman

Prefix top-navbar components defs with 'navbar.'
  app/javascript/components/top-navbar/index.js
  app/javascript/packs/component-definitions-common.js
Owners: none

Created help component
  app/javascript/components/top-navbar/help.jsx
Owners: none

Removed value returning in logout onClick
  app/javascript/components/top-navbar/user-options.jsx
Owners: none

Change const to var in event_notification_service
  app/assets/javascripts/services/event_notifications_service.js
  app/javascript/spec/helpers/miqChangeGroup.js
Owners: none

Add prefix "navbar." to component names string
  app/javascript/packs/component-definitions-common.js
Owners: none

Added unified structure generating for any menu
  app/helpers/application_helper/navbar.rb
Owners: none

Code cleaning, minor fixes based on review
  app/assets/javascripts/services/event_notifications_service.js
  app/assets/stylesheets/main.scss
  app/helpers/application_helper/navbar.rb
  app/javascript/spec/top-navbar/__snapshots__/top-navbar.spec.js.snap
  app/views/layouts/_right_section.html.haml
Owners: @epwinchell

Remove => function from event_notification_service
  app/assets/javascripts/services/event_notifications_service.js
Owners: none

Add :user_with_group floating_ip_controller
  spec/controllers/floating_ip_controller_spec.rb
Owners: none

Make currentUser required in props validation
  app/javascript/.eslintrc.json
  app/javascript/components/top-navbar/help.jsx
  app/javascript/components/top-navbar/right-section.jsx
  app/javascript/components/top-navbar/user-options.jsx
Owners: none

Move notificationReducer to a separate file
  app/javascript/miq-redux/notification-reducer.js
  app/javascript/miq-redux/store.js
Owners: none

Added miqChangeGroup and logoutInProgress
  app/javascript/components/top-navbar/user-options.jsx
Owners: none

Add create(:user_with_group) to controllers
  spec/controllers/cloud_network_controller_spec.rb
  spec/controllers/cloud_subnet_controller_spec.rb
Owners: none

Convert ids of menu items to string
  app/helpers/application_helper/navbar.rb
  app/javascript/components/top-navbar/recursive-props.js
  app/javascript/components/top-navbar/user-options.jsx
  app/javascript/spec/top-navbar/__snapshots__/top-navbar.spec.js.snap
  app/javascript/spec/top-navbar/top-navbar.spec.js
  app/views/layouts/_right_section.html.haml
Owners: none

Generalize queue matching.
  spec/controllers/cloud_volume_controller_spec.rb
Owners: none

Reconfigure form: deal with both image and vm case.
  app/views/vm_common/_reconfigure.html.haml
Owners: none

VM Reconfigure button: special handling of permissions.
  app/helpers/application_helper/button/vm_reconfigure.rb
Owners: @romanblanco, @panspagetka

Reconfigure: remove extra rbac check that would not work for images.
  app/controllers/mixins/actions/vm_actions/reconfigure.rb
Owners: none

Reconfigure: collect only values permitted for the role.
  app/controllers/mixins/actions/vm_actions/reconfigure.rb
Owners: none

VM Reconfigure form: separate perms for various parts.
  app/views/vm_common/_reconfigure.html.haml
Owners: none

Support detail features for VM reconfigure.
  app/views/vm_common/_reconfigure.html.haml
Owners: none

Reconfigure: remove unused aliases for instances and miq_template.
  app/controllers/mixins/actions/vm_actions/reconfigure.rb
Owners: none

Reconfigure: fix (swap) the RBAC identifiers.
  app/controllers/mixins/actions/vm_actions/reconfigure.rb
Owners: none

Reconfigure button: custom view_context for shared examples.
  spec/helpers/application_helper/buttons/vm_reconfigure_spec.rb
  spec/shared/helpers/application_helper_buttons.rb
Owners: none

Reconfigure: remove non-functional cloud branch.
  app/controllers/miq_request_controller.rb
  app/controllers/mixins/actions/vm_actions/reconfigure.rb
  app/helpers/application_helper/toolbar/template_clouds_center.rb
  app/helpers/application_helper/toolbar/x_template_cloud_center.rb
  app/views/vm_common/_reconfigure.html.haml
Owners: none

Reconfigure: style fixes.
  app/controllers/mixins/actions/vm_actions/reconfigure.rb
  app/views/vm_common/_reconfigure.html.haml
Owners: none

Fix rubocop in ApplicationController::MiqRequestMethods
  app/controllers/application_controller/miq_request_methods.rb
Owners: none

Fix rubocop in ApplicationController::Performance::ChartClickData
  app/controllers/application_controller/performance/chart_click_data.rb
Owners: none

Fix rubocop in ApplicationController::Performance::Options
  app/controllers/application_controller/performance/options.rb
Owners: none

Convert vertical-navbar levels expanding to React
  app/assets/javascripts/miq_application.js
  app/javascript/components/main-menu/main-menu.jsx
  app/javascript/components/main-menu/second-level.jsx
  app/javascript/components/main-menu/top-level.jsx
Owners: none

Update snapshot after converting expanding logic
  app/javascript/spec/main-menu/__snapshots__/main-menu.spec.js.snap
Owners: none

Add NavbarHeader component design implementation
  app/javascript/components/navbar-header/navbar-header.jsx
  app/views/layouts/_navbar-header.html.haml
Owners: none

Replace navbar-header with empty partial
  app/javascript/components/navbar-header/navbar-header.jsx
  app/javascript/packs/component-definitions-common.js
  app/views/layouts/_header.html.haml
  app/views/layouts/_navbar-header.html.haml
Owners: none

Move navbar-header component to top-navbar dir
  app/javascript/components/navbar-header/navbar-header.jsx
  app/javascript/components/top-navbar/navbar-header.jsx
  app/javascript/packs/component-definitions-common.js
Owners: none

Delete vertical navbar item pinning
  app/assets/stylesheets/patternfly_overrides.scss
  app/javascript/components/main-menu/second-level.jsx
  app/javascript/components/main-menu/top-level.jsx
Owners: @epwinchell

Fix content resizing when vertical-nav collapsed
  app/javascript/components/top-navbar/navbar-header.jsx
Owners: none

Replace 'clsx' package usage with 'classnames'
  app/javascript/components/main-menu/main-menu.jsx
  app/javascript/components/main-menu/second-level.jsx
  app/javascript/components/main-menu/third-level.jsx
  app/javascript/components/main-menu/top-level.jsx
  app/javascript/spec/main-menu/__snapshots__/main-menu.spec.js.snap
  package.json
Owners: none

Add object destructuring to navbar-header
  app/javascript/components/top-navbar/navbar-header.jsx
Owners: none

Clean classNames using clsx
  app/javascript/components/main-menu/main-menu.jsx
  app/javascript/components/main-menu/second-level.jsx
  app/javascript/components/main-menu/third-level.jsx
  app/javascript/components/main-menu/top-level.jsx
  package.json
Owners: none

Update className for top-level-item
  app/assets/stylesheets/vertical_navigation.scss
Owners: @epwinchell
