Repository ManageIQ/manageiq-ui-classic, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skateman, @epwinchell, @romanblanco, @panspagetka, @martinpovolny

Remove Host Discover and Add buttons
  app/helpers/application_helper/toolbar/hosts_center.rb
Owners: none

Remove files and methods associated with Host Discover/Add buttons
  app/controllers/host_controller.rb
  app/controllers/mixins/actions/host_actions/discover.rb
  app/views/host/discover.html.haml
  app/views/host/new.html.haml
Owners: none

Do not remember tab when downloading report from list view.
  app/controllers/application_controller.rb
Owners: none

Merge pull request #5936 from hstastna/Unexpected_error_VM_cluster_get_rec_cls
  app/controllers/application_controller/ci_processing.rb
  spec/controllers/application_controller/ci_processing_spec.rb
Owners: none

Merge pull request #5952 from h-kataria/fix_host_files_drop_down_on_reconfigure_vms
  app/controllers/mixins/actions/vm_actions/reconfigure.rb
  spec/controllers/mixins/actions/vm_actions/reconfigure_spec.rb
Owners: none

Merge pull request #5943 from PanSpagetka/multiple-tags-fix
  app/controllers/application_controller/tags.rb
Owners: none

Merge pull request #5825 from mzazrivec/replication_form_fixes
  app/assets/javascripts/controllers/ops/pglogical_replication_form_controller.js
  app/views/ops/_settings_replication_tab.html.haml
Owners: none

Merge pull request #5950 from d-m-u/fixing_settings_hash_of_miq_group
  app/controllers/report_controller/reports.rb
  spec/controllers/miq_report_controller/reports_spec.rb
Owners: none

Merge pull request #5873 from ZitaNemeckova/fix_cb_tabs
  app/controllers/application_controller/buttons.rb
  app/views/shared/buttons/_ab_advanced_form.html.haml
  spec/controllers/application_controller/buttons_spec.rb
Owners: none

Merge pull request #5933 from hstastna/Error_changing_Role_adding_Group
  app/views/ops/_rbac_group_details.html.haml
  spec/views/ops/_rbac_group_details.html.haml_spec.rb
Owners: none

Drop the pid/options arguments from AssignTo trees' override 🐞
  app/presenters/tree_builder_ems_folders.rb
  app/presenters/tree_builder_resource_pools.rb
Owners: @skateman

Drop the obsolete :full_ids from x_build_node_id in CatalogController
  app/controllers/catalog_controller.rb
Owners: none

Drop the unused options param from x_build_node_id :scissors:
  app/controllers/application_controller/explorer.rb
Owners: none

Remove dead method. Added in #5445 never used
  app/controllers/catalog_controller.rb
Owners: none

Remove
  app/controllers/chargeback_controller.rb
Owners: none

Remove dead method. Lasr used deleted in #3919
  app/controllers/miq_ae_class_controller.rb
Owners: none

Remove dead method and a comment. Cannot find last use.
  app/controllers/miq_policy_controller.rb
  app/controllers/miq_policy_controller/alert_profiles.rb
Owners: none

Dialog Editor - show validation title when button is disabled
  app/views/miq_ae_customization/editor.html.haml
Owners: @romanblanco

miq-button - enabled=true is not default
  app/views/miq_ae_customization/editor.html.haml
Owners: @romanblanco

Merge pull request #5961 from JPrause/ivanchuk_b2
  CHANGELOG.md
Owners: none

Merge pull request #5948 from d-m-u/fixing_ems_network_endpoint
  app/services/dialog_local_service.rb
  spec/services/dialog_local_service_spec.rb
Owners: none

Merge pull request #5964 from h-kataria/dont_remember_tab_when_downloading_from_list_view
  app/controllers/application_controller.rb
Owners: none

Fix jest - react-test-renderer version must match react and react-dom versions
  package.json
Owners: none

policy_sim - set @in_a_form to prevent adv_search_build
  app/controllers/application_controller/policy_support.rb
Owners: none

Build the selected node key from the session stored model in RBS 🌳🐞
  app/presenters/tree_builder_roles_by_server.rb
Owners: @skateman

Add Set Ownership to Auth Key Pairs
  app/controllers/auth_key_pair_cloud_controller.rb
  app/controllers/mixins/actions/vm_actions/ownership.rb
  app/helpers/application_helper/toolbar/auth_key_pair_cloud_center.rb
  app/helpers/application_helper/toolbar/auth_key_pair_clouds_center.rb
  app/views/auth_key_pair_cloud/show.html.haml
  app/views/shared/views/_ownership.html.haml
  config/routes.rb
Owners: none

Update react-ui-compoennts to 0.11.37
  package.json
Owners: none

Bump version of react-ui-components to 0.11.37
  package.json
  yarn.lock
Owners: none

Add the configuration toolbar button on Ansible/Templates screen
  app/controllers/automation_manager_controller.rb
  app/helpers/application_helper/toolbar/configuration_scripts_center.rb
  app/helpers/application_helper/toolbar/x_configuration_scripts_center.rb
Owners: none

[Changelog] Update for Hammer-10
  CHANGELOG.md
Owners: none

Remove angular code associated with Host Discover/Add Updated specs
  app/assets/javascripts/controllers/host/host_form_controller.js
  app/controllers/host_controller.rb
  app/views/host/_form.html.haml
  spec/controllers/application_controller_spec.rb
  spec/controllers/host_controller_spec.rb
  spec/javascripts/controllers/host/host_form_controller_spec.js
Owners: none

NetworkRouter form_params should get tenant id from nested hash
  app/controllers/network_router_controller.rb
  spec/controllers/network_router_controller_spec.rb
Owners: none

Merge pull request #5975 from himdel/fix-jest
  package.json
Owners: none

Merge pull request #5974 from skateman/server-tree-prefix
  app/presenters/tree_builder_roles_by_server.rb
Owners: @skateman

Drop the unnecessary sandbox variable in storage adapters 🌳✂️✂️
  app/presenters/tree_builder_storage_adapters.rb
Owners: @skateman

Do not rely on the obsolete sandbox variable in ComplianceHistory🌳
  app/presenters/tree_builder_compliance_history.rb
Owners: @skateman

Do not rely on the obsolete sandbox variable in Networks 🌳
  app/presenters/tree_builder_network.rb
Owners: @skateman

Use the TreeBuilder#node_by_tree_id in compliance history 🌳
  app/presenters/tree_builder_compliance_history.rb
Owners: @skateman

Drop the unused options argument from TreeBuilder#x_get_tree_objects
  app/presenters/tree_builder.rb
  spec/controllers/automation_manager_controller_spec.rb
  spec/presenters/tree_builder_network_spec.rb
  spec/presenters/tree_builder_storage_adapters_spec.rb
Owners: @martinpovolny

Drop the options argument from TreeBuilder#x_build_single_node
  app/presenters/full_tree_builder.rb
  app/presenters/tree_builder.rb
Owners: @martinpovolny

.github/CODEOWNERS:

# trees
app/presenters/tree_node/                         @skateman
app/presenters/tree_builder_*                     @skateman
# styling and images
app/assets/stylesheets/                           @epwinchell
app/assets/images/                                @epwinchell
# dialog editor
app/assets/javascripts/controllers/dialog_editor  @romanblanco
app/views/miq_ae_customization/editor.html.haml   @romanblanco
# toolbar buttons
app/helpers/application_helper/button/            @romanblanco @panspagetka
app/helpers/application_helper/toolbar_builder.rb @romanblanco @panspagetka @martinpovolny
# rbac
app/controllers/mixins/checked_id_mixin.rb        @romanblanco @panspagetka
# charts
lib/charting/                                     @panspagetka
lib/report_formatter/c3.rb                        @panspagetka
lib/report_formatter/c3_series.rb                 @panspagetka
lib/report_formatter/chart_common.rb              @panspagetka
app/assets/javascripts/miq_c3.js                  @panspagetka
# topology services
app/services/*topology_service.rb                 @skateman

app/controllers/mixins/custom_buttons.rb          @martinpovolny
app/controllers/mixins/generic_*.rb               @martinpovolny
app/controllers/mixins/more_show_actions.rb       @martinpovolny
app/assets/javascripts/miq_explorer.js            @martinpovolny
app/presenters/explorer_presenter.rb              @martinpovolny
app/helpers/application_helper/button/basic.rb    @martinpovolny
app/helpers/application_helper/toolbar/basic.rb   @martinpovolny
app/presenters/tree_builder.rb                    @martinpovolny
app/presenters/menu/                              @martinpovolny
app/helpers/textual_*rb                           @martinpovolny

# decorators
app/decorators/                                   @skateman
