Repository ManageIQ/manageiq-ui-classic, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skateman, @epwinchell, @romanblanco, @panspagetka, @martinpovolny

.github/CODEOWNERS:

# trees
app/presenters/tree_node/                         @skateman
app/presenters/tree_builder_*                     @skateman
# styling and images
app/assets/stylesheets/                           @epwinchell
app/assets/images/                                @epwinchell
# dialog editor
app/assets/javascripts/controllers/dialog_editor  @romanblanco
app/views/miq_ae_customization/editor.html.haml   @romanblanco
# toolbar buttons
app/helpers/application_helper/button/            @romanblanco @panspagetka
app/helpers/application_helper/toolbar_builder.rb @romanblanco @panspagetka @martinpovolny
# rbac
app/controllers/mixins/checked_id_mixin.rb        @romanblanco @panspagetka
# charts
lib/charting/                                     @panspagetka
lib/report_formatter/c3.rb                        @panspagetka
lib/report_formatter/c3_series.rb                 @panspagetka
lib/report_formatter/chart_common.rb              @panspagetka
app/assets/javascripts/miq_c3.js                  @panspagetka
# topology services
app/services/*topology_service.rb                 @skateman

app/controllers/mixins/custom_buttons.rb          @martinpovolny
app/controllers/mixins/generic_*.rb               @martinpovolny
app/controllers/mixins/more_show_actions.rb       @martinpovolny
app/assets/javascripts/miq_explorer.js            @martinpovolny
app/presenters/explorer_presenter.rb              @martinpovolny
app/helpers/application_helper/button/basic.rb    @martinpovolny
app/helpers/application_helper/toolbar/basic.rb   @martinpovolny
app/presenters/tree_builder.rb                    @martinpovolny
app/presenters/menu/                              @martinpovolny
app/helpers/textual_*rb                           @martinpovolny

# decorators
app/decorators/                                   @skateman

DialogUser - use DialogData.outputConversion before submit
  app/assets/javascripts/controllers/dialog_user/dialog_user_controller.js
  app/assets/javascripts/controllers/dialog_user/dialog_user_reconfigure_controller.js
Owners: none

Fix node ID generation for MiqAeClassController#open_parent_nodes
  app/controllers/miq_ae_class_controller.rb
Owners: none

DialogUser specs - mock DialogData.data
  spec/javascripts/controllers/dialog_user/dialog_user_controller_spec.js
  spec/javascripts/services/dialog_field_refresh_service_spec.js
Owners: none

Update ui-components to 1.2.15 for ivanchuk
  package.json
  yarn.lock
Owners: none

dialog_field_refresh_service_spec - fix spec failures from dialog data being a string
  spec/javascripts/services/dialog_field_refresh_service_spec.js
Owners: none

Force user group reload after changing permissions so tree is correct
  app/controllers/ops_controller/ops_rbac.rb
Owners: none

Merge pull request #6291 from himdel/bz1744413
  app/assets/javascripts/controllers/dialog_user/dialog_user_controller.js
  app/assets/javascripts/controllers/dialog_user/dialog_user_reconfigure_controller.js
  app/assets/javascripts/services/dialog_field_refresh_service.js
  spec/javascripts/controllers/dialog_user/dialog_user_controller_spec.js
  spec/javascripts/services/dialog_field_refresh_service_spec.js
Owners: none

Disable clicking on Edit Tags without selecting Configured Systems
  app/helpers/application_helper/toolbar/configured_system/automation/policy_mixin.rb
Owners: none

Converted namespace and domain form from angular to react
  app/assets/javascripts/components/miq_ae_class/namespace-form.js
  app/controllers/miq_ae_class_controller.rb
  app/javascript/components/namespace-form/index.jsx
  app/javascript/components/namespace-form/namespace-form.schema.js
  app/javascript/packs/component-definitions-common.js
  app/views/miq_ae_class/_ns_list.html.haml
  config/routes.rb
  spec/controllers/miq_ae_class_controller_spec.rb
  spec/javascripts/components/miq_ae_class/namespace_form_spec.js
  spec/routing/miq_ae_class_routing_spec.rb
  spec/views/miq_ae_class/_ns_list.html.haml_spec.rb
Owners: none

Fixed wrong IDs
  app/javascript/components/main-menu/second-level.jsx
  app/javascript/components/main-menu/top-level.jsx
Owners: none

Cleaned code and updated snapshot
  app/javascript/components/main-menu/helpers.js
  app/javascript/components/main-menu/second-level.jsx
  app/javascript/components/main-menu/third-level.jsx
  app/javascript/components/main-menu/top-level.jsx
  app/javascript/spec/main-menu/__snapshots__/main-menu.spec.js.snap
Owners: none

WIP
  app/javascript/components/main_menu.jsx
  app/javascript/packs/component-definitions-common.js
  app/presenters/menu/manager.rb
  app/views/layouts/_header.html.haml
Owners: @martinpovolny

Created main-menu tests
  app/javascript/spec/main-menu/__snapshots__/main-menu.spec.js.snap
  app/javascript/spec/main-menu/main-menu.spec.js
Owners: none

Fixed modal item-type click behavior
  app/javascript/components/main-menu/helpers.js
Owners: none

Updated test snapshots
  app/javascript/spec/main-menu/__snapshots__/main-menu.spec.js.snap
Owners: none

Replaced onMouseDown handling with onClick
  app/javascript/components/main-menu/second-level.jsx
  app/javascript/components/main-menu/third-level.jsx
  app/javascript/components/main-menu/top-level.jsx
Owners: none

Updated snapshot
  app/javascript/spec/main-menu/__snapshots__/main-menu.spec.js.snap
Owners: none

Added "collapse" styling at the top-level
  app/assets/stylesheets/patternfly_overrides.scss
  app/javascript/components/main-menu/top-level.jsx
Owners: @epwinchell

Replaced list-group-item class with custom class
  app/assets/stylesheets/patternfly_overrides.scss
Owners: @epwinchell

Addded missing # to data-targets
  app/javascript/components/main-menu/second-level.jsx
  app/javascript/components/main-menu/top-level.jsx
Owners: none

Fixed highlighting of active item at second level
  app/javascript/components/main-menu/second-level.jsx
  app/javascript/spec/main-menu/__snapshots__/main-menu.spec.js.snap
Owners: none

Updated test snapshot
  app/javascript/spec/main-menu/__snapshots__/main-menu.spec.js.snap
Owners: none

Added support for missing link_params from review
  app/helpers/application_helper/navbar.rb
  app/javascript/components/main-menu/helpers.js
  app/javascript/components/main-menu/second-level.jsx
  app/javascript/components/main-menu/third-level.jsx
  app/javascript/components/main-menu/top-level.jsx
  app/javascript/spec/main-menu/__snapshots__/main-menu.spec.js.snap
  app/javascript/spec/main-menu/main-menu.spec.js
Owners: none

Fixed issues from review
  app/helpers/application_helper/navbar.rb
  app/javascript/components/main-menu/main-menu.jsx
  app/javascript/components/main-menu/second-level.jsx
  app/javascript/components/main-menu/top-level.jsx
  app/javascript/spec/main-menu/__snapshots__/main-menu.spec.js.snap
  app/views/layouts/_header.html.haml
Owners: none

Moved shared item-type logic to helpers.js
  app/javascript/components/main-menu/helpers.js
  app/javascript/components/main-menu/second-level.jsx
  app/javascript/components/main-menu/third-level.jsx
  app/javascript/components/main-menu/top-level.jsx
  app/javascript/spec/main-menu/__snapshots__/main-menu.spec.js.snap
Owners: none

Added empty line after guard clause to navbar.rb
  app/helpers/application_helper/navbar.rb
Owners: none

Updated third-level section test and snapshot
  app/javascript/spec/main-menu/__snapshots__/main-menu.spec.js.snap
  app/javascript/spec/main-menu/main-menu.spec.js
Owners: none

Rewritten structure generation, moved to navbar.rb
  app/helpers/application_helper/navbar.rb
  app/presenters/menu/manager.rb
Owners: @martinpovolny

Added common checkForChanges handling
  app/javascript/components/main-menu/helpers.js
  app/javascript/components/main-menu/second-level.jsx
  app/javascript/components/main-menu/third-level.jsx
  app/javascript/components/main-menu/top-level.jsx
Owners: none

Removed PF js imports for vertical navbar
  app/javascript/packs/globals.js
Owners: none

Fixed trailing whitespaces
  app/helpers/application_helper/navbar.rb
Owners: none

Rewritten and divided navbar component
  app/javascript/components/main-menu/main-menu.jsx
  app/javascript/components/main-menu/recursive-props.js
  app/javascript/components/main-menu/second-level.jsx
  app/javascript/components/main-menu/third-level.jsx
  app/javascript/components/main-menu/top-level.jsx
  app/javascript/components/main_menu.jsx
  app/javascript/packs/component-definitions-common.js
  app/views/layouts/_vertical_navbar.html.haml
Owners: none

Added id to top and second level items
  app/javascript/components/main-menu/second-level.jsx
  app/javascript/components/main-menu/top-level.jsx
Owners: none

Remove expanding at top-level when no items
  app/javascript/components/main-menu/top-level.jsx
Owners: none

Update snapshots after adding top+second level ids
  app/javascript/spec/main-menu/__snapshots__/main-menu.spec.js.snap
Owners: none

Update dashboard_toolbar snapshot
  app/javascript/spec/toolbar/__snapshots__/dashboard_toolbar.spec.jsx.snap
Owners: none

Make IDs for sections and items different
  app/javascript/components/main-menu/helpers.js
  app/javascript/components/main-menu/second-level.jsx
  app/javascript/components/main-menu/top-level.jsx
Owners: none

Remove data-targets at top and second level
  app/javascript/components/main-menu/second-level.jsx
  app/javascript/components/main-menu/top-level.jsx
Owners: none

Update main-menu snapshots
  app/javascript/spec/main-menu/__snapshots__/main-menu.spec.js.snap
Owners: none

Test with ruby 2.5.5, see: https://github.com/ManageIQ/manageiq/pull/19468
  .travis.yml
Owners: none
