Repository ManageIQ/manageiq-ui-classic, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skateman, @epwinchell, @romanblanco, @panspagetka, @martinpovolny

Right_cell_text: (not)escape in JSON based on string class.
  app/presenters/explorer_presenter.rb
Owners: @martinpovolny

Do not show unassigned buttons
  app/helpers/application_helper/toolbar_builder.rb
Owners: @romanblanco, @panspagetka, @martinpovolny

Right_cell_text: use a separate variable for breacrumbs.
  app/controllers/mixins/breadcrumbs_mixin.rb
  app/controllers/report_controller.rb
Owners: none

Fix missing whitespace
  app/helpers/application_helper/toolbar_builder.rb
Owners: @romanblanco, @panspagetka, @martinpovolny

Storage - treat all_vms and all_miq_templates the same
  app/controllers/storage_controller.rb
  app/helpers/application_helper/toolbar_chooser.rb
Owners: none

Service - use x_node instead of accessing tree internals via @sb
  app/controllers/service_controller.rb
Owners: none

Merge pull request #6052 from h-kataria/fix_api_endpoint_for_go_custom_buttons
  app/controllers/service_controller.rb
  app/services/dialog_local_service.rb
Owners: none

Merge pull request #6052 from h-kataria/fix_api_endpoint_for_go_custom_buttons
  app/controllers/service_controller.rb
  app/services/dialog_local_service.rb
Owners: none

Merge pull request #6003 from rvsia/check-changes-breadcrumbs
  app/javascript/components/breadcrumbs/index.js
  app/javascript/components/breadcrumbs/on-click-functions.js
  app/javascript/spec/breadcrumbs/__snapshots__/breadcrumbs.spec.js.snap
  app/javascript/spec/breadcrumbs/breadcrumbs.spec.js
  app/javascript/spec/breadcrumbs/on-click-functions.spec.js
Owners: none

Merge pull request #6023 from ZitaNemeckova/tag_from_random_place
  app/controllers/cloud_network_controller.rb
  app/controllers/network_router_controller.rb
  spec/controllers/cloud_network_controller_spec.rb
  spec/controllers/network_router_controller_spec.rb
Owners: none

Update breadcrumbs spec to match master
  spec/controllers/mixins/breadcrumbs_mixin_spec.rb
Owners: none

bump
  app/assets/javascripts/controllers/tree_view_controller.js
  app/controllers/mixins/breadcrumbs_mixin.rb
  app/javascript/components/breadcrumbs/index.jsx
  app/views/layouts/_breadcrumbs.html.haml
  spec/javascripts/controllers/tree_view_controller/tree_view_controller_spec.js
Owners: none

Revert "Do not show unassigned buttons"
  app/helpers/application_helper/toolbar_builder.rb
Owners: @romanblanco, @panspagetka, @martinpovolny

Convert VMEditForm to DataDrivenForm
  app/controllers/vm_common.rb
  app/javascript/components/code-editor/test.js
  app/javascript/components/vm-edit-form/vm-edit-form.jsx
  app/javascript/components/vm-edit-form/vm-edit-form.schema.js
  app/javascript/packs/component-definitions-common.js
  app/views/vm_common/_form.html.haml
Owners: none

Prevent login redirect with ?timeout during logout
  app/assets/javascripts/miq_application.js
  app/assets/javascripts/miq_global.js
  app/views/layouts/_user_options.html.haml
Owners: none

Add specs for compare_cancel and rendering Cancel button while comparing
  spec/controllers/application_controller/compare_spec.rb
  spec/views/layouts/_compare.html.haml_spec.rb
Owners: none

Allow canceling comparing Hosts
  app/controllers/application_controller/compare.rb
  app/views/layouts/_compare.html.haml
  config/routes.rb
Owners: none

Make Add/Save button response properly while adding/editing Group
  app/controllers/ops_controller/ops_rbac.rb
  spec/controllers/ops_controller/ops_rbac_spec.rb
Owners: none

Do not use hash nodes for MiqReport records in Saved Reports 🌳
  app/controllers/report_controller.rb
  app/presenters/tree_builder_report_saved_reports.rb
  spec/presenters/tree_builder_report_saved_reports_spec.rb
Owners: @skateman

Removed Pause & Resume Provider buttons from UI.
  app/helpers/application_helper/toolbar/automation_manager_provider_center.rb
  app/helpers/application_helper/toolbar/automation_manager_providers_center.rb
  app/helpers/application_helper/toolbar/configuration_manager_provider_center.rb
  app/helpers/application_helper/toolbar/configuration_manager_providers_center.rb
  app/helpers/application_helper/toolbar/ems_cloud_center.rb
  app/helpers/application_helper/toolbar/ems_clouds_center.rb
  app/helpers/application_helper/toolbar/ems_container_center.rb
  app/helpers/application_helper/toolbar/ems_containers_center.rb
  app/helpers/application_helper/toolbar/ems_infra_center.rb
  app/helpers/application_helper/toolbar/ems_infras_center.rb
  app/helpers/application_helper/toolbar/ems_physical_infra_center.rb
  app/helpers/application_helper/toolbar/ems_physical_infras_center.rb
Owners: none

Add specs for CustomButton without CustomButtonSet that applies to ServiceTemplate shows for Service
  app/helpers/application_helper/toolbar_builder.rb
  spec/helpers/application_helper/toolbar_builder_spec.rb
Owners: @romanblanco, @panspagetka, @martinpovolny

[Changelog] Update for Sprint 118
  CHANGELOG.md
Owners: none

Make Offending thing clickable
  app/views/shared/views/_alerts_list.html.haml
Owners: none

Tenant details: replace right area with GTL instead of full request.
  app/controllers/ops_controller.rb
  app/helpers/ops_helper/textual_summary.rb
  app/views/ops/show.html.haml
Owners: none

Convert Tenants details page to textual summary
  app/controllers/ops_controller.rb
  app/helpers/ops_helper/textual_summary.rb
  app/views/ops/_rbac_tenant_details.html.haml
Owners: none

Breadcrumbs: way to add last item to the list.
  app/controllers/mixins/breadcrumbs_mixin.rb
Owners: none

Add list view for relevant Service Catalogs and Bundles
  app/controllers/mixins/generic_show_mixin.rb
  app/controllers/ops_controller.rb
  app/helpers/ops_helper/textual_summary.rb
  app/views/ops/show.html.haml
  config/routes.rb
  product/views/ExtManagementSystem-nested_providers.yaml
  product/views/MiqAeClass-nested_ae_namespaces.yaml
  product/views/ServiceTemplate-nested_service_templates.yaml
Owners: @martinpovolny

Add Relationships to Tenants textual summary screen
  app/controllers/ops_controller.rb
  app/helpers/ops_helper/textual_summary.rb
Owners: none

Rename report to be found and fix col_order.
  product/views/ExtManagementSystem-nested_providers.yaml
  product/views/MiqAeDomain-nested_ae_namespaces.yaml
Owners: none

Add specs for Textual summary of a Tenant
  spec/controllers/ops_controller_spec.rb
Owners: none

Tenant details: providers and automate domans are not clickable.
  app/controllers/ops_controller.rb
Owners: none

ExplorerPresenter main_div: allow setting for right_cell_text.
  app/assets/javascripts/miq_explorer.js
  app/presenters/explorer_presenter.rb
Owners: @martinpovolny

Tenant details: set page title (right_cell_text).
  app/controllers/ops_controller.rb
Owners: none

Hide Copy Dashboard for non-SuperAdmin users
  app/helpers/application_helper/button/miq_widget_set_copy.rb
  app/helpers/application_helper/toolbar/miq_widget_set_center.rb
Owners: @romanblanco, @panspagetka

Add specs for CustomButton without CustomButtonSet that applies to GenericObjectDefinition shows for GenericObject
  app/helpers/application_helper/toolbar_builder.rb
  spec/helpers/application_helper/toolbar_builder_spec.rb
Owners: @romanblanco, @panspagetka, @martinpovolny

Add translated report headers to PDF reports
  app/views/layouts/print/report.html.haml
Owners: none

Fix nilClass error
  app/controllers/mixins/actions/vm_actions/reconfigure.rb
  spec/controllers/mixins/actions/vm_actions/reconfigure_spec.rb
Owners: none

Reports: unify report result rendering under saved_report and report.
  app/controllers/report_controller.rb
  app/controllers/report_controller/saved_reports.rb
Owners: none

Merge pull request #6064 from ZitaNemeckova/disable_copy_widget
  app/helpers/application_helper/button/miq_widget_set_copy.rb
  app/helpers/application_helper/toolbar/miq_widget_set_center.rb
Owners: @romanblanco, @panspagetka

Merge pull request #6065 from himdel/bz1741283-logout
  app/assets/javascripts/miq_application.js
  app/assets/javascripts/miq_global.js
  app/views/layouts/_user_options.html.haml
Owners: none

.github/CODEOWNERS:

# trees
app/presenters/tree_node/                         @skateman
app/presenters/tree_builder_*                     @skateman
# styling and images
app/assets/stylesheets/                           @epwinchell
app/assets/images/                                @epwinchell
# dialog editor
app/assets/javascripts/controllers/dialog_editor  @romanblanco
app/views/miq_ae_customization/editor.html.haml   @romanblanco
# toolbar buttons
app/helpers/application_helper/button/            @romanblanco @panspagetka
app/helpers/application_helper/toolbar_builder.rb @romanblanco @panspagetka @martinpovolny
# rbac
app/controllers/mixins/checked_id_mixin.rb        @romanblanco @panspagetka
# charts
lib/charting/                                     @panspagetka
lib/report_formatter/c3.rb                        @panspagetka
lib/report_formatter/c3_series.rb                 @panspagetka
lib/report_formatter/chart_common.rb              @panspagetka
app/assets/javascripts/miq_c3.js                  @panspagetka
# topology services
app/services/*topology_service.rb                 @skateman

app/controllers/mixins/custom_buttons.rb          @martinpovolny
app/controllers/mixins/generic_*.rb               @martinpovolny
app/controllers/mixins/more_show_actions.rb       @martinpovolny
app/assets/javascripts/miq_explorer.js            @martinpovolny
app/presenters/explorer_presenter.rb              @martinpovolny
app/helpers/application_helper/button/basic.rb    @martinpovolny
app/helpers/application_helper/toolbar/basic.rb   @martinpovolny
app/presenters/tree_builder.rb                    @martinpovolny
app/presenters/menu/                              @martinpovolny
app/helpers/textual_*rb                           @martinpovolny

# decorators
app/decorators/                                   @skateman
