Repository ManageIQ/manageiq-ui-classic, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skateman, @epwinchell, @romanblanco, @panspagetka, @martinpovolny

Merge pull request #5354 from hstastna/Cannot_create_group_already_exist
  app/controllers/ops_controller/ops_rbac.rb
Owners: none

Merge pull request #5400 from romanblanco/bz1686077
  app/views/miq_ae_customization/_dialog_sample.html.haml
Owners: none

bump
  app/assets/stylesheets/patternfly_overrides.scss
Owners: @epwinchell

Move CloudManagerTemplate and hardware_bitness logic to its own methods
  lib/gtl_formatter.rb
Owners: none

Move ServiceTemplate logic to its own method
  lib/gtl_formatter.rb
Owners: none

Move column modification of GTL logic to its own class
  app/controllers/application_controller.rb
  app/helpers/application_helper.rb
  lib/gtl_formatter.rb
Owners: none

Use load_from_filename instead of new
  app/controllers/application_controller.rb
Owners: none

Remove extra empty lines and variables
  lib/gtl_formatter.rb
Owners: none

Move Timezone logic to one place and use globals for view, col, row
  app/controllers/application_controller.rb
  lib/gtl_formatter.rb
Owners: none

Move MiqRequest and state logic to its own methods
  lib/gtl_formatter.rb
Owners: none

Move OpenscapRoleResult logic to its own
  lib/gtl_formatter.rb
Owners: none

Restrict changes to be also by filename not only name of column
  app/controllers/application_controller.rb
Owners: none

Remove unused column db
  app/controllers/application_controller.rb
Owners: none

gtl_formatter: Move logic from if/case to Hash
  lib/gtl_formatter.rb
Owners: none

Move PROV_STATES to only controller that uses it
  app/controllers/application_controller.rb
  app/controllers/miq_request_controller.rb
  lib/gtl_formatter.rb
Owners: none

Drop the not used listnavs and their references
  app/helpers/application_helper/listnav.rb
  app/views/layouts/listnav/_action.html.haml
  app/views/layouts/listnav/_condition.html.haml
  app/views/layouts/listnav/_miq_schedule.html.haml
  app/views/layouts/listnav/_policy.html.haml
  app/views/layouts/listnav/_scan_profile.html.haml
Owners: none

Drop the empty and no longer used listnav for VMs
  app/helpers/application_helper/listnav.rb
  app/views/layouts/listnav/_vm.html.haml
Owners: none

Add severity to Alerts
  app/controllers/miq_policy_controller/alerts.rb
  app/views/miq_policy/_alert_details.html.haml
  lib/gtl_formatter.rb
  product/views/MiqAlert.yaml
  spec/controllers/miq_policy_controller/alerts_spec.rb
  spec/views/miq_policy/_alert_details.html.haml_spec.rb
Owners: none

Drop the unnecessary override from TreeBuilderOpsRbacFeatures
  app/presenters/tree_builder_ops_rbac_features.rb
Owners: @skateman

Don't count the checkeds state of nodes in TreeBuilderOpsRbacFeatures
  app/presenters/tree_builder_ops_rbac_features.rb
Owners: @skateman

Expose the menu items directly from the Menu::Manager "singleton"
  app/presenters/menu/manager.rb
Owners: @martinpovolny

Simplify the node enumeration code in TreeBuilderOpsRbacFeatures
  app/presenters/tree_builder_ops_rbac_features.rb
Owners: @skateman

Drop the root_details cached variable from TreeBuilderOpsRbacFeatures
  app/presenters/tree_builder_ops_rbac_features.rb
Owners: @skateman

Pass features as an ivar to nodes in TreeBuilderOpsRbacFeatures
  app/presenters/tree_builder_ops_rbac_features.rb
  app/presenters/tree_node/menu/item.rb
  app/presenters/tree_node/miq_product_feature.rb
Owners: @skateman

Drop the unnecessary role ivar from TreeBuilderOpsRbacFeatures
  app/presenters/tree_builder_ops_rbac_features.rb
Owners: @skateman

Drop the root_feature cached variable from TreeBuilderOpsRbacFeatures
  app/presenters/tree_builder_ops_rbac_features.rb
Owners: @skateman

Clean up the unnecessary methods in TreeNode::Menu::Item
  app/presenters/tree_node/menu/item.rb
Owners: @skateman

Replace TreeBuilderOpsRbacFeatures#node_id_prefix with an ivar
  app/presenters/tree_builder_ops_rbac_features.rb
  app/presenters/tree_node/menu/item.rb
  app/presenters/tree_node/menu/section.rb
  app/presenters/tree_node/miq_product_feature.rb
Owners: @skateman

Pass editable as an ivar to nodes in TreeBuilderOpsRbacFeatures
  app/presenters/tree_builder_ops_rbac_features.rb
  app/presenters/tree_node/menu/node.rb
Owners: @skateman

Drop unused option explanations from TreeBuilder#tree_init_options
  app/presenters/tree_builder.rb
Owners: @martinpovolny

Patternfly4 - only apply styling under .pf4
  app/stylesheet/application-webpack.scss
Owners: none

Not really sure how this is passing... ¯\_(ツ)_/¯
  spec/controllers/container_controller_spec.rb
  spec/controllers/container_image_controller_spec.rb
  spec/controllers/container_project_controller_spec.rb
  spec/controllers/container_replicator_controller_spec.rb
Owners: none

Make tests less dependant on database ordering
  spec/services/widget_import_service_spec.rb
Owners: none

MiqWidgetSet members should be those in the set data
  spec/controllers/miq_report_controller/dashboards_spec.rb
Owners: none

:name and :description should be sequenced by the factory
  spec/controllers/miq_report_controller/dashboards_spec.rb
Owners: none

This is the only place in the spec that a provider is created...
  spec/helpers/application_helper/buttons/embedded_ansible_spec.rb
Owners: none

Count less than 0 doesn't make sense
  app/helpers/application_helper/button/embedded_ansible.rb
Owners: @romanblanco, @panspagetka

No need to create records
  spec/presenters/tree_node/miq_product_feature_spec.rb
Owners: none

Add generic objects as default menu item
  app/presenters/menu/default_menu.rb
Owners: @martinpovolny

Drop trees displaying VMs for providers, clusters, resource pools
  app/controllers/ems_cluster_controller.rb
  app/controllers/mixins/ems_common.rb
  app/controllers/mixins/generic_show_mixin.rb
  app/controllers/resource_pool_controller.rb
  app/helpers/ems_cluster_helper/textual_summary.rb
  app/helpers/ems_infra_helper/textual_summary.rb
  app/helpers/resource_pool_helper/textual_summary.rb
  app/presenters/tree_builder_datacenter.rb
  app/presenters/tree_builder_vat.rb
  app/views/ems_cluster/_config.html.haml
  app/views/layouts/_dc_tree_page.html.haml
  app/views/layouts/listnav/_ems_cluster.html.haml
  app/views/layouts/listnav/_ems_infra.html.haml
  app/views/layouts/listnav/_resource_pool.html.haml
  app/views/resource_pool/_config.html.haml
  app/views/shared/views/ems_common/_config.html.haml
  spec/controllers/resource_pool_controller_spec.rb
  spec/helpers/ems_cluster_helper/textual_summary_spec.rb
  spec/helpers/ems_infra_helper/textual_summary_spec.rb
  spec/helpers/resource_pool_helper/textual_summary_spec.rb
  spec/presenters/tree_builder_datacenter_spec.rb
  spec/presenters/tree_builder_vat_spec.rb
Owners: @martinpovolny, @skateman

.github/CODEOWNERS:

# trees
app/presenters/tree_node/                         @skateman
app/presenters/tree_builder_*                     @skateman
# styling and images
app/assets/stylesheets/                           @epwinchell
app/assets/images/                                @epwinchell
# dialog editor
app/assets/javascripts/controllers/dialog_editor  @romanblanco
app/views/miq_ae_customization/editor.html.haml   @romanblanco
# toolbar buttons
app/helpers/application_helper/button/            @romanblanco @panspagetka
app/helpers/application_helper/toolbar_builder.rb @romanblanco @panspagetka @martinpovolny
# rbac
app/controllers/mixins/checked_id_mixin.rb        @romanblanco @panspagetka
# charts
lib/charting/                                     @panspagetka
lib/report_formatter/c3.rb                        @panspagetka
lib/report_formatter/c3_series.rb                 @panspagetka
lib/report_formatter/chart_common.rb              @panspagetka
app/assets/javascripts/miq_c3.js                  @panspagetka
# topology services
app/services/*topology_service.rb                 @skateman

app/controllers/mixins/custom_buttons.rb          @martinpovolny
app/controllers/mixins/generic_*.rb               @martinpovolny
app/controllers/mixins/more_show_actions.rb       @martinpovolny
app/assets/javascripts/miq_explorer.js            @martinpovolny
app/presenters/explorer_presenter.rb              @martinpovolny
app/helpers/application_helper/button/basic.rb    @martinpovolny
app/helpers/application_helper/toolbar/basic.rb   @martinpovolny
app/presenters/tree_builder.rb                    @martinpovolny
app/presenters/menu/                              @martinpovolny
app/helpers/textual_*rb                           @martinpovolny

# decorators
app/decorators/                                   @skateman
