Repository ManageIQ/manageiq-ui-classic, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skateman, @epwinchell, @romanblanco, @panspagetka, @martinpovolny

.github/CODEOWNERS:

# trees
app/presenters/tree_node/                         @skateman
app/presenters/tree_builder_*                     @skateman
# styling and images
app/assets/stylesheets/                           @epwinchell
app/assets/images/                                @epwinchell
# dialog editor
app/assets/javascripts/controllers/dialog_editor  @romanblanco
app/views/miq_ae_customization/editor.html.haml   @romanblanco
# toolbar buttons
app/helpers/application_helper/button/            @romanblanco @panspagetka
app/helpers/application_helper/toolbar_builder.rb @romanblanco @panspagetka @martinpovolny
# rbac
app/controllers/mixins/checked_id_mixin.rb        @romanblanco @panspagetka
# charts
lib/charting/                                     @panspagetka
lib/report_formatter/c3.rb                        @panspagetka
lib/report_formatter/c3_series.rb                 @panspagetka
lib/report_formatter/chart_common.rb              @panspagetka
app/assets/javascripts/miq_c3.js                  @panspagetka
# topology services
app/services/*topology_service.rb                 @skateman

app/controllers/mixins/custom_buttons.rb          @martinpovolny
app/controllers/mixins/generic_*.rb               @martinpovolny
app/controllers/mixins/more_show_actions.rb       @martinpovolny
app/assets/javascripts/miq_explorer.js            @martinpovolny
app/presenters/explorer_presenter.rb              @martinpovolny
app/helpers/application_helper/button/basic.rb    @martinpovolny
app/helpers/application_helper/toolbar/basic.rb   @martinpovolny
app/presenters/tree_builder.rb                    @martinpovolny
app/presenters/menu/                              @martinpovolny
app/helpers/textual_*rb                           @martinpovolny

# decorators
app/decorators/                                   @skateman

Remove unused EmsCommonAngular mixin (replaced by EmsCommon::Angular mixin)
  app/controllers/mixins/ems_common_angular.rb
Owners: none

Fix filter(MiqExpression) of schedules in widget imports in WidgetImportService
  app/services/widget_import_service.rb
  spec/services/widget_import_service_spec.rb
Owners: none

globals spec - test ui.codemirror (angular) too
  spec/javascripts/globals_pack_spec.js
Owners: none

Replace sass-rails with sassc-rails
  lib/manageiq/ui/classic/engine.rb
  manageiq-ui-classic.gemspec
Owners: none

Remove empty unused container_providers_dashboard.scss
  app/assets/stylesheets/container_providers_dashboard.scss
Owners: @epwinchell

Simplify the TreeNode::Node.set_attribute to not pass block vars
  app/presenters/tree_node/node.rb
Owners: @skateman

Use TreeNode#options instead of the passed TreeState options in nodes
  app/presenters/tree_node/hash.rb
  app/presenters/tree_node/node.rb
Owners: @skateman

Make TreeBuilder#options accessible as a reader
  app/presenters/tree_builder.rb
Owners: @martinpovolny

Drop the options argument from TreeBuilder#override
  app/presenters/tree_builder.rb
  app/presenters/tree_builder_alert_profile_obj.rb
  app/presenters/tree_builder_automate.rb
  app/presenters/tree_builder_automate_catalog.rb
  app/presenters/tree_builder_automate_entrypoint.rb
  app/presenters/tree_builder_belongs_to_hac.rb
  app/presenters/tree_builder_belongs_to_vat.rb
  app/presenters/tree_builder_compliance_history.rb
  app/presenters/tree_builder_network.rb
  app/presenters/tree_builder_smartproxy_affinity.rb
  app/presenters/tree_builder_utilization.rb
Owners: @martinpovolny, @skateman

Drop the options argument from TreeNode
  app/controllers/application_controller/explorer.rb
  app/controllers/tree_controller.rb
  app/presenters/tree_builder.rb
  app/presenters/tree_node.rb
  app/presenters/tree_node/node.rb
  spec/presenters/tree_node_spec.rb
Owners: @martinpovolny, @skateman

Styling update for login, masthead and about modal
  app/assets/images/layout/bg-login-2.png
  app/assets/images/layout/bg-login.png
  app/assets/images/layout/bg-modal-about-pf.png
  app/assets/images/layout/navbar.png
  app/assets/stylesheets/login.scss
  app/assets/stylesheets/main.scss
  app/assets/stylesheets/patternfly_overrides.scss
  app/views/layouts/_header.html.haml
Owners: @epwinchell

Added Zone drop down to angular and non-angular catalog item editor
  app/assets/javascripts/controllers/catalog/catalog_item_form_controller.js
  app/assets/javascripts/controllers/playbook-reusable-code-mixin.js
  app/controllers/catalog_controller.rb
  app/views/catalog/_form_basic_info.html.haml
  app/views/catalog/_st_angular_form.html.haml
Owners: none

Add Zone information on details screen
  app/views/catalog/_sandt_tree_show.html.haml
Owners: none

Fixed broken spec test.
  spec/javascripts/controllers/catalog/catalog_item_form_controller_spec.js
  spec/views/catalog/_form.html.haml_spec.rb
Owners: none

Addressed PR feedback
  app/assets/javascripts/controllers/playbook-reusable-code-mixin.js
  app/assets/javascripts/controllers/schedule/schedule_form_controller.js
  app/views/ops/_schedule_form_filter.html.haml
Owners: none

Added Zone support for Automation Task schedules
  app/assets/javascripts/controllers/schedule/schedule_form_controller.js
  app/controllers/ops_controller/settings/schedules.rb
  app/views/ops/_schedule_form_filter.html.haml
Owners: none

Change Policy Sim markup for automated testing
  app/views/layouts/_policy_sim.html.haml
Owners: none

Move ui-components CSS to webpack
  app/assets/stylesheets/application.css
  app/stylesheet/application-webpack.scss
Owners: @epwinchell

Move sass gem dependencies to webpack - patternfly, font-fabulous
  lib/manageiq/ui/classic/engine.rb
  manageiq-ui-classic.gemspec
  package.json
Owners: none

app/assets/stylesheets - change imports to ~ for external, ./ for local
  app/assets/stylesheets/main.scss
  app/assets/stylesheets/print.scss
Owners: @epwinchell

Move stylesheets under app/stylesheet/legacy/
  app/assets/stylesheets/application.css
  app/stylesheet/legacy/about_modal_background.scss
  app/stylesheet/legacy/alerts.scss
  app/stylesheet/legacy/angular.css
  app/stylesheet/legacy/automate_import_export.css
  app/stylesheet/legacy/container_topology.css
  app/stylesheet/legacy/dialog_fields.css
  app/stylesheet/legacy/dual_list.scss
  app/stylesheet/legacy/graphql_explorer.scss
  app/stylesheet/legacy/header_background.scss
  app/stylesheet/legacy/icon_customizations.scss
  app/stylesheet/legacy/main.scss
  app/stylesheet/legacy/metrics.scss
  app/stylesheet/legacy/miq_debug.css
  app/stylesheet/legacy/miq_tree.scss
  app/stylesheet/legacy/notifications.scss
  app/stylesheet/legacy/patternfly_overrides.scss
  app/stylesheet/legacy/physical_infra_topology.scss
  app/stylesheet/legacy/piecharts.scss
  app/stylesheet/legacy/print.scss
  app/stylesheet/legacy/remote_console.scss
  app/stylesheet/legacy/schedule_editor.scss
  app/stylesheet/legacy/service_dialogs.css
  app/stylesheet/legacy/timeline.scss
  app/stylesheet/legacy/topology.css
Owners: @epwinchell

application-webpack.scss - move requires from asset pipeline application.css
  app/stylesheet/application-webpack.scss
Owners: none

main.scss - fix imports to not import the sprockets version
  app/stylesheet/legacy/main.scss
Owners: none

print.scss - update imports to not import sprockets version
  app/stylesheet/legacy/print.scss
Owners: none

sass includePaths - add patternfly dependencies
  config/webpack/loaders.js
Owners: none

Merge pull request #5670 from JPrause/hammer7_cl
  CHANGELOG.md
Owners: none

patternfly sass - Fix missing png & font paths by loading sprockets helpers
  app/stylesheet/legacy/main.scss
Owners: none

Add an extra login class on the body on the login screen
  app/assets/stylesheets/main.scss
  app/views/layouts/login.html.haml
Owners: @epwinchell

Fix to_hash 5.1 deprecations
  app/controllers/application_controller/wait_for_task.rb
  app/controllers/mixins/ems_common/angular.rb
  app/controllers/ops_controller/ops_rbac.rb
  spec/controllers/mixins/ems_common/angular_spec.rb
  spec/controllers/ops_controller/ops_rbac_spec.rb
Owners: none

Add missing title to Edit Log Depot Settings
  app/assets/javascripts/components/ops/log-collection-form.js
  app/views/ops/_log_collection.html.haml
Owners: none

Storage and cinder managers should have target types of storage, not ems_infra
  app/services/dialog_local_service.rb
  spec/services/dialog_local_service_spec.rb
Owners: none

Update ui-components to 1.1.27 for hammer
  package.json
  yarn.lock
Owners: none

Merge pull request #5629 from himdel/adv-search
  app/controllers/application_controller/advanced_search.rb
  app/controllers/application_controller/explorer.rb
  app/controllers/application_controller/filter.rb
  app/controllers/automation_manager_controller.rb
  app/controllers/infra_networking_controller.rb
  app/controllers/miq_policy_controller.rb
  app/controllers/mixins/manager_controller_mixin.rb
  app/controllers/provider_foreman_controller.rb
  app/controllers/storage_controller.rb
  app/controllers/vm_common.rb
  app/views/layouts/_adv_search.html.haml
  app/views/layouts/_adv_search_body.html.haml
  app/views/layouts/_adv_search_footer.html.haml
  app/views/layouts/_searchbar.html.haml
  app/views/layouts/_x_adv_searchbox.html.haml
  spec/controllers/vm_common_spec.rb
Owners: none

Merge pull request #5366 from kbrock/faster_services
  product/views/Service.yaml
Owners: none

Replace one controller-less instance_variable_set @_params
  spec/controllers/ops_controller/settings/automate_schedules_spec.rb
Owners: none

instance_variable_set params - replace assignments of existing hashes
  spec/controllers/ansible_credential_controller_spec.rb
  spec/controllers/ansible_playbook_controller_spec.rb
  spec/controllers/ansible_repository_controller_spec.rb
  spec/controllers/application_controller/tags_spec.rb
  spec/controllers/chargeback_controller_spec.rb
  spec/controllers/cloud_network_controller_spec.rb
  spec/controllers/ems_cloud_controller_spec.rb
  spec/controllers/network_router_controller_spec.rb
  spec/controllers/ops_controller/ops_rbac_spec.rb
  spec/controllers/ops_controller/settings/common_spec.rb
  spec/controllers/ops_settings_spec.rb
  spec/controllers/security_group_controller_spec.rb
Owners: none

buttons_spec - fixup {{hash from auto transform
  spec/controllers/application_controller/buttons_spec.rb
Owners: none

instance variable set params - replace multiline
  spec/controllers/application_controller/ci_processing_spec.rb
  spec/controllers/application_controller/timelines_spec.rb
  spec/controllers/application_controller_spec.rb
  spec/controllers/automation_manager_controller_spec.rb
  spec/controllers/catalog_controller_spec.rb
  spec/controllers/cloud_network_controller_spec.rb
  spec/controllers/ems_cloud_controller_spec.rb
  spec/controllers/ems_common_controller_spec.rb
  spec/controllers/ems_container_controller_spec.rb
  spec/controllers/ems_infra_controller_spec.rb
  spec/controllers/ems_physical_infra_controller_spec.rb
  spec/controllers/host_controller_spec.rb
  spec/controllers/miq_ae_class_controller_spec.rb
  spec/controllers/miq_ae_customization_controller/old_dialogs_spec.rb
  spec/controllers/network_router_controller_spec.rb
  spec/controllers/ops_controller/diagnostics_spec.rb
  spec/controllers/ops_controller/ops_rbac_spec.rb
  spec/controllers/ops_controller/ops_rbac_user_spec.rb
  spec/controllers/ops_controller/settings/common_spec.rb
  spec/controllers/ops_controller/settings/schedules_spec.rb
  spec/controllers/provider_foreman_controller_spec.rb
  spec/controllers/pxe_controller/pxe_customization_templates_spec.rb
  spec/controllers/pxe_controller_spec.rb
  spec/controllers/report_controller_spec.rb
  spec/support/ops_user_helper.rb
Owners: none

instance variable set params - Manually go through changes in last commit, fix closing parens, formatting
  spec/controllers/application_controller/ci_processing_spec.rb
  spec/controllers/application_controller/timelines_spec.rb
  spec/controllers/application_controller_spec.rb
  spec/controllers/automation_manager_controller_spec.rb
  spec/controllers/catalog_controller_spec.rb
  spec/controllers/cloud_network_controller_spec.rb
  spec/controllers/ems_cloud_controller_spec.rb
  spec/controllers/ems_common_controller_spec.rb
  spec/controllers/ems_container_controller_spec.rb
  spec/controllers/ems_infra_controller_spec.rb
  spec/controllers/ems_physical_infra_controller_spec.rb
  spec/controllers/host_controller_spec.rb
  spec/controllers/miq_ae_class_controller_spec.rb
  spec/controllers/miq_ae_customization_controller/old_dialogs_spec.rb
  spec/controllers/network_router_controller_spec.rb
  spec/controllers/ops_controller/diagnostics_spec.rb
  spec/controllers/ops_controller/ops_rbac_spec.rb
  spec/controllers/ops_controller/ops_rbac_user_spec.rb
  spec/controllers/ops_controller/settings/common_spec.rb
  spec/controllers/ops_controller/settings/schedules_spec.rb
  spec/controllers/provider_foreman_controller_spec.rb
  spec/controllers/pxe_controller/pxe_customization_templates_spec.rb
  spec/controllers/pxe_controller_spec.rb
  spec/controllers/report_controller_spec.rb
  spec/support/ops_user_helper.rb
Owners: none

[Changelog] Update for Sprint 113
  CHANGELOG.md
Owners: none
