Repository ManageIQ/manageiq-ui-classic, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skateman, @epwinchell, @romanblanco, @panspagetka, @martinpovolny

.github/CODEOWNERS:

# trees
app/presenters/tree_node/                         @skateman
app/presenters/tree_builder_*                     @skateman
# styling and images
app/assets/stylesheets/                           @epwinchell
app/assets/images/                                @epwinchell
# dialog editor
app/assets/javascripts/controllers/dialog_editor  @romanblanco
app/views/miq_ae_customization/editor.html.haml   @romanblanco
# toolbar buttons
app/helpers/application_helper/button/            @romanblanco @panspagetka
app/helpers/application_helper/toolbar_builder.rb @romanblanco @panspagetka @martinpovolny
# rbac
app/controllers/mixins/checked_id_mixin.rb        @romanblanco @panspagetka
# charts
lib/charting/                                     @panspagetka
lib/report_formatter/c3.rb                        @panspagetka
lib/report_formatter/c3_series.rb                 @panspagetka
lib/report_formatter/chart_common.rb              @panspagetka
app/assets/javascripts/miq_c3.js                  @panspagetka
# topology services
app/services/*topology_service.rb                 @skateman

app/controllers/mixins/custom_buttons.rb          @martinpovolny
app/controllers/mixins/generic_*.rb               @martinpovolny
app/controllers/mixins/more_show_actions.rb       @martinpovolny
app/assets/javascripts/miq_explorer.js            @martinpovolny
app/presenters/explorer_presenter.rb              @martinpovolny
app/helpers/application_helper/button/basic.rb    @martinpovolny
app/helpers/application_helper/toolbar/basic.rb   @martinpovolny
app/presenters/tree_builder.rb                    @martinpovolny
app/presenters/menu/                              @martinpovolny
app/helpers/textual_*rb                           @martinpovolny

# decorators
app/decorators/                                   @skateman

orchestration-template-form spec - fix setTimeout issues leading to sparkleOnSpy not remembering any calls
  app/javascript/spec/orchestration-template/orchestration-template-form.spec.js
Owners: none

Fix that looks at correct place for function in toolbar button
  app/javascript/components/miq-toolbar.jsx
Owners: none

Toolbar Simplification
  app/helpers/application_helper/toolbar/ansible_credential_center.rb
  app/helpers/application_helper/toolbar/ansible_credentials_center.rb
  app/helpers/application_helper/toolbar/ansible_repositories_center.rb
  app/helpers/application_helper/toolbar/ansible_repository_center.rb
  app/helpers/application_helper/toolbar/cloud_network_center.rb
  app/helpers/application_helper/toolbar/cloud_networks_center.rb
  app/helpers/application_helper/toolbar/cloud_subnet_center.rb
  app/helpers/application_helper/toolbar/cloud_subnets_center.rb
  app/helpers/application_helper/toolbar/cloud_tenant_center.rb
  app/helpers/application_helper/toolbar/cloud_tenants_center.rb
  app/helpers/application_helper/toolbar/configuration_job_center.rb
  app/helpers/application_helper/toolbar/configuration_jobs_center.rb
  app/helpers/application_helper/toolbar/container_node_center.rb
  app/helpers/application_helper/toolbar/container_nodes_center.rb
  app/helpers/application_helper/toolbar/hosts_center.rb
  app/helpers/application_helper/toolbar/vm_clouds_center.rb
  app/helpers/application_helper/toolbar/vm_infras_center.rb
  app/helpers/application_helper/toolbar/x_vm_center.rb
  app/helpers/application_helper/toolbar/x_vm_cloud_center.rb
Owners: none

Remove to_json as it's not needed anymore. And breaks data format in js.
  app/helpers/application_helper/toolbar/base.rb
  app/helpers/application_helper/toolbar/firmware_registries_center.rb
  app/helpers/application_helper/toolbar/firmware_registry_center.rb
  app/helpers/application_helper/toolbar/network_router_center.rb
  app/helpers/application_helper/toolbar/network_routers_center.rb
  app/helpers/application_helper/toolbar/optimizations_center.rb
  app/helpers/application_helper/toolbar/servicetemplate_center.rb
  app/helpers/application_helper/toolbar/servicetemplates_center.rb
Owners: none

Remove old delete_network_routers logic that is no longer used by delete buttons
  app/controllers/network_router_controller.rb
  spec/controllers/network_router_controller_spec.rb
Owners: none

Display only one Cancel button for Compare action
  app/controllers/application_controller/compare.rb
Owners: none

Convert json in string to Hash. So data format isn't broken anymore.
  app/helpers/application_helper/toolbar/generic_object_definition_center.rb
  app/helpers/application_helper/toolbar/generic_object_definitions_center.rb
  app/helpers/application_helper/toolbar/physical_storage_center.rb
  app/helpers/application_helper/toolbar/physical_storages_center.rb
Owners: none

Allow editing selected Host Aggregate
  app/controllers/mixins/ems_common.rb
Owners: none

Allow deleting Host Aggregate
  app/controllers/host_aggregate_controller.rb
  app/controllers/mixins/ems_common.rb
  config/routes.rb
  spec/controllers/host_aggregate_controller_spec.rb
  spec/controllers/mixins/ems_common_spec.rb
Owners: none

Rename ems_common_controller_spec.rb to ems_common_spec.rb
  spec/controllers/mixins/ems_common_spec.rb
Owners: none

Allow removing Host from selected Host Aggregate
  app/controllers/mixins/ems_common.rb
  spec/controllers/mixins/ems_common_spec.rb
Owners: none

Allow adding Host to selected Host Aggregate
  app/controllers/mixins/ems_common.rb
  spec/controllers/mixins/ems_common_spec.rb
Owners: none

Disable "Apply" button when all sections are deselected.
  app/controllers/application_controller/compare.rb
  app/views/layouts/listnav/_compare_sections.html.haml
  spec/controllers/application_controller/compare_spec.rb
  spec/views/layouts/listnav/_compare_sections.html.haml_spec.rb
Owners: none

Do not update breadcrumbs when ops/change_tab
  app/controllers/ops_controller.rb
  spec/controllers/ops_controller_spec.rb
Owners: none

Add Refresh button to Ansible Tower Jobs page
  app/controllers/configuration_job_controller.rb
  app/helpers/application_helper/toolbar/configuration_jobs_center.rb
Owners: none

Check button.data isn't null
  app/javascript/components/miq-toolbar.jsx
Owners: none

Allow performing SSA on Datastores in Datastore Clusters accordion
  app/controllers/application_controller/ci_processing.rb
Owners: none

Add missing ui-lookup to make it consistent
  app/views/shared/buttons/_ab_show.html.haml
Owners: none

Remove dead layouts/angular-bootstrap/_ae_resolve_options
  app/views/layouts/angular-bootstrap/_ae_resolve_options.html.haml
Owners: none

Rubocop corrections
  app/helpers/application_helper/toolbar/generic_object_definition_center.rb
  app/views/generic_object_definition/_show_list.html.haml
  spec/helpers/application_helper/toolbar_builder_spec.rb
Owners: none

Renamed 'Generic Object Classes' to 'Generic Object Definitions'
  app/assets/javascripts/components/generic_object/generic-object-definition.js
  app/controllers/generic_object_definition_controller.rb
  app/helpers/application_helper/toolbar/generic_object_definition_center.rb
  app/helpers/application_helper/toolbar/generic_object_definitions_center.rb
  app/presenters/tree_builder_generic_object_definition.rb
  app/views/generic_object_definition/_show_god.html.haml
  app/views/generic_object_definition/_show_list.html.haml
  app/views/layouts/listnav/_generic_object_definition_show_list_with_treeview.html.haml
  product/views/GenericObjectDefinition.yaml
  spec/helpers/application_helper/toolbar_builder_spec.rb
Owners: @skateman

Toolbar Simplification follow-up
  app/helpers/application_helper/toolbar/cloud/instance_operations_button_group_mixin.rb
  app/helpers/application_helper/toolbar/diagnostics_server_center.rb
  app/helpers/application_helper/toolbar/ems_cloud_center.rb
  app/helpers/application_helper/toolbar/ems_clouds_center.rb
  app/helpers/application_helper/toolbar/ems_container_center.rb
  app/helpers/application_helper/toolbar/ems_containers_center.rb
  app/helpers/application_helper/toolbar/ems_infra_center.rb
  app/helpers/application_helper/toolbar/ems_infras_center.rb
  app/helpers/application_helper/toolbar/ems_physical_infra_center.rb
  app/helpers/application_helper/toolbar/ems_physical_infras_center.rb
  app/helpers/application_helper/toolbar/firmware_registries_center.rb
  app/helpers/application_helper/toolbar/firmware_registry_center.rb
  app/helpers/application_helper/toolbar/physical_servers_center.rb
  app/helpers/application_helper/toolbar/physical_switch_center.rb
  app/helpers/application_helper/toolbar/physical_switches_center.rb
  app/helpers/application_helper/toolbar/tasks_center.rb
  app/helpers/application_helper/toolbar/template_clouds_center.rb
Owners: none

Remove zanata from README
  README.md
Owners: none

Toolbar: fix update of toolbar when starting from an empty one.
  app/javascript/components/miq-toolbar.jsx
  app/javascript/spec/toolbar/__snapshots__/miq-toolbar.spec.jsx.snap
  app/javascript/spec/toolbar/miq-generic-toolbar.spec.jsx
  app/javascript/spec/toolbar/miq-toolbar.spec.jsx
Owners: none

Adding support tool as a file depot
  app/views/static/ops/log_collection/log_collection.html.haml
Owners: none

Toolbar update - topology
  app/javascript/components/topology_toolbar.jsx
  app/javascript/spec/toolbar/__snapshots__/topology_toolbar.spec.jsx.snap
Owners: none

Added support case field
  app/assets/javascripts/components/ops/log-collection-form.js
  app/views/static/ops/log_collection/log_collection.html.haml
Owners: none

Rename towhat to resource_type
  app/controllers/miq_policy_controller.rb
  app/controllers/miq_policy_controller/conditions.rb
  app/controllers/miq_policy_controller/policies.rb
  app/controllers/miq_policy_controller/policy_profiles.rb
  app/controllers/ops_controller/settings/schedules.rb
  app/helpers/application_helper/toolbar/condition_center.rb
  app/helpers/application_helper/toolbar/miq_policy_center.rb
  app/presenters/tree_builder_condition.rb
  app/presenters/tree_builder_policy.rb
  app/presenters/tree_builder_policy_profile.rb
  app/presenters/tree_builder_protect.rb
  app/presenters/tree_node/miq_policy.rb
  app/views/miq_policy/_action_details.html.haml
  app/views/miq_policy/_condition_details.html.haml
  app/views/miq_policy/_condition_list.html.haml
  app/views/miq_policy/_event_details.html.haml
  app/views/miq_policy/_policy_details.html.haml
  app/views/miq_policy/_profile_details.html.haml
  spec/controllers/miq_policy_controller/policies_spec.rb
  spec/presenters/tree_builder_protect_spec.rb
  spec/presenters/tree_node/miq_policy_spec.rb
  spec/services/widget_import_service_spec.rb
Owners: @skateman

Pleasing Rubocop
  app/controllers/miq_policy_controller/conditions.rb
  app/controllers/ops_controller/settings/schedules.rb
  app/presenters/tree_builder_condition.rb
  spec/presenters/tree_node/miq_policy_spec.rb
  spec/services/widget_import_service_spec.rb
Owners: @skateman

Fix toolbar initialization.
  app/javascript/components/miq-toolbar.jsx
Owners: none

Display only one Back button for Policy simulation
  app/controllers/vm_common.rb
  spec/controllers/vm_common_spec.rb
Owners: none

Merge pull request #5663 from romanblanco/bz1707614
  app/services/ansible_tower_job_template_dialog_service.rb
  spec/services/ansible_tower_job_template_dialog_service_spec.rb
Owners: none

Merge pull request #5710 from epwinchell/1720216
  app/controllers/application_controller/filter.rb
Owners: none

Toolbar: pass keepSpinner to the toolbar.
  app/helpers/application_helper/toolbar_builder.rb
Owners: @romanblanco, @panspagetka, @martinpovolny

Fix edit of GOD custom button
  app/assets/javascripts/components/generic_object/main-custom-button-form.js
Owners: none

Remove the rest of storeUserFeatures
  app/assets/javascripts/miq_application.js
Owners: none

miqToggleUserOptions(group_id) - rename to miqChangeGroup, use string id
  app/assets/javascripts/miq_application.js
  app/views/layouts/_user_options.html.haml
Owners: none

Prevent login redirect during change_group
  app/assets/javascripts/miq_application.js
  app/assets/javascripts/miq_global.js
Owners: none

Changes to make it compatible with Toolbar conversion to React
  app/helpers/application_helper/button/basic.rb
  app/helpers/application_helper/button/generic_object_definition_button_button_group_delete.rb
  app/helpers/application_helper/toolbar_builder.rb
Owners: @martinpovolny, @romanblanco, @panspagetka

Revert change from #6214 as it's no longer needed
  app/assets/javascripts/components/generic_object/generic-object-definition-toolbar.js
Owners: none
