Repository ManageIQ/manageiq-ui-classic, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skateman, @epwinchell, @romanblanco, @panspagetka, @martinpovolny

Remove pending specs from Automation Manager controller
  spec/controllers/automation_manager_controller_spec.rb
Owners: none

Dialog sample - fix render dropdowns
  app/views/miq_ae_customization/_dialog_sample.html.haml
Owners: none

Refactor resource_pool controller, make Edit VM thru Resource Pool work
  app/controllers/mixins/generic_button_mixin.rb
  app/controllers/resource_pool_controller.rb
  spec/controllers/resource_pool_controller_spec.rb
Owners: @martinpovolny

Merge pull request #6607 from hstastna/Error_reconfigure_VMs_nested_list
  app/controllers/application_controller/ci_processing.rb
  spec/controllers/application_controller/ci_processing_spec.rb
  spec/controllers/resource_pool_controller_spec.rb
Owners: none

Allow importing Tags for VM using a CSV file
  app/controllers/ops_controller/settings/upload.rb
  spec/controllers/ops_controller/settings/upload_spec.rb
Owners: none

Merge pull request #6530 from martinpovolny/ansible_automate_methods_more
  app/views/layouts/angular/_ansible_form_options_angular.html.haml
  app/views/miq_ae_class/_angular_inputs_form.html.haml
Owners: none

With streaming refresh reset_vim_cache not needed
  app/controllers/ops_controller/diagnostics.rb
Owners: none

Fix rubocop in Mixins::FindRecord
  app/controllers/mixins/find_record.rb
Owners: none

Fix rubocop in Mixins::GenericShowMixin
  app/controllers/mixins/generic_show_mixin.rb
Owners: @martinpovolny

Update session[:host_items] also if 1 Host selected for edit
  app/controllers/application_controller/ci_processing.rb
  spec/controllers/application_controller/ci_processing_spec.rb
Owners: none

Merge css in main with application, extract branding
  app/assets/stylesheets/application.css
  app/assets/stylesheets/application.scss
  lib/manageiq/ui/classic/engine.rb
  vendor/assets/stylesheets/brand.scss
Owners: @epwinchell

Fixes extra attributes(:service_template, :hosts) from a user's custom attributes
  app/assets/javascripts/components/generic_object/main-custom-button-form.js
Owners: none

Merge pull request #5876 from hstastna/No_route_compare_Datastores_VMs
  config/routes.rb
Owners: none

Merge pull request #6585 from mzazrivec/fix_vm_and_instance_retirement_from_workflow_screen
  app/controllers/mixins/actions/vm_actions/retire.rb
Owners: none

Remove duplicate report styling
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/patternfly_overrides.scss
  app/assets/stylesheets/print.scss
  app/assets/stylesheets/report_colors.scss
  config/initializers/assets.rb
Owners: @epwinchell

Fix rubocop in Mixins::ListnavMixin
  app/controllers/mixins/listnav_mixin.rb
Owners: none

Do not store Performance::Options instances in the session
  app/controllers/application_controller.rb
  app/controllers/application_controller/performance.rb
  app/controllers/application_controller/performance/options.rb
Owners: none

Add Valid Status column to the list view of Service Catalog Items
  product/views/ServiceTemplate.yaml
Owners: none

Disable Order button for invalid Services in the list view
  app/controllers/application_controller.rb
  app/controllers/catalog_controller.rb
Owners: none

Disable Order button and add flash message to Catalog Item's details
  app/controllers/catalog_controller.rb
  app/views/catalog/_svccat_tree_show.html.haml
  spec/controllers/catalog_controller_spec.rb
  spec/views/catalog/_svccat_tree_show.html.haml_spec.rb
Owners: none

Refactor setting filter's description in _show_list template
  app/helpers/application_helper.rb
  app/views/layouts/listnav/_show_list.html.haml
Owners: none

Add check for @edit to fix error when cloning VMS displayed thru Host
  app/helpers/application_helper.rb
  spec/views/layouts/listnav/_show_list.html.haml_spec.rb
Owners: none

Move logic regarding li_class to app helper, simplify it
  app/helpers/application_helper.rb
  app/views/layouts/listnav/_show_list.html.haml
  spec/views/layouts/listnav/_show_list.html.haml_spec.rb
Owners: none

Render error messsage after Clone action, do not redirect
  app/controllers/host_controller.rb
Owners: none

Use the backend logic for zone deletion
  app/helpers/application_helper/button/zone_delete.rb
  spec/helpers/application_helper/buttons/zone_delete_spec.rb
Owners: @romanblanco, @panspagetka

Allow non-JSON responses in miqFetch (add `options.skipJsonParsing`)
  app/javascript/http_api/fetch.js
Owners: none

Initial commit for using cypress for integration tests
  .gitignore
  cypress.json
  cypress/integration/ui/login.spec.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  package.json
Owners: none

Fix rubocop in Mixins::ContainersCommonMixin
  app/controllers/mixins/containers_common_mixin.rb
Owners: none

Fix rubocop in Mixins::EmsCommon::Core
  app/controllers/mixins/ems_common/core.rb
Owners: none

Fix rubocop in Mixins::EmsCommon
  app/controllers/mixins/ems_common.rb
Owners: none

Fix rubocop in Mixins::ManagerControllerMixin
  app/controllers/mixins/manager_controller_mixin.rb
Owners: none

Fix ENGINE_PATH to point to the correct engine file
  bin/rails
Owners: none

Add APP_PATH to allow using Rails directly
  bin/rails
Owners: none

Fix rubocop Mixins::Sandbox
  app/controllers/mixins/sandbox.rb
Owners: none

remote_consoles - use jquery from npm, not jquery-rails
  app/assets/javascripts/remote_consoles/spice.js
  app/assets/javascripts/remote_consoles/vnc.js
  app/assets/javascripts/remote_consoles/webmks.js
Owners: none

test coveralls 0.8 instead of 0.7 on travis
  manageiq-ui-classic.gemspec
Owners: none

force harder
  manageiq-ui-classic.gemspec
Owners: none

Change update:ui to no longer worry about missing engines
  lib/tasks/manageiq/ui_tasks.rake
Owners: none

Fix rubocop in Mixins::ServiceDialogCreationMixin
  app/controllers/mixins/service_dialog_creation_mixin.rb
Owners: none

Fix rubocop in Mixins::StartUrl
  app/controllers/mixins/start_url.rb
Owners: none

.github/CODEOWNERS:

# trees
app/presenters/tree_node/                         @skateman
app/presenters/tree_builder_*                     @skateman
# styling and images
app/assets/stylesheets/                           @epwinchell
app/assets/images/                                @epwinchell
# dialog editor
app/assets/javascripts/controllers/dialog_editor  @romanblanco
app/views/miq_ae_customization/editor.html.haml   @romanblanco
# toolbar buttons
app/helpers/application_helper/button/            @romanblanco @panspagetka
app/helpers/application_helper/toolbar_builder.rb @romanblanco @panspagetka @martinpovolny
# rbac
app/controllers/mixins/checked_id_mixin.rb        @romanblanco @panspagetka
# charts
lib/charting/                                     @panspagetka
lib/report_formatter/c3.rb                        @panspagetka
lib/report_formatter/c3_series.rb                 @panspagetka
lib/report_formatter/chart_common.rb              @panspagetka
app/assets/javascripts/miq_c3.js                  @panspagetka
# topology services
app/services/*topology_service.rb                 @skateman

app/controllers/mixins/custom_buttons.rb          @martinpovolny
app/controllers/mixins/generic_*.rb               @martinpovolny
app/controllers/mixins/more_show_actions.rb       @martinpovolny
app/assets/javascripts/miq_explorer.js            @martinpovolny
app/presenters/explorer_presenter.rb              @martinpovolny
app/helpers/application_helper/button/basic.rb    @martinpovolny
app/helpers/application_helper/toolbar/basic.rb   @martinpovolny
app/presenters/tree_builder.rb                    @martinpovolny
app/presenters/menu/                              @martinpovolny
app/helpers/textual_*rb                           @martinpovolny

# decorators
app/decorators/                                   @skateman
