Repository ManageIQ/manageiq-ui-classic, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skateman, @epwinchell, @romanblanco, @panspagetka, @martinpovolny

.github/CODEOWNERS:

# trees
app/presenters/tree_node/                         @skateman
app/presenters/tree_builder_*                     @skateman
# styling and images
app/assets/stylesheets/                           @epwinchell
app/assets/images/                                @epwinchell
# dialog editor
app/assets/javascripts/controllers/dialog_editor  @romanblanco
app/views/miq_ae_customization/editor.html.haml   @romanblanco
# toolbar buttons
app/helpers/application_helper/button/            @romanblanco @panspagetka
app/helpers/application_helper/toolbar_builder.rb @romanblanco @panspagetka @martinpovolny
# rbac
app/controllers/mixins/checked_id_mixin.rb        @romanblanco @panspagetka
# charts
lib/charting/                                     @panspagetka
lib/report_formatter/c3.rb                        @panspagetka
lib/report_formatter/c3_series.rb                 @panspagetka
lib/report_formatter/chart_common.rb              @panspagetka
app/assets/javascripts/miq_c3.js                  @panspagetka
# topology services
app/services/*topology_service.rb                 @skateman

app/controllers/mixins/custom_buttons.rb          @martinpovolny
app/controllers/mixins/generic_*.rb               @martinpovolny
app/controllers/mixins/more_show_actions.rb       @martinpovolny
app/assets/javascripts/miq_explorer.js            @martinpovolny
app/presenters/explorer_presenter.rb              @martinpovolny
app/helpers/application_helper/button/basic.rb    @martinpovolny
app/helpers/application_helper/toolbar/basic.rb   @martinpovolny
app/presenters/tree_builder.rb                    @martinpovolny
app/presenters/menu/                              @martinpovolny
app/helpers/textual_*rb                           @martinpovolny

# decorators
app/decorators/                                   @skateman

Remove failing miq-toolbar snapshot test
  app/javascript/spec/toolbar/__snapshots__/miq-toolbar.spec.jsx.snap
  app/javascript/spec/toolbar/miq-toolbar.spec.jsx
Owners: none

Support detail features for VM reconfigure.
  app/views/vm_common/_reconfigure.html.haml
Owners: none

VM Reconfigure form: separate perms for various parts.
  app/views/vm_common/_reconfigure.html.haml
Owners: none

VM Reconfigure button: special handling of permissions.
  app/helpers/application_helper/button/basic.rb
  app/helpers/application_helper/button/vm_reconfigure.rb
Owners: @martinpovolny, @romanblanco, @panspagetka

Reconfigure: remove unused aliases for instances and miq_template.
  app/controllers/mixins/actions/vm_actions/reconfigure.rb
Owners: none

Reconfigure form: deal with both image and vm case.
  app/views/vm_common/_reconfigure.html.haml
Owners: none

Reconfigure: collect only values permitted for the role.
  app/controllers/mixins/actions/vm_actions/reconfigure.rb
Owners: none

Reconfigure: remove extra rbac check that would not work for images.
  app/controllers/mixins/actions/vm_actions/reconfigure.rb
Owners: none

Don't access options when null
  app/assets/javascripts/controllers/ansible_credentials/ansible_credentials_form_controller.js
Owners: none

Fix rubocop in EmsNetworkController
  app/controllers/ems_network_controller.rb
Owners: none

Fix rubocop in EmsPhysicalInfraController
  app/controllers/ems_physical_infra_controller.rb
Owners: none

Fix rubocop in ApplicationController
  app/controllers/application_controller.rb
Owners: none

Fix rubocop in ApplicationController::AdvancedSearch
  app/controllers/application_controller/advanced_search.rb
Owners: none

Fix rubocop in ApplicationController::Buttons
  app/controllers/application_controller/buttons.rb
Owners: none

Fix rubocop in ApplicationController::CiProcessing
  app/controllers/application_controller/ci_processing.rb
Owners: none

Fix rubocop in ApplicationController::Compare
  app/controllers/application_controller/compare.rb
Owners: none

Fix rubocop in ApplicationController::DialogRunner
  app/controllers/application_controller/dialog_runner.rb
Owners: none

Fix rubocop in ApplicationController::Explorer
  app/controllers/application_controller/explorer.rb
Owners: none

Fix rubocop in ApplicationController::Filter::Expression
  app/controllers/application_controller/filter/expression.rb
Owners: none

Fix rubocop in ApplicationController::Filter
  app/controllers/application_controller/filter.rb
Owners: none

Remove currentGroup defined condition in user-opt
  app/javascript/components/top-navbar/user-options.jsx
Owners: none

Move getTargetByType function to global helpers
  app/javascript/components/main-menu/helpers.js
  app/javascript/components/main-menu/second-level.jsx
  app/javascript/components/main-menu/third-level.jsx
  app/javascript/components/main-menu/top-level.jsx
  app/javascript/helpers/get-target-by-type.js
  app/javascript/spec/top-navbar/__snapshots__/top-navbar.spec.js.snap
Owners: none

Created notifications component
  app/assets/javascripts/controllers/header/header_controller.js
  app/assets/javascripts/services/event_notifications_service.js
  app/javascript/components/top-navbar/notifications.jsx
  app/javascript/miq-redux/store.js
Owners: none

Add prefix "navbar." in _right_section.html.haml
  app/views/layouts/_right_section.html.haml
Owners: none

Created top-navbar tests
  app/javascript/components/top-navbar/recursive-props.js
  app/javascript/packs/component-definitions-common.js
  app/javascript/spec/helpers/miqCheckForChanges.js
  app/javascript/spec/helpers/miqToggleUserOptions.js
  app/javascript/spec/helpers/sendDataWithRx.js
  app/javascript/spec/top-navbar/__snapshots__/top-navbar.spec.js.snap
  app/javascript/spec/top-navbar/top-navbar.spec.js
Owners: none

Created superior right-section component
  app/assets/stylesheets/main.scss
  app/javascript/components/top-navbar/right-section.jsx
  app/views/layouts/_header.html.haml
  app/views/layouts/_right_section.html.haml
  app/views/layouts/_user_options.html.haml
Owners: @epwinchell

Merge menu_to_json() used in top and vertical nav
  app/helpers/application_helper/navbar.rb
  app/javascript/components/main-menu/top-level.jsx
  app/javascript/components/top-navbar/help.jsx
  app/javascript/components/top-navbar/helpers.js
  app/javascript/components/top-navbar/user-options.jsx
Owners: none

Created user-options component
  app/javascript/components/top-navbar/user-options.jsx
Owners: none

Main-menu and top-navbar tests update
  app/javascript/spec/main-menu/__snapshots__/main-menu.spec.js.snap
  app/javascript/spec/main-menu/main-menu.spec.js
  app/javascript/spec/top-navbar/__snapshots__/top-navbar.spec.js.snap
  app/javascript/spec/top-navbar/top-navbar.spec.js
Owners: none

Added element parameter to ReactjsHelper
  app/helpers/reactjs_helper.rb
Owners: none

Update snapshots
  app/javascript/spec/top-navbar/__snapshots__/top-navbar.spec.js.snap
Owners: none

Changed icon styling and user_options template
  app/assets/stylesheets/main.scss
  app/javascript/packs/component-definitions-common.js
  app/views/layouts/_user_options.html.haml
Owners: @epwinchell

Update recursive-props after props renaming
  app/javascript/components/main-menu/recursive-props.js
  app/javascript/components/top-navbar/recursive-props.js
Owners: none

Use getTargetByType function in help-menu
  app/javascript/components/top-navbar/help.jsx
Owners: none

Updated tests
  app/javascript/spec/helpers/miqChangeGroup.js
  app/javascript/spec/top-navbar/top-navbar.spec.js
Owners: none

Added PropTypes and sorted component definitions
  app/javascript/components/top-navbar/configuration.jsx
  app/javascript/components/top-navbar/help.jsx
  app/javascript/components/top-navbar/recursive-props.js
  app/javascript/components/top-navbar/right-section.jsx
  app/javascript/components/top-navbar/user-options.jsx
Owners: none

Update snapshots
  app/javascript/spec/top-navbar/__snapshots__/top-navbar.spec.js.snap
Owners: none

Created custom-logo component
  app/javascript/components/top-navbar/custom-logo.jsx
Owners: none

Add target to HelpMenu item
  app/javascript/components/top-navbar/help.jsx
Owners: none

Created configuration component
  app/javascript/components/top-navbar/configuration.jsx
Owners: none
