Repository ManageIQ/manageiq-ui-classic, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skateman, @epwinchell, @romanblanco, @panspagetka, @martinpovolny

.github/CODEOWNERS:

# trees
app/presenters/tree_node/                         @skateman
app/presenters/tree_builder_*                     @skateman
# styling and images
app/assets/stylesheets/                           @epwinchell
app/assets/images/                                @epwinchell
# dialog editor
app/assets/javascripts/controllers/dialog_editor  @romanblanco
app/views/miq_ae_customization/editor.html.haml   @romanblanco
# toolbar buttons
app/helpers/application_helper/button/            @romanblanco @panspagetka
app/helpers/application_helper/toolbar_builder.rb @romanblanco @panspagetka @martinpovolny
# rbac
app/controllers/mixins/checked_id_mixin.rb        @romanblanco @panspagetka
# charts
lib/charting/                                     @panspagetka
lib/report_formatter/c3.rb                        @panspagetka
lib/report_formatter/c3_series.rb                 @panspagetka
lib/report_formatter/chart_common.rb              @panspagetka
app/assets/javascripts/miq_c3.js                  @panspagetka
# topology services
app/services/*topology_service.rb                 @skateman

app/controllers/mixins/custom_buttons.rb          @martinpovolny
app/controllers/mixins/generic_*.rb               @martinpovolny
app/controllers/mixins/more_show_actions.rb       @martinpovolny
app/assets/javascripts/miq_explorer.js            @martinpovolny
app/presenters/explorer_presenter.rb              @martinpovolny
app/helpers/application_helper/button/basic.rb    @martinpovolny
app/helpers/application_helper/toolbar/basic.rb   @martinpovolny
app/presenters/tree_builder.rb                    @martinpovolny
app/presenters/menu/                              @martinpovolny
app/helpers/textual_*rb                           @martinpovolny

# decorators
app/decorators/                                   @skateman

Ansible Credential textual summary - show nicer error when credential class is missing API_ATTRIBUTES
  app/helpers/ansible_credential_helper/textual_summary.rb
Owners: none

Migrated add orcherstration form to data driven forms.
  app/controllers/catalog_controller.rb
  app/javascript/components/orchestration-template/orcherstration-template-form.js
  app/javascript/components/orchestration-template/orchestration-template-form.schema.js
  app/javascript/packs/component-definitions-common.js
  app/views/catalog/_ot_add.html.haml
Owners: none

Added react code editor component.
  app/assets/stylesheets/application.css
  app/assets/stylesheets/codemirror_editor.scss
  app/assets/stylesheets/main.scss
  app/javascript/components/code-editor/index.js
  app/javascript/forms/mappers/formsFieldsMapper.jsx
  package.json
Owners: @epwinchell

Use API for orcherstration template adding.
  app/javascript/components/code-editor/index.js
  app/javascript/components/orchestration-template/orcherstration-template-form.js
  app/javascript/components/orchestration-template/orchestration-template-form.schema.js
Owners: none

Added tests for orchestration template form.
  app/javascript/components/code-editor/index.js
  app/javascript/components/orchestration-template/orcherstration-template-form.js
  app/javascript/spec/code-editor/__snapshots__/code-editor.spec.js.snap
  app/javascript/spec/code-editor/code-editor.spec.js
  app/javascript/spec/orchestration-template/orchestration-template-form.spec.js
  config/jest.setup.js
Owners: none

Removed add orchestration dialing methods.
  app/controllers/catalog_controller.rb
  config/routes.rb
  spec/controllers/catalog_controller_spec.rb
  spec/views/catalog/_ot_add.html.haml_spec.rb
Owners: none

Added form control styling to data driven code editor.
  app/assets/stylesheets/codemirror_editor.scss
  app/javascript/components/code-editor/index.js
  app/javascript/components/orchestration-template/orchestration-template-form.schema.js
  app/javascript/forms/required-label.jsx
  app/javascript/spec/code-editor/__snapshots__/code-editor.spec.js.snap
Owners: @epwinchell

Added edit variant to orchestration template form.
  app/controllers/catalog_controller.rb
  app/javascript/components/orchestration-template/orcherstration-template-form.js
  app/javascript/components/orchestration-template/orchestration-template-form.schema.js
  app/javascript/spec/orchestration-template/orchestration-template-form.spec.js
  app/views/catalog/_ot_edit.html.haml
  config/routes.rb
  spec/controllers/catalog_controller_spec.rb
  spec/routing/catalog_routing_spec.rb
Owners: none

Added asyns managers load to ot add form.
  app/assets/stylesheets/application.css
  app/controllers/catalog_controller.rb
  app/javascript/components/orchestration-template/orcherstration-template-form.js
  app/javascript/components/orchestration-template/orchestration-template-form.schema.js
  config/routes.rb
Owners: @epwinchell

Removed button actions for orchestration template forms from controller.
  app/controllers/catalog_controller.rb
  config/routes.rb
Owners: none

Added copy variant of orchestration template form.
  app/controllers/catalog_controller.rb
  app/javascript/components/orchestration-template/orcherstration-template-form.js
  app/javascript/components/orchestration-template/orchestration-template-form.schema.js
  app/javascript/spec/orchestration-template/orchestration-template-form.spec.js
  app/views/catalog/_ot_copy.html.haml
  spec/controllers/catalog_controller_spec.rb
  spec/routing/catalog_routing_spec.rb
Owners: none

Increased size of Description field
  app/views/ops/_category_form.html.haml
Owners: none

Initial commit for clone dashboards
  app/controllers/report_controller.rb
  app/controllers/report_controller/dashboards.rb
  app/helpers/application_helper/toolbar/miq_widget_set_center.rb
  app/javascript/components/dashboard-form/dashboard-form.jsx
  app/javascript/components/dashboard-form/dashboard-form.schema.js
  app/javascript/packs/component-definitions-common.js
  app/views/report/_db_form.html.haml
  config/routes.rb
Owners: none

Add button for opening VM in its remote region
  app/controllers/vm_common.rb
  app/helpers/textual_mixins/textual_region.rb
  app/helpers/vm_helper/textual_summary.rb
Owners: none

Don't repeat error message
  app/assets/javascripts/components/generic_object/custom-image.js
Owners: none

Removes deprecated GraphQL menu
  app/presenters/menu/default_menu.rb
Owners: @martinpovolny

Append a class on <body> on each page if the login branding is custom
  app/assets/stylesheets/about_modal_background.scss
  app/views/layouts/application.html.haml
Owners: @epwinchell

ot_add_form_field_changed - remove dead method
  app/controllers/catalog_controller.rb
  config/routes.rb
Owners: none

Codemirror - :read_only => true didn't imply no cursor
  app/assets/javascripts/miq_application.js
Owners: none

Trigger react code editor refresh after change and after mount.
  app/javascript/components/code-editor/index.js
  app/javascript/spec/code-editor/__snapshots__/code-editor.spec.js.snap
Owners: none

Orchestration templates - fix Cannot read property refresh of null
  app/views/catalog/_ot_tree_show.html.haml
Owners: none

Fix for broken automate tree picker in dialog editor.
  app/controllers/tree_controller.rb
Owners: none

Disable Save/Reset tagging buttons when there are no changes https://bugzilla.redhat.com/show_bug.cgi?id=1719184
  app/javascript/components/taggingWrapper.jsx
Owners: none

Update react-ui-components to 0.11.23
  package.json
Owners: none

Merge pull request #5685 from skateman/about-modal-background
  app/assets/stylesheets/about_modal_background.scss
  app/assets/stylesheets/main.scss
  app/views/layouts/application.html.haml
  app/views/layouts/login.html.haml
Owners: @epwinchell

Remove typescript typings
  app/javascript/miq-component/component-typings.ts
  app/javascript/miq-redux/redux-typings.ts
  app/javascript/typings/globals.d.ts
Owners: none

Convert .ts, .tsx to .js, .jsx
  app/javascript/miq-component/helpers.js
  app/javascript/miq-component/react-blueprint.jsx
  app/javascript/miq-component/react-history.js
  app/javascript/miq-component/registry.js
  app/javascript/miq-component/utils.js
  app/javascript/miq-redux/store.js
  app/javascript/packs/application-common.js
  app/javascript/spec/miq-component/helpers.spec.js
  app/javascript/spec/miq-redux/redux-router-actions.spec.js
Owners: none

Drop typescript, @types/* and awesome-typescript-loader
  config/webpack/loaders.js
  package.json
Owners: none

miq-component.spec - fix ts import
  app/javascript/spec/miq-component/miq-component.spec.js
Owners: none

typescript removal - typo fixes and style cleanups
  app/javascript/miq-component/react-history.js
  app/javascript/miq-component/registry.js
  app/javascript/miq-component/utils.js
Owners: none

fix mapPropsToInteract is not a function
  app/javascript/miq-component/react-blueprint.jsx
Owners: none

Use a general path that works for compiled/uncompiled assets
  spec/services/infra_topology_service_spec.rb
Owners: none

5.1 AC::Parameters doesn't have each_value, use each
  app/controllers/ops_controller/settings/common.rb
Owners: none

miq-component spec - fix spec by defaulting mountTo to undefined
  app/javascript/miq-component/registry.js
Owners: none

Test emses with actual leaf subclasses
  spec/controllers/application_controller/ci_processing_spec.rb
  spec/controllers/application_controller_spec.rb
  spec/controllers/ems_cloud_controller_spec.rb
  spec/controllers/ems_common_controller_spec.rb
  spec/controllers/ems_infra_controller_spec.rb
  spec/controllers/ems_physical_infra_controller_spec.rb
  spec/controllers/ems_storage_controller_spec.rb
  spec/controllers/ops_controller/settings/common_spec.rb
  spec/controllers/ops_controller/settings/schedules_spec.rb
  spec/controllers/orchestration_stack_controller_spec.rb
  spec/controllers/vm_common_spec.rb
  spec/helpers/application_helper/buttons/ems_refresh_spec.rb
  spec/helpers/application_helper/buttons/ems_storage_timeline_spec.rb
  spec/helpers/application_helper/buttons/physical_server_provision_spec.rb
  spec/helpers/application_helper/buttons/set_ownership_spec.rb
  spec/helpers/application_helper/buttons/zone_delete_spec.rb
  spec/helpers/application_helper_spec.rb
  spec/helpers/ems_cloud_helper/textual_summary_spec.rb
  spec/helpers/ems_infra_helper/textual_summary_spec.rb
  spec/helpers/ems_network_helper/textual_summary_spec.rb
  spec/helpers/ems_physical_infra_helper/textual_summary_spec.rb
  spec/helpers/ems_storage_helper/textual_summary_spec.rb
  spec/helpers/generic_object_helper/textual_summary_spec.rb
  spec/helpers/report_helper/editor_spec.rb
  spec/presenters/tree_builder_smartproxy_affinity_spec.rb
  spec/presenters/tree_node/ext_management_system_spec.rb
  spec/services/ems_cloud_dashboard_service_spec.rb
  spec/services/ems_infra_dashboard_service_spec.rb
  spec/services/topology_service_spec.rb
  spec/views/shared/views/ems_common/_show.html.haml_spec.rb
Owners: none

WIP Don't merge. Testing breakages.
  bin/setup
Owners: none

Add Tenant name to Cloud/Infra Providers' list view
  product/views/ManageIQ_Providers_CloudManager.yaml
  product/views/ManageIQ_Providers_InfraManager.yaml
Owners: none

Add specs for Tenant name in the list view for Automate Domain
  spec/views/miq_ae_class/_ns_list.html.haml_spec.rb
Owners: none

Add Tenant relationship in Providers' Summary view
  app/helpers/ems_cloud_helper/textual_summary.rb
  app/helpers/ems_infra_helper/textual_summary.rb
Owners: none

Add tenant to textual summary specs for ems infra and cloud helpers
  spec/helpers/ems_cloud_helper/textual_summary_spec.rb
  spec/helpers/ems_infra_helper/textual_summary_spec.rb
  spec/shared/helpers/textual_summary_helper_methods.rb
Owners: none
