Repository ManageIQ/manageiq-ui-classic, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skateman, @epwinchell, @romanblanco, @panspagetka, @martinpovolny

.github/CODEOWNERS:

# trees
app/presenters/tree_node/                         @skateman
app/presenters/tree_builder_*                     @skateman
# styling and images
app/assets/stylesheets/                           @epwinchell
app/assets/images/                                @epwinchell
# dialog editor
app/assets/javascripts/controllers/dialog_editor  @romanblanco
app/views/miq_ae_customization/editor.html.haml   @romanblanco
# toolbar buttons
app/helpers/application_helper/button/            @romanblanco @panspagetka
app/helpers/application_helper/toolbar_builder.rb @romanblanco @panspagetka @martinpovolny
# rbac
app/controllers/mixins/checked_id_mixin.rb        @romanblanco @panspagetka
# charts
lib/charting/                                     @panspagetka
lib/report_formatter/c3.rb                        @panspagetka
lib/report_formatter/c3_series.rb                 @panspagetka
lib/report_formatter/chart_common.rb              @panspagetka
app/assets/javascripts/miq_c3.js                  @panspagetka
# topology services
app/services/*topology_service.rb                 @skateman

app/controllers/mixins/custom_buttons.rb          @martinpovolny
app/controllers/mixins/generic_*.rb               @martinpovolny
app/controllers/mixins/more_show_actions.rb       @martinpovolny
app/assets/javascripts/miq_explorer.js            @martinpovolny
app/presenters/explorer_presenter.rb              @martinpovolny
app/helpers/application_helper/button/basic.rb    @martinpovolny
app/helpers/application_helper/toolbar/basic.rb   @martinpovolny
app/presenters/tree_builder.rb                    @martinpovolny
app/presenters/menu/                              @martinpovolny
app/helpers/textual_*rb                           @martinpovolny

# decorators
app/decorators/                                   @skateman

Changed wording for consistency
  app/javascript/angular/dashboard/widget-footer.js
Owners: none

Merge pull request #6201 from ZitaNemeckova/order
  app/controllers/miq_request_controller.rb
Owners: none

Check for nil before using @ems.attr.count
  app/services/ems_dashboard_service.rb
Owners: none

Refactoring and spec test
  app/services/ems_dashboard_service.rb
  spec/services/ems_dashboard_service_spec.rb
Owners: none

Add the selected accessor to TreeNode::Node and clean up its to_h
  app/presenters/tree_node/node.rb
Owners: @skateman

Switch find_by_* to lookup_by_*
  app/controllers/application_controller/current_user.rb
  app/controllers/application_controller/miq_request_methods.rb
  app/controllers/application_controller/performance.rb
  app/controllers/miq_ae_class_controller.rb
  app/controllers/miq_policy_controller/miq_actions.rb
  app/controllers/ops_controller/settings/label_tag_mapping.rb
  app/controllers/ops_controller/settings/tags.rb
  app/controllers/report_controller/reports/editor.rb
  app/controllers/report_controller/schedules.rb
  app/services/user_validation_service.rb
  spec/controllers/application_controller/performance_spec.rb
  spec/controllers/report_controller_spec.rb
Owners: none

Call TreeBuilder#override on TreeNode objects instead of hashes
  app/presenters/tree_builder.rb
  app/presenters/tree_builder_alert_profile_obj.rb
  app/presenters/tree_builder_automate.rb
  app/presenters/tree_builder_automate_catalog.rb
  app/presenters/tree_builder_automate_entrypoint.rb
  app/presenters/tree_builder_belongs_to_hac.rb
  app/presenters/tree_builder_belongs_to_vat.rb
  app/presenters/tree_builder_compliance_history.rb
  app/presenters/tree_builder_ems_folders.rb
  app/presenters/tree_builder_infra_networking.rb
  app/presenters/tree_builder_network.rb
  app/presenters/tree_builder_resource_pools.rb
  app/presenters/tree_builder_roles_by_server.rb
  app/presenters/tree_builder_servers_by_role.rb
  app/presenters/tree_builder_smartproxy_affinity.rb
  app/presenters/tree_builder_storage_adapters.rb
  app/presenters/tree_builder_tenants.rb
  app/presenters/tree_builder_utilization.rb
  spec/presenters/tree_builder_alert_profile_obj_spec.rb
Owners: @martinpovolny, @skateman

resizable_sidebar
  app/javascript/spec/helpers/old_js_file_require_helper.js
  app/javascript/spec/old_js/resizable_sidebar.spec.js
Owners: none

From Jasmine to Jest conversion
  app/assets/javascripts/miq_application.js
  app/javascript/spec/helpers/old_js_file_require_helper.js
  app/javascript/spec/old_js/fields.spec.js
  app/javascript/spec/old_js/miq_api.spec.js
Owners: none

Resolve setFixtures function
  app/assets/javascripts/miq_flash.js
  app/javascript/spec/helpers/old_js_file_require_helper.js
  app/javascript/spec/helpers/set_fixtures_helper.js
  app/javascript/spec/old_js/miq_flash.spec.js
Owners: none

miq_grid
  app/assets/javascripts/miq_application.js
  app/javascript/spec/helpers/old_js_file_require_helper.js
  app/javascript/spec/old_js/miq_grid.spec.js
  spec/javascripts/miq_tree_spec.js
Owners: none

Add Region to subscription
  app/views/ops/_settings_replication_tab.html.haml
Owners: none

Fix missing name of deleted GOD Button/ButtonGroup
  app/assets/javascripts/components/generic_object/generic-object-definition-toolbar.js
Owners: none

Merge pull request #6170 from himdel/amazon-assume-role
  app/assets/javascripts/controllers/ems_common/ems_common_form_controller.js
  app/controllers/mixins/ems_common/angular.rb
  app/views/layouts/angular/_multi_auth_credentials.html.haml
  spec/controllers/ems_cloud_controller_spec.rb
  spec/controllers/mixins/ems_common/angular_spec.rb
  spec/javascripts/controllers/ems_common/ems_common_form_controller_spec.js
Owners: none

miq_list_grid
  app/assets/javascripts/miq_list_grid.js
  app/javascript/spec/helpers/old_js_file_require_helper.js
  app/javascript/spec/old_js/miq_list_grid.spec.js
Owners: none

miq_toolbar
  app/javascript/spec/helpers/old_js_file_require_helper.js
  app/javascript/spec/old_js/miq_toolbar.spec.js
Owners: none

Remove spec of non-existent function API.login
  app/javascript/spec/old_js/miq_api.spec.js
Owners: none

Mock Spinner
  app/javascript/spec/helpers/old_js_file_require_helper.js
  jest.config.js
Owners: none

Resolve miq_tree_spec
  app/assets/javascripts/miq_tree.js
  app/javascript/spec/helpers/old_js_file_require_helper.js
  app/javascript/spec/old_js/miq_tree.spec.js
Owners: none

get jQuery
  app/assets/javascripts/miq_application.js
  app/javascript/spec/helpers/old_js_file_require_helper.js
  app/javascript/spec/old_js/resizable_sidebar.spec.js
Owners: none

Add missing moment and sprintf
  app/javascript/spec/helpers/miq_formatters_helper.js
  app/javascript/spec/old_js/miq_formatters.spec.js
  jest.config.js
Owners: none

Add missing lodash
  app/javascript/spec/helpers/miq_formatters_helper.js
  app/javascript/spec/helpers/old_js_file_require_helper.js
  app/javascript/spec/old_js/resizable_sidebar.spec.js
Owners: none

Remove deleted file
  app/javascript/spec/helpers/old_js_file_require_helper.js
Owners: none

miq_formatters
  app/javascript/spec/helpers/miq_formatters_helper.js
  app/javascript/spec/old_js/miq_formatters.spec.js
Owners: none

Fix ArgumentError with set_custom_button_dialog_presenter
  app/controllers/infra_networking_controller.rb
Owners: none

Add button tag to generic object form
  app/views/static/generic_object/generic_object_table.html.haml
Owners: none

sort vlans in reconfigure network adapters
  app/controllers/mixins/actions/vm_actions/reconfigure.rb
Owners: none

Firmware toolbar - don't use arrow functions in non-compiled JS
  app/helpers/application_helper/toolbar/firmware_registries_center.rb
  app/helpers/application_helper/toolbar/firmware_registry_center.rb
Owners: none

Fix TypeError: Illegal invocation
  app/helpers/application_helper/toolbar/firmware_registries_center.rb
  app/helpers/application_helper/toolbar/firmware_registry_center.rb
Owners: none

ManageIQ.angular.scope.angularForm -> ManageIQ.angular.form
  app/assets/javascripts/miq_application.js
  app/assets/javascripts/miq_global.js
Owners: none

miqCheckForChanges - remove useless angular setPristine
  app/assets/javascripts/miq_application.js
Owners: none

miqCallAngular - drop dead method
  app/assets/javascripts/miq_angular_application.js
Owners: none

ManageIQ.changes - remove, not really useful
  app/assets/javascripts/miq_application.js
  app/assets/javascripts/miq_explorer.js
  app/controllers/catalog_controller.rb
  app/controllers/service_controller.rb
  app/presenters/explorer_presenter.rb
Owners: @martinpovolny

miqCheckForChanges - refactor to a switch for dirty, and then common code
  app/assets/javascripts/miq_application.js
Owners: none

angular - always set ManageIQ.angular.form = $scope.angularForm; (forms with $scope)
  app/assets/javascripts/controllers/catalog/catalog_item_form_controller.js
  app/assets/javascripts/controllers/ems_common/ems_common_form_controller.js
  app/assets/javascripts/controllers/host/host_form_controller.js
  app/assets/javascripts/controllers/host_aggregate/host_aggregate_form_controller.js
  app/assets/javascripts/controllers/ops/pglogical_replication_form_controller.js
  app/assets/javascripts/controllers/schedule/schedule_form_controller.js
  app/javascript/angular/miq_ae_class/ae_method_form_controller.js
Owners: none

angular - always set ManageIQ.angular.form = $scope.angularForm; (forms with vm)
  app/assets/javascripts/components/cloud_subnet/cloud-subnet-form.js
  app/assets/javascripts/components/cloud_volume_backup/cloud-volume-backup-form.js
  app/assets/javascripts/components/ops/log-collection-form.js
  app/assets/javascripts/components/recent-resource.js
  app/assets/javascripts/components/vm_cloud/vm_cloud_evacuate_form.js
  app/assets/javascripts/controllers/ansible_credentials/ansible_credentials_form_controller.js
  app/assets/javascripts/controllers/ansible_repository/repository_form_controller.js
  app/assets/javascripts/controllers/auth_key_pair_cloud/auth_key_pair_cloud_controller.js
  app/assets/javascripts/controllers/cloud_object_store_container/cloud_object_store_container_form_controller.js
  app/assets/javascripts/controllers/cloud_volume/cloud_volume_form_controller.js
  app/assets/javascripts/controllers/configuration/time_profile_form_controller.js
  app/assets/javascripts/controllers/configuration_manager_form_controller.js
  app/assets/javascripts/controllers/ems_container_dashboard/aggregate_status_card_controller.js
  app/assets/javascripts/controllers/ems_container_dashboard/heatmap_controller.js
  app/assets/javascripts/controllers/ems_container_dashboard/recent_images_line_chart_controller.js
  app/assets/javascripts/controllers/ems_container_dashboard/recent_pods_line_chart_controller.js
  app/assets/javascripts/controllers/ems_container_dashboard/trends_chart_controller.js
  app/assets/javascripts/controllers/ems_container_dashboard/utilization_trend_chart_controller.js
  app/assets/javascripts/controllers/ems_infra_dashboard/heatmap_controller.js
  app/assets/javascripts/controllers/ems_infra_dashboard/utilization_trend_chart_controller.js
  app/assets/javascripts/controllers/ops/diagnostics_database_form_controller.js
  app/assets/javascripts/controllers/ops/tenant_quota_form_controller.js
  app/assets/javascripts/controllers/reconfigure/reconfigure_form_controller.js
  app/assets/javascripts/controllers/timeline/timeline_options_controller.js
  app/assets/javascripts/controllers/vm_cloud/vm_cloud_associate_floating_ip_form_controller.js
  app/assets/javascripts/controllers/vm_cloud/vm_cloud_attach_form_controller.js
  app/assets/javascripts/controllers/vm_cloud/vm_cloud_detach_form_controller.js
  app/assets/javascripts/controllers/vm_cloud/vm_cloud_disassociate_floating_ip_form_controller.js
  app/assets/javascripts/controllers/vm_cloud/vm_cloud_live_migrate_form_controller.js
  app/assets/javascripts/controllers/vm_cloud/vm_cloud_resize_form_controller.js
Owners: none

Angular vm controllers - inject $scope when missing
  app/assets/javascripts/components/cloud_subnet/cloud-subnet-form.js
  app/assets/javascripts/components/cloud_volume_backup/cloud-volume-backup-form.js
  app/assets/javascripts/components/recent-resource.js
  app/assets/javascripts/controllers/ansible_credentials/ansible_credentials_form_controller.js
  app/assets/javascripts/controllers/ansible_repository/repository_form_controller.js
  app/assets/javascripts/controllers/cloud_object_store_container/cloud_object_store_container_form_controller.js
  app/assets/javascripts/controllers/cloud_volume/cloud_volume_form_controller.js
  app/assets/javascripts/controllers/configuration/time_profile_form_controller.js
  app/assets/javascripts/controllers/ems_container_dashboard/aggregate_status_card_controller.js
  app/assets/javascripts/controllers/ems_container_dashboard/heatmap_controller.js
  app/assets/javascripts/controllers/ems_container_dashboard/recent_images_line_chart_controller.js
  app/assets/javascripts/controllers/ems_container_dashboard/recent_pods_line_chart_controller.js
  app/assets/javascripts/controllers/ems_container_dashboard/trends_chart_controller.js
  app/assets/javascripts/controllers/ems_container_dashboard/utilization_trend_chart_controller.js
  app/assets/javascripts/controllers/ems_infra_dashboard/heatmap_controller.js
  app/assets/javascripts/controllers/ems_infra_dashboard/utilization_trend_chart_controller.js
  app/assets/javascripts/controllers/timeline/timeline_options_controller.js
Owners: none

miqCheckForChanges - don't assume formReducer=={} means pristine=false
  app/assets/javascripts/miq_application.js
  app/javascript/miq-redux/form-reducer.js
Owners: none

Use ManageIQ.angular.scope after all
  app/assets/javascripts/components/cloud_subnet/cloud-subnet-form.js
  app/assets/javascripts/components/cloud_volume_backup/cloud-volume-backup-form.js
  app/assets/javascripts/components/ops/log-collection-form.js
  app/assets/javascripts/components/recent-resource.js
  app/assets/javascripts/components/vm_cloud/vm_cloud_evacuate_form.js
  app/assets/javascripts/controllers/ansible_credentials/ansible_credentials_form_controller.js
  app/assets/javascripts/controllers/ansible_repository/repository_form_controller.js
  app/assets/javascripts/controllers/auth_key_pair_cloud/auth_key_pair_cloud_controller.js
  app/assets/javascripts/controllers/catalog/catalog_item_form_controller.js
  app/assets/javascripts/controllers/cloud_object_store_container/cloud_object_store_container_form_controller.js
  app/assets/javascripts/controllers/cloud_volume/cloud_volume_form_controller.js
  app/assets/javascripts/controllers/configuration/time_profile_form_controller.js
  app/assets/javascripts/controllers/configuration_manager_form_controller.js
  app/assets/javascripts/controllers/ems_common/ems_common_form_controller.js
  app/assets/javascripts/controllers/ems_container_dashboard/aggregate_status_card_controller.js
  app/assets/javascripts/controllers/ems_container_dashboard/heatmap_controller.js
  app/assets/javascripts/controllers/ems_container_dashboard/recent_images_line_chart_controller.js
  app/assets/javascripts/controllers/ems_container_dashboard/recent_pods_line_chart_controller.js
  app/assets/javascripts/controllers/ems_container_dashboard/trends_chart_controller.js
  app/assets/javascripts/controllers/ems_container_dashboard/utilization_trend_chart_controller.js
  app/assets/javascripts/controllers/ems_infra_dashboard/heatmap_controller.js
  app/assets/javascripts/controllers/ems_infra_dashboard/utilization_trend_chart_controller.js
  app/assets/javascripts/controllers/host/host_form_controller.js
  app/assets/javascripts/controllers/host_aggregate/host_aggregate_form_controller.js
  app/assets/javascripts/controllers/ops/diagnostics_database_form_controller.js
  app/assets/javascripts/controllers/ops/pglogical_replication_form_controller.js
  app/assets/javascripts/controllers/ops/tenant_quota_form_controller.js
  app/assets/javascripts/controllers/reconfigure/reconfigure_form_controller.js
  app/assets/javascripts/controllers/schedule/schedule_form_controller.js
  app/assets/javascripts/controllers/timeline/timeline_options_controller.js
  app/assets/javascripts/controllers/vm_cloud/vm_cloud_associate_floating_ip_form_controller.js
  app/assets/javascripts/controllers/vm_cloud/vm_cloud_attach_form_controller.js
  app/assets/javascripts/controllers/vm_cloud/vm_cloud_detach_form_controller.js
  app/assets/javascripts/controllers/vm_cloud/vm_cloud_disassociate_floating_ip_form_controller.js
  app/assets/javascripts/controllers/vm_cloud/vm_cloud_live_migrate_form_controller.js
  app/assets/javascripts/controllers/vm_cloud/vm_cloud_resize_form_controller.js
  app/assets/javascripts/miq_application.js
  app/assets/javascripts/miq_global.js
  app/javascript/angular/miq_ae_class/ae_method_form_controller.js
Owners: none

miqCheckForChanges - fix missing taggingStore local var
  app/assets/javascripts/miq_application.js
Owners: none
