Repository ManageIQ/manageiq-ui-classic, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skateman, @epwinchell, @romanblanco, @panspagetka, @martinpovolny

.github/CODEOWNERS:

# trees
app/presenters/tree_node/                         @skateman
app/presenters/tree_builder_*                     @skateman
# styling and images
app/assets/stylesheets/                           @epwinchell
app/assets/images/                                @epwinchell
# dialog editor
app/assets/javascripts/controllers/dialog_editor  @romanblanco
app/views/miq_ae_customization/editor.html.haml   @romanblanco
# toolbar buttons
app/helpers/application_helper/button/            @romanblanco @panspagetka
app/helpers/application_helper/toolbar_builder.rb @romanblanco @panspagetka @martinpovolny
# rbac
app/controllers/mixins/checked_id_mixin.rb        @romanblanco @panspagetka
# charts
lib/charting/                                     @panspagetka
lib/report_formatter/c3.rb                        @panspagetka
lib/report_formatter/c3_series.rb                 @panspagetka
lib/report_formatter/chart_common.rb              @panspagetka
app/assets/javascripts/miq_c3.js                  @panspagetka
# topology services
app/services/*topology_service.rb                 @skateman

app/controllers/mixins/custom_buttons.rb          @martinpovolny
app/controllers/mixins/generic_*.rb               @martinpovolny
app/controllers/mixins/more_show_actions.rb       @martinpovolny
app/assets/javascripts/miq_explorer.js            @martinpovolny
app/presenters/explorer_presenter.rb              @martinpovolny
app/helpers/application_helper/button/basic.rb    @martinpovolny
app/helpers/application_helper/toolbar/basic.rb   @martinpovolny
app/presenters/tree_builder.rb                    @martinpovolny
app/presenters/menu/                              @martinpovolny
app/helpers/textual_*rb                           @martinpovolny

# decorators
app/decorators/                                   @skateman

Fix VmInfra Reconfigure specs
  spec/controllers/application_controller/ci_processing_spec.rb
  spec/controllers/vm_infra_controller_spec.rb
  spec/helpers/application_helper/buttons/vm_reconfigure_spec.rb
Owners: none

Remove ems_ref_obj
  app/controllers/ems_infra_controller.rb
  spec/controllers/ems_infra_controller_spec.rb
Owners: none

Fix cancel/reset buttons' reaction to C&U collection checkboxes
  app/controllers/ops_controller/settings/cap_and_u.rb
Owners: none

Rename usage ChargebackRateDetailCurrency to Currency
  app/controllers/catalog_controller.rb
  app/controllers/chargeback_controller.rb
  spec/controllers/catalog_controller_spec.rb
  spec/controllers/chargeback_controller_spec.rb
Owners: none

Call `miqCheckForChanges` before changing tabs.
  app/assets/javascripts/miq_application.js
Owners: none

Dont check for abandon changes within the form
  app/assets/javascripts/miq_application.js
  app/views/miq_request/_prov_wf.html.haml
  app/views/ops/_ap_form.html.haml
Owners: none

use `console.error` instead to log error message
  app/assets/javascripts/miq_application.js
Owners: none

Rename the init function to postprocess in dialog user controller
  app/assets/javascripts/controllers/dialog_user/dialog_user_controller.js
Owners: none

Clean up the promise chain in the dialog user controller
  app/assets/javascripts/controllers/dialog_user/dialog_user_controller.js
Owners: none

Make servicerequest based replace in dialogUserController API driven
  app/assets/javascripts/controllers/dialog_user/dialog_user_controller.js
  app/controllers/miq_request_controller.rb
  app/views/shared/dialogs/_dialog_user.html.haml
  spec/javascripts/controllers/dialog_user/dialog_user_controller_spec.js
Owners: none

Load TagControl values in DialogUser using the API
  app/assets/javascripts/controllers/dialog_user/dialog_user_controller.js
Owners: none

Load the dialog content in dialogUser after resolving all promises
  app/assets/javascripts/controllers/dialog_user/dialog_user_controller.js
Owners: none

WIP
  app/assets/javascripts/miq_explorer.js
  app/helpers/gtl_helper.rb
  app/javascript/components/gtl-view.jsx
  app/javascript/packs/component-definitions-common.js
  app/presenters/explorer_presenter.rb
Owners: @martinpovolny

Compare/drift styling cleanup
  app/assets/stylesheets/compare_drift.scss
Owners: @epwinchell

Remove custom "no-border" class
  app/assets/stylesheets/patternfly_overrides.scss
  app/views/ops/_settings_help_menu_tab.html.haml
Owners: @epwinchell

Fix rubocop warnings in CatalogController
  app/controllers/catalog_controller.rb
Owners: none

Fix rubocop in AnsibleCredentialController
  app/controllers/ansible_credential_controller.rb
Owners: none

Fix rubocop warnings in AnsibleRepositoryController
  app/controllers/ansible_repository_controller.rb
Owners: none

Fix rubocop warnings in AutomationManagerController
  app/controllers/automation_manager_controller.rb
Owners: none

Fix rubocop warnings in ChargebackController
  app/controllers/chargeback_controller.rb
Owners: none

Fix rubocop warnings in CloudNetworkController
  app/controllers/cloud_network_controller.rb
Owners: none

Fix rubocop warnings in CloudObjectStoreContainerController
  app/controllers/cloud_object_store_container_controller.rb
Owners: none

Fix rubocop in CloudSubnetController
  app/controllers/cloud_subnet_controller.rb
Owners: none

Remove duplicate styling
  app/assets/stylesheets/patternfly_overrides.scss
Owners: @epwinchell

Remove old "widthed" from class
  app/assets/stylesheets/patternfly_overrides.scss
  app/views/report/_form_styling.html.haml
Owners: @epwinchell

Fix rubocop warning in CloudTenantController
  app/controllers/cloud_tenant_controller.rb
Owners: none

Update angular* to ~1.7.9
  package.json
Owners: none

Eliminate import color classes
  app/assets/stylesheets/icon_customizations.scss
  app/assets/stylesheets/patternfly_overrides.scss
  app/controllers/miq_policy_controller.rb
  app/views/miq_policy/import.html.haml
Owners: @epwinchell

Don't query for an exact type
  app/controllers/storage_controller/storage_pod.rb
  app/presenters/tree_builder_storage_pod.rb
Owners: @skateman

Fix rubocop warnings in ConfigurationController
  app/controllers/configuration_controller.rb
Owners: none

Fix rubocop warning in ContainerDashboardController
  app/controllers/container_dashboard_controller.rb
Owners: none

Make Save button respond properly on changes in User's Available Groups
  app/controllers/ops_controller/ops_rbac.rb
  spec/controllers/ops_controller/ops_rbac_spec.rb
Owners: none

Order User's Selected Groups while adding/editing the User
  app/views/ops/_rbac_group_selected.html.haml
  spec/views/ops/_rbac_group_selected.html.haml_spec.rb
Owners: none

Fix rubocop warning in EmsCloudController
  app/controllers/ems_cloud_controller.rb
Owners: none

WIP
  app/helpers/application_helper.rb
  app/helpers/gtl_helper.rb
  app/javascript/components/gtl-view.jsx
Owners: none

Fix rubocop in EmsClusterController
  app/controllers/ems_cluster_controller.rb
Owners: none

Fix rubocop in EmsContainerController
  app/controllers/ems_container_controller.rb
Owners: none

Fix rubocop in EmsInfraController
  app/controllers/ems_infra_controller.rb
Owners: none

Rename ChargebackRateDetailCurrency to Currency in haml
  app/views/catalog/_form_basic_info.html.haml
  app/views/chargeback/_cb_rate_edit.html.haml
Owners: none

Update old miq-toolbar snapshot
  app/javascript/spec/toolbar/__snapshots__/miq-toolbar.spec.jsx.snap
Owners: none
