Repository ManageIQ/manageiq-ui-classic, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skateman, @epwinchell, @romanblanco, @panspagetka, @martinpovolny

Fix failing specs regarding record class in various controllers
  spec/controllers/application_controller/ci_processing_spec.rb
  spec/controllers/cloud_object_store_container_spec.rb
Owners: none

Get proper record class for items displayed through various controllers
  app/controllers/cloud_object_store_container_controller.rb
  app/controllers/cloud_object_store_object_controller.rb
  app/controllers/ems_cluster_controller.rb
  app/controllers/ems_infra_controller.rb
  app/controllers/ems_storage_controller.rb
  app/controllers/host_controller.rb
  app/controllers/miq_template_controller.rb
  app/controllers/orchestration_stack_controller.rb
  app/controllers/resource_pool_controller.rb
  app/controllers/service_controller.rb
  app/controllers/storage_controller.rb
Owners: none

Refactor get_rec_cls, add default record_class in the CiProcessing
  app/controllers/application_controller/ci_processing.rb
  app/controllers/vm_common.rb
  spec/controllers/vm_common_spec.rb
Owners: none

Add new specs for record_class method for various controllers
  spec/controllers/ems_cluster_controller_spec.rb
  spec/controllers/ems_infra_controller_spec.rb
  spec/controllers/ems_storage_controller_spec.rb
  spec/controllers/host_controller_spec.rb
  spec/controllers/miq_template_controller_spec.rb
  spec/controllers/orchestration_stack_controller_spec.rb
  spec/controllers/resource_pool_controller_spec.rb
  spec/controllers/service_controller_spec.rb
  spec/controllers/storage_controller_spec.rb
Owners: none

Set empty report submenus to empty arrays instead of empty strings
  app/controllers/report_controller/menus.rb
Owners: none

Tree view wrapper remade to use redux version of the tree
  app/javascript/components/tree-view/hierarchical-tree-view.jsx
  app/javascript/packs/component-definitions-common.js
  app/javascript/spec/tree-view/tree-view.spec.js
Owners: none

Allow performing SSA on Clusters of Infra provider
  app/controllers/application_controller/ci_processing.rb
  spec/controllers/application_controller/ci_processing_spec.rb
Owners: none

Fix CloudVolume constantization issues by using try/safe_constantize
  app/helpers/application_helper/button/cloud_volume_new.rb
Owners: @romanblanco, @panspagetka

Toolbar delete button for Button/Button Group goes via generic API delete code not via genericObjectDefinitionToolbarController
  app/helpers/application_helper/button/basic.rb
  app/helpers/application_helper/button/generic_object_definition_button_button_delete.rb
  app/helpers/application_helper/toolbar/generic_object_definition_button_center.rb
  app/helpers/application_helper/toolbar/generic_object_definition_button_group_center.rb
  app/helpers/application_helper/toolbar_builder.rb
  app/javascript/toolbar-actions/delete.js
Owners: @martinpovolny, @romanblanco, @panspagetka

Fix TreeNode selectability and checkboxes for alert profile assign
  app/presenters/tree_builder_alert_profile_obj.rb
Owners: @skateman

Separated the namespace and the domain form
  app/javascript/components/automate-domain-form/domain-form.schema.js
  app/javascript/components/automate-domain-form/index.jsx
  app/javascript/components/automate-namespace-form/index.jsx
  app/javascript/components/automate-namespace-form/namespace-form.schema.js
  app/javascript/components/namespace-form/index.jsx
  app/javascript/packs/component-definitions-common.js
  app/javascript/spec/automate-domain-form/automate-domain-form.spec.js
  app/javascript/spec/automate-namespace-form/automate-namespace-form.spec.js
  app/views/miq_ae_class/_ns_list.html.haml
  app/views/static/miq_ae_class/namespace_form.html.haml
Owners: none

ManageIQ.timezone - expose current user's timezone in JS
  app/assets/javascripts/miq_global.js
  app/views/layouts/application.html.haml
Owners: none

Optimization#show_list - use the same datetime conversion as the backend
  app/javascript/optimization/transform.js
Owners: none

ReportDataTable - fix error when data.report is null
  app/javascript/components/report-data-table.jsx
Owners: none

Fix double ng-if
  app/views/layouts/angular/_ansible_form_options_angular.html.haml
Owners: none

Unify the service catalog order button handling on list/single views
  app/views/catalog/_svccat_tree_show.html.haml
Owners: none

Optionally symlink spec/manageiq during bin/setup
  bin/setup
Owners: none

Merge pull request #6374 from d-m-u/fixing_user_group_being_wrong_in_tree
  app/controllers/ops_controller/ops_rbac.rb
Owners: none

Remove old class
  app/assets/stylesheets/patternfly_overrides.scss
Owners: @epwinchell

Pretty print the webpack list
  lib/tasks/manageiq/ui_tasks.rake
Owners: none

Policy: simplify handling of @trees, make in an array.
  app/controllers/miq_policy_controller.rb
Owners: none

Fix PingController
  app/controllers/ping_controller.rb
  spec/controllers/ping_controller_spec.rb
Owners: none

Switch to guard clause
  app/controllers/ping_controller.rb
Owners: none

Disable ping_controller_spec temporarily
  spec/controllers/ping_controller_spec.rb
Owners: none

Add page title for custom menu items.
  app/helpers/application_helper/title.rb
Owners: none

Display user info after clicking on Lookup while provisioning VM
  app/controllers/miq_request_controller.rb
  spec/controllers/miq_request_controller_spec.rb
Owners: none

Display name instead of [object Object] in Network Port's Relationships
  app/helpers/network_port_helper/textual_summary.rb
  spec/helpers/network_port_helper/textual_summary_spec.rb
Owners: none

remove custom "static" class
  app/assets/stylesheets/patternfly_overrides.scss
  app/views/catalog/_ot_tree_show.html.haml
  app/views/catalog/_sandt_tree_show.html.haml
  app/views/catalog/_stcat_tree_show.html.haml
  app/views/catalog/_svccat_tree_show.html.haml
  app/views/chargeback/_cb_rate_edit.html.haml
  app/views/chargeback/_cb_rate_show.html.haml
  app/views/generic_object_definition/_show_custom_button.html.haml
  app/views/generic_object_definition/_show_custom_button_group.html.haml
  app/views/host/_config.html.haml
  app/views/layouts/_adv_search_body.html.haml
  app/views/layouts/_group_filter_expression.html.haml
  app/views/miq_ae_class/_method_inputs.html.haml
  app/views/miq_ae_customization/_dialog_info.html.haml
  app/views/miq_ae_customization/_dialog_sample.html.haml
  app/views/miq_ae_customization/_old_dialogs_details.html.haml
  app/views/miq_ae_tools/_results_uri.html.haml
  app/views/miq_policy/_action_details.html.haml
  app/views/miq_policy/_alert_profile_details.html.haml
  app/views/miq_policy/_event_details.html.haml
  app/views/miq_policy/_policy_details.html.haml
  app/views/ops/_ap_show.html.haml
  app/views/ops/_db_info.html.haml
  app/views/ops/_logs_selected.html.haml
  app/views/ops/_rbac_tag_box.html.haml
  app/views/ops/_schedule_show.html.haml
  app/views/ops/_selected_by_roles.html.haml
  app/views/ops/_selected_by_servers.html.haml
  app/views/ops/_server_desc.html.haml
  app/views/ops/_settings_evm_servers_tab.html.haml
  app/views/ops/_settings_import_tags_tab.html.haml
  app/views/ops/rhn/_info_subscribed.html.haml
  app/views/report/_db_show.html.haml
  app/views/report/_report_info.html.haml
  app/views/report/_show_schedule.html.haml
  app/views/report/_widget_show.html.haml
  app/views/shared/buttons/_ab_list.html.haml
  app/views/shared/buttons/_ab_show.html.haml
  app/views/static/ansible-raw-stdout.html.haml
  app/views/vm_common/_snapshots_desc.html.haml
Owners: @epwinchell

service catalog styling fix
  app/views/catalog/_svccat_tree_show.html.haml
Owners: none

Uncomment PingController spec
  spec/controllers/ping_controller_spec.rb
Owners: none

Merge pull request #6399 from Fryguy/ping_controller_fix
  app/controllers/ping_controller.rb
  spec/controllers/ping_controller_spec.rb
Owners: none

Allow tagging or managing policies for Replicators, Pods, Nodes, Images
  app/controllers/mixins/ems_common.rb
  spec/controllers/mixins/ems_common_spec.rb
Owners: none

Update ui-components to 1.1.35 for hammer
  package.json
  yarn.lock
Owners: none

Move vertical nav styling into a separate file
  app/assets/stylesheets/application.css
  app/assets/stylesheets/patternfly_overrides.scss
  app/assets/stylesheets/vertical_navigation.scss
Owners: @epwinchell

Allow create Service Dialog from Template on Ansible/Templates screen
  app/controllers/automation_manager_controller.rb
Owners: none

Prefer item name over item description
  app/controllers/application_controller.rb
Owners: none

Update expects for object name rather than description
  spec/controllers/miq_ae_class_controller_spec.rb
  spec/controllers/miq_ae_customization_controller/old_dialogs_spec.rb
  spec/controllers/ops_controller/settings/analysis_profiles_spec.rb
Owners: none

Dialog Editor - make sure all ids are strings in javascript
  app/helpers/miq_ae_customization_helper.rb
Owners: none

ExplorerPresenter - always convert recordId and parentId to string, unless nil
  app/controllers/infra_networking_controller.rb
  app/controllers/vm_common.rb
  app/presenters/explorer_presenter.rb
Owners: @martinpovolny

ExplorerPresenter spec - expect & test id to string conversion
  spec/presenters/explorer_presenter_spec.rb
Owners: none

.github/CODEOWNERS:

# trees
app/presenters/tree_node/                         @skateman
app/presenters/tree_builder_*                     @skateman
# styling and images
app/assets/stylesheets/                           @epwinchell
app/assets/images/                                @epwinchell
# dialog editor
app/assets/javascripts/controllers/dialog_editor  @romanblanco
app/views/miq_ae_customization/editor.html.haml   @romanblanco
# toolbar buttons
app/helpers/application_helper/button/            @romanblanco @panspagetka
app/helpers/application_helper/toolbar_builder.rb @romanblanco @panspagetka @martinpovolny
# rbac
app/controllers/mixins/checked_id_mixin.rb        @romanblanco @panspagetka
# charts
lib/charting/                                     @panspagetka
lib/report_formatter/c3.rb                        @panspagetka
lib/report_formatter/c3_series.rb                 @panspagetka
lib/report_formatter/chart_common.rb              @panspagetka
app/assets/javascripts/miq_c3.js                  @panspagetka
# topology services
app/services/*topology_service.rb                 @skateman

app/controllers/mixins/custom_buttons.rb          @martinpovolny
app/controllers/mixins/generic_*.rb               @martinpovolny
app/controllers/mixins/more_show_actions.rb       @martinpovolny
app/assets/javascripts/miq_explorer.js            @martinpovolny
app/presenters/explorer_presenter.rb              @martinpovolny
app/helpers/application_helper/button/basic.rb    @martinpovolny
app/helpers/application_helper/toolbar/basic.rb   @martinpovolny
app/presenters/tree_builder.rb                    @martinpovolny
app/presenters/menu/                              @martinpovolny
app/helpers/textual_*rb                           @martinpovolny

# decorators
app/decorators/                                   @skateman
