Repository ManageIQ/manageiq-ui-classic, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skateman, @epwinchell, @romanblanco, @panspagetka, @martinpovolny

.github/CODEOWNERS:

# trees
app/presenters/tree_node/                         @skateman
app/presenters/tree_builder_*                     @skateman
# styling and images
app/assets/stylesheets/                           @epwinchell
app/assets/images/                                @epwinchell
# dialog editor
app/assets/javascripts/controllers/dialog_editor  @romanblanco
app/views/miq_ae_customization/editor.html.haml   @romanblanco
# toolbar buttons
app/helpers/application_helper/button/            @romanblanco @panspagetka
app/helpers/application_helper/toolbar_builder.rb @romanblanco @panspagetka @martinpovolny
# rbac
app/controllers/mixins/checked_id_mixin.rb        @romanblanco @panspagetka
# charts
lib/charting/                                     @panspagetka
lib/report_formatter/c3.rb                        @panspagetka
lib/report_formatter/c3_series.rb                 @panspagetka
lib/report_formatter/chart_common.rb              @panspagetka
app/assets/javascripts/miq_c3.js                  @panspagetka
# topology services
app/services/*topology_service.rb                 @skateman

app/controllers/mixins/custom_buttons.rb          @martinpovolny
app/controllers/mixins/generic_*.rb               @martinpovolny
app/controllers/mixins/more_show_actions.rb       @martinpovolny
app/assets/javascripts/miq_explorer.js            @martinpovolny
app/presenters/explorer_presenter.rb              @martinpovolny
app/helpers/application_helper/button/basic.rb    @martinpovolny
app/helpers/application_helper/toolbar/basic.rb   @martinpovolny
app/presenters/tree_builder.rb                    @martinpovolny
app/presenters/menu/                              @martinpovolny
app/helpers/textual_*rb                           @martinpovolny

# decorators
app/decorators/                                   @skateman

Remove spec related code for deprecated Networks Load Balancer menu
  spec/controllers/ems_network_controller_spec.rb
  spec/controllers/load_balancer_controller_spec.rb
  spec/helpers/load_balancer_helper/textual_summary_spec.rb
  spec/services/dialog_local_service_spec.rb
  spec/shared/controllers/shared_examples_for_ems_network_controller.rb
  spec/shared/controllers/shared_examples_for_load_balancer_controller.rb
  spec/shared/controllers/shared_network_manager_context.rb
  spec/views/layouts/listnav/_load_balancer.html.haml_spec.rb
Owners: none

Added service dialog from orchestration template react component.
  app/controllers/catalog_controller.rb
  app/javascript/components/orchestration-template/service-dialog-from-ot.jsx
  app/javascript/components/orchestration-template/service-dialog-from-ot.schema.js
  app/javascript/packs/component-definitions-common.js
  app/javascript/spec/orchestration-template/service-dialog-from-ot.spec.js
  app/views/catalog/_service_dialog_from_ot.html.haml
  config/routes.rb
  spec/controllers/catalog_controller_spec.rb
  spec/routing/catalog_routing_spec.rb
Owners: none

Fixing dialog field circular reference specs
  app/controllers/miq_ae_customization_controller.rb
  spec/controllers/miq_ae_customization_controller_spec.rb
Owners: none

Specs for Copy of dashboard form
  app/javascript/spec/copy-dashboard-form/copy-dashboard-form.spec.js
Owners: none

Add copy of dashboard form
  app/controllers/report_controller.rb
  app/controllers/report_controller/dashboards.rb
  app/helpers/application_helper/toolbar/miq_widget_set_center.rb
  app/javascript/components/copy-dashboard-form/copy-dashboard-form.jsx
  app/javascript/components/copy-dashboard-form/copy-dashboard-form.schema.js
  app/javascript/packs/component-definitions-common.js
  app/views/report/_copy_dashboard.html.haml
  app/views/report/_db_show.html.haml
  config/routes.rb
Owners: none

Add specs for dashboards clone methods
  spec/controllers/miq_report_controller/dashboards_spec.rb
Owners: none

Fix specs broken by https://github.com/ManageIQ/manageiq/pull/18890
  app/controllers/miq_ae_customization_controller.rb
  spec/controllers/miq_ae_customization_controller_spec.rb
Owners: none

Remove deprecated Load Balancer menu
  app/helpers/application_helper/toolbar/load_balancer_center.rb
  app/helpers/application_helper/toolbar/load_balancers_center.rb
  app/helpers/load_balancer_helper.rb
  app/helpers/load_balancer_helper/textual_summary.rb
  spec/helpers/load_balancer_helper_spec.rb
Owners: none

The factory handles this
  spec/controllers/application_controller/compare_spec.rb
Owners: none

Removes AnsibleTowerJobTemplateDialogService from UI
  app/services/ansible_tower_job_template_dialog_service.rb
  spec/services/ansible_tower_job_template_dialog_service_spec.rb
Owners: none

Call AnsibleTowerJobTemplateDialogService as singleton
  app/controllers/automation_manager_controller.rb
Owners: none

fix miq task conditions
  product/views/MiqTask.yaml
Owners: none

Fix overrided color for disabled Timelines link
  app/assets/stylesheets/patternfly_overrides.scss
Owners: @epwinchell

Revert "Merge pull request #5366 from kbrock/faster_services"
  product/views/Service.yaml
Owners: none

Ensure replication related flash messages show task name
  app/controllers/ops_controller/settings/common.rb
  spec/controllers/ops_controller/settings/common_spec.rb
Owners: none

Correct spacing of 'My Tasks'
  app/controllers/ops_controller/settings/common.rb
  spec/controllers/ops_controller/settings/common_spec.rb
Owners: none

Added validation on "Price" field
  app/controllers/catalog_controller.rb
  app/views/catalog/_st_angular_form.html.haml
  spec/controllers/catalog_controller_spec.rb
Owners: none

Remove duplicate tagging edit buttons for Service https://bugzilla.redhat.com/show_bug.cgi?id=1722480
  app/controllers/service_controller.rb
Owners: none

Removing more of the extra attributes set by factories
  spec/controllers/application_controller/explorer_spec.rb
  spec/controllers/application_controller/tags_spec.rb
Owners: none

Reverse inputs in JobTemplateDialogService
  app/controllers/automation_manager_controller.rb
Owners: none

beefore upgrading Rails to 5.1.7 it was permitted to pass ActiveRecord::Base instead of numeric id to find method. After upgrade - Error raised https://bugzilla.redhat.com/show_bug.cgi?id=1720273
  app/controllers/ops_controller/ops_rbac.rb
Owners: none

Move the attribute fetching logic into a method and add specs
  app/helpers/ansible_credential_helper/textual_summary.rb
  spec/helpers/ansible_credential_helper/textual_summary_spec.rb
Owners: none

Fix the spec failures in the simplest way possible
  app/helpers/ansible_credential_helper/textual_summary.rb
Owners: none

Refactor new method and caller for simplicity
  app/helpers/ansible_credential_helper/textual_summary.rb
Owners: none

Some more fixes to price validation
  app/assets/javascripts/controllers/catalog/catalog_item_form_controller.js
  app/controllers/catalog_controller.rb
  spec/controllers/catalog_controller_spec.rb
Owners: none

Addressed rubocop warnings
  app/controllers/catalog_controller.rb
Owners: none

Empty out Price value during save is currency was unset.
  app/assets/javascripts/controllers/catalog/catalog_item_form_controller.js
  app/controllers/catalog_controller.rb
Owners: none

Don't set ids in tests, we need to be region aware
  spec/controllers/ems_cloud_controller_spec.rb
  spec/controllers/ems_common_controller_spec.rb
  spec/controllers/ems_infra_controller_spec.rb
  spec/controllers/guest_device_controller_spec.rb
  spec/controllers/miq_ae_tools_controller_spec.rb
  spec/controllers/miq_policy_controller_spec.rb
  spec/controllers/mixins/breadcrumbs_mixin_spec.rb
  spec/controllers/ops_controller/diagnostics_spec.rb
  spec/controllers/ops_controller/settings/automate_schedules_spec.rb
  spec/controllers/ops_controller/settings/schedules_spec.rb
  spec/controllers/physical_chassis_controller_spec.rb
  spec/controllers/physical_rack_controller_spec.rb
  spec/controllers/physical_server_controller_spec.rb
  spec/controllers/physical_storage_controller_spec.rb
  spec/controllers/physical_switch_controller_spec.rb
  spec/controllers/picture_controller_spec.rb
  spec/helpers/compliance_summary_helper_spec.rb
  spec/helpers/vm_helper/textual_summary_spec.rb
  spec/helpers/vm_helper_spec.rb
  spec/presenters/tree_builder_datastores_spec.rb
  spec/views/catalog/_sandt_tree_show.html.haml_spec.rb
  spec/views/layouts/list_grid.html.haml_spec.rb
Owners: none

Fix error viewing Customize tab on Requests
  app/views/shared/views/_prov_dialog.html.haml
Owners: none

Expand the node in DialogEditor/TreeSelector with prefix included
  app/controllers/tree_controller.rb
Owners: none

Revert the sandbox variable refactoring on Settings/Diagnostics trees
  app/controllers/ops_controller/diagnostics.rb
  app/presenters/tree_builder_diagnostics.rb
  app/presenters/tree_builder_roles_by_server.rb
  app/presenters/tree_builder_servers_by_role.rb
  spec/presenters/tree_builder_roles_by_server_spec.rb
  spec/presenters/tree_builder_servers_by_role_spec.rb
Owners: @skateman

Revert "Hide services from the Services tree as its redundant and slow"
  app/presenters/tree_builder_services.rb
  spec/presenters/tree_builder_services_spec.rb
Owners: @skateman

Implement lazy loading for the services tree
  app/presenters/tree_builder_services.rb
  spec/presenters/tree_builder_services_spec.rb
Owners: @skateman

Adjust the test against the accordion name at saved reports
  app/controllers/report_controller/saved_reports.rb
  spec/controllers/report_controller_spec.rb
Owners: none

These are all unnecessary
  spec/controllers/auth_key_pair_cloud_controller_spec.rb
Owners: none

Add a rubocop channel to the codeclimate config.
  .codeclimate.yml
Owners: none

Don't even render rows for password fields
  app/helpers/ansible_credential_helper/textual_summary.rb
  spec/helpers/ansible_credential_helper/textual_summary_spec.rb
Owners: none

Merge pull request #5757 from JPrause/hammer8_cl
  CHANGELOG.md
Owners: none

Show affected servers on PhysicalServerFirmwareUpdateRequest
  app/controllers/application_controller/miq_request_methods.rb
  app/views/miq_request/_request.html.haml
Owners: none

Improve the performance the lazy-loading of services tree by caching
  app/presenters/tree_builder_services.rb
Owners: @skateman
