Repository ManageIQ/manageiq-ui-classic, pull requests merged in 2025-09, with the labels that each got.

#9607 Enhance intercept api command
  cypress/README.md
  cypress/e2e/ui/validate-intercept-api-command.cy.js
  cypress/support/commands/api_commands.js
Labels: enhancement, test, cypress

#9501 Fix button form save button validation
  app/controllers/application_controller/buttons.rb
  cypress.config.js
  cypress/e2e/ui/Automation/Embedded-Automate/customization.cy.js
Labels: bug

#9598 Enhance form element selectors
  cypress/README.md
  cypress/e2e/ui/Settings/Application-Settings/edit_collect_logs.cy.js
  cypress/e2e/ui/Settings/Application-Settings/settings_access_control.cy.js
  cypress/support/commands/element_selectors.js
Labels: test, refactoring, cypress

#9621 Better PingController errors
  app/controllers/ping_controller.rb
  spec/controllers/ping_controller_spec.rb
Labels: enhancement

#9618 Updated to throw an error when the specified toolbar option is disabled
  cypress/support/commands/toolbar.js
Labels: enhancement, cypress

#9562 Added automated tests with cypress for C & U Gap Collection form
  cypress/e2e/ui/Settings/Application-Settings/c_and_u_gap_collection.cy.js
Labels: test, cypress

#9629 Ignore push event on bot PRs
  .github/workflows/ci.yaml
  .github/workflows/cypress.yaml
Labels: test

#9532 Added automated tests with cypress for Tenants form
  cypress/e2e/ui/Settings/Application-Settings/tenant.cy.js
Labels: test, cypress

#9549 Schedule form cypress refactor
  cypress/e2e/ui/Settings/Application-Settings/schedule.cy.js
Labels: test, cypress
